/* styles part slide index */
.slide {
  @include e(three) {
    background-image: url("/images/bg-pattern-brown.png");
  }
  
  @include e(background-full) {
    @extend %position-absolute;
    z-index: -1;
    @include size(auto,100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    @include animation(zoom 50s infinite);
  }

  img {
    @include size(100%);
  }
}

// set zoom image
@include keyframes(zoom) {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}
