.page-content
  .city__header
    header.city__block
      h1
        span.city__wapper
          span.city__better It’s Better to
          span.city__travel Travel Well
        span.iphone__block
          span.iphone__graphic-highlight
          span.iphone__device-group
            span.iphone__device-group--content
              span.iphone__device
                span.iphone__shadow
                span.iphone__chrome
                span.iphone__device-content
                  span.iphone__screen
                    img(src="../images/hero-1%402x.jpg")
              span.iphone__device
                span.iphone__shadow
                span.iphone__chrome
                span.iphone__device-content
                  span.iphone__screen
                    img(src="../images/hero-2%402x.jpg")
              span.iphone__device
                span.iphone__shadow
                span.iphone__chrome
                span.iphone__device-content
                  span.iphone__screen
                    img(src="../images/hero-3%402x.jpg")
        span.city__arrive Than to Arrive
        span.city__attribution —Buddha
