.site-nav
  .nav-bar
    .nav-bar-bg
    a(href="#").nav-link-logo
    .nav-pagination
      ul
        li
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
    a(href="#").nav-link-menu
      .nav-link-menu-content
        .nav-link-menu-outer
          span.nav-link-menu-inner
