.site-nav
  .nav-bar
    .nav-bar-bg(style='visibility: visible;')
    a.nav-link-logo.content-mode(href='index.html', style='transition: opacity 0.25s linear;') Rally Interactive
    .nav-pagination.pagination(style='transition: opacity 0.25s linear;')
      ul
        li
          a(href='#') 1
        li.selected
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
    a.nav-link-menu.content-mode(href='#')
      .nav-link-menu-content
        .nav-link-menu-outer
          span.nav-link-menu-inner
            | Menu
  #navMenu.city-guides(data-path='/city-guides/', style='display: block;')
    #navMenuContent
      .nav-menu-columns-container
        .nav-menu-column
          h2 Work
          ul
            li
              a(href='#city-guides') City Guides
            li
              a(href='/snowbird/') Snowbird
            li
              a(href='/national-parks/') National Parks
        .nav-menu-column
          h2 About
          ul
            li
              a(href='/') The Studio
        .nav-menu-column
          h2 Contact
          ul
            // <li id="menu-phone"><a href="tel:1-435-901-1752">+1 435 901 1752</a></li>
            li
              a(href='mailto:info@rallyinteractive.com') info@rallyinteractive.com
    #navMenuCenter
      .nav-menu-base
        .nav-menu-base-content
          .nav-menu-content(style='width: 769px;')
            .nav-menu-columns-container
              .nav-menu-column
                h2 Work
                ul
                  li
                    a(href='#city-guides') City Guides
                  li
                    a(href='/snowbird/') Snowbird
                  li
                    a(href='/national-parks/') National Parks
              .nav-menu-column
                h2 About
                ul
                  li
                    a(href='/') The Studio
              .nav-menu-column
                h2 Contact
                ul
                  // <li id="menu-phone"><a href="tel:1-435-901-1752">+1 435 901 1752</a></li>
                  li
                    a(href='mailto:info@rallyinteractive.com') info@rallyinteractive.com
          .nav-menu-shading
    #navMenuLeft
      .nav-menu-base
        .nav-menu-base-content
          .nav-menu-content(style='width: 657px;')
            .nav-menu-columns-container
              .nav-menu-column
              .nav-menu-column
              .nav-menu-column
          .nav-menu-shading
      .nav-menu-fold
        .nav-menu-fold-content
          .nav-menu-content(style='width: 657px;')
            .nav-menu-columns-container
              .nav-menu-column
              .nav-menu-column
              .nav-menu-column
          .nav-menu-shading
    #navMenuRight
      .nav-menu-base
        .nav-menu-base-content
          .nav-menu-content(style='width: 769px;')
            .nav-menu-columns-container
              .nav-menu-column
                .nav-menu-column
              .nav-menu-column
          .nav-menu-shading
      .nav-menu-fold
        .nav-menu-fold-content
          .nav-menu-content(style='width: 769px;')
            .nav-menu-columns-container
              .nav-menu-column
              .nav-menu-column
              .nav-menu-column
          .nav-menu-shading
