extends ../layouts/default
block variables
  - bodyClass = "agency"
block content
  main
    section.cab.cab__about
      .cab__video
      .cab__foto
        .cab__agencia.parallax
      article.cab__animation.animation
        p.cab__description
          span 22º
          |  is made up of a
          span network of freelancers
          | . Outstanding
          span Creative Directors
          | ,
          span Art Directors
          | ,
          span Web Designers
          | ,
          span Developers
          |  and
          span Illustrators
          |  that are able to bring to our projects the
          span personality
          |  and
          span quality
          |  that sets us apart.
        p.cab__razones scroll to know
    .wrapper-about
      .img__agencia
      section.resize.about__services
        .til-section
          h6 SERVICES
        .line-scroll
        article.bloque.about__on
          h2
            span on
          ul.about__largue
            li Web Design
            li Landing Pages
            li Wordpress
            li Newsletter
            li Banners/Media
        article.bloque.about__off
          h2
            span off
          ul.about__largue
            li.up Branding
            li.up Cosporate Identity
            li.up Advertising
            li.up Illustration
            li.up Packaging
      section.wrapp.about
        article.wrapp__info.clearfix
          ul.wrapp__preguntas.clearfix
            li.agencia(data-select="150")
              .icon-agencia
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='293px', height='214px', viewbox='0 0 293 214', style='enable-background:new 0 0 293 214;', xml:space='preserve')
                  g
                    g
                      path(style='fill:#34495E;', d='M250.071,211.219l-196.057-0.002c-27.282-0.056-49.477-22.299-49.477-49.58\
                      c0-23.312,16.189-43.368,38.756-48.386c-1.186-5.06-1.784-10.262-1.784-15.485c0-37.315,30.357-67.672,67.674-67.672\
                      c13.551,0,26.625,3.99,37.81,11.543c0.804,0.543,1.015,1.634,0.472,2.435c-0.543,0.804-1.634,1.012-2.435,0.472\
                      c-10.603-7.158-22.997-10.942-35.847-10.942c-35.383,0-64.167,28.784-64.167,64.164c0,5.545,0.712,11.058,2.116,16.395\
                      c0.124,0.472,0.045,0.976-0.213,1.389c-0.263,0.411-0.685,0.696-1.165,0.783c-21.853,4.008-37.713,23.062-37.713,45.305\
                      c0,25.35,20.625,46.02,45.978,46.072l196.047,0.003c20.361-0.048,36.927-16.656,36.927-37.02c0-18.822-14.083-34.63-32.758-36.772\
                      c-0.925-0.104-1.604-0.914-1.552-1.842l0.061-1.043c0.627-10.616,0.762-13.215,0.764-13.528c0-22.535-16.097-41.636-38.281-45.413\
                      c-0.954-0.161-1.598-1.067-1.434-2.021c0.163-0.959,1.091-1.597,2.023-1.434c23.872,4.061,41.202,24.617,41.202,48.875\
                      c0,0.436-0.222,4.375-0.738,13.144c19.624,3.06,34.224,19.986,34.224,40.034C290.504,192.987,272.364,211.166,250.071,211.219z')
                    g
                      path(style='fill:#34495E;', d='M129.803,94.758c-0.071,0-0.142-0.002-0.211-0.013L78.9,88.621\
                      c-0.73-0.089-1.331-0.627-1.497-1.344c-0.169-0.717,0.129-1.465,0.746-1.868L200.7,5.196c0.729-0.473,1.692-0.344,2.269,0.3\
                      c0.578,0.648,0.594,1.622,0.04,2.291l-71.859,86.342C130.815,94.529,130.319,94.758,129.803,94.758z M84.094,85.711l44.971,5.437\
                      l63.75-76.598L84.094,85.711z')
                    g
                      path(style='fill:#34495E;', d='M225.057,115.926c-0.182,0-0.364-0.029-0.538-0.084l-65.731-21.168\
                      c-0.485-0.155-0.878-0.514-1.075-0.983c-0.2-0.469-0.185-1.001,0.036-1.457l42.336-86.342c0.329-0.671,1.046-1.057,1.786-0.97\
                      c0.743,0.091,1.345,0.639,1.502,1.369l23.397,107.508c0.132,0.611-0.071,1.25-0.538,1.671\
                      C225.905,115.768,225.483,115.926,225.057,115.926z M161.791,91.957l60.904,19.612l-21.679-99.61L161.791,91.957z')
                    g
                      path(style='fill:#34495E;', d='M153.197,152.152c-0.208,0-0.419-0.037-0.625-0.113c-0.743-0.285-1.204-1.033-1.12-1.826\
                      l6.128-57.394c0.058-0.524,0.348-0.999,0.788-1.284c0.445-0.287,0.993-0.363,1.494-0.2l28.322,9.119\
                      c0.532,0.171,0.951,0.585,1.128,1.117c0.177,0.533,0.087,1.118-0.237,1.571l-34.449,48.275\
                      C154.288,151.889,153.751,152.152,153.197,152.152z M160.84,95.335l-5.189,48.605l29.174-40.883L160.84,95.335z')
                    g
                      path(style='fill:#34495E;', d='M153.197,154.363c-0.698,0-1.362-0.425-1.632-1.117l-23.396-59.603\
                      c-0.354-0.901,0.089-1.918,0.991-2.271c0.901-0.351,1.918,0.089,2.274,0.991l23.394,59.602c0.356,0.901-0.089,1.921-0.99,2.274\
                      C153.627,154.321,153.41,154.363,153.197,154.363z')
              h3.agencia__title
                | Ag
                span ency
              .wrapp__largue
              h4.agencia__heading A DIFFERENT AGENCY
              p.agencia__desc We are not a usual agency and we do not rely on an institutional hierarchy; our philosophy is telework but with the responsibility and strength of a conventional agency. 22º is responsible for centralising the project, from the budget to its supervision, through to its invoicing.
            li.metodo(data-select="150")
              .icon-metodo
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='293px', height='214px', viewbox='0 0 293 214', style='enable-background:new 0 0 293 214;', xml:space='preserve')
                  g
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M165.751,83.59h-37.667c-2.68,0-4.863-2.183-4.863-4.865v-7.879c0-7.026,3.638-13.481,9.473-17.157\
                      c-7.66-4.849-12.471-13.422-12.471-22.587c0-14.717,11.977-26.694,26.694-26.694c14.719,0,26.694,11.977,26.694,26.694\
                      c0,9.165-4.812,17.741-12.467,22.587c5.836,3.676,9.471,10.13,9.471,17.157v7.879C170.615,81.407,168.436,83.59,165.751,83.59z\
                      M146.917,7.545c-12.989,0-23.557,10.568-23.557,23.557c0,9.104,5.091,17.232,13.29,21.207c0.549,0.269,0.895,0.829,0.881,1.438\
                      c-0.01,0.61-0.377,1.161-0.933,1.406c-6.221,2.741-10.243,8.901-10.243,15.692v7.879c0,0.954,0.777,1.729,1.729,1.729h37.667\
                      c0.956,0,1.73-0.774,1.73-1.729v-7.879c0-6.791-4.02-12.951-10.243-15.692c-0.559-0.245-0.923-0.796-0.935-1.406\
                      s0.334-1.17,0.883-1.438c8.197-3.975,13.29-12.104,13.29-21.207C170.477,18.113,159.908,7.545,146.917,7.545z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M82.961,211.586H29.635c-3.438,0-6.235-2.798-6.235-6.235v-11.157\
                      c0-10.08,5.412-19.309,14.013-24.282c-11.178-6.631-18.252-18.871-18.252-31.978c0-20.478,16.66-37.14,37.137-37.14\
                      s37.137,16.662,37.137,37.14c0,13.106-7.074,25.347-18.252,31.978c8.602,4.974,14.014,14.204,14.014,24.282v11.157\
                      C89.197,208.788,86.399,211.586,82.961,211.586z M56.298,103.93c-18.749,0-34.003,15.254-34.003,34.003\
                      c0,13.14,7.35,24.866,19.182,30.607c0.549,0.268,0.895,0.828,0.883,1.44c-0.012,0.607-0.376,1.159-0.937,1.403\
                      c-9.042,3.982-14.887,12.936-14.887,22.809v11.157c0,1.71,1.389,3.099,3.099,3.099h53.326c1.71,0,3.099-1.389,3.099-3.099v-11.157\
                      c0-9.871-5.845-18.824-14.887-22.809c-0.561-0.244-0.926-0.796-0.938-1.403c-0.012-0.612,0.334-1.173,0.883-1.44\
                      c11.833-5.741,19.182-17.468,19.182-30.607C90.301,119.185,75.047,103.93,56.298,103.93z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M264.204,211.586h-53.331c-3.436,0-6.23-2.798-6.23-6.235v-11.157\
                      c0-10.078,5.411-19.309,14.011-24.282c-11.179-6.631-18.252-18.871-18.252-31.98c0-20.477,16.66-37.137,37.137-37.137\
                      c20.478,0,37.138,16.66,37.138,37.137c0,13.109-7.071,25.35-18.252,31.98c8.602,4.974,14.011,14.204,14.011,24.282v11.157\
                      C270.435,208.788,267.64,211.586,264.204,211.586z M237.538,103.93c-18.748,0-34.003,15.252-34.003,34\
                      c0,13.143,7.352,24.869,19.183,30.61c0.551,0.268,0.895,0.828,0.883,1.44c-0.012,0.607-0.377,1.159-0.935,1.403\
                      c-9.047,3.984-14.892,12.938-14.892,22.809v11.157c0,1.71,1.392,3.099,3.099,3.099h53.331c1.707,0,3.099-1.389,3.099-3.099\
                      v-11.157c0-9.873-5.845-18.826-14.89-22.809c-0.558-0.244-0.925-0.796-0.935-1.403c-0.014-0.612,0.332-1.173,0.881-1.44\
                      c11.83-5.741,19.182-17.468,19.182-30.61C271.541,119.183,256.287,103.93,237.538,103.93z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M72.963,108.065c-0.358,0-0.713-0.123-1.008-0.367c-0.664-0.556-0.749-1.545-0.193-2.209\
                      l41.677-49.695c0.556-0.664,1.545-0.751,2.207-0.195c0.664,0.556,0.751,1.545,0.195,2.207l-41.677,49.7\
                      C73.854,107.872,73.411,108.065,72.963,108.065z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M201.986,138.418H91.854c-0.867,0-1.568-0.701-1.568-1.565s0.702-1.566,1.568-1.566h110.133\
                      c0.864,0,1.565,0.702,1.565,1.566S202.851,138.418,201.986,138.418z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M222.119,107.434c-0.438,0-0.873-0.181-1.182-0.537L178.08,57.772\
                      c-0.569-0.652-0.501-1.644,0.151-2.213c0.649-0.57,1.644-0.501,2.211,0.153l42.854,49.123c0.569,0.655,0.504,1.644-0.15,2.213\
                      C222.85,107.307,222.482,107.434,222.119,107.434z')
              h3.agencia__title
                | Mé
                span thod
              .wrapp__largue
              h4.agencia__heading JUST WHAT YOU NEED
              p.agencia__desc We study the client's needs and depending on what is required we look for the most suitable professionals for the implementation of the project from within our network of independent collaborators.
            li.ventajas(data-select="150")
              .icon-ventajas
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='293px', height='214px', viewbox='0 0 293 214', style='enable-background:new 0 0 293 214;', xml:space='preserve')
                  g
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M238.907,210.064H45.539c-22.854,0-41.441-18.592-41.441-41.445\
                      c0-19.62,13.977-36.586,32.936-40.55c-1.295-4.862-1.95-9.876-1.95-14.937c0-31.916,25.965-57.881,57.882-57.881\
                      c20.883,0,39.798,11.004,50.139,28.936c12.128-11.763,29.194-17.764,46.089-16.066c1.316,0.131,2.276,1.304,2.144,2.62\
                      c-0.13,1.318-1.316,2.27-2.618,2.146c-16.499-1.654-33.184,4.701-44.413,16.926c-0.532,0.579-1.316,0.851-2.09,0.752\
                      c-0.78-0.11-1.457-0.592-1.809-1.295c-9.085-18.031-27.263-29.231-47.441-29.231c-29.277,0-53.095,23.818-53.095,53.094\
                      c0,5.484,0.838,10.905,2.489,16.109c0.216,0.669,0.122,1.402-0.255,2c-0.378,0.597-0.996,0.996-1.694,1.094\
                      c-17.973,2.514-31.529,18.112-31.529,36.283c0,20.214,16.444,36.658,36.658,36.658h193.368c17.314,0,31.403-14.085,31.403-31.399\
                      c0-17.322-14.089-31.407-31.403-31.407c-0.597,0-1.184,0.021-1.77,0.051c-0.756,0.058-1.504-0.284-1.985-0.881\
                      c-0.485-0.594-0.654-1.385-0.453-2.13c1.201-4.478,1.812-9.117,1.812-13.79c0-12.459-4.402-24.569-12.395-34.101\
                      c-0.849-1.012-0.719-2.523,0.295-3.372c1.015-0.847,2.525-0.718,3.374,0.296c8.715,10.39,13.513,23.592,13.513,37.176\
                      c0,4.039-0.417,8.054-1.244,11.981c19.426,0.604,35.043,16.603,35.043,36.176C275.098,193.832,258.861,210.064,238.907,210.064z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M205.378,99.114c-1.003,0-1.906-0.626-2.251-1.572c-0.356-0.979-0.04-2.075,0.784-2.714\
                      c3.157-2.451,5.772-5.036,7.696-7.594c-20.595-6.597-34.204-22.003-34.204-39.113c0-23.415,25.17-42.465,56.108-42.465\
                      c30.939,0,56.109,19.05,56.109,42.465c0,23.417-25.17,42.468-56.109,42.468c-1.302,0-2.59-0.041-3.87-0.109\
                      c-6.92,5.016-16.092,8.307-24.17,8.632C205.443,99.114,205.407,99.114,205.378,99.114z M233.512,10.444\
                      c-28.299,0-51.318,16.903-51.318,37.678c0,15.773,13.589,30.005,33.816,35.417c0.717,0.192,1.303,0.707,1.59,1.392\
                      c0.288,0.685,0.238,1.464-0.129,2.109c-1.176,2.052-2.697,4.086-4.561,6.084c4.676-1.225,9.891-3.444,14.552-6.99\
                      c0.461-0.347,1.054-0.507,1.601-0.484c1.472,0.093,2.953,0.153,4.449,0.153c28.3,0,51.322-16.905,51.322-37.681\
                      C284.834,27.347,261.812,10.444,233.512,10.444z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M237.777,48.123c0,2.354-1.909,4.262-4.266,4.262c-2.352,0-4.258-1.908-4.258-4.262\
                      c0-2.354,1.906-4.264,4.258-4.264C235.868,43.859,237.777,45.769,237.777,48.123z')
                    g(style='display:inline;')
                      circle(style='fill:#34495E;', cx='210.067', cy='48.123', r='4.264')
                    g(style='display:inline;')
                      circle(style='fill:#34495E;', cx='256.959', cy='48.123', r='4.262')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M135.292,210.064H82.557c-1.324,0-2.396-1.071-2.396-2.392v-20.041\
                      c0-9.507,3.892-18.149,10.337-23.372c-6.431-5.409-10.186-13.365-10.186-21.882c0-15.779,12.837-28.616,28.612-28.616\
                      c15.779,0,28.612,12.837,28.612,28.616c0,8.517-3.755,16.473-10.186,21.882c6.445,5.223,10.337,13.865,10.337,23.372v20.041\
                      C137.688,208.993,136.616,210.064,135.292,210.064z M84.952,205.277h47.945v-17.646c0-9.021-4.259-17.358-10.855-21.242\
                      c-0.712-0.425-1.158-1.18-1.18-2.007c-0.021-0.828,0.388-1.608,1.083-2.062c6.766-4.428,10.805-11.884,10.805-19.943\
                      c0-13.14-10.686-23.829-23.825-23.829c-13.136,0-23.821,10.689-23.821,23.829c0,8.06,4.036,15.516,10.801,19.943\
                      c0.694,0.453,1.104,1.233,1.083,2.062c-0.022,0.827-0.468,1.582-1.18,2.007c-6.597,3.884-10.855,12.222-10.855,21.242V205.277z')
                    g(style='display:inline;')
                      path(style='fill:#34495E;', d='M191.891,210.064h-39.712c-1.319,0-2.392-1.071-2.392-2.392v-15.092\
                      c0-7.067,2.791-13.524,7.463-17.603c-4.65-4.169-7.352-10.121-7.352-16.473c0-12.208,9.931-22.135,22.135-22.135\
                      c12.203,0,22.134,9.927,22.134,22.135c0,6.355-2.697,12.304-7.352,16.473c4.673,4.078,7.467,10.535,7.467,17.603v15.092\
                      C194.282,208.993,193.211,210.064,191.891,210.064z M154.57,205.277h34.925v-12.696c0-6.586-3.093-12.661-7.884-15.484\
                      c-0.713-0.421-1.158-1.176-1.18-2.007c-0.021-0.827,0.389-1.607,1.082-2.061c4.924-3.223,7.866-8.654,7.866-14.523\
                      c0-9.568-7.783-17.352-17.347-17.352c-9.564,0-17.348,7.783-17.348,17.352c0,5.869,2.942,11.301,7.87,14.523\
                      c0.69,0.453,1.101,1.233,1.079,2.061c-0.019,0.831-0.464,1.586-1.176,2.007c-4.791,2.823-7.889,8.898-7.889,15.484V205.277z')
              h3.agencia__title
                | Adva
                span ntages
              .wrapp__largue
              h4.agencia__heading FASTER. MORE EFFECTIVE. MORE ECONOMICAL
              p.agencia__desc Our collaborators work independently maintaining direct contact with the client; this makes the relationship more personal and fluid, without intermediaries, face to face, greatly reducing the budget and delivery times.
            li.mision(data-select="150")
              .icon-mision
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='293px', height='214px', viewbox='0 0 293 214', style='enable-background:new 0 0 293 214;', xml:space='preserve')
                  g
                    g(style='display:inline;')
                      g
                        path(style='fill:#34495E;', d='M230.035,211.676H63.19c-21.292,0-38.614-17.321-38.614-38.611\
                        c0-16.182,10.002-30.523,25.055-36.155c-0.179-1.935-0.267-3.875-0.267-5.787c0-34.302,27.902-62.208,62.205-62.208\
                        c23.004,0,43.758,12.405,54.677,32.524c6.269-4.096,13.503-6.25,21.06-6.25c21.293,0,38.614,17.325,38.614,38.615\
                        c0,0.292-0.005,0.581-0.011,0.87c1.378-0.147,2.76-0.224,4.127-0.224c21.29,0,38.614,17.324,38.614,38.614\
                        S251.325,211.676,230.035,211.676z M111.568,72.69c-32.22,0-58.432,26.212-58.432,58.432c0,2.262,0.136,4.567,0.403,6.856\
                        c0.102,0.889-0.434,1.729-1.282,2.012c-14.3,4.721-23.909,18.014-23.909,33.074c0,19.208,15.631,34.838,34.841,34.838h166.845\
                        c19.208,0,34.839-15.63,34.839-34.838s-15.631-34.839-34.839-34.839c-1.929,0-3.889,0.168-5.823,0.494\
                        c-0.576,0.102-1.163-0.074-1.595-0.469c-0.429-0.394-0.652-0.964-0.604-1.546c0.077-0.959,0.131-1.923,0.131-2.901\
                        c0-19.208-15.628-34.839-34.839-34.839c-7.48,0-14.615,2.34-20.623,6.769c-0.448,0.329-1.021,0.442-1.563,0.315\
                        c-0.542-0.133-0.995-0.497-1.245-0.993C153.899,85.093,133.86,72.69,111.568,72.69z')
                      g
                        path(style='fill:#34495E;', d='M207.923,105.501c-0.485,0-0.968-0.182-1.336-0.551l-28.042-28.039l-18.243,18.246\
                        c-0.737,0.738-1.932,0.738-2.67,0c-0.737-0.737-0.737-1.935,0-2.672l19.58-19.579c0.706-0.709,1.963-0.709,2.669,0l29.375,29.372\
                        c0.737,0.737,0.737,1.935,0,2.672C208.887,105.319,208.405,105.501,207.923,105.501z')
                      g
                        path(style='fill:#34495E;', d='M207.923,105.501c-0.485,0-0.968-0.182-1.336-0.551l-29.375-29.377\
                        c-0.354-0.352-0.554-0.834-0.554-1.333c0-0.499,0.199-0.981,0.554-1.333l9.384-9.384c0.737-0.737,1.935-0.737,2.672,0\
                        l29.378,29.372c0.352,0.354,0.551,0.834,0.551,1.336c0,0.502-0.199,0.982-0.551,1.336l-9.39,9.384\
                        C208.887,105.319,208.405,105.501,207.923,105.501z M181.217,74.239l26.706,26.706l6.718-6.715l-26.709-26.705L181.217,74.239z')
                      g
                        path(style='fill:#34495E;', d='M242.939,75.085c-2.422,0-4.703-0.945-6.419-2.661l-30.901-30.898c-3.54-3.54-3.54-9.302,0-12.842\
                        l11.518-11.515c4.051-4.051,11.105-4.04,15.146,0l28.598,28.595c2.02,2.022,3.135,4.715,3.135,7.574\
                        c0,2.862-1.115,5.552-3.138,7.574l-11.515,11.512C247.649,74.14,245.368,75.085,242.939,75.085z M224.708,17.805\
                        c-1.85,0-3.595,0.723-4.905,2.034l-11.512,11.515c-2.07,2.071-2.07,5.435,0,7.503l30.898,30.901c2.003,2.002,5.498,2.002,7.504,0\
                        l11.514-11.515c1.311-1.311,2.031-3.052,2.031-4.905s-0.721-3.594-2.031-4.902l-28.595-28.601\
                        C228.302,18.531,226.561,17.807,224.708,17.805z')
                      g
                        path(style='fill:#34495E;', d='M220.535,96.389c-2.304,0-4.61-0.877-6.366-2.63l-25.764-25.767\
                        c-2.581-2.582-3.339-6.275-1.974-9.639c0.947-2.343,1.061-4.97,0.317-7.396c-3.677-11.957-9.668-18.833-23.75-27.253\
                        c-2.32-1.384-3.787-3.926-3.829-6.63c-0.046-2.976,1.441-5.659,3.79-6.839c17.807-8.953,26.433,4.641,33.369,15.562\
                        c3.565,5.617,6.936,10.927,10.805,12.193c0.993,0.323,1.535,1.387,1.209,2.377c-0.323,0.993-1.396,1.535-2.378,1.208\
                        c-5.162-1.682-8.885-7.546-12.824-13.755c-6.755-10.635-13.733-21.628-28.484-14.209c-1.209,0.607-1.73,2.147-1.708,3.404\
                        c0.02,1.407,0.783,2.727,1.986,3.444c14.827,8.868,21.479,16.558,25.423,29.389c0.998,3.251,0.848,6.774-0.426,9.923\
                        c-0.785,1.935-0.346,4.062,1.141,5.548l25.767,25.77c2.039,2.031,5.353,2.037,7.396-0.003l17.446-17.443\
                        c0.737-0.737,1.932-0.737,2.669,0c0.737,0.738,0.737,1.932,0,2.667L226.9,93.756C225.147,95.512,222.842,96.389,220.535,96.389z')
              h3.agencia__title
                | Mis
                span sion
              .wrapp__largue
              h4.agencia__heading WE WANT YOU BACK
              p.agencia__desc The whole process is supervised by 22¼GRA2. Our mission is that the final works have top quality finishes, and our aim is to have a portfolio that is a place of inspiration with outstanding projects and excellent results.
        article.contact-agency.clearfix
          .line-scroll
          h4 We want to work with you
          .forms
            .contact-clientes
              h5 I AM A FUTURE CLIENT
              h6 IF YOU ARE SOMEONE THAT SEES SOMETHING AND SAYS "I WANT THAT, BUT BETTER"
              p.email
                a(href='mailto:ruben@veintidosgrados.com') write us
            .contact-colaboradores
              h5 I AM A FUTURE CLIENT
              h6 IF YOU ARE SOMEONE THAT SEES SOMETHING AND SAYS "I WANT THAT, BUT BETTER"
              p.email
                a(href='mailto:ruben@veintidosgrados.com') write us
      // section gallery
      section.cosasquenosinspiran
        h4 #thingsthatinspireus
        .line-scroll
        ul#gallery.instashow-gallery
