@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic);
/* import scss files all file styles*/
/* import scss files base */
/** variable of page */
/***import font-face****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: 'PT Serif', serif;
  font-size: 100%;
  line-height: 1;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  line-height: 1.2;
  font-weight: normal;
  margin: 0; }

p {
  margin: 0 0 0.5em; }

a {
  color: #34AC98;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #ec6635; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1em 0; }

img, picture {
  margin: 0; }

input[type="text"], input[type="search"], input[type="email"] {
  font-size: 13px;
  border: 1px solid;
  outline: 0;
  border-color: #848484 #c1c1c1 #e1e1e1;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  padding: 2px 3px; }
  input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus {
    -webkit-box-shadow: #4fb7a6 0 0 7px;
    box-shadow: #4fb7a6 0 0 7px; }

input[type="submit"] {
  cursor: pointer;
  border: 1px solid;
  border-color: #ddd #bbb #999;
  border-radius: 4px;
  padding: 3px 10px;
  margin-left: 10px;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -o-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd)); }
  input[type="submit"]:focus {
    -webkit-box-shadow: #4fb7a6 0 0 7px;
    box-shadow: #4fb7a6 0 0 7px; }

/* import all file helper */
/** set grid **/
.container-page {
  max-width: 1176px;
  padding: 50px 48px 0;
  margin: 0 auto;
  line-height: 1;
  color: #333;
  background: #FFF;
  font-family: ff-tisa-web-pro, Georgia, sans-serif; }

.wap-content {
  width: 1080px;
  position: relative;
  margin: 0 auto; }

.button {
  display: block;
  padding: 10px 20px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 1px 1px 2px #F5F5F5;
  -moz-box-shadow: 1px 1px 2px #F5F5F5;
  box-shadow: 1px 1px 2px #F5F5F5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.header-page {
  width: 100%;
  margin: 0 0 30px;
  padding: 20px 0 28px;
  border-bottom: 2px solid #E5E5E5; }
  .header-page .header-page__title {
    margin-bottom: 0;
    padding: 10px 0 14px;
    line-height: 1.25em;
    font-size: 2.25em;
    color: #111;
    padding-left: 58px;
    text-transform: capitalize; }
  .header-page .header-page__desc {
    width: 69%;
    line-height: 1.6em;
    font-style: italic; }

/* import all file layout */
.logo {
  float: left;
  width: 10em;
  margin-bottom: 1.5625em; }
  .logo .logo__brand {
    background: url("/images/food-sense.png") 0 0 no-repeat;
    width: 7.5em;
    height: 7.5em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-indent: -999em;
    margin-right: 1.25em;
    display: block; }

.side-bar {
  position: absolute;
  top: 10em;
  left: 0;
  width: 10em; }
  .side-bar .active a {
    color: #95d4c9 !important; }

.item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .item .background-content, .item .item__tastemakers a, .item .item__blogs a, .item .item__vendors a, .item .item__contribute a, .item .item__about a {
    display: block;
    height: 1.75em;
    padding: 0.375em 0 0 2.75em;
    font-style: italic;
    color: #34AC98;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
  .item li {
    margin-bottom: 1.125em;
    line-height: 1.3em; }
  .item .item__tastemakers a {
    background: url("/images/icons/nav-tastemakers.png") no-repeat; }
  .item .item__blogs a {
    background: url("/images/icons/nav-blog.png") no-repeat; }
  .item .item__vendors a {
    background: url("/images/icons/nav-alist.png") no-repeat; }
  .item .item__contribute a {
    background: url("/images/icons/nav-contribute.png") no-repeat; }
  .item .item__about a {
    background: url("/images/icons/nav-about.png") no-repeat; }

.side-social {
  position: absolute;
  top: 28.125em;
  left: 0;
  width: 10em; }
  .side-social h1 {
    text-transform: uppercase;
    margin: 0 0 0.5625em;
    padding-bottom: 0.3125em;
    text-transform: uppercase;
    font-size: .75em;
    border-bottom: 1px dashed #E5E5E5; }
  .side-social .button-social, .side-social .side-social__twitter .button, .side-social .side-social__facebook .button {
    width: 110px;
    height: 20px;
    padding: 7px 0 0 28px;
    font-size: 0.625em; }
  .side-social .side-social__twitter {
    margin-bottom: 2em; }
    .side-social .side-social__twitter .button {
      background: url("/images/icons/icon-twitter-16.png") no-repeat 6px 6px; }
  .side-social .side-social__facebook .button {
    background: url("/images/icons/icon-facebook-16.png") no-repeat 6px 6px; }
  .side-social .side-social__desc {
    margin-bottom: 15px;
    line-height: 1.75em;
    font-size: .6825em;
    font-style: italic; }

/** style part footer */
footer {
  clear: both;
  position: relative;
  min-height: 1.25em;
  padding-top: 20px;
  border-top: 2px solid #E5E5E5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  color: #AAA;
  padding-bottom: 20px; }
  footer p {
    line-height: 1.5em;
    line-height: 1.5em;
    font-size: .75em; }
    footer p a {
      text-decoration: none;
      border-left: 1px solid #E5E5E5;
      padding: 0 3px; }
      footer p a:first-child {
        border-left: none; }
    footer p span {
      display: inline-block; }
  footer .copyright {
    display: block; }

.social {
  position: absolute;
  top: 20px;
  right: 0; }
  .social li {
    float: left;
    display: inline;
    margin-left: 5px;
    opacity: 0.4; }
    .social li:hover {
      opacity: 1; }
    .social li a {
      display: block;
      width: 2em;
      height: 2em;
      text-indent: -999em; }

.twitter {
  background: url("/images/icons/icon-twitter.png") no-repeat 50% 1px; }

.facebook {
  background: url("/images/icons/icon-facebook.png") no-repeat 50% 1px; }

.rss {
  background: url("/images/icons/icon-rss.png") no-repeat 50% 1px; }

/* import all file modules */
a {
  color: #34AC98;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }
  a:hover {
    color: #EC6635; }

.content {
  position: relative;
  float: right;
  width: 896px; }

.featured {
  position: relative;
  width: 100%;
  height: 560px; }
  .featured #slide-1 h1, .featured #slide-1 h2, .featured #slide-3 h1, .featured #slide-3 h2 {
    position: absolute;
    left: 0;
    font-style: italic; }
  .featured #slide-2 h1, .featured #slide-2 h2, .featured #slide-4 h1, .featured #slide-4 h2 {
    position: absolute;
    font-style: italic;
    right: 0; }
  .featured h1 {
    top: 285px;
    padding: 10px 24px 15px;
    color: #222;
    background: #FFF;
    font-size: 1.5em; }
  .featured h2 {
    top: 334px;
    padding: 8px 24px 12px;
    color: #E9E9E9;
    font-weight: normal;
    font-size: 1em;
    background: #111; }

.slide {
  position: relative;
  width: 896px;
  height: 446px;
  overflow: hidden; }
  .slide .slide__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 896px; }
  .slide .slide__item.active {
    z-index: 5; }

.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: absolute;
  top: 445px;
  background: #EFF8F7;
  overflow: hidden;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .navigation .navigation__item {
    text-align: center;
    padding: 8px 0 2px;
    line-height: 1.1em;
    color: #60BEAE;
    border-right: 1px solid #D3EDE9;
    text-shadow: 0 1px 0 #FFF;
    -webkit-box-shadow: 1px 0 0 #FAFDFC;
    -moz-box-shadow: 1px 0 0 #FAFDFC;
    box-shadow: 1px 0 0 #FAFDFC; }
    .navigation .navigation__item:last-child {
      border-right: none; }
    .navigation .navigation__item a {
      width: 191.25px;
      height: 60px;
      display: block;
      padding: 25px 12px 0 20px; }
    .navigation .navigation__item h3 {
      font-size: 1.125em; }
    .navigation .navigation__item p {
      font-size: .75em;
      font-style: italic;
      display: inline; }
  .navigation .navigation__item.active {
    color: #34AC98;
    background: #d9efec; }

.newsletter {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  min-height: 48px;
  margin-bottom: 29px;
  line-height: 16px;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  background: url(/images/icons/icon-mailinglist-32.png) no-repeat 18px 7px; }
  .newsletter .newsletter__desc {
    width: 49%;
    padding: 7px 24px 0 66px;
    font-size: .75em;
    font-style: italic; }
  .newsletter .newsletter__submit {
    display: block;
    margin-top: 0.75em; }
    .newsletter .newsletter__submit .newsletter__submit--email {
      width: 260px; }

.blog {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0 auto; }

.ad-block {
  width: 206px;
  margin: 0 24px 25px 0; }
  .ad-block .ad-block__img {
    width: 185px;
    padding: 9px;
    background: #FFF;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 1px 2px 3px #F5F5F5;
    -moz-box-shadow: 1px 1px 3px #F5F5F5;
    box-shadow: 1px 1px 3px #F5F5F5; }
  .ad-block .ad-block__title {
    margin: 10px 0 10px;
    line-height: 1.3em; }
  .ad-block .ad-block__desc {
    font-size: .875em;
    line-height: 1.45em; }
  .ad-block .ad-block__meta {
    margin-top: 10px;
    color: #AAA; }
    .ad-block .ad-block__meta a {
      border-bottom: 1px dashed #E5E5E5; }
    .ad-block .ad-block__meta a:before {
      content: "/";
      display: inline-block;
      margin: 0 5px; }
    .ad-block .ad-block__meta a:after {
      content: ">>";
      display: inline-block;
      margin: 0 5px;
      font-size: 0.625em; }

.ad-block:nth-child(4) {
  margin: 0 0 25px 0; }

.tastemakers__title {
  background: url("/images/icons/page-tastemakers.png") 0 -99px no-repeat; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  overflow: hidden; }

.product {
  overflow: visible;
  position: relative;
  width: 184px;
  height: 430px;
  margin: 0 24px 28px 0;
  padding: 10px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 1px 2px 3px 0px #E5E5E5;
  -moz-box-shadow: 1px 2px 3px 0px #E5E5E5;
  box-shadow: 1px 2px 3px 0px #E5E5E5; }
  .product .product__img {
    max-width: 100%;
    height: auto; }
  .product .product__title {
    width: 100%;
    margin-bottom: 9px;
    padding: 8px 0 10px;
    line-height: 1.3em;
    border-bottom: 1px dotted #E5E5E5; }
  .product .product__desc {
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 0.75em; }
  .product .product__facebook {
    position: absolute;
    bottom: 55px; }
  .product .product__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-top: 1px dotted #E5E5E5;
    line-height: 1.5em;
    font-size: 0.75em; }
    .product .product__footer a {
      display: block;
      padding: 5px 10px 1px 34px;
      font-size: .875em;
      background: url(/images/icons/icon-author-girl.png) no-repeat 10px bottom;
      border: none; }
  .product .fb-like {
    position: absolute;
    bottom: 50px; }

.product:nth-child(4n) {
  margin: 0 0 24px 0; }

.blog__icon {
  background: url("/images/icons/page-blog.png") 0 -99px no-repeat; }

.blog-wap {
  width: 69%;
  float: left;
  margin-bottom: 40px; }

.blog-post {
  clear: left;
  float: left;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 8px;
  border-bottom: 2px dashed #E5E5E5; }
  .blog-post .blog-post__title {
    margin-bottom: 20px;
    line-height: 1.25em;
    font-size: 1.5em;
    display: block; }
  .blog-post .blog-post__group {
    clear: both;
    margin-bottom: 30px; }
  .blog-post .blog-post__desc {
    margin-bottom: 20px;
    line-height: 1.5em; }
  .blog-post .blog-post__imges {
    float: right;
    width: 252px;
    margin: 0 0 10px 20px; }
    .blog-post .blog-post__imges img {
      width: 232px;
      padding: 9px;
      background: #FFF;
      border: 1px solid #E5E5E5;
      -webkit-box-shadow: 1px 2px 3px #F5F5F5;
      -moz-box-shadow: 1px 1px 3px #F5F5F5;
      box-shadow: 1px 1px 3px #F5F5F5; }
  .blog-post .blog-post__link {
    margin-bottom: 20px;
    line-height: 1.5em; }
  .blog-post .blog-post__footer {
    margin-bottom: 30px;
    line-height: 1.5em;
    display: flex; }
    .blog-post .blog-post__footer li {
      float: left;
      margin-bottom: 10px;
      line-height: 1.4em;
      font-size: .75em; }
    .blog-post .blog-post__footer .blog-post__footer--date {
      height: 40px;
      padding: 5px 5% 5px 0;
      border-right: 2px solid #E5E5E5; }
      .blog-post .blog-post__footer .blog-post__footer--date span {
        font-size: .875em;
        color: #BBB;
        display: block;
        margin-bottom: 5px; }
      .blog-post .blog-post__footer .blog-post__footer--date em {
        display: block;
        font-size: 1.3125em; }
    .blog-post .blog-post__footer .blog-post__footer--comment {
      border-right: 2px solid #E5E5E5;
      height: 23px;
      margin: 0 0 10px 5%;
      padding: 27px 5% 0 0;
      background: url(../images/icons/icon-blog-comments.png) no-repeat left -40px; }
    .blog-post .blog-post__footer .blog-post__footer--tags {
      height: 23px;
      margin: 0 5% 10px 5%;
      padding: 27px 5% 0 0;
      background: url(../images/icons/icon-blog-tag.png) no-repeat left -40px; }

.sub-bar {
  float: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 26%;
  margin-bottom: 40px;
  color: #888; }
  .sub-bar .subscribe {
    margin-bottom: 30px;
    font-size: .875em; }
    .sub-bar .subscribe .sub-bar__rss {
      padding-left: 22px;
      background: url(../images/icons/icon-aside-rss.png) no-repeat left -48px; }
    .sub-bar .subscribe .sub-bar__question {
      margin-left: 7px;
      padding: 0 7px;
      background: #F1F1F1;
      border-radius: 15px;
      font-size: .85em;
      opacity: .8; }
  .sub-bar h4 {
    clear: left;
    margin-bottom: 9px;
    padding-bottom: 5px;
    line-height: 1.3em;
    border-bottom: 1px dashed #E5E5E5;
    font-style: italic; }
  .sub-bar p {
    margin-bottom: 10px;
    line-height: 1.7em;
    font-size: .75em; }
  .sub-bar .nav_categories {
    margin-bottom: 30px; }
    .sub-bar .nav_categories li {
      font-size: .875em;
      line-height: 1.45em; }
  .sub-bar .search {
    margin-bottom: 30px; }

.subscribe-info h4 {
  clear: left;
  margin-bottom: 9px;
  padding-bottom: 5px;
  line-height: 1.3em;
  border-bottom: 1px dashed #E5E5E5;
  font-style: italic; }
.subscribe-info p {
  margin-bottom: 10px;
  line-height: 1.7em;
  font-size: .75em; }
.subscribe-info .subscribe__email .submit {
  margin-top: 5px;
  margin-left: 0; }

.contact-info .contact-info__title {
  clear: left;
  margin-bottom: 9px;
  padding-bottom: 5px;
  line-height: 1.3em;
  border-bottom: 1px dashed #E5E5E5;
  font-style: italic; }
.contact-info .contact-info__desc {
  margin-bottom: 10px;
  line-height: 1.7em;
  font-size: .75em; }
  .contact-info .contact-info__desc .contact-info__desc--link {
    display: inline-block; }
  .contact-info .contact-info__desc a {
    border-bottom: 1px dashed #E5E5E5; }

.a-list-title {
  background: url("/images/icons/page-alist.png") 0 -99px no-repeat; }

.vendors {
  overflow: hidden;
  width: 100%;
  margin: 0 24px 29px 0;
  padding-bottom: 30px;
  font-size: .875em;
  border-bottom: 1px dotted #E5E5E5; }
  .vendors .vendors__images {
    float: right;
    width: 35%;
    margin: 0 0 15px 5%; }
  .vendors .vendors__title {
    margin-bottom: 10px;
    line-height: 1.4em;
    font-size: 1.3125em;
    display: block; }
  .vendors .vendors__desc {
    margin-bottom: 20px;
    line-height: 1.5em; }
  .vendors .vendors__link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: .875em; }
  .vendors .vendors__note {
    padding: 0 0 5px 24px;
    color: #666;
    font-style: italic;
    font-size: .75em;
    line-height: 1.5em;
    background: url(../images/icons/icon-marketplace-note.png) no-repeat left -37px; }
    .vendors .vendors__note strong {
      font-weight: bold; }

.contribute__title {
  background: url("/images/icons/page-contribute.png") 0 -99px no-repeat; }

.header-page .contribute__connect {
  line-height: 1.5em;
  font-weight: bold;
  margin-top: 20px; }

.contribute .contribute__content {
  margin-bottom: 20px;
  line-height: 1.5em; }
  .contribute .contribute__content a {
    border-bottom: 1px dashed #E5E5E5; }
  .contribute .contribute__content small {
    font-size: .75em; }
  .contribute .contribute__content em {
    font-style: italic; }
.contribute strong {
  font-weight: bold; }
.contribute .contribute__header {
  margin-bottom: 20px;
  line-height: 1.3em;
  font-size: 1.125em;
  font-weight: bold; }

.about__icon {
  background: url("/images/icons/page-about.png") 0 -99px no-repeat; }

.about .about__title {
  margin-bottom: 20px;
  line-height: 1.4em;
  font-size: 1.3125em;
  font-weight: bold; }
.about .about__desc {
  margin-bottom: 20px;
  line-height: 1.5em; }
  .about .about__desc .about__desc--images {
    float: right;
    margin: 0 0 20px 20px;
    padding: 9px;
    background: #FFF;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 1px 2px 3px #F5F5F5;
    -moz-box-shadow: 1px 1px 3px #F5F5F5;
    box-shadow: 1px 1px 3px #F5F5F5; }
  .about .about__desc a {
    border-bottom: 1px dashed #E5E5E5; }

/* import all file state */
@media screen and (max-width: 1176px) {
  .container-page {
    max-width: 896px; }
  .wap-content {
    width: 100%; }
  .content {
    width: 712px; }
  .featured .slide {
    width: 100%; }
  .featured .slide__item {
    width: 712px; }
  .navigation .navigation__item a {
    width: 177px;
    height: 25px;
    padding: 0; }
  .navigation .navigation__item p {
    display: none; }
  .newsletter .newsletter__submit--email {
    width: 160px; }
  .blog .ad-block {
    width: 160px; }
    .blog .ad-block .ad-block__img {
      max-width: 100%;
      width: 139px;
      height: auto; }
  .sub-bar input[type="submit"] {
    margin-top: 10px;
    margin-left: 0; }
  .main .product {
    width: 322px;
    height: 530px; }
  .main .product:nth-child(2n) {
    margin: 0 0 24px 0; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container-page {
    width: 712px;
    padding: 0; }
  .wap-content {
    width: 100%; }
  .side-bar {
    top: 40px;
    left: auto;
    right: 0;
    width: 528px;
    margin: 0; }
    .side-bar .item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end; }
      .side-bar .item li a {
        background-position: 50% 0;
        padding: 40px 0 0 0;
        margin-right: 20px; }
  .side-social {
    display: none; } }

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .container-page {
    width: 480px;
    margin: 0 auto;
    padding: 0; }
  .wap-content {
    width: 480px; }
  .content {
    width: 100%;
    overflow: hidden; }
  .side-social {
    display: none; }
  .navigation {
    display: none; }
  .featured {
    height: auto; }
    .featured #slide-2 h1, .featured #slide-2 h2, .featured #slide-4 h1, .featured #slide-4 h2 {
      left: 0;
      width: 480px; }
    .featured h1 {
      top: 172px;
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      font-size: 1.125em;
      float: left;
      width: 480px; }
    .featured h2 {
      top: 212px;
      padding: 9px 10px 11px;
      font-size: .875em;
      float: left;
      width: 480px; }
    .featured .slide {
      height: 280px; }
  .side-bar {
    top: 20px;
    width: 375px;
    right: 0;
    left: initial;
    height: 49px;
    font-size: .75em; }
    .side-bar .item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding: 16px 0; }
      .side-bar .item li a {
        background-image: none;
        padding: 20px 0px 0 9px;
        margin-left: 14px; }
  .newsletter {
    justify-content: space-around;
    margin-top: 10px; }
    .newsletter .newsletter__desc {
      width: 100%;
      background-position: 15px 14px; }
    .newsletter .newsletter__submit {
      padding-left: 10px;
      padding-bottom: 10px; }
    .newsletter .newsletter__submit--email {
      width: 320px; }
  .blog {
    width: 480px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    .blog .ad-block {
      width: 216px;
      margin-right: 24px; }
      .blog .ad-block .ad-block__img {
        width: 195px; }
    .blog .ad-block:nth-child(2n) {
      margin-right: 0; }
  .blog-wap, .sub-bar {
    width: 90%;
    padding: 0 24px; }
  .header-page {
    padding: 0 24px 0;
    width: 90%; }
    .header-page .header-page__desc {
      width: 100%; }
  .main {
    padding: 0 24px;
    width: 90%; }
    .main .product {
      width: 182px;
      height: 430px; }
    .main .product:nth-child(2n) {
      margin: 0 0 24px 0; } }

@media screen and (max-width: 480px) {
  .container-page {
    width: 320px;
    padding: 0; }
  .wap-content {
    width: 100%; }
  .content {
    width: 100%;
    overflow: hidden; }
  .logo {
    width: 100%;
    margin: 69px 0 20px; }
    .logo .logo__brand {
      margin: 0 auto; }
  .featured {
    height: auto; }
    .featured #slide-2 h1, .featured #slide-2 h2, .featured #slide-4 h1, .featured #slide-4 h2 {
      left: 0;
      width: 320px; }
    .featured h1 {
      top: 214px;
      padding: 10px 10px;
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      font-size: 1.125em;
      float: left;
      width: 320px; }
    .featured h2 {
      top: 248px;
      padding: 9px 10px 11px;
      font-size: .875em;
      float: left;
      width: 320px; }
    .featured .slide {
      height: 248px; }
  .newsletter {
    flex-direction: column;
    margin-top: 10px; }
    .newsletter .newsletter__desc {
      width: 100%;
      background-position: 15px 14px; }
    .newsletter .newsletter__submit {
      padding-left: 10px;
      padding-bottom: 10px; }
  .side-social {
    display: none; }
  .navigation {
    display: none; }
  .side-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    font-size: .75em;
    border-bottom: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 0 #F5F5F5;
    -moz-box-shadow: 0 1px 0 #F5F5F5;
    box-shadow: 0 1px 0 #F5F5F5; }
    .side-bar .item {
      padding: 16px 8px 6px; }
      .side-bar .item li {
        display: inline-block; }
        .side-bar .item li a {
          background: none;
          padding: 10px 5px 0 5px;
          font-size: 12px; }
  .blog {
    flex-direction: column;
    padding: 0 16px;
    width: 90%; }
    .blog .ad-block {
      width: 280px;
      margin-right: 0; }
      .blog .ad-block .ad-block__head {
        width: 280px; }
      .blog .ad-block .ad-block__img {
        width: 260px; }
  .blog-wap, .sub-bar {
    width: 90%;
    padding: 0 16px; }
  .blog-post .blog-post__imges {
    float: left;
    margin: 0 68px 20px 0; }
  .header-page {
    width: auto;
    padding: 0 16px 20px; }
    .header-page .header-page__desc {
      width: 100%; }
  .main {
    padding: 0 16px;
    width: 90%; }
    .main .product {
      width: 266px;
      height: 480px;
      margin: 0 0 28px 0; } }
