nav.top-bar(data-topbar='', role='navigation')
  ul.title-area
    li.name
      a(href="javascript:void(0)")
      // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    li.toggle-topbar.menu-icon
      a(href='#')
        span Menu
  section.top-bar-section
    // right nav section alert-link
    ul.left
      li
        a(href="javascript:void(0)") Home
      li
        a(href="javascript:void(0)") Gallery
      li
        a(href="javascript:void(0)") Categories
      li
        a(href="javascript:void(0)") Pages
    ul.center
      li.logo
    ul.right
      li
        a(href="javascript:void(0)") Face
      li
        a(href="javascript:void(0)") Help
      li
        a(href="javascript:void(0)") Contact
