#creatModal {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  z-index: 70;
  -webkit-transform: translate3d(0,0,0);
  background-color: white;
}
.modal-header {
  height: 36px;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}
.modal-title {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #8c8c8c;
  display: block;
  line-height: 36px;
  border-bottom: 1px solid #d6dadc;
  margin: 0 10px;
  overflow: hidden;
  padding: 0 2pc;
  position: relative;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
}
.close {
  padding: 10px 10px 10px 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  background-color: transparent;
}

.pop-over-container {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px 10px;
}

.modal-content {
  overflow: hidden;
  height: 300px;
}

.pop-over-content {
}

label, legend {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 10px;
  text-align: left;
}

.form-control {
  margin: 4px 0 12px;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 9pt;
  min-height: 34px;
  padding: 7px;
}

.team-desc {
  margin-bottom: 8px;
  color: #8c8c8c;
  margin: 0 0 8px;
  text-align: left;
  line-height: 18px;
}
.btn {
  background: -webkit-linear-gradient(top,#d6dadc 0,#cdd2d4 100%);
  background: linear-gradient(to bottom,#d6dadc 0,#cdd2d4 100%);
  border: none;
  box-shadow: 0 1px 0 #959da1;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
  border-radius: 3px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
