<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create</h4>

          <div class="pop-over-container">
            <div class="pop-over-content">
              <ul class="pop-over-list">
                <li>
                  <a href="#" data-toggle="modal" data-target="#creatModal" class="pop-over-item"> Create Board…
                    <span class="sub-name"> A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything. </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="pop-over-item"> Create Personal Team…
                    <span class="sub-name"> A team is a group of boards and people. Use it to group boards in your company, team, or family. </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="pop-over-item"> Create Business Team…
                    <span class="sub-name">  With Business Class, your team has more security, administrative controls and superpowers.  </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
