/* create menu of file */

.centered-navigation {
  background-color: rgba(20, 20, 20, 0.75);
  width: 100%;
  position: fixed;
  z-index: 9999;

  .centered-navigation-mobile-menu {
    display: block;
    float: right;
    font-weight: 700;
    line-height: em(60px);
    margin: 0;
    padding-right: em(16px);
    text-decoration: none;
    text-transform: uppercase;
    color: $white;

    @include media (em(768px)) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $nav-item-hover-color;
    }
  }

  .mobile-logo {
    position: absolute;
    width: em(100px);
    left: em(20px);
    top: em(20px);
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media (em(768px)) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media(em(768px)) {
      margin-left: em(30px);
    }
  }

  ul li.nav-link {
    display: block;
    line-height: em(60px);
    overflow: hidden;
    padding-right: em(16px);
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $white;
      text-transform: uppercase;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $nav-item-hover-color;
      }
    }

    @include media(em(768px)) {
      background: transparent;
      display: inline;
      line-height: em(60px);

      a {
        padding-right: em(16px);
      }
    }
  }
}

