/* styles each service*/

.services {
  @include span-columns(4);
  @include padding(em(15px));
  @include border-width(em(10px));
  @include border-color($black);
  text-align: center;
  background-color: $base-background-color;
  
  @include e(image) {  
    width: 100%;
    background-color: $card-image-hover-color;
    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;
    img {
      opacity: 0.7;
    }
  }

  @include e(title) {
    @include font-text(em(17px), bold, $black, $font-roboto);
    @include margin(em(25px) null em(15px));
  }

  @include e(description) {
    @include font-text(em(14px), sans-serif, $black, $font-roboto);
  }
}
