extends layouts/default
block variables
  - bodyClass = "tastemaker"
block content
  .content
    header.header-page
      h1.header-page__title.tastemakers__title tastemakers 
      p.header-page__desc A curated gallery of home-cooked eye candy - the very best vegetarian and vegan recipes from a community of celebrated food bloggers. If you’re looking for some fresh inspiration, or a new approach to an old favorite, you’ll find a dependably delicious recipe here.
    include templates/tastemakers.jade
