// contact file
article.contacto
  .cerrar
    span.aspa1
    span.aspa2
  .mascara-contact.slow
  h4 In a small room in the centre, in a house overlooking the sea, in a cloud...
  p
    | 22ºGRA2 was born and focuses most of its activities in Madrid, but if you need us we are just one "
    a.click(href='mailto:22grados@veintidosgrados.com') click
    | " away from anywhere.
  .forms.cl-effect-5
    h3 Welcome
    .clientes.form
      .raya
      h5 I AM A FUTURE CLIENT
      h6 IF YOU ARE SOMEONE THAT SEES SOMETHING AND SAYS "I WANT THAT, BUT BETTER"
      p.email
        a(href='mailto:ruben@veintidosgrados.com')
          span(data-hover='') Write us
    .colaboradores.form
      .raya
      h5 I AM A FUTURE COLLABORATOR
      h6 IF YOU ARE SOMEONE WHO SEES SOMETHING AND SAYS "I CAN DO THAT, BUT BETTER"
      p.email
        a(href='mailto:info@veintidosgrados.com')
          span(data-hover='') Write us
