.bachground-footer {
  background-image: url("/images/bg-pattern-brown.png");
  height: em(690px);
  bottom: -350px;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 9;
  @include animation(cubic 1s);
  .nav-contain {
    border-bottom: 1px solid rgba(255,255,255,.1);

    a {
      text-transform: uppercase;
    }
  }

  .infor {
    margin: em(40px) 0;
    @include e(detail) {
      @include font-text(em(14px), lighter, #676363, $font-helveticaneue);
      line-height: em(34px);
    }

    @include e(find-us) {
      @include font-text(em(14px), lighter, #ac855e, $font-helveticaneue);
    }

    a {
      @extend .infor__find-us;
    }

    @include e(group) {
      @extend %position-absolute;
      top: em(100px);
      right: 20%;
      height: em(50px);
      display: flex;
    }

    @include e(direct) {
      background: transparent;
      color: #dac9be;
      border-color: #926e4d;
    }
    @include e(close) {
      opacity: 0;
      width: em(54px);
      background-color: $cl-button-send; 
      border-color: #926e4d;
    }
  }

  .control {
    @include e(message) {
      margin: em(20px) 0;
      height: 100%;
      &:hover {
        border-color: $cl-boder-from;
      }
    }

    input {
      border: 1px solid $white;
      &:hover,
      &:active {
        border: 1px solid $cl-boder-from;      
      }
    }
  }

  .button {
    @include e(send) {
      background-color: $cl-button-send;
      &:hover {
        background-color: transparent;
        border: em(1px) solid $cl-boder-from;
      }
    }
  }
}

.control {
  border: none;
  box-shadow: none;
}

.collapsible-header, {
  background-color: transparent;
  border: none;
  height: 0;
}

.collapsible-body {
  border: none;
}

#map {
  opacity: 0;
  @include size(100%, em(350px));
  width: 100%;
  height: 350px;
}
