.loader {
  z-index: 100;
  @extend %position-absolute;
  overflow: hidden;
  @include size(100%);

  .loader__item {
    border: 1px solid;
    border-radius: 50%;
    @extend %position-absolute;
    top: 40%;
    left: 40%;
    border-top-color: $white;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    @include size(100px);
    @include animation(spin 2s linear both);
  }
}

@include keyframes(spin) {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
    border-color: $white;
  }

  100% {
    transform: scale(20);
  }
}
