/* styles background of page soane speaks*/
.soane-speaks {
  background-image: url("/images/soane-speaks.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100%;
  background-size: em(2000px) auto;
  background-color: #231f20;
  position: absolute;
  top: 0;
  // container of part market
  .market-container {
    @extend %position-relative;
    height: em(850px);
  }
}
