/* styles of big title */
.vertical-center {
  @extend %position-absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
}
.horizontal-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.big-tille {
  @include font-text(em(48px), lighter, $white, $font-helveticaneue);
  text-shadow: 0 em(2px) em(13px) rgba(0,0,0,.3);
  line-height: 1.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
  visibility: visible;
  @include animation(bounceInUp 5s);
  opacity: 0;
  backface-visibility: hidden;
  display: none;
}

.details-content {
  @include font-text(em(16px), lighter, $white, $font-helveticaneue);
  @include animation(bounceInUp 5s);
  opacity: 0;
  display: none;
}


// set show text 
@include keyframes(bounceInUp) {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.19,1,.22,1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
