/* styles of part box image introduction */
.boxes-container {
  padding-bottom: em(350px);
  .col {
    padding: 0;
  }
}

/* styles of each box*/
.box-speaks {
  position: relative;
  border: 1px solid #1c1b16;
  width: 100%;
  @include e(content) {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 9;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include e(image) {
    position: absolute;
    opacity: 0;
    z-index: 4;
    width: 100%;
    height: auto;
    cursor: pointer;
    vertical-align: middle;
    backface-visibility: hidden;
  }

  @include e(dark) {
    z-index: 2;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .intro {
    @include e(tille) {
      @include font-text(em(14px), bold, $intro-place, $font-helveticaneue);
      text-transform: uppercase;
    }

    @include e(date) {
      @include font-text(em(14px), bold, $white, $font-helveticaneue);
    }
  }

  .cube {
    margin-bottom: em(80px);
    &:before {
      position: absolute;
      content: '';
      margin: 0 auto;
      top: 0;
      right: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border: 1px solid $white;
      transform: rotate(45deg);
      border-radius: 5px;
      background-clip: padding-box;
     }
    @include e(arrow) {
      opacity: 0;
      position: absolute;
      display: block;
      width: 9px;
      height: 15px;
      top: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: url("/images/icon/up-arrow-small.png") center left/100% 100% no-repeat;
      backface-visibility: hidden
    }
    @include e(number) {
      @include font-text(em(14px), bold, $white, $font-helveticaneue);
      margin-top: em(20px);
    }
  }

  /* execute after hover*/ 
  &:hover {
    .box-speaks__image {
      @include animation(showimage 5ms linear);
      opacity: 1;
    }

    .cube {
      &:before {
        @include animation(showbox 200ms linear);
        transform: rotate(0);
      }
    }
    .cube__arrow {
      opacity: 1;
      @include animation(arrow 5s linear);
    }

    .cube__number {
      @include animation(number 5s linear);
    }
  }
}

// set animation of image
@keyframes showimage {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.19,1,.22,1);
    transition-delay: initial;
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// set animation of box
@keyframes showbox {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.19,1,.22,1);
    transition-delay: initial;
  }

  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

// set animation of arrow
@keyframes arrow {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.19,1,.22,1);
    transition-delay: initial;
  }

  from {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, -16px, 0);
    opacity: 1;
  }
}

// set animation of number
@keyframes number {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.19,1,.22,1);
    transition-delay: initial;
  }

  from {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 20px, 0);
    opacity: 1;
  }
}
