.we-container {
  @extend %position-relative;
  width: em(340px);
  margin: 0 auto;
  left: 0;
  right: 0;
  .we {
    @include e(image) {
      @include size(159px, 71px);
      margin: 0 auto;
      background-image: url("/images/about-we.png");
    }

    @include e(bar) {
      @extend %position-absolute;
      top: 0;
      right: em(240px);
      @include size(em(70px), em(2px));
      background-color: #d7d7d7;
    }

    @include e(bar-bottom) {
      @extend %position-absolute;
      bottom: 0;
      left: em(250px);
      @include size(em(70px), em(2px));
      background-color: #d7d7d7;
    }
  }
}
