.down-arrow {
  background-image: url("/images/icon/icon-down-arrow.png");
  @include size(em(40px), em(20px));
  @extend %position-absolute;
  z-index: 10;
  bottom: em(120px);
  display: none;
  @include animation(showArrow 5s cubic-bezier(0.19,1,.22,1));

  li {
    list-style-type: none;
  }

  span {
    @include size(em(8px), em(1px));
    display: block;
    margin: em(24px) auto;
    background-color: $white;
    &:nth-child(1) {
      @include animation(goFlash 2.5s 2.7s ease-in-out infinite);
    }

    &:nth-child(2) {
      @include animation(goFlash 2.5s 3s ease-in-out infinite);
    }

    &:nth-child(3) {
      @include animation(goFlash 2.5s 3.3s ease-in-out infinite);
    }
    
    &:nth-child(4) {
      @include animation(goFlash 2.5s 3.6s ease-in-out infinite);
    }
  }

  // set animation of tag span 
@include keyframes(goFlash) {
  from {
      opacity: 0;
  }

  to {
    opacity: 1;
  }
  }
}

// animation of background arrow
@include keyframes(showArrow) {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


