<nav class="black">
	<div class="title-page"> Local Market
		<span class="subtext-page"></span>
	</div>
	<div class="nav-group right">
	</div>
</nav>
<div class="content-scrollable" [myHighlight]="hidden">
	<div class="bg-image home">
		<h1 class="title-home">
			<img src="app/images/img/app/logo-local.svg" alt="Local Market"/>
		</h1>
		<span class="hour"><span class="title-callout">Hours</span> Mon–Fri 9-6pm, Sat 10-5pm</span>
		<span class="arrow"></span>
		</div>
	<div class="callout-news">
		<span class="title-callout">
			News
		</span>
		First of the season citrus has just arrived. Get succulent oranges and tangerines in our produce aisle!
	</div>
	<h2 class="list-title">What's Cooking </h2>

	<div class="list-subtitle">See what the community is cooking</div>
	<what-cooking></what-cooking>
	<a [routerLink]="['WhatCooking']" class="btn-primary">See what's cooking</a>
	<h2 class="list-title">Our Favorite Recipes</h2>
	<div class="list-subtitle">Hand-picked by neighborhood chefs</div>
	<list-recipes></list-recipes>
	<a [routerLink]="['Recipes']" class="btn-primary" >Explore all our recipes</a>
</div>
