{{#each portfolio}}
  <article class="portfolio__block">
    <div class="portfolio__image">
      <img class="portfolio__image--bg" src="../images/img_block_bg.png">
      <img class="portfolio__image--port" src="{{nameimage}}">
      <span class="portfolio__zoom">
        <a href="{{nameimage}}" rel="prettyPhoto"></a>
      </span>
      <span class="portfolio__link">
        <a href="javascript:void(0)">View item</a>
      </span>
      <div class="portfolio__description">
        <h5>Nunc non purus</h5>
        <p>Quisque vulputate tristique</p>
      </div>
    </div>
  </article>
{{/each}}
