<div class="list-activities">
  <a  [routerLink]="['RecipesDetails', { id: ['summer-apricots-honey-panna-cotta'] }]" [class.selected]="recipe === selectedRecipe" (click)="onSelect('summer-apricots-honey-panna-cotta')" >
    <span class="attribution-what">
      <span class="avatar">
        <img src="https://avatars3.githubusercontent.com/u/204768?v=2&s=400" alt="image-avatar" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">
          Matt
        </span> made
        <span class="recipe"> Apricots Honey Panna Cotta
        </span>
          I substituted strawberries for apricots - incredible!
        <span class="location">SoMA, San Francisco</span>
      </span>
    </span>
    <div class="bg-image" style="background-image: url('/app/images/img/activity/activity-placeholder-strawberry-640x640.jpg');"></div>
  </a>
  <div class="list-recipes">
  </div>
</div>
