/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {
	// Styles of part header
	.sparks-insiders {
		.sparks-insiders__content {
			margin-left: 30%;
			width: 20%;
		}
	}

	.influence-digital {
		.influence-digital__posting {
			width: 20%;
			left: 63%;
			top: 103rem;
		}
		
		.influence-digital__specific-topics {
			width: 20%;
			left: 20%
		}

		.influence-digital__drive {
			width: 15%;
			left: 30%;
			top: rem(1340px);
		}
		
		.bg-arrow__left {
			top: rem(1300px);
			left: 27%;
		}

		.bg-arrow__right {
			width: rem(110px);
			top: rem(1340px);
			left: 43%;
		}

		.bg-tweet__wall {
			width: 60%;
		}
	}
	.screenshot-silver {
		.screenshot__expanded--details {
			left: 20%;
		}

		.screenshot__arrow--horizontal {
			left: 43%;
		}

		.screenshot__expanded--put {
			left: 45%;
		}
	}
}
