/* Extra Small Devices, Phones */

@media only screen and (min-width : 320px) {

// styles of part header
	.bg-pitch-basket {
		background: url('../images/mobile-image/bg-pitch.png') center no-repeat;
		height: rem(217px);
	}
	
	.contain-ball {
		width: 100%;
		height: rem(217px);
		.basket-ball {
			width: 40%;
			float: left;	
		}
		
		.basket-ball__iphone {
			@include bg-responsive("iphone-fail.png");
			background-repeat: no-repeat;
			background-position: 100% 100%;
			height: rem(217px);
		}

		.inventing-chain {
			width: 20%;
			float: left;
			
			.inventing-chain__line--long,
			.inventing-chain__radio,
			.inventing-chain__line--short,
			.inventing-chain__globes--online,
			.inventing-chain__line--short-last,
			.inventing-chain__cloud {
				background-repeat: no-repeat;
				background-position: center;
			}
			.inventing-chain__line--long {
				height: rem(80px);
			}

			.inventing-chain__radio {
				height: rem(21px);
			}

			.inventing-chain__line--short {
				height: rem(14px);
			}

			.inventing-chain__globes--online {
				height: rem(26px);
			}

			.inventing-chain__line--short-last {
				height: rem(14px);
			}

			.inventing-chain__cloud {
				height: rem(38px);
			}
		}

		.exchange-info {
			width: 40%;
			float: left;
			display: block;
			padding-top: 130px;

			.exchange-info__radio {
				@include font-text(rem(11px), normal, $white, $font-roboto);
			}

			.exchange-info__forums {
				@include font-text(rem(11px), normal, $white, $font-roboto);
				margin-top: rem(14px);
			}

			.exchange-info__sparks {
				@include font-text(rem(14px), normal, $white, $font-roboto);
				margin-top: rem(17px);
			}

			.exchange-info__discuss {
				@include font-text(rem(9px), normal, $white, $font-roboto);
			}
		}
	}

// Styles of sparks inssiders
	.sparks-insiders {
		height: rem(500px);
	}
	.sparks-insiders__content {
		margin: 0 auto;
		width: 70%;
		padding-top: rem(50px);
		.sparks-insiders__content--what {
			@include font-text(rem(14px), bold, $black, $font-roboto);
			line-height: rem(20px);
		}

		.sparks-insiders__content--fan {
			@include font-text(rem(12px), lighter, $black, $font-roboto);
			line-height: rem(20px);
		}

		.sparks-insiders__content--app {
			padding-left: 0;

			li:before {
				content: "";
				display: block;
				background: url('../images/desktop-image/icon-spark.png') no-repeat;
				margin-top: rem(5px);
				float: left;
				width: rem(15px);
				height: rem(15px);
				margin-right: rem(-5px);
			}
			li {
				@include font-text(rem(11px), lighter, $black, $font-roboto);
				list-style: none;
				margin-bottom: rem(10px);
				line-height: rem(16px);
				margin: rem(0 0 2px 0);
				display: inline-block;
			}
		}

		.sparks-insiders__content--channels {
			@include font-text(rem(12px), lighter, $black, $font-roboto);
		}
	}

	.sparks-insiders__phone {
		margin: 0 auto;
		.sparks-insiders__phone--black,
		.sparks-insiders__phone--white {
				position: relative;	
		}
		.sparks-insiders__phone--black {
			height: rem(165px);
			left: 20%;
			width: 80%;
			top: rem(20px);
		}

		.sparks-insiders__phone--white {
			height: rem(144px);
			left: 25%;
			width: 75%;
			top: -8rem;
		}
	}

	// Styles part influence new digital medium
	.influence-digital {
			background-color: $black;
		.influence-digital__visual {
		}

		.influence-digital__benefit {
			text-align: center;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				@include font-text(rem(13px), lighter, $white, $font-roboto);
			}

			li:last-child {
				@include font-text(rem(10px), lighter, $white, $font-roboto);
				margin-top: rem(10px);
			}
		}

		.influence-digital__posting,
		.influence-digital__specific-topics {
			margin-left: 10%;
			h3 {
				@include font-text(rem(14px), lighter, $white, $font-roboto);
				margin: rem(20px 0 5px);
				display: inline-block;
			}

			p {
				@include font-text(rem(10px), lighter, $white, $font-roboto);
				display: inline;
			}
		}
		.influence-digital__drive {
			position: absolute;
			display: none;
			top: rem(1162px);
			left: 27%;
			background-color: $white;
			border-radius: rem(20px);
			height: rem(70px);
			text-align: center;
			width: 45%;
			z-index: 1;
			h4 {
				@include font-text(rem(16px), lighter, $drive-text, $font-roboto);
				line-height: rem(20px);
			}
			span {
				@include font-text(rem(12px), lighter, $drive-text, $font-roboto);
			}
		}

		.bg-arrow__left, .bg-arrow__right {
			background-repeat: no-repeat;
			position: absolute;
			display: none;
			z-index: 2;
			left: 48%;
		}
		.bg-arrow__left {
			@include bg-responsive('arrow-left.png');
			display: none;
			height: rem(50px);
			width: rem(30px);
			top: rem(1120px);
		}

		.bg-arrow__right {
			@include bg-responsive('arrow-right.png');
			height: rem(50px);
			width: rem(30px);
			top: rem(1220px);
		}

		.bg-tweet__wall {
			.tweet-wall__profile,
			.tweet-wall__cluster,
			.tweet-wall__recent,
			.tweet-wall__expanded {
				background-position: center center;
			}
			.tweet-wall__profile {
				margin-top: rem(10px);
				height: rem(80px);
			}
			.tweet-wall__cluster {
				margin-top: rem(10px);
				height: rem(110px);
			}
			.tweet-wall__recent {
				margin-top: rem(10px);
				height: rem(100px);
			}
			.tweet-wall__expanded {
				margin-top: rem(80px);
				height: rem(205px);
			}
		}
		.screenshot__expanded--details {
			background-position: center;
			display: none;
			height: rem(142px);
			width: 	100%;
			top: rem(1500px);
		}

		.screenshot__arrow--horizontal {
			@include bg-responsive('arrow-horizontal.png');
			background-repeat: no-repeat;
			position: absolute;
			display: none;
			background-position: center;
			height: rem(60px);
			width: rem(30px);
			top: rem(1600px);
			left: 45%;
			z-index: 1;
		}

		.screenshot__expanded--put {
			display: none;
			width: 90%;
			height: rem(287px);
			top: rem(1640px);
			left: 5%;
			.screenshot__expanded--in {
				width: rem(176px);
				left: rem(12px);
				top: rem(25px);
				height: rem(236px);
				position: absolute;
			}
		}
	}

	// To do: styles part screenshot silver
	.screenshot-silver {
		height: rem(530px);
	}
	
	// Styles part footer
	.bg-ball__learn {
		background: url('../images/mobile-image/bg-fooball.png') center no-repeat;
		height: rem(218px);
	}
	.learn-more {
		text-align: center;
		.learn-more__title{
			@include font-text(rem(16px), lighter, $white, $font-roboto);
			padding-top: rem(40px);
		}

		.learn-more__button {
			@include border-radius(rem(60px));
			@include font-text(rem(15px), lighter, $white, $font-roboto);
			background: url('../images/desktop-image/bg-spark-buttons.png') no-repeat;
			background-position: center;
			background-size: 100% 100%;
			height: rem(40px);
			width: rem(100px);
			line-height: rem(40px);
			text-decoration: none;
			margin: rem(20px 0 70px);
			&:hover {
				background-color: $bg-hover-buttons;
				text-decoration: none;
			}
		}

		.learn-more__address-spark {
			@include font-text(rem(10px), lighter, $white, $font-roboto);
		}
	}
}

@media (min-width: 390px ) {
	.screenshot-silver {
		.screenshot__expanded--put {
			left: 12%;
		}
	}
}
