/* Small Devices, Tablets */

@media (min-width : 480px){
	// Styles of part header
	.bg-pitch-basket {
		background: url('../images/tablet-image/bg-picth.png') center no-repeat;
		height: rem(281px);
	}

	.basket-ball__iphone {
		position: relative;
		height: rem(253px);
		top: rem(28px);
	}
	.inventing-chain {
		@include e(segment-long) {
			height: rem(100px);
		}

		@include e(radio) {
			height: rem(30px);
		}

		@include e(segment-short) {
			height: rem(16px);
		}

		@include e(globes) {
			height: rem(58px);
		}

		@include e(cloud) {
			height: rem(58px);
		}
	}
	.exchange-info {
		margin-top: rem(110px);
		@include e(radio) {
			font-size: rem(12px);
		}

		@include e(forums) {
			font-size: rem(13px);
			margin-top: rem(48px);
		}

		@include e(sparks) {
			font-size: rem(16px);
			margin-top: rem(40px);
		}

		@include e(discuss) {
			font-size: rem(11px);
		}
	}

	// Styles of part spark insiders
	.sparks-insiders {
			height: rem(555px);
		.container {
			overflow: initial;
		}

		@include e(content) {
			margin: 60px 0 0 10%;
			width: rem(150px);
			float: left;
		}

		@include e(phone) {
			width: rem(220px);
			height: rem(330px);
			float: left;
			@include m(blacks) {
				height: rem(350px);
				left: 0;
			}

			@include m(whites) {
				top: -23rem;
				height: rem(200px);
				left: 0;
			}
		}
	}
	.influence-digital {
		height: rem(570px);
		@include e(posting-topic) {
			p {
				display: block;
			}
		}
		.tweet-wall {
			width: 80%;
			margin: 0 auto;
			height: rem(350px);
			.tweet-wall__profile,
			.tweet-wall__cluster,
			.tweet-wall__recent,
			.tweet-wall__expanded {
				background-position: initial;
			}

			@include e(expanded) {
				position: relative;
				top: -38rem;
				left: 45%;
				width: 100%;
				height: rem(250px);
			}
		}

		@include e(drive-group) {
			position: relative;
			top: -48rem;
		}

		@include e(posting) {
			position: relative;
			width: rem(280px);
			top: 3rem;
			left: 45%;
		}

		@include e(posting-topic) {
			position: relative;
			width: rem(280px);
		}
	}
	.bg-arrow__left {
		background-image: url('../images/desktop-image/arrow-left.png');
		width:  rem(278px);
		height: rem(85px);
		left: 22%;
		margin-top: rem(20px);
		background-size: 80%;
	}
	
	.screenshot {
		width: 80%;
		margin: 0 auto;
		@include e(expanded) {
			@include m(detail) {
				background-position: initial;
				margin-top: rem(20px);
			}

			@include m(put) {
				height: rem(488px);
				width: rem(220px);
				left: 36%;
				top: -25rem;
				img {
					top: rem(27px);
					left: rem(13px);
					height: rem(250px);
				}
			}
		}
		@include e(arrow) {
			width: rem(50px);
			left: 27%;
			z-index: 1;
			top: -10rem;
		}
	}
	// Styles backgound footer
	.bg-ball__learn {
		background: url('../images/tablet-image/bg-fooball.png') center no-repeat;
	}
} 
