/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
	.bg-pitch-basket {
		background: url('../images/desktop-image/bg-pitch.png') center no-repeat;
		height: rem(430px);
	}
	.contain-ball{
		.basket-ball__iphone {
			height: rem(383px);
			top: rem(47px);
		}

		.inventing-chain {
			.inventing-chain__line--long {
				height: rem(150px);
			}

			.inventing-chain__radio {
				height: rem(40px);
			}

			.inventing-chain__line--short {
				height: rem(26px);
			}

			.inventing-chain__globes--online {
				height: rem(45px);
			}

			.inventing-chain__line--short-last {
				height: rem(26px);
			}

			.inventing-chain__cloud {
				height: rem(93px);
			}
		}

		.exchange-info {
			padding-top: rem(163px);

			.exchange-info__radio {
				font-size: rem(14px);
			}

			.exchange-info__forums {
				font-size: rem(16px);
				margin-top: rem(54px);
			}

			.exchange-info__sparks {
				font-size: rem(18px);
				margin-top: rem(80px);
			}

			.exchange-info__discuss {
				width: 70%;
				font-size: rem(14px);
				margin-top: rem(20px);
			}
		}
	}

	// Styles of sparks inssiders
	.sparks-insiders {
		height: rem(490px);
		.sparks-insiders__content {
			width: 40%;
			margin-left: 10%;
			display: inline-block;
			float: left;
			height: rem(290px);
			padding-top: rem(100px);

			.sparks-insiders__content--what {
				font-size: rem(20px);
			}

			.sparks-insiders__content--fan {
				font-size: rem(16px)
			}

			.sparks-insiders__content--app {
				li:before {
					margin-top: rem(3px);
					float: left;
					margin-right: rem(-5px);
				}

				li {
					font-size: rem(14px);
					line-height: rem(14px);
				}
			}
			.sparks-insiders__content--channels {
				font-size: rem(16px);
			}
		}
		.sparks-insiders__phone {
			width: 50%;
			height: 340px;
			float: left;
			.sparks-insiders__phone--black {
				height: rem(390px);
				left: 0;
				top: rem(40px);
			}

			.sparks-insiders__phone--white {
				position: absolute;
				height: rem(323px);
				top: rem(630px);
				left: 50%;
				width: 50%;
			}
		}
	}

	// Styles part influence new digital medium
	.influence-digital {
			height: rem(700px) ;
		
		.influence-digital__visual {
			height: rem(700px);
		}
		.influence-digital__benefit {
			li:first-child{
				font-size: rem(16px);
			}

			li:last-child {
				font-size: rem(14px);
			}
		}
		
		.influence-digital__drive-group {
			top: -23rem;
			.bg-arrow__left {
				left: 8%;
			}

			.influence-digital__drive {
				left: 16%;
			}
		}

		.influence-digital__specific-topics,
		.influence-digital__posting {
			p {
				display: block;
			}
		}
		.influence-digital__specific-topics {
			width: 30%;
			top: rem(1500px);
		}
		.influence-digital__posting {
			top: rem(1000px);
			width: 30%;
			left: 63%;
			line-height: rem(14px);
		}

	.bg-tweet__wall {
		.tweet-wall__profile {
			height: rem(162px);
		}

		.tweet-wall__cluster {
			height: rem(176px);
		}

		.tweet-wall__recent {
			height: rem(140px);
		}

		.tweet-wall__expanded {
			height: rem(400px);
			top: 100rem;
			}
		}
		.screenshot__expanded--details {
			top: rem(1580px);
			left: 10%;
			height: rem(269px);
		}
		.screenshot__arrow--horizontal {
			width: rem(100px);
			top: rem(1660px);
			left: 36%;
		}

		.screenshot__expanded--put {
			height: rem(370px);
			width: rem(260px);
			left: 42%;
			top: rem(1520px);
			.screenshot__expanded--in {
				top: 53px;
				left: 26px;
				background-size: inherit;
				width: rem(226px);
				height: rem(301px);
			}
		}
	}

		// To do: styles part screenshot silver
	.screenshot-silver {
		height: rem(560px);
	}

	// styles part footer
	.bg-ball__learn {
		background: url('../images/desktop-image/bg-football.png') center no-repeat;
		height: rem(293px);
	}

	.learn-more {
		height: rem(293px);
		.learn-more__button {
			margin: rem(40px 0 130px);
		}
	}
}
