/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
	.bg-pitch-basket {
		background: url('../images/desktop-image/bg-pitch.png') center no-repeat;
		height: rem(430px);
	}
	.contain-ball{
		.basket-ball__iphone {
			height: rem(383px);
			top: rem(47px);
		}

		.inventing-chain {
			.inventing-chain__line--long {
				height: rem(150px);
			}

			.inventing-chain__radio {
				height: rem(40px);
			}

			.inventing-chain__line--short {
				height: rem(26px);
			}

			.inventing-chain__globes--online {
				height: rem(45px);
			}

			.inventing-chain__line--short-last {
				height: rem(26px);
			}

			.inventing-chain__cloud {
				height: rem(93px);
			}
		}

		.exchange-info {
			padding-top: rem(163px);

			.exchange-info__radio {
				font-size: rem(14px);
			}

			.exchange-info__forums {
				font-size: rem(16px);
				margin-top: rem(54px);
			}

			.exchange-info__sparks {
				font-size: rem(18px);
				margin-top: rem(80px);
			}

			.exchange-info__discuss {
				width: 70%;
				font-size: rem(14px);
				margin-top: rem(20px);
			}
		}
	}

	// Styles of sparks inssiders
	.sparks-insiders {
		height: rem(480px);
		.sparks-insiders__content {
			width: 40%;
			margin-left: 10%;
			display: inline-block;
			float: left;
			padding-top: rem(100px);

			.sparks-insiders__content--what {
				font-size: rem(20px);
			}

			.sparks-insiders__content--fan {
				font-size: rem(16px)
			}

			.sparks-insiders__content--app {
				li {
					font-size: rem(14px);
					line-height: rem(14px);
				}
			}
			.sparks-insiders__content--channels {
				font-size: rem(16px);
			}
		}
		.sparks-insiders__phone {
			width: 50%;
			height: 340px;
			float: left;
			.sparks-insiders__phone--black {
				height: rem(390px);
				background-size: 70%;
				left: 0;
				top: rem(40px);
			}

			.sparks-insiders__phone--white {
				position: absolute;
				background-size:100%;
				height: rem(323px);
				top: rem(630px);
				left: 50%;
				width: 50%;
			}
		}
	}

	// Styles part influence new digital medium
	.influence-digital {

		.influence-digital__visual {
			height: rem(820px);
		}
		.influence-digital__benefit {
			li:first-child{
				font-size: rem(16px);
			}

			li:last-child {
				font-size: rem(14px);
			}
		}

		.influence-digital__drive {
			width: 22%;
			top: 140rem;
		} 
		
		.influence-digital__benefit {
			// padding-top: rem(80px);
		}
		
		.influence-digital__specific-topics,
		.influence-digital__posting {
			p {
				display: block;
			}
		}
		.influence-digital__specific-topics {
			width: 30%;
			top: 162rem;
		}
		.influence-digital__posting {
			top: 99rem;
			width: 30%;
			left: 60%;
			line-height: rem(14px);
		}

		.bg-arrow__left {
			top: rem(1360px);
			left: 18%;
			width: rem(70px);
			height: rem(85px);
		}

		.bg-arrow__right {
			width: rem(110px);
			top: rem(1400px);
			left: 40%;
		}
		.bg-tweet__wall {
			.tweet-wall__profile,
			.tweet-wall__cluster,
			.tweet-wall__recent {
			}

			.tweet-wall__profile {
				height: rem(192px);
			}

			.tweet-wall__cluster {
				height: rem(210px);
			}

			.tweet-wall__recent {
				height: rem(200px);
			}

			.tweet-wall__expanded {
				height: rem(400px);
				top: 105rem;
			}
		}
	}

		// To do: styles part screenshot silver
	.screenshot-silver {
		height: rem(560px);
		.screenshot__expanded--details {
			top: 169rem;
			left: 10%;
			height: rem(269px);
		}

		.screenshot__arrow--horizontal {
			width: 10rem;
			top: 179rem;
			left: 35%;
		}

		.screenshot__expanded--put {
			height: rem(400px);
			width: rem(350px);
			background-size: 80%;
			top: 165rem;
			.screenshot__expanded--in {
				top: 60px;
				left: 28px;
				background-size: inherit;
				width: 30.7rem;
				height: 32.7rem;
			}
		}
	}

	// Styles part footer
	.bg-ball__learn {
		background: url('../images/desktop-image/bg-football.png') center no-repeat;
		height: rem(293px);
	}

	.learn-more {
		.learn-more__button {
			margin: rem(40px 0 130px);
		}
	}
}
