/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
	.bg-pitch-basket {
		background: url('../images/desktop-image/bg-pitch.png') center no-repeat;
		height: rem(430px);
	}
	.contain-ball{
		.basket-ball__iphone {
			background-size: 70% auto;
			position: relative;
			height: rem(430px);
			top: 0;
		}

		.inventing-chain {
			.inventing-chain__line--long {
				height: rem(150px);
			}

			.inventing-chain__radio {
				height: rem(40px);
			}

			.inventing-chain__line--short {
				height: rem(26px);
			}

			.inventing-chain__globes--online {
				height: rem(45px);
			}

			.inventing-chain__line--short-last {
				height: rem(26px);
			}

			.inventing-chain__cloud {
				height: rem(93px);
			}
		}

		.exchange-info {
			padding-top: rem(163px);

			.exchange-info__radio {
				font-size: rem(14px);
			}

			.exchange-info__forums {
				font-size: rem(16px);
				margin-top: rem(54px);
			}

			.exchange-info__sparks {
				font-size: rem(18px);
				margin-top: rem(80px);
			}

			.exchange-info__discuss {
				width: 70%;
				font-size: rem(14px);
				margin-top: rem(20px);
			}
		}
	}

	// Styles of sparks inssiders
	.sparks-insiders {
		height: rem(420px);
		.sparks-insiders__content {
			width: 40%;
			margin-left: 10%;
			padding-top: rem(100px);
			display: inline-block;
			float: left;

			.sparks-insiders__content--what {
				font-size: rem(20px);
			}

			.sparks-insiders__content--fan {
				font-size: rem(16px)
			}

			.sparks-insiders__content--app {
				li {
					font-size: rem(14px);
					line-height: rem(14px);
				}
			}
			.sparks-insiders__content--channels {
				font-size: rem(16px);
			}
		}
		.sparks-insiders__phone {
			width: 50%;
			height: 340px;
			float: left;
			.sparks-insiders__phone--black {
				height: rem(390px);
				left: 0;
				top: rem(40px);
			}

			.sparks-insiders__phone--white {
				background-size: 100% auto;
				height: rem(300px);
				width: 80%;
				left: 10%;
				top: -19rem;
			}
		}
	}

	// Styles part influence new digital medium
	.influence-digital {

		.influence-digital__visual {
			height: rem(820px);
		}
		.influence-digital__benefit {
			li:first-child{
				font-size: rem(16px);
			}

			li:last-child {
				font-size: rem(14px);
			}
		}

		.influence-digital__drive {
			top: rem(1280px);
			left: 24%;
		} 
		
		.influence-digital__benefit {
			padding-top: rem(80px);
		}
		
		.influence-digital__specific-topics,
		.influence-digital__posting {
			p {
				display: block;
			}
		}
		.influence-digital__specific-topics {
			width: 30%;
			left: 12%;
			top: -46rem;
		}
		.influence-digital__posting {
			width: 30%;
			left: 55%;
			line-height: rem(14px);
		}

		.bg-arrow__left {
			top: rem(1240px);
			width: rem(70px);
			height: rem(85px);
		}

		.bg-arrow__right {
			width: rem(110px);
			top: rem(1280px);
			left: 40%;
		}
		.bg-tweet__wall {
			.tweet-wall__profile,
			.tweet-wall__cluster,
			.tweet-wall__recent {
				background-position: 20% 100%;
				background-size: 40% 100%;
			}

			.tweet-wall__profile {
				height: rem(142px);
			}

			.tweet-wall__cluster {
				height: rem(160px);
			}

			.tweet-wall__recent {
				height: rem(140px);
			}

			.tweet-wall__expanded {
				position: relative;
				top: -50rem;
				left: 40%;
				height: rem(370px);
				background-size: 90% auto;
			}
		}
	}

		// To do: styles part screenshot silver
	.screenshot-silver {
		height: rem(340px);
		.screenshot__expanded--details {
			background-position: 16%;
			height: rem(269px);
			top: -8rem;
		}

		.screenshot__arrow--horizontal {
			background-position: 42%;
			top: -23rem;
		}

		.screenshot__expanded--put {
			background-position: 80%;
			background-size: 42% auto;
			height: rem(410px);
			top: -47rem;
		}

		.screenshot__expanded--in {
			background-position: 77.2%;
			background-size: 36.3% auto;
			height: rem(330px);
			top: -84.5rem;
		}
	}

	// Styles part footer
	.bg-ball__learn {
		background: url('../images/desktop-image/bg-football.png') center no-repeat;
		height: rem(293px);
	}

	.learn-more {
		.learn-more__button {
			margin: rem(40px 0 130px);
		}
	}
}
