.page-content {
  position: relative;
  background: #3e384f;
  color: #d9cdf6;
  display: block;
}
.city {
  @include e(wapper) {
    display: block;
  }
  @include e(header) {
    background: #3e384f;
    color: #d9cdf6;
  }
  @include e(better) {
    font-size: 8px;
    color: $white;
  }
  @include e(attribution) {
    font-size: 8px;
    color: #d9cdf6;
    display: block;
  }
  @include e(travel) {
    word-spacing: 99em;
    font-size: 60px;
    color: $white;
    position: relative;
    display: block;
    letter-spacing: -0.07em;
    padding-right: 0.07em;
    line-height: 0.82em;
    padding-top: 0.25em;
    font-weight: 700;
  }
  @include e(arrive) {
    display: block;
    color: $white;
    font-size: em(8);
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    line-height: 1.0em;
    font-family: "Futura Book";
    font-weight: 300;
    padding-top: 1.25em;
    -webkit-font-smoothing: initial;
    position: relative;
  }
  @include e(block) {
    padding-top: 30px;
    padding-top: 0;
    max-width: none;
    h1 {
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.iphone {
  @include e(device-group) {
    margin-top: -1.5em;
    margin-bottom: 2.0em;
    @include m(content) {
      position: relative;
    }
  }
  @include e(block) {
    max-width: 840px;
    margin: auto;
    padding: 0 5%;
    margin-top: 15px;
    margin-bottom: 2.0em;
    display: block;
    position: relative;
    span {
      display: block;
    }
  }
  @include e(graphic-highlight) {
    background-image: url(../images/highlight-city-guides.png);
    position: absolute;
    top: 88%;
    width: 100%;
    max-height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% -5px;
    opacity: 0.5;
    &:before {
      content: "";
      display: block;
      padding-bottom: 20%;
    }
  }
  @include e(device-content) {
    border-radius: 11%/5%;
    overflow: hidden;
  }
  @include e(device) {
    width: 34.5%;
    margin: auto;
    position: relative;
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: -2.5%;
    }
    &:nth-child(3) {
      position: absolute;
      right: 0;
      bottom: -2.5%;
    }
    &:before {
      padding-bottom: 211.9%;
      content: "";
      display: block;
    }
  }
  @include e(screen) {
    position: absolute;
    top: 14%;
    left: 7%;
    right: 7%;
    bottom: 14%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @include e(shadow) {
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 20%;
    background-image: url(../images/iphone-shadow@2x.png);
    left: -5%;
    right: -5%;
    bottom: -5%;
  }
  @include e(chrome) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../images/iphone@2x.png);
    top: -5%;
    left: -10%;
    right: -10%;
    bottom: -5%;
  }
}
