/* style part device iphone*/
.block__device-header {
  position: relative;
  display: block;
  margin-top: -20px;
  .overlap_shadow {
    background: url(../images/overlap-shadow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: 70%;
    display: block;
  }
  .iphone__device {
    width: 34.5%;
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: -2.5%;;
    }
    &:nth-child(2) {
      margin: 0 auto;
      z-index: 1
    }
    &:nth-child(3) {
      position: absolute;
      right: 0;
      bottom: -2.5%;
      z-index: 2
    }
  }
  .iphone__device-content {
    overflow: hidden;
  }
}
.iphone__graphic-crosslink {
  position: relative;
  display: block;
  .iphone {
    @include e(device) {
      margin-left: 0;
      width: 47%;
    }
    @include e(lines) {
      left: 47%;
      top: 0;
    }
    @include e(aux-content) {
      width: 47%;
      left: 29%;
    }
  }
}
.iphone__graphic-deeplink {
  display: block;
  position: relative;
  .iphone {
    @include e(device) {
      width: 47%;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 54%;
      }
    }
    @include e(lines) {
      left: 49%;
      top: 0;
    }
    @include e(tap) {
      top: 52.5%;
      left: 30%;
    }
    @include e(arrow) {
      top: 27.5%;
      left: 56%;
    }
  }
}
.caption-box__slider {
  padding: 30px 0 82px 0;
  overflow: hidden;
  position: relative;
  display: block;
  .iphone__graphic-highlight {
    top: 73%;
  }
  .caption-box__block-overflow {
    width: 180%;
    margin-left: -40%;
    .iphone {
      @include e(device) {
        width: 23%;
        &:nth-child(1) {
          left: 5%;
          margin: inherit;
        }
        &:nth-child(2) {
          position: absolute;
          left: 38%;
          top: 0;
        }
         &:nth-child(3) {
          position: absolute;
          left: 71%;
          top: 0;
        }
      }
      @include e(block) {
        max-width: 1200px;
        margin: 0 auto;
      }
      @include e(device-group) {
        position: relative;
      }
      @include e(lines) {
        left: 49%;
      }
      @include e(tap) {
        left: 14%;
        top: 53%;
      }
      @include e(arrow) {
        left: 39%;
        top: 26%;
        z-index: 1;
      }
       @include e(tap--itinerary) {
        left: 48%;
        top: 34%;
      }
      @include e(arrow--itinerary) {
        left: 72%;
        top: 56.5%;
        z-index: 1;
      }
    }
  }
}

.source__block,
.mistakes__block,
.graphic-push-back-modals,
.graphic-protect-your-app {
  position: relative;
  display: block;
  .graphic-caption-content {
    top: 30%;
  }
}
.caption-box__block-mistakes {
  display: block;
  position: relative;
  .iphone {
    @include e(device-group) {
      margin-top: 0;
    }
    @include e(device) {
      width: 47%;
      margin-left: 0;
      &:nth-child(2) {
        position: absolute;
        left: 56%;
        top: 0;
      }
    }
    @include e(lines) {
      top: 0%;
      left: 49%;
    }
    @include e(tap) {
      top: 33%;
      left: 36%;
    }
    @include e(tap--itinerary) {
      @extend .iphone__tap;
      top: 32%;
      left: 40%;
    }
    @include e(arrow) {
      top: 28%;
      left: 57%;
    }
    @include e(arrow--itinerary) {
      @extend .iphone__tap;
      top: 32%;
      left: 40%;
    }
  }
}
.iphone__building-universal {
  display: block;
  position: relative;
  .iphone {
    @include e(block) {
      max-width: 780px;
    }
    @include e(device) {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .ipad__portrait {
    width: 71%;
    left: 14%;
  }
  .iphone__device-content {
    z-index: 0;
  }
  .iphone__device {
    width: 32%;
    bottom: 2%;
  }
}
.ipad__block {
  max-width: 670px;
  margin: auto;
  padding: 0 5%;
  margin-top: 15px;
  margin-bottom: 2.0em;
  display: block;
  position: relative;
  span {
    display: block;
  }
}

.group-device__block {
  max-width: 780px;
  margin: auto;
  padding: 0 5%;
  margin-top: 15px;
  margin-bottom: 2.0em;
  display: block;
  position: relative;
  span {
    display: block;
  }
  .ipad__port {
    width: 71%;
    position: relative;
    left: 29%;
    &:before {
      padding-bottom: 130.2%;
      display: block;
      content: "";
    }
  }
}
.iphone {
  @include e(device-group) {
    @include m(content) {
      position: relative;
    }
  }
  @include e(block) {
    max-width: 525px;
    margin: auto;
    padding: 0 5%;
    margin-top: 15px;
    margin-bottom: 2.0em;
    display: block;
    position: relative;
    span {
      display: block;
    }
  }
  @include e(graphic-highlight) {
    background-image: url(../images/highlight-city-guides.png);
    position: absolute;
    top: 88%;
    left: 0;
    width: 100%;
    max-height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% -5px;
    opacity: 0.5;
    &:before {
      content: "";
      display: block;
      padding-bottom: 20%;
    }
  }
  @include e(device-content) {
    border-radius: 11%/5%;
    // overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  @include e(device) {
    width: 47%;
    position: relative;
    &:before {
      padding-bottom: 211.9%;
      content: "";
      display: block;
    }
  }
  @include e(screen) {
    position: absolute;
    top: 14%;
    left: 7%;
    right: 7%;
    bottom: 14%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @include e(shadow) {
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 20%;
    background-image: url(../images/iphone-shadow@2x.png);
    left: -5%;
    right: -5%;
    bottom: -5%;
  }
  @include e(chrome) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../images/iphone@2x.png);
    top: -5%;
    left: -10%;
    right: -10%;
    bottom: -5%;
  }
  @include e(lines) {
    position: absolute;
    height: 100%;
    left: 35%;
    top: -8px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    z-index: 2;
  }
  @include e(aux-content) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 31%;
  }
  @include e(detail-crop) {
    position: absolute;
    left: 60%;
    bottom: 4%;
    border-radius: 50%;
    width: 75%;
    background: #191919;
    &:nth-child(2) {
      bottom: 55%;
    }
  }
  @include e(tap) {
    left: 30%;
    top: 50.5%;
    display: block;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-repeat: no-repeat;
    z-index: 2;
    @include size(50px);
    background-size: 50px 50px;
    background-image: url(../images/tap@2x.png);
  }
  @include e(arrow) {
    left: 54.2%;
    top: 26%;
    display: block;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-repeat: no-repeat;
    z-index: 2;
    @include size(22px, 12px);
    background-size: 22px 12px;
    background-image: url(../images/arrow@2x.png);
  }
  @include e(video) {
    width: 47%;
    margin: auto;
    position: relative;
    &:before {
      padding-bottom: 211.9%;
      content: '';
      display: block;
    }
  }
}

.caption-box__block,
.caption-box__around,
.caption-box__block-overflow,
.caption-box__block-mistakes{
  position: relative;
  display: block;
}

.caption-box__block {
  .iphone__screen {
    overflow: hidden;
  }
}

.iphone__arrow--itinerary {
  @extend .iphone__arrow;
}
.iphone__tap--itinerary {
  @extend .iphone__tap;
}

.caption-box__block {
  .iphone__chrome, .iphone__screen {
    z-index: 1;
  }
}

#slideshowHowToGesture {
  .iphone__screenshots {
    width: 125%;
    .screenshot {
      position: relative;
      float: left;
      margin: 0 5% 0 0;
      height: 100%;
      overflow: hidden;
      width: 90%;
      img {
        width: 100%;
      }
    }
  }
}
#slideshowPrototyping {
  .iphone__screenshots {
    width: 125%;
    .screenshot {
      position: relative;
      float: left;
      margin: 0 5% 0 0;
      height: 100%;
      overflow: hidden;
      width: 70%;
      img {
        width: 100%;
      }
    }
  }
}
.iphone__screenshots {
  width: 145%;
  .screenshot {
    position: relative;
    float: left;
    margin: 0 5% 0 0;
    height: 100%;
    overflow: hidden;
    width: 90%;
    img {
      width: 100%;
    }
  }
  .slick-center {
    .ipad__player-overlay {
      width: 100%;
    }
  }
}

.iphone__screenshots-before {
  width: 100%;
  .slick-list {
    overflow: visible;
    opacity: 0.15;
  }
  .screenshot {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    height: 100%;
    overflow: hidden;
    width: 85%;
    -webkit-transform: scale3d(.70,.70,1);
    transform: scale3d(.70,.70,1);
    img {
      width: 100%;
      margin-top: 30%;
    }
  }
}

#trialsTribulations {
  .device__screen {
    overflow: hidden;
  }
}
.ipad__screenshots {
  width: 110%;
  .screenshot {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    height: 100%;
    overflow: hidden;
    width: 90%;
    img {
      width: 100%;
    }
  }
}
.ipad__screenshots-before {
  position: absolute !important;
  top: 0;
  width: 100%;
  .slick-list {
    overflow: visible;
    opacity: 0.15;
  }
  .screenshot {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    height: 100%;
    overflow: hidden;
    width: 50%;
    -webkit-transform: scale3d(.70,.70,1);
    transform: scale3d(.70,.70,1);
    img {
      width: 100%;
    }
  }
}

.highlight-content-block {
  li {
    padding-top: 0;
  }
  top: 0 !important;
  color: white;
  min-width: 240px;
  max-width: 360px;
  margin: 50px auto;
  overflow: hidden;
  .caption-optimal {
    position: relative !important;
    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    p {
      height: auto !important;
      font-size: 14px;
    }
  }
}

.find-interesting-things-faster {
  .iphone__graphic-highlight {
    top: 65%;
  }
}

.slideshow-caption-content {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  height: 100%;
  bottom: 0;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  font: 500 16px/1.5em "ff-meta-serif-web-pro", serif;
  cursor: default;
  .caption-optimal {
    width: 100%;
    position: relative;
    max-width: 210px;
    margin: 0 auto;
    padding: 0;
    display: none;
    h4 {
      margin: -20px 0 0 0;
      padding: 30px 0 5px 0;
      font: 700 13px/1.5em "Futura Bold", serif;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      color: #fff;
    }
    p {
      height: 1em;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      padding: 0;
      font-size: 16px;
      color: $white;
    }
    a {
      color: $white;
      margin: 0 3px;
    }
    .caption-continue {
          background: -webkit-linear-gradient(left, rgba(68,44,36,0) 0%, rgba(68,44,36,1) 30%);
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 30px;
      color: rgba(255,255,255,.6);
    }
  }
  .caption-optimal.active {
    display: block;
  }
}
.highlight-content {
  position: relative;
  left: 0;
  top: 20px;
  height: auto;
  z-index: 1;
  bottom: 0;
  display: block;
  vertical-align: middle;
  max-width: 220px;
  font: 500 11px/1.5em "ff-meta-serif-web-pro", serif;
  cursor: default;
  .highlight-content-inner {
    vertical-align: middle;
    display: inline-block;
  }
  .caption-optimal.active {
    display: block;
  }
  .caption-optimal {
    h4 {
      text-align: center;
    }
    p {
      height: 1em;
      overflow: hidden;
      position: relative;
      max-width: 210px;
      margin: 0 auto;
      padding: 0;
      font-size: 16px;
    }
    a {
      color: $white;
      margin: 0 3px;
    }
    .caption-continue {
      background: -webkit-linear-gradient(left, rgba(62,56,79,0) 0%, rgba(62,56,79,1) 30%);
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 30px;
      color: rgba(255,255,255,.6);
    }
    @extend .graphic-caption-content;
    display: none;
    vertical-align: middle;
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .graphic-caption-content {
    float: left;
    width: 100%;
    margin: 0 auto;
  }
}
.pagination-bar {
  position: relative;
  height: 40px;
  margin: 0 auto;
  max-width: 300px;
  top: 60px;
  .pagination-bar-outer {
    position: relative;
    height: 100%;
  }
  .pagination-bar-inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    overflow: hidden;
    background: rgba(255,255,255,.3);
  }
  .pagination-bar-handle {
    position: absolute;
    // width: 50%;
    border-top: 1px solid $white;
  }
}
