/* style part device iphone*/
.block__device-header {
  position: relative;
  display: block;
  .iphone__device {
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: -10px;
    }
    &:nth-child(2) {
      margin: 0 auto;
    }
    &:nth-child(3) {
      position: absolute;
      left: 66%;
      top: 10px;
    }
  }
}
.iphone__graphic-crosslink {
  position: relative;
  display: block;
  .iphone {
    @include e(device) {
      margin-left: 0;
      width: 47%;
    }
    @include e(lines) {
      left: 47%;
      top: 0;
    }
    @include e(aux-content) {
      width: 47%;
      left: 29%;
    }
  }
}
.iphone__graphic-deeplink {
  display: block;
  position: relative;
  .iphone {
    @include e(device) {
      width: 47%;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 54%;
      }
    }
    @include e(lines) {
      left: 49%;
      top: 0;
    }
    @include e(tap) {
      top: 52.5%;
      left: 30%;
    }
    @include e(arrow) {
      top: 27.5%;
      left: 56%;
    }
  }
}
.caption-box__slider {
  padding: 30px 0 82px 0;
  overflow: hidden;
  position: relative;
  display: block;
  .iphone__graphic-highlight {
    top: 73%;
  }
  .caption-box__block-overflow {
    width: 180%;
    margin-left: -40%;
    .iphone {
      @include e(device) {
        width: 23%;
        &:nth-child(1) {
          left: 5%;
          margin: inherit;
        }
        &:nth-child(2) {
          position: absolute;
          left: 38%;
          top: 0;
        }
         &:nth-child(3) {
          position: absolute;
          left: 71%;
          top: 0;
        }
      }
      @include e(block) {
        max-width: 1200px;
        margin: 0 auto;
      }
      @include e(device-group) {
        position: relative;
      }
      @include e(lines) {
        left: 49%;
      }
      @include e(tap) {
        left: 14%;
        top: 53%;
      }
      @include e(arrow) {
        left: 39%;
        top: 26%;
        z-index: 1;
      }
       @include e(tap--itinerary) {
        left: 48%;
        top: 34%;
      }
      @include e(arrow--itinerary) {
        left: 72%;
        top: 56.5%;
        z-index: 1;
      }
    }
  }
}

.source__block,
.mistakes__block,
.graphic-push-back-modals,
.graphic-protect-your-app {
  position: relative;
  display: block;
  .graphic-caption-content {
    top: 30%;
  }
}
.caption-box__block-mistakes {
  display: block;
  position: relative;
  .iphone {
    @include e(device-group) {
      margin-top: 0;
    }
    @include e(device) {
      width: 47%;
      margin-left: 0;
      &:nth-child(2) {
        position: absolute;
        left: 56%;
        top: 0;
      }
    }
    @include e(lines) {
      top: 0%;
      left: 49%;
    }
    @include e(tap) {
      top: 33%;
      left: 36%;
    }
    @include e(tap--itinerary) {
      @extend .iphone__tap;
      top: 32%;
      left: 40%;
    }
    @include e(arrow) {
      top: 28%;
      left: 57%;
    }
    @include e(arrow--itinerary) {
      @extend .iphone__tap;
      top: 32%;
      left: 40%;
    }
  }
}
.iphone__building-universal {
  display: block;
  position: relative;
  .iphone {
    @include e(block) {
      max-width: 780px;
    }
    @include e(device) {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .ipad__portrait {
    width: 71%;
    left: 14%;
  }
}
.ipad__block {
  max-width: 670px;
  margin: auto;
  padding: 0 5%;
  margin-top: 15px;
  margin-bottom: 2.0em;
  display: block;
  position: relative;
  span {
    display: block;
  }
}

.group-device__block {
  max-width: 780px;
  margin: auto;
  padding: 0 5%;
  margin-top: 15px;
  margin-bottom: 2.0em;
  display: block;
  position: relative;
  span {
    display: block;
  }
  .ipad__port {
    width: 71%;
    position: relative;
    left: 29%;
    &:before {
      padding-bottom: 130.2%;
      display: block;
      content: "";
    }
  }
}
.iphone {
  @include e(device-group) {
    @include m(content) {
      position: relative;
    }
  }
  @include e(block) {
    max-width: 525px;
    margin: auto;
    padding: 0 5%;
    margin-top: 15px;
    margin-bottom: 2.0em;
    display: block;
    position: relative;
    span {
      display: block;
    }
  }
  @include e(graphic-highlight) {
    background-image: url(../images/highlight-city-guides.png);
    position: absolute;
    top: 88%;
    left: 0;
    width: 100%;
    max-height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% -5px;
    opacity: 0.5;
    &:before {
      content: "";
      display: block;
      padding-bottom: 20%;
    }
  }
  @include e(device-content) {
    border-radius: 11%/5%;
    // overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  @include e(device) {
    width: 34.5%;
    position: relative;
    &:before {
      padding-bottom: 211.9%;
      content: "";
      display: block;
    }
  }
  @include e(screen) {
    position: absolute;
    top: 14%;
    left: 7%;
    right: 7%;
    bottom: 14%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @include e(shadow) {
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 20%;
    background-image: url(../images/iphone-shadow@2x.png);
    left: -5%;
    right: -5%;
    bottom: -5%;
  }
  @include e(chrome) {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../images/iphone@2x.png);
    top: -5%;
    left: -10%;
    right: -10%;
    bottom: -5%;
  }
  @include e(lines) {
    position: absolute;
    height: 100%;
    left: 35%;
    top: -8px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    z-index: 2;
  }
  @include e(aux-content) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 31%;
  }
  @include e(detail-crop) {
    position: absolute;
    left: 60%;
    bottom: 4%;
    border-radius: 50%;
    width: 75%;
    background: #191919;
    &:nth-child(2) {
      bottom: 58%;
    }
  }
  @include e(tap) {
    left: 30%;
    top: 50.5%;
    display: block;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-repeat: no-repeat;
    z-index: 2;
    @include size(50px);
    background-size: 50px 50px;
    background-image: url(../images/tap@2x.png);
  }
  @include e(arrow) {
    left: 54.2%;
    top: 26%;
    display: block;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-repeat: no-repeat;
    z-index: 2;
    @include size(22px, 12px);
    background-size: 22px 12px;
    background-image: url(../images/arrow@2x.png);
  }
  @include e(video) {
    width: 47%;
    margin: auto;
    position: relative;
    &:before {
      padding-bottom: 211.9%;
      content: '';
      display: block;
    }
  }
}

.caption-box__block,
.caption-box__around,
.caption-box__block-overflow,
.caption-box__block-mistakes{
  position: relative;
  display: block;
}

.iphone__arrow--itinerary {
  @extend .iphone__arrow;
}
.iphone__tap--itinerary {
  @extend .iphone__tap;
}

.iphone__screenshots {
  width: 140%;
  height: 100%;
  .slick-list {
    overflow: visible;
  }
  .screenshot {
    position: relative;
    float: left;
    width: 20%;
    margin: 0 5% 0 0;
    height: 100%;
    overflow: hidden;
    width: 45%;
    img {
      margin-top: 30%;
      width: 60%;
      opacity: 0.5;
    }
    .ipad__player-overlay {
      width: 60%;
    }
  }
  .slick-center {
    img {
      margin-top: 0;
      width: 100%;
      opacity: 1;
    }
    .ipad__player-overlay {
      width: 100%;
    }
  }
}
.highlight-content {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100px;
  .graphic-caption-content {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
  }
}
