#national-parks {
  .page-section {
    background: #442c24;
    color: #ffc3af;
  }
  .device__graphic-highlight {
    background-image: url(../images/highlight-national-parks.png);
  }
  .guides__title {
    p {
      color: #ffc3af;
    }
  }
  .guides__quote {
    em {
      color: #ffc3af;
    }
  }
  .guides__desc {
    a {
      color: #ffc3af;
    }
  }
}
.ipad__device {
  .device__shadow {
    background-image: url(../images/ipad-shadow@2x.png);
    left: -7.5%;
    right: -7.5%;
    bottom: -7.5%;
  }
  .device__chrome {
    background-image: url(../images/ipad@2x.png);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.best__title {
  @extend %heading-title;
}
.meeting__natgeo {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
  .meeting__title {
    margin: 0 auto 1em;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 1em;
      height: 1.55em;
      border: 0.16em solid #ffd800;
      margin: 0 auto 0.6em;
    }
  }
  .first-word {
    display: block;
    color: #a8705d;
    text-shadow: 0 0 0 #a8705d;
    font-family: "Futura Light";
    font-weight: 200;
    font-size: 0.65em;
    letter-spacing: 0.5em;
    line-height: 2em;
  }
  .image-wrapper {
    position: relative;
    &:before {
      display: block;
      content: "";
      padding-bottom: 62.7%;
    }
    img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}

.caption-deafaut {
  position: relative;
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
  color: $white;
  span {
    display: block;
  }
}
.circles-rectangles {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-left: 5%;
  padding-right: 5%;
  .caption-line-before {
    &:before {
      content: "";
      display: block;
      width: 17%;
      height: 20px;
      border: 1.5px dashed #e55b5b;
      position: absolute;
      opacity: 0.3;
    }
  }
  .caption-line-after {
    &:after {
      content: "";
      display: block;
      width: 17%;
      height: 20px;
      border: 1.5px dashed #e55b5b;
      position: absolute;
      opacity: 0.3;
    }
  }
  .caption-circle {
    @extend .caption-deafaut;
    &:before {
      @extend .caption-line-before;
      top: 50%;
      left: 15.5%;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
  }
  .caption-rectangle {
    @extend .caption-deafaut;
    &:before {
      @extend .caption-line-before;
      top: 50%;
      left: 15.5%;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    &:after {
      @extend .caption-line-after;
      bottom: 50%;
      margin-bottom: -1.5px;
      right: 15.5%;
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }
  .caption-rectangle-circle {
    @extend .caption-deafaut;
    &:after {
      @extend .caption-line-after;
      bottom: 50%;
      margin-bottom: -1.5px;
      right: 15.5%;
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }
  .circles {
    &:before {
      content: "";
      display: block;
      height: 8px;
      width: 6px;
      background: url(../images/arrow.png);
      background-size: 100%;
      position: absolute;
      left: 15.5%;
      top: 50%;
      margin-top: 20px;
      margin-left: -2.5px;
      opacity: 0.5;
    }
  }
  .image-wrapper {
    position: relative;
    &:before {
      display: block;
      content: "";
      padding-bottom: 31.25%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.2s linear;
    }
  }
}
.rounded-hexagon {
  display: block;
  margin: auto;
  width: 225px;
  .caption-hexagon {
    @extend .caption-deafaut;
    margin-bottom: 80px;
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 25px;
      border-left: 1.5px dashed #e55b5b;
      position: absolute;
      opacity: 0.3;
      top: 150%;
      left: 50%;
    }
    &:after {
      content: "";
      display: block;
      height: 8px;
      width: 6px;
      background: url(../images/arrow.png);
      background-size: 100%;
      position: absolute;
      left: 50%;
      top: 150%;
      margin-top: 20px;
      margin-left: -2.5px;
      opacity: 0.5;
    }
  }
  .image-wrapper {
    position: relative;
    &:before {
      display: block;
      content: "";
      padding-bottom: 113%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.2s linear;
    }
  }
}
.hex-sketches {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-left: 5%;
  padding-right: 5%;
  .caption-sketches {
    @extend .caption-deafaut;
    margin-bottom: 80px;
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 25px;
      border-left: 1.5px dashed #e55b5b;
      position: absolute;
      opacity: 0.3;
      top: 150%;
      left: 50%;
    }
    &:after {
      content: "";
      display: block;
      height: 8px;
      width: 6px;
      background: url(../images/arrow.png);
      background-size: 100%;
      position: absolute;
      left: 50%;
      top: 150%;
      margin-top: 20px;
      margin-left: -2.5px;
      opacity: 0.5;
    }
  }
  .image-wrapper {
    position: relative;
    &:before {
      display: block;
      content: "";
      padding-bottom: 117.5%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.2s linear;
    }
  }
}
.hex-slideshow {
  .caption-hex {
    @extend .caption-deafaut;
    margin: 80px 0;
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 25px;
      border-left: 1.5px dashed #e55b5b;
      position: absolute;
      opacity: 0.3;
      top: 150%;
      left: 50%;
    }
    &:after {
      content: "";
      display: block;
      height: 8px;
      width: 6px;
      background: url(../images/arrow.png);
      background-size: 100%;
      position: absolute;
      left: 50%;
      top: 150%;
      margin-top: 20px;
      margin-left: -2.5px;
      opacity: 0.5;
    }
  }
  .stamp-images-wrapper {
    overflow: hidden;
    .stamp-images {
      overflow-x: scroll;
      padding-bottom: 50px;
      margin-bottom: -50px;
    }
  }
  .stamp-images-overflow {
    width: 600%;
    overflow: hidden;
    padding: 0 0 50px;
  }
  .image-wrapper {
    float: left;
    width: 16.66%;
    position: relative;
    &:before {
      display: block;
      content: "";
      padding-bottom: 30%;
    }
    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
.attribution {
  font-family: "proxima-nova";
  font-size: 0.8em;
  display: block;
  margin: 1em 0;
  text-align: center;
}
.caption__employee {
  position: relative;
  margin: 60px 0;
  font-size: 13px;
  color: $white;
  text-align: center;
  img {
    display: block;
    margin: 2em auto;
    border-radius: 50%;
    min-width: 140px;
    max-width: 200px;
    width: 40%;
  }
  .job-title {
    font-family: "Futura Book";
    font-weight: 300;
    display: block;
    margin: auto;
    text-align: center;
    color: #e45b5b;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
  }
}
.national-parks-hero {
  span {
    display: block;
  }
  position: relative;
  .device__group {
    display: block;
    margin: -10px auto 0;
    max-width: 940px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .device__group-content {
    position: relative;
  }
  .ipad__device {
    width: 79.5%;
    position: relative;
    display: block;
    &:before {
      padding-bottom: 76.9%;
      content: "";
      display: block;
    }
  }
  .iphone__device {
    width: 21%;
    position: absolute;
    right: 0;
    bottom: 2%;
  }
}
.graphic-trials-tribulations-mapkit,
.slideshow-trials-tribulations,
.graphic-tray,
.device-slideshow-enabled {
  span {
    display: block;
  }
  position: relative;
}

.slideshow-trials-tribulations {
  .device__group {
    display: block;
    max-width: 670px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  .ipad__device {
    width: 100%;
    position: relative;
    display: block;
    &:before {
      padding-bottom: 76.9%;
      content: "";
      display: block;
    }
  }
}
.graphic-trials-tribulations-mapkit {
  .device__group {
    display: block;
    max-width: 670px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  .ipad__device {
    width: 100%;
    position: relative;
    display: block;
    &:before {
      padding-bottom: 76.9%;
      content: "";
      display: block;
    }
  }
}
.parks-icon-comparison {
  width: 271px;
  margin: 30px auto;
  overflow: hidden;
  .image-wrapper {
    position: relative;
    width: 124px;
    margin: 0 auto;
    padding: 0;
    &:before {
      display: block;
      content: "";
      padding-bottom: 117%;
    }
  }
  .icon-2 .image-wrapper {
    top: 35px;
    width: 62px;
    margin: 0 auto;
    padding: 0 0 72px;
  }
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
