/* styles part slider of iphone  */
#slider-device {
  overflow: hidden;
  max-width: 1200px;
  .iphone__chrome {
    top: 0;
  }
  .iphone__screen {
    top: 16%;
  }
  .iphone__device {
    width: 2%;
    margin-right: 40px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      float: left;
      height: 100%;
      margin: 0 50px 0 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
    }
  }
}

.highlight-content-slider {
  left: 110% !important;
}

#scroll-device {
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      width: 200px;
      float: left;
      height: 100%;
      margin: 0 50px 0 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
    }
  }
}
.scrollbar {
  position: relative;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background: rgba(255,255,255,.3);
  .handle {
    width: 5%;
    border-top: 1px solid #fff;
    .mousearea {
      position: absolute;
      top: -9px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }
}
