/* style  part page snowbird*/
#snowBird {
  overflow: hidden;
  .page-section {
    background: #0074a4;
    color: #caf2fd;
  }
  .numbered-title--cross {
    &:before {
      color:  #0074a4;
      background-color: #004f70;
    }
  }
  .guides__block-number {
    border-color: #64c4ec;
  }
  .guides__title p {
    color: #caf2fd;
    text-shadow: 0 0 0 #caf2fd;
  }
  a {
    color: #caf2fd;
  }
  .dribbble__title {
    a {
      color: #0074a4;
    }
    h2 {
      color: #0074a4;
    }
    .logo-dribbble:before {
      background: #0074a4;
    }
  }
  .city__better,
  .city__attribution {
    color: $white;
  }
  .highlight-content {
    .caption-optimal {
      .caption-continue {
        background: -webkit-linear-gradient(left, rgba(0,116,164,0) 0%, rgba(0,116,164,1) 30%)
      }
    }
  }
}
.graphic-mountains {
  .device__block {
    max-width: 780px;
  }
  .device__screen {
    top: 7.5%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.side-detection {
  .device__block {
    max-width: 1100px;
  }
}
.caption {
  position: relative;
  color: #fff;
  margin: 60px 0;
  text-align: center;
  font-family: "proxima-nova";
  font-weight: bold;
}
#slideshowPrototyping,
#slideshowMobileFirst {
  margin-bottom: 110px;
}
