#snowbird {
  .page-section {
    background: #0074a4;
    color: #caf2fd;
  }
  .numbered-title--cross {
    &:before {
      color:  #0074a4;
      background-color: #004f70;
    }
  }
  .guides__block-number {
    border-color: #64c4ec;
  }
}
