/* create menu of file */
.header-top {
  @include span-columns(12);
  background-color: rgba(20, 20, 20, 0.75);
  position: fixed;
}

.logo {
  @include span-columns(6);
  @include margin(em(15px) 0 0 em(10px)); 
}

.nav {
  @include span-columns(6);
  @include e(item) {
    @include padding(em(20px) em(10px));
    @include font-text(em(18px),bold, $white, $font-roboto);
    float: left;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    &:hover {
      color: #28b8d8;
    }
  }
}
