
# Vagrant files
#######################
__MACOSX/
cookbooks/

# Docpad compiled files
########################
out/
**/vender/

# NPM packages
########################
**/node_modules/

#Grunt files
######################
grunt/node_modules
grunt/.sass-cache

# temp files
#########################
*.*~
*.log
*.git
*.vagrant
*.map
*.sass-cache
