/* styles variable */

// font size base 
$em-base: 16px !default;

// font-face
$font-roboto: "Roboto", sans-serif;
$font-helveticaneue: "helveticaneue", sans-serif;

// color 
$white: #FFF;
$black: #000;
