/* styles variable */

.row {
  margin-bottom: 0;
}
// font size base 
$em-base: 16px !default;

// font-face
$font-roboto: "Roboto", sans-serif;
$font-helveticaneue: "helveticaneue", sans-serif;

// color 
$white: #FFF;
$black: #000;
$cl-boder-from: #926e4d; 

// button 
$cl-button-send: #926e4d;

// text
$intro-place: #926e4d;
