extends ../layouts/default
block variables
  - bodyClass = "contribute"
block content
  .content.contribute
    header.header-page
      h1.header-page__title.contribute__title Contribute
      p.header-page__desc Food Sense is created by a community of thoughtful, food-loving eaters and home cooks who have a palate for plant-based eating - for themselves or their loved ones; three days a week, or every day of the year.
      p.contribute__connect
        strong We want to hear from you!
    section.blog-wap
      h3.contribute__header Submit a Recipe to the Tastemakers Gallery:
      p.contribute__content Food Sense readers love cooking and eating really good food. Snag a spot in our Tastemakers Gallery for your dependably delicious creations, and help us all continue to share and spread that love.
      p.contribute__content
        a(href="javascript:void(0)") Submit a recipe.
      p.contribute__content
        small
          strong The fine print:
          |  A spot in the Tastemakers Gallery includes a photo, short description of your recipe, and a link back to your original post. Food Sense will always credit your photos and recipes. You are welcome to submit more than one recipe to the Gallery, and to return back here in the future to submit new recipes. However, in the interest of giving our readers the very best, please note that Food Sense reserves the right to test and select which recipes will be posted to the site.
      h3.contribute__header Get Interviewed for our Monologues series:
      p.contribute__content The Food Sense Monologues series is a collection of voices, each sharing a distinct journey to a plant-based lifestyle, and each inspiring others.
      p.contribute__content
        em When and why did you make the switch? What’s been challenging, and how have you dealt with those challenges? How do you share Thanksgiving with your family? What do you eat when you take important clients out to dinner? What did you eat for lunch today?
      p.contribute__content Add your story to our collection.
        a(href="javascript:void(0)") Submit an interview request.
      h3.contribute__header Apply to Join The A-List:
      p.contribute__content The Food Sense A-List is a thoughtfully curated collection of favorite vendors and is designed to give our readers the very best of a plant-based lifestyle. The A-List offers readers a worry-free consumer experience with handpicked products and companies. All of our A-List vendors enjoy an exclusive showcase that affirms a collective commitment to quality.
      p.contribute__content We look forward to considering your company for inclusion on our List.
        a(href="javascript:void(0)") Submit an application.
      h3.contribute__header Write for the Food Sense Blog:
      p.contribute__content We welcome guest posts by bloggers and writers from around the world. Send us an e-mail at
        a(href="mailto:hello@foodsense.is") hello@foodsense.is
        | with “Proposal for guest post” as your subject line. In the body of your e-mail, please provide a summary of your proposed guest post and two samples of your writing (as attached documents or links to your other work on the web).
      p.contribute__content  We are also looking for regular contributors to the Food Sense blog who can provide a specific and continually engaging perspective on eating and enjoying a plant-based diet.
      p.contribute__content Perhaps you’re a vegan parent and can share a weekly perspective on what it’s like to cook and eat in your home? Maybe you’re someone who dines out regularly in New York City and can share your experiences with our readers? Perhaps you’re cooking your way through a specific cookbook and want to share your experiences and photos with our readers?
      p.contribute__content Whatever your point of view, if you’re interested in writing for us, we’d love to hear from you. Send us an e-mail at
        a(href="mailto:hello@foodsense.is") hello@foodsense.is
        | with “Proposal for Food Sense column” as your subject line. In the body of your e-mail, please tell us what you’d like to write about. Also provide two samples of your writing (as attached documents, or links to your other work on the web). One of these writing samples should be a draft first post for your proposed column.
      p.contribute__content We will read every submission that we get. You’ll hear back from us within a week.
    aside.sub-bar
      include jade/contact.jade
      include jade/submit.jade
