.fixed-bottom {
  position: fixed;
  z-index: 3;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 6.5em;
  font-size: 0.8em;
  
  .sound {
    @include e(volume) {
      @extend %dislay-inline-block;
      @extend %position-relative;
      color: #926e4d;
      @extend %dislay-inline-block;
      width: em(32px);
      margin: 0 0 em(20px);
      &:hover {
        color: $white;
      }

      @include m(up) {
        @extend %position-absolute;
      }

      @include m(off) {
        @extend %position-absolute;
        display: none;
      }
    }

    @include e(text) {
      @extend %position-relative;
      @extend %dislay-inline-block;
      @include font-text(em(14px), normal, $white, $font-helveticaneue);

      @include m(state) {
        @extend %position-absolute;
        top: 0;
        left: em(60px);
        display: none;
        margin-left: em(5px);
      }

      @include m(separator) {
        @extend %position-absolute;
        top: 0;
        left: em(60px);
        margin-left: em(5px);
      }
    }    
  }
  .copyright {
    @include e(text) {
      @extend %dislay-inline-block;
      @include font-text(em(14px), inherit, $white, $font-helveticaneue);
      opacity: 0.5;
      &:after {
        content: '|';
        margin: em(10px);
      }
    }

    @include e(link) {
      @extend %dislay-inline-block;
      @include font-text(em(14px), lighter, $white, $font-helveticaneue);
    }
  }
}
