.about__icon {
  background: url("/images/icons/page-about.png") 0 -99px no-repeat;
}
.about {
  @include e(title) {
    margin-bottom: 20px;
    line-height: 1.4em;
    font-size: 1.3125em;
    font-weight: bold;
  }
  @include e(desc) {
    margin-bottom: 20px;
    line-height: 1.5em;
    @include m(images) {
      float: right;
      margin: 0 0 20px 20px;
      padding: 9px;
      background: #FFF;
      border: 1px solid #E5E5E5;
      -webkit-box-shadow: 1px 2px 3px #F5F5F5;
      -moz-box-shadow: 1px 1px 3px #F5F5F5;
      box-shadow: 1px 1px 3px #F5F5F5;
    }
    a {
      border-bottom: 1px dashed #E5E5E5;
    }
  } 
}
