.container-content
  article.services
    img.services__image(src='images/landspace.png' alt='landspace')
    h3.services__title Landscape
    p.services__description Curabitur blandit tempus porttitor. Duis mollis inceptos mollis
  article.services
    img.services__image(src='images/advertorial.png' alt='advertorial')
    h3.services__title Advertorial
    p.services__description Maecenas faucibus mollis interdum. Morbi risus porta ac consect
  article.services
    img.services__image(src='images/conceptual.png' alt='conceptual')
    h3.services__title Conceptual
    p.services__description Donec elit non porta gravida eget metus. Etiam porta sem malesu
