section.blog-wap
  article.vendors
    img.vendors__images(src="../images/the-a-list/Cherrybrook.jpeg")
    a(href="javascipt:void(0)").vendors__title Cherrybrook Kitchen
    p.vendors__desc Our goal is to provide delicious, all-natural baking mixes for the millions of people who are affected by food allergies. 
    a.vendors__link.button(href="javascipt:void(0)") Visit cherrybrookkitchen.com →
    aside
      p.vendors__note
        strong Julie:
        | These baking mixes turn out perfectly sweet, soft, moist, and crumbly treats - every time. You won't feel like you're missing a thing!
  article.vendors
    img.vendors__images(src="../images/the-a-list/DRY_250.jpg")
    a(href="javascipt:void(0)").vendors__title DRY Soda
    p.vendors__desc 
    p.vendors__desc DRY Soda has re-imagined what soda can be: better tasting & better for you. DRY Soda uses only four, all natural ingredients and keeps the pure cane sugar to a minimum.
    a.vendors__link.button(href="javascipt:void(0)") Visit drysoda.com →
    aside
      p.vendors__note
        strong Julie:
        | I love serving DRY Soda at get-togethers in my home. The flavors are always sophisticated and balanced, never too sweet, and pair with food so elegantly.
  article.vendors
    img.vendors__images(src="../images/the-a-list/matt_and_nat_bag.jpg")
    a(href="javascipt:void(0)").vendors__title Matt & Nat
    p.vendors__desc  Matt & Nat is a collection of design-centric, eco friendly and vegan accessories.
    a.vendors__link.button(href="javascipt:void(0)") Visit mattandnat.com →
    aside
      p.vendors__note
        strong Julie:
        | With their eye-catching style and incredible quality, I love my Matt & Nat handbags. I don't just buy them because they are vegan, but because they are simply great handbags.
  article.vendors
    img.vendors__images(src="../images/the-a-list/AList__NachoMoms.jpg")
    a(href="javascipt:void(0)").vendors__title Nacho Mom's Vegan Queso
    p.vendors__desc Whether heated and served on a chip, stuffed in a burrito or enchilada, or combined together in a layered dip, our line of vegan quesos are so good you may wind up eating 'em cold, outta the jar, with a spoon...we won't judge.
    a.vendors__link.button(href="javascipt:void(0)") Visit fatgoblin.com →
    aside
      p.vendors__note
        strong Julie:
        | I brought Nacho Mom's queso to a Mexican potluck (and served it warm in a fondue pot) - it was a huge hit with everyone!
  article.vendors
    img.vendors__images(src="../images/the-a-list/Pratima.jpeg")
    a(href="javascipt:void(0)").vendors__title Pratima Skincare
    p.vendors__desc The ayurvedic PRATIMA line delivers organic formulas that profoundly restore and visibly transform your skin with the purest ingredients.
    a.vendors__link.button(href="javascipt:void(0)") Visit pratimaskincare.com →
    aside
      p.vendors__note
        strong Julie:
        | Pratima's products have completely changed my skin for the better. My search-and-try routine for skincare ended the moment I found her line. 
  article.vendors
    img.vendors__images(src="../images/the-a-list/spork_2a_176-copy.jpg")
    a(href="javascipt:void(0)").vendors__title Spork Foods
    p.vendors__desc Spork Foods is an LA-based gourmet vegan food company offering cooking classes (live and online), in-home eating consultations and private cooking parties.
    a.vendors__link.button(href="javascipt:void(0)") Visit sporkfoods.com →
    aside
      p.vendors__note
        strong Julie:
        | A membership to Spork Online is worth every penny - with professionally-shot videos, dependably delicious recipes, and Heather & Jenny's expertise, you will learn so much in every class.
  article.vendors
    img.vendors__images(src="../images/the-a-list/AList_VeganCutsNew.jpg")
    a(href="javascipt:void(0)").vendors__title Cherrybrook Kitchen
    p.vendors__desc Vegan Cuts is a flash sale website featuring weekly deals on vegan products. They make it fun & easy to discover new companies & shop vegan.
    a.vendors__link.button(href="javascipt:void(0)") Visit vegancuts.com →
    aside
      p.vendors__note
        strong Julie:
        | One of the best ways to try out new products - at a discount! Vegan Cuts is highly committed to customer service and has a true knack for discovering gems among vegan products.
aside.sub-bar
  h4 Join the A-List
  p If you think your product or business is a good fit for the A-List you can
    a(href="javascipt:void(0)")  submit an application 
    | to join.
  include submit.jade
