body {
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 16px;
}
body:after {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: auto;
  left: auto;
  width: 432px;
  height: 882px;
  -webkit-transform: translate3d(50%, -50%, 0);
  -moz-transform: translate3d(50%, -50%, 0);
  -ms-transform: translate3d(50%, -50%, 0);
  -o-transform: translate3d(50%, -50%, 0);
  transform: translate3d(50%, -50%, 0);
  background-image: url('/app/images/img/app/chrome-iphone6-432x882@2x.jpg');
  content: '';
  display: block;
  background-size: contain;
  z-index: -1;
}

.container {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  max-width: 375px;
  max-height: 667px;
  margin: 0 auto;
}

.item-what-cooking {
  display: block;
  overflow: hidden;
  position: relative;
}

.list-activities .btn-primary {
  display: block;
  background-color: #d83e14 !important;
  color: white !important;
  font-size: 12px;
  line-height: 18px;
  line-height: 22px !important;
  padding: 1.2em 1.25em .95em !important;
  font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .3em;
  text-indent: .3em;
  float: none !important;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  white-space: nowrap;
}
.content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}