@media screen and (max-width: 1190px) and (min-width: 1024px) {
  //***********************************//
  //********* style page index ********//
  .services__item {
    &:nth-child(3) {
      border-top: none !important;
    }
    &:nth-child(4) {
      border-left: none !important;
    }
    &:nth-child(6) {
      border-left: none !important;
    }
    &:nth-child(5) {
      border-right: solid 1px !important;
    }
    &:nth-child(2) {
      border-top: solid 1px !important;
      border-right: solid 1px !important;
    }
  }
}
