<div class="list-recipes">
	<a [routerLink]="['RecipesDetails', { id: recipe.key }]" *ngFor="#recipe of recipes | randDomArray: 4" [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)" class="item-recipe">
		<span class="attribution">
			<span class="title-recipe">{{ recipe.object.title }}</span>
			<span class="metadata-recipe">
				<span class="author-recipe">{{ recipe.object.source.name }}</span>
				<span class="bookmarks-recipe">
					<i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
					0
				</span>
			</span>
		</span>
		<img src="app/images/img/recipes/320x350/{{recipe.object.name}}.jpg" alt="{{recipe.object.name}}">
	</a>
</div>
