.item-recipe {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    float: left;
    overflow: hidden;
    position: relative;
    width: 50%;
}
.attribution {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%);
    padding: .5rem;
    text-align: center;
    z-index: 1;
}

.title-recipe {
    font-size: 12px;
    line-height: 18px;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
    display: inline-block;
    line-height: 1.1em;
}

.metadata-recipe {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.author-recipe {
    font-size: 9px;
    line-height: 18px;
    font-family: 'lorabold', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: normal;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    line-height: 1;
    max-width: 90%;
    padding-right: 1rem;
}

.bookmarks-recipe {
    font-size: 10px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1;
    display: inline-block;
    margin-left: -1.25rem;
    padding: .3em .5em;
    vertical-align: middle;
}
.item-recipe img {
    display: block;
    height: auto;
    width: 100%;
}