<div class="recipe">
  <nav class="black">
    <div class="nav-group">
      <div class="nav-item"></div>
    </div>
    <div class="title-page"> Recipes
      <div class="subtext-page"></div>
    </div>
    <div class="nav-group">
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </nav>
  <div *ngIf="recipe" class="recipe-feed" [class.feed]="!condition">
    <div class="image-recipe" style="background-image: url('app/images/img/recipes/640x800/{{recipe.object.name}}.jpg');"></div>
    <div class="attribution-recipe"  >
      <h1 class="title-recipe" (click)="condition = 'open'" > {{recipe.object?.title}}</h1>
      <div class="metadata-wrapper" >
        <div class="description-recipe">{{recipe.object?.excerpt}}</div>
        <span class="source">{{recipe.object.source?.name}}</span>
        <span class="time">{{recipe.object?.cookTime}}</span>
      </div>
      <div class="btns-group">
        <button class="btn-secondary active" (click)="condition =''" (click)="isVisibleMake =''"> Make It</button>
        <button class="btn-secondary" (click)="condition =''" (click)="isVisiblePicture =''"> Pictures </button>
      </div>
    </div>
    <div class="make-scrollable" [class.open]="!isVisibleMake">
      <a href="" class="btn-tertiary">
        <span class="icon-camera">
        </span>
        Share that you made this
      </a>
      <h2 class="list-title"> Ingredients
      </h2>
      <ul class="list-ingredients">
        {{recipe.object?.ingredients}}
      </ul>
      <h2 class="list-title"> Directions </h2>
      <ol class="list-directions">
        {{recipe.object?.directions}}
      </ol>
      <a href="#" class="btn-primary"> See full recipe on Tartelette </a>
    </div>
    <div class="feed-scrollable" [class.open]="!isVisiblePicture">
      <a href="" class="btn-tertiary">
        <span class="icon-camera">
        </span>
        Share that you made this
      </a>
      <div class="list-activities">
        <div class="wrapper-message">
          <div class="title-message">No feed activity yet</div>
          <div class="subtitle-message">Be the first to share that you made this recipe. <a class="js-share">Share now</a></div>
        </div>
        <div class="bg-image" style="background-image: url('/app/images/img/activity/activity-placeholder-strawberry-640x640.jpg');"></div>
      </div>
    </div>
  </div>
</div>
