.image-recipe {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 78%;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.image-recipe:before {
   position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    z-index: 2;
    -webkit-transition: all 800ms ease-out;
    -moz-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    transition: all 800ms ease-out;
}
.recipe-feed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
    background: #FFF;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.attribution-recipe {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0;
    min-height: 9em;
    overflow: hidden;
    padding-top: 1.25em;
    padding-bottom: 4em;
    text-align: center;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.attribution-recipe {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.attribution-recipe:after {
    -webkit-transition: all 665ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -moz-transition: all 665ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -o-transition: all 665ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: all 665ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}

.attribution-recipe:after {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), #ffffff 20%, white 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), #ffffff 20%, white 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), #ffffff 20%, white 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), #ffffff 20%, white 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    width: auto;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: '';
    min-height: 12em;
    opacity: 1;
    z-index: -1;
}

.title-recipe {
    font-size: 22px;
    line-height: 26px;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: .5rem;
    padding: 0 1rem;
    width: 100%;
}
.title-recipe {
    -webkit-transition: all 525ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -moz-transition: all 525ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -o-transition: all 525ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: all 525ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}

.metadata-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-height: 10em;
    opacity: 1;
    overflow: hidden;
}
.metadata-wrapper {
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -moz-transition: all 350ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -o-transition: all 350ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
.source {
    font-family: 'lorabold', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: normal;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    padding-right: .25rem;
}
.time {
    font-size: 10px;
    line-height: 16px;
    color: #aaaaaa;
    display: inline-block;
    vertical-align: middle;
}

.btns-group {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: #666666;
}
.btn-secondary {
    background: #666666;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    line-height: 18px;
    line-height: 22px !important;
    padding: 1.2em 1.25em .95em;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
}

.active {
    background: #555555 !important;
    color: white;
}

.content-scrollable {
    top: 100%;
    margin-top: -1px;
}
.content-scrollable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.feed .attribution-recipe {
    bottom: 70%;
    min-height: 30%;
    cursor: pointer;
    padding-top: .75em;
    background-color: transparent;
}
.feed .attribution-recipe:after {
    background-image: none;
}
.feed .title-recipe {
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
    color: white;
    margin-top: 50%;
    width: 100%;
}

.feed .metadata-wrapper {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    max-height: 0;
    opacity: 0;
}
.feed .title-recipe {
    padding: 30px 0;
    margin-bottom: -40px;
}
.feed .make-scrollable {
    display: block;
    min-height: 70%;
    top: 30%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.make-scrollable, .feed-scrollable {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -moz-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -o-transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: all 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.feed .feed-scrollable {
    top: 30%;
    min-height: 70%;
}
.feed .make-scrollable {
    top: 30%;
    min-height: 70%;
}

.btn-tertiary {
    background: #f8f8f8;
    color: #d83e14 !important;
    font-size: 12px;
    line-height: 22px ;
    padding: 1.2em 1.25em .95em;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
    width: 92%;
    text-indent: .3em;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none ;
    vertical-align: middle;
    white-space: nowrap;
}

.list-title {
    font-size: 14px;
    line-height: 20px;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    background: #eeeeee;
    color: #333333;
    line-height: 1rem;
    text-align: center;
    padding: 2rem 1.25rem 1.25rem;
}

.btn-primary {
    background: #d83e14;
    color: #FFF !important;
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: normal;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    line-height: 22px !important;
    padding: 1.2em 1.25em .95em;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
}

.list-activities {
    background: white;
    min-height: 16em;
    overflow: auto;
    position: relative;
}

.wrapper-message {
    position: absolute;
    top: 55%;
    right: 50%;
    bottom: auto;
    left: auto;
    width: 85%;
    height: auto;
    -webkit-transform: translate3d(50%, -50%, 0);
    -moz-transform: translate3d(50%, -50%, 0);
    -ms-transform: translate3d(50%, -50%, 0);
    -o-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
    padding: 0 1.25rem;
    text-align: center;
}

.subtitle-message {
    font-size: 14px;
    line-height: 20px;
    color: #aaaaaa;
}
