.week-picker {
  margin: 5px;
  text-align: center;
  .date-item {
    color: #000;
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    margin: 2px;
  }
}
.week-title {
  color: #000;
  display: inline-block;
  width: 28px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
}  
  