<ul class="ui-select-content">
  <li *ngFor="#selected of selectedItems; #i=index" class="ui-select-match-item" >
    <button> {{selected[title]}}
      <a href="#" class="close-item" (click)="removeItem(i)"  ></a>
    </button>
  </li>
</ul>
<input type="text" class="form-control ui-select-bootstrap" placeholder="" [(ngModel)]="filterValue"
(click)="onKey()" (keyup)="onKey()"
>
<ul [class.select-open]="activeVisible === 'open'" class="dropdown-menu">
  <li (click)="multipleLevel" *ngFor="#item of _items | movieFilter:filterValue" [value]="item[title]"
      [class.hidden]="multipleLevel && (!item[childField] || item[childField].length == 0)">
    {{item[title]}}
    <ul *ngIf="item[childField]">
      <li *ngFor="#child of item[childField] " [value]="child"
        (click)="onSelect(child)"
        >
        {{child[title]}}
      </li>
    </ul>
  </li>
</ul>
