.contacto {
  @include size(100%, 530px);
  position: fixed;
  z-index: 2000;
  background-color: #FCFCFC;
  padding: 45px;
  top: -530px;
  -webkit-transition: all .4s cubic-bezier(0.93,-0.01,0,1.02);
  -moz-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  -o-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  h4 {
    font-size: 99px;
    width: 45%;
    font-family: 'rucreabold';
    font-weight: bold;
    line-height: 90px;
    display: block;
    float: left;
    text-transform: initial;
    letter-spacing: -4px;
  }
  p {
    width: 35%;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    float: left;
    clear: left;
    left: 5px;
    position: relative;
    top: 10px;
  }
  .forms {
    width: 560px;
    position: relative;
    float: right;
    margin-top: 0;
    top: -130px;
    margin-right: -60px;
    h5 {
      width: 200px;
      display: block;
      float: left;
      margin-right: 20px;
      font-family: 'rucreabold';
      letter-spacing: 2px;
      font-size: 16px;
    }
    h6 {
      @include size(230px, 100px);
      display: block;
      float: left;
      position: relative;
      border-bottom: none;
      border-top: none;
      padding-left: 20px;
      top: -20px;
      left: -20px;
    }
  }
  h3 {
    font-size: 18px;
    letter-spacing: 7px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: solid 5px #FF6C49;
    width: 190px;
    top: -11px;
    left: 28px;
  }
  .email {
    top: -65px;
    position: relative;
    font-size: 10px!important;
    font-style: italic;
    left: 0;
    a {
      color: #FE5438;
    }
  }
}
.cerrar {
  @include size(50px);
  position: relative;
  float: right;
  border: solid 1px;
  cursor: pointer;
}
.clientes {
  @include size(205px, 140px);
  margin-bottom: 70px;
  padding: 30px;
  display: block;
  position: relative;
}
.colaboradores {
  @include size(290px, 140px);
  margin-bottom: 70px;
  padding: 30px;
  display: block;
  position: relative;
}
.aspa1 {
  height: 1px;
  width: 15px;
  background-color: #4A4A4C;
  position: absolute;
  transform: rotate(45deg);
  top: 25px;
  left: 18px;
  -webkit-transition: all .4s cubic-bezier(0.93,-0.01,0,1.02);
  -moz-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  -o-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
}
.aspa2 {
  @include size(15px, 1px);
  height: 1px;
  width: 15px;
  background-color: #4A4A4C;
  position: absolute;
  transform: rotate(-45deg);
  top: 25px;
  left: 18px;
  -webkit-transition: all .4s cubic-bezier(0.93,-0.01,0,1.02);
  -moz-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  -o-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
}
.mascara-contact {
  @include size(50%, 90%);
  -webkit-transition: all .8s cubic-bezier(0.165,0.84,0.44,1)0.3s;
  transition: all .8s cubic-bezier(0.165,0.84,0.44,1)0.3s;
  position: absolute;
  background-color: #FCFCFC;
  right: 50%;
}
.mascara-contact.slow {
  width: 0;
}
.contacto.open {
  height: 530px;
  top: 0;
  padding: 45px;
}

.form {
  h6 {
    font-size: 12px;
    letter-spacing: 1px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #535355;
    border-top: solid 1px #535355;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.raya {
  @include size(36px, 3px);
  width: 36px;
  background-color: #4A4A4C;
  height: 3px;
  position: relative;
  top: -10px;
  -webkit-transition: all .8s cubic-bezier(0,-0.18,0,1.02);
  -moz-transition: all .8s cubic-bezier(0,-0.18,0,1.02);
  -o-transition: all .8s cubic-bezier(0,-0.18,0,1.02);
  transition: all .8s cubic-bezier(0,-0.18,0,1.02);
}
