/* style block intro */
.intro {
  position: relative;
  width: 100%;
  max-width: 1280px;
  text-align: center;
  margin-left: auto;
  margin-top: 410px;
  margin-right: auto;
  height: 220px;
  @include transition(all .8s cubic-bezier(0.26,0,0.09,0.99));
  &__logo {
    position: relative;
    width: 280px;
    height: 260px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 50px;
  }
  &__gris {
    background-image: url(../images/2-gris.png);
    width: 160px;
    height: 250px;
    background-size: cover;
    position: absolute;
    @include transition(all .8s cubic-bezier(0.26,0,0.09,0.99));
  }
  &__naranja {
    background-image: url(../images/2-naranja.png);
    width: 215px;
    height: 260px;
    position: absolute;
    background-size: cover;
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    top: 15px;
    left: -28px;
  }
  &__grado {
    background-image: url(../images/grado.png);
    background-size: cover;
    @include size(60px);
    position: absolute;
    left: 210px;
    top: -60px;
    @include transition(all .8s cubic-bezier(0.26,0,0.09,0.99));
  }
}
.pace-done {
  .intro {
    &__naranja {
      width: 200px;
      height: 250px;
      @include transition(all .4s cubic-bezier(0.26,0,0.09,0.99));
      top: 0;
      left: 0;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    &__grado {
      top: 10px;
    }
  }
  .claim {
    width: 80%;
    left: 0;
    transition-delay: 1s;
  }
  .loader {
    opacity: 0!important;
    transition: all .3s ease!important;
  }
  .wrapp-cases {
    transform: matrix(1,0.00,0.00,1,0,220);
    -webkit-transform: matrix(1,0.00,0.00,1,0,220);
    opacity: 1;
  }
}
.claim {
  @include size(0, 112px);
  @include transition(all .8s cubic-bezier(0.26,0,0.09,0.99));
  position: relative;
  top: 0;
  height: 112px;
  padding-top: 50px;
  z-index: 10;
  border-top: solid 1px #DEDEDE;
  border-bottom: solid 1px #DEDEDE;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  overflow: hidden;
  left: 200px;
  &__line {

  }
  &__mascara-claim {
    width: 100%;
    transition-delay: 1.2s;
    position: relative;

    height: 100%;
    background-color: #FFF;
    z-index: 1;
    top: 0;
    right: 0;
    @include transition(all 1s cubic-bezier(0.01,0.78,0.54,0.98));
    h3 {
      font-size: 12px;
      position: absolute;
      width: 100%;
    }
  }
}
.animsition {
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.wrapp-cases {
  width: 90%;
  background-color: #FCFCFC;
  height: 700px;
  position: relative;
  left: 5%;
  transform: matrix(1,0.00,0.00,1,0,620);
  -webkit-transform: matrix(1,0.00,0.00,1,0,620);
  @include transition(all 1.3s cubic-bezier(.77,0,.175,1));
  margin-bottom: 240px;
  opacity: 0;
  .til-section {
    top: -66px;
    border: none;
    width: 250px;
    height: 55px;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    h6 {
      width: 250px;
      height: 55px;
      font-size: 12px;
      color: #FF6C49;
      font-family: 'rucreamedium';
      padding-top: 20px;
      text-align: center;
      background-color: #FFF;
      z-index: 1;
    }
  }
  .line-scroll {
    height: 100px;
    background-color: #FF6C49;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 55px;
    z-index: 1;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
  }
}
.mascara-trama {
  background-color: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
  right: 0;
  @include transition(all .8s cubic-bezier(.77,0,.175,1));
  z-index: 1;
}
.mascara-trama.contraer {
  width: 0;
}

.animatedBorderSprite {
  position: absolute;
  margin: 0;
  background: url(../images/stripe.gif)
}

.animatedBorderSprite-top {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px
}

.animatedBorderSprite-bottom {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px
}
