/* style part slider*/
#cases {
  @include size(100%, 860px);
  position: absolute;
  top: 260px;
  clear: both;
  overflow: hidden;
}
.mediaslider {
  @include size(100%);
  position: absolute;
  background-size: cover;
  filter: alpha(opacity=1);
  opacity: 1;
  perspective: 1300px;
  overflow: hidden;
  max-width: 1600px;
  left: 50%;
  margin-left: -800px;
  background-position: center top;
}
#casoUno {
  background-image: url("../images/small/work-home-henry-saiz.jpg");
}
#casoDos {
  background-image: url("../images/small/work-home-mugako.jpg");
}
#casoTres {
  background-image: url("../images/small/work-home-apersonal.jpg");
}
.pogoSlider-dir-btn {
  position: absolute;
  z-index: 10;
  background: none;
  width: 70px;
  height: 70px;
  border-style: none;
  cursor: pointer;
  @include transition(all .4s cubic-bezier(0.26,0,0.09,0.99));
  top: 50%;
  margin-top: -25px;
}
.pogoSlider-dir-btn--prev {
  background-image: url(../images/arrow-ant.png);
  left: 150px;
}
.pogoSlider-dir-btn--next {
  background-image: url(../images/arrow-next.png);
  right: 150px;
}
.pogoSlider-nav {
  @include size(94px, 30px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 10;
  bottom: 44px;
  li {
    @include size(30px);
    display: inline;
    display: inline-block;
    border: solid 1px #818181;
    margin-left: -1px;
    position: relative;
    cursor: pointer;
    .pogoSlider-nav-btn {
      background: #818181;
      border: none;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      cursor: pointer;
      padding: 0;
      top: -17px;
      position: relative;
      opacity: 0;
      left: 11px;
      @include transition(all .8s cubic-bezier(0.26,0,0.09,0.99));
    }
    .pogoSlider-nav-btn--selected {
      background: #FF4503 ;
      height: 5px;
      opacity: 1;
      width: 5px;
    }
  }
}
.pogoSlider-progressBar {
  position: absolute;
  width: 350px;
  height: 150px;
  bottom: 351px;
  left: 50%;
  background: #fff;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  background: transparent;
  z-index: 6;
  margin-left: -174px;
  max-width: 1400px;
  .pogoSlider-progressBar-duration {
    height: 100%;
    left: 0;
    width: 0;
    background: #fff;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
    background: rgba(255,255,255,0.4);
    opacity: 0.1;
  }
}

.pogoSlider-slide-element {
  animation-fill-mode: both;
  color: #fff;
  position: absolute;
  z-index: 1000;
  top: 360px!important;
  width: 350px!important;
  border: solid 1px !important;
  text-align: center;
  left: 50%!important;
  margin-left: -175px!important;
  height: 150px!important;
  opacity: 1;
  .name__title {
    font-size: 12px;
    color: #fff;
    position: relative;
    top: 20px;
    left: 4px;
  }
  .line__enlarge {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #FF6C49;
    left: 50%;
    top: 67px;
    @include transition(all 500ms cubic-bezier(0.645,0.045,0.355,1.000));
    transition-delay: .4s;
  }
  a {
    font-size: 12px;
    color: #FF6C49;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

// pogoSlider-slide mediaslider pogoSlider-animation-upIn
.pogoSlider-animation-slideUpIn {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
    -moz-animation-name: slideUpIn;
    -ms-animation-name: slideUpIn
}

@-webkit-keyframes slideUpIn {
    0% {
        transform: translateY(50);
        -webkit-transform: -webkit-translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(50px);
        -webkit-transform: -webkit-translateY(50px);
        opacity: 0
    }
}

@keyframes slideUpIn {
    0% {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

.pogoSlider-animation-slideUpOut {
    -webkit-animation-name: slideUpOut;
    animation-name: slideUpOut
}

@-webkit-keyframes slideUpOut {
    0% {
        transform: translateY(0);
        -webkit-transform: -webkit-translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(50px);
        -webkit-transform: -webkit-translateY(50px);
        opacity: 0
    }
}

@keyframes slideUpOut {
    0% {
        transform: translateY(0);
        -webkit-transform: -webkit-translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(50px);
        -webkit-transform: -webkit-translateY(50px);
        opacity: 0
    }
}

.pogoSlider-animation-upIn {
    -webkit-animation-name: upIn;
    animation-name: upIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes upIn {
    0% {
        transform: translateY(20%);
        -webkit-transform: -webkit-translateY(20%);
        -webkit-filter: brightness(4);
        filter: brightness(4)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }
}

@keyframes upIn {
    0% {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -webkit-filter: brightness(4);
        filter: brightness(4)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }
}

.pogoSlider-animation-upOut {
    -webkit-animation-name: upOut;
    animation-name: upOut;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes upOut {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }

    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%)
    }
}

@keyframes upOut {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }

    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100)
    }
}

.pogoSlider-animation-downIn {
    -webkit-animation-name: downIn;
    animation-name: downIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes downIn {
    0% {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -webkit-filter: brightness(4);
        filter: brightness(4)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }
}

@keyframes downIn {
    0% {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -webkit-filter: brightness(4);
        filter: brightness(4)
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -webkit-filter: brightness(1);
        filter: brightness(1)
    }
}

.pogoSlider-animation-downOut {
    -webkit-animation-name: downOut;
    animation-name: downOut;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes downOut {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }

    100% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%)
    }
}

@keyframes downOut {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0)
    }

    100% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%)
    }
}

.carteles {
  position: relative;
  display: block;
  height: 737px;
  top: -13px;
}
.cover-slider {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.cover-slider__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  list-style: none;
  z-index: 0;
  opacity: 1
}

.cover-slider__slide.actives {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.cover-slider__slide.inactives {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-name: slideout;
  animation-name: slideout;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes slidein {
  from {
    left: 0;
    right: 100%
  }
  to {
    left: 0;
    right: 0
  }
}

@keyframes slidein {
  from {
    left: 0;
    right: 100%
  }

  to {
    left: 0;
    right: 0
  }
}

@-webkit-keyframes slideout {
  from {
    left: 0;
    right: 0
  }

  to {
    left: 100%;
    right: 0
  }
}

@keyframes slideout {
  from {
    left: 0;
    right: 0
  }

  to {
    left: 100%;
    right: 0
  }
}

.cover-slider__slide:nth-child(1) {
  background-image: url(../images/branding-mugako-cuadro-mu.png)
}

.cover-slider__slide:nth-child(2) {
  background-image: url(../images/branding-mugako-cuadro-ga.png)
}

.cover-slider__slide:nth-child(3) {
  background-image: url(../images/branding-mugako-cuadro-foto.jpg)
}


