doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Example materialize
    link(href='styles/styles.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .container
      // example part component 
      include partials/component.jade
      // example slide
      include partials/slider.jade
      // example modal 
      include partials/modal.jade
      // example part collapsible
      include partials/collapsible.jade
      // example parallax
      include partials/parallax.jade
      // example footer 
      include partials/footer.jade
      script(type="text/javascript" src="js/main.js")

