<ul class="ui-select-content">
  <li *ngFor="#selected of selectedItems; #i=index" class="ui-select-match-item" >
    <button> {{selected.text}}
      <a href="#" class="close-item" (click)="removeItem(i)"  ></a>
    </button>
  </li>
</ul>
<input type="text" class="form-control ui-select-bootstrap" placeholder="" [(ngModel)]="filterValue"
(click)="onKey()" (keyup)="onKey()"
>
<ul [class.select-open]="acticeVisible === 'open'" class="dropdown-menu">
  <li (click)="multipleLevel" *ngFor="#item of _items | movieFilter:filterValue" [value]="item.text"
      [class.hidden]="!item.children || item.children.length == 0">
    {{item.text}}
    <ul *ngIf="item.children">
      <li *ngFor="#child of item.children " [value]="child"
        (click)="onSelect(child)"
        >
        {{child.text}}
      </li>
    </ul>
  </li>
</ul>
