.footer-page {
  background: #f2f2f2;
  max-width: 100%;
  padding-top: 0;
  clear: left;
  position: relative;
  .footer-logo {
    img {
      width: 20px;
      position: absolute;
      left: 5%;
      padding-top: 45px;
    }
  }
  .footer-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    .foot-first {
      display: block;
    }
    h4 {
      text-transform: uppercase;
      font-size: 10px;
    }
    p {
      font-size: 9px;
      padding-bottom: 12px;
      line-height: 1.65;
    }
  }
  .footer-social {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    .social__facebook {
      @extend %social__footer;
      background-image: url(../images/share-facebook@2x.png);
    }
    .social__twitter {
      @extend %social__footer;
      background-image: url(../images/share-twitter@2x.png);
    }
    .social__dribbble {
      @extend %social__footer;
      background-image: url(../images/share-dribbble@2x.png);
    }
  }
}
