.container {
  min-height: 100%;
  // -webkit-transform: scale(1);
  overflow: hidden;
}
.city-container {
  display: block;
}

.page-slider {
  overflow: hidden;
  position: relative;
  button:focus {
    outline: none;
  }
  .slider {
    // min-height: 690px;
    overflow: hidden;
    a {
      width: 100%;
      height: auto;
      max-height: auto;
      overflow: hidden;
    }
    h2 {
      width: 100%;
      height: auto;
      background-color: #000;
    }
  }
  .slick-dots {
    li {
      // display: none;
    }
  }
  .slick-slide {
    float: left;
  }
  .slick-slider {
    height: auto;
    margin-bottom: 0;
    li {
      height: auto;
    }
  }
  .slick-prev, .slick-next {
    border: none;
    position: absolute;
    z-index: 3;
    top: 44%;
    background-color: transparent;
    &:focus {
      border-color: none !important;
    }
  }
  .slick-prev {
    left: 0;
    @include size(110px, 80px);
    // @include orbit-next-prev($button-size: rem-calc(80), $top: 4px, $right: 4px);
    span {
      @include size(40px);
      display: block;
      border-style: solid;
      border-color: $white;
      border-width: 0px 0px 5px 5px;
      -webkit-transform: rotateZ(45deg);
      background-color:ransparent;
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
  }
  .slick-next  {
    right: 0;
    @include size(100px);
    // @include orbit-next-prev($button-size: rem-calc(80), $top: 4px, $right: 4px);
    span {
      @include size(40px);
      display: block;
      border-style: solid;
      border-color: $white;
      border-width: 5px 5px 0px 0px;
      -webkit-transform: rotateZ(45deg);
      background-color:ransparent;
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
  }
  button:focus {
    border: none;
  }
}

