@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container-page {
    width: 712px;
    padding: 20px 28px 0;
  }
  .wap-content {
    width: 100%;
  }
  .featured {
    .slide__item {
      // width: 100%;
    }
  }
  .side-bar {
    top: 40px;
    left: auto;
    right: 0;
    width: 528px;
    margin: 0;
    .item {
      @include flexbox();
      flex-flow: row wrap;
      justify-content: flex-end;
      li {
        a {
          background-position: 50% 0;
          padding: 40px 0 0 0;
          margin-right: 20px;
        }
      }
    }
  }
  .side-social {
    display: none;
  }
}
