%heading-title {
  font-size: 60px;
  color: #FFF;
  position: relative;
  display: block;
  letter-spacing: -0.07em;
  padding-right: 0.07em;
  line-height: 0.82em;
  padding-top: 0.25em;
  font-weight: 700;
}
