footer(role='siteinfo')
  p
    a(href='http://foodsense.is/legal') 
      | Privacy Policy
    a(href='http://foodsense.is/legal#terms') 
      | Terms of Us  
    a(href='mailto:hello@foodsense.is') 
      | Contact
    span.copyright
      | © 2015 Food Sense, all rights reserved.
  .social
    ul
      li.twitter
        a(href='http://twitter.com/getfoodsense') Twitter
      li.facebook
        a(href='http://www.facebook.com/getfoodsense') Facebook
      li.rss
        a(href='http://foodsense.is/rss') Subscribe via RSS
