extends layouts/default
block variables
  - bodyClass = "index"
block content
  .container
    include templates/modules/menu.jade
    .page-slider
      ul.slider-item
        li.slick-slide
          include templates/site-body.jade
        li.slick-slide
          include templates/city-guides.jade
        li.slick-slide
          include templates/powder.jade
        li.slick-slide
          include templates/national-parks.jade
