extends ../layouts/default
block variables
  - bodyClass = "a-list"
block content
  .content
    header.header-page
      h1.header-page__title.a-list-title The A-List
      p.header-page__desc A thoughtfully curated collection of favorite vendors, in every category from food products to skincare. Check out the A-List before you shop, and you’ll know you’re getting the very best on the market.
    include jade/content-alist.jade
