@media screen and (max-width: 480px) {
  .container-page {
    width: 320px;
    padding: 0;
  }
  .wap-content {
    width: 100%;
  }
  .content {
    width: 100%;
    overflow: hidden;
  }
  .logo {
    width: 100%;
    margin: 69px 0 20px;
    .logo__brand {
      margin: 0 auto;
    }
  }
  .featured {
    height: auto;
    #slide-2, #slide-4 {
      h1, h2 {
        left: 0;
        width: 300px;
      }
    }
    h1 {
      top: 214px;
      padding: 10px 10px;
      background: rgba(255,255,255,.8);
      color: #222;
      font-size: 13.5px;
      float: left;
      width: 300px;
    }
    h2 {
      top: 248px;
      padding: 9px 10px 11px;
      font-size: .875em;
      float: left;
      width: 300px;
      font-size: 9.5px;
    }
    .slide {
      height: 310px;
    }
    .slide__credit {
      top: 290px;
      right: 0;
      font-size: 6px;
      &:before {
        content: '* ';
      }
    }
  }
  .newsletter {
    flex-direction: column;
    margin-top: 10px;
    .newsletter__desc {
      width: 100%;
      background-position: 15px 14px;
    }
    .newsletter__submit {
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }
  .side-social {
    display: none;
  }
  .navigation {
    display: none;
  }
  .side-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    font-size: .75em;
    border-bottom: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 0 #F5F5F5;
    -moz-box-shadow: 0 1px 0 #F5F5F5;
    box-shadow: 0 1px 0 #F5F5F5;
    .item {
      padding: 16px 8px 6px;
      li {
        display: inline-block;
        a {
          background: none;
          padding: 0 6px 0 6px;
          font-size: 12px;
        }
      }
    }
  }

  .blog {
    flex-direction: column;
    padding: 0 16px;
    width: 90%;
    .ad-block {
      width: 280px;
      margin-right: 0;
      .ad-block__head {
        width: 280px;
      }
      .ad-block__img {
        width: 260px;
      }
    }
  }
  .blog-wap {
    width: 90%;
  }
  .sub-bar {
    width: 90%;
    padding: 0 16px;
  }

  .blog-post {
    .blog-post__imges {
      float: left;
      margin: 0 68px 20px 0;
    }
  }
  .header-page {
    width: auto;
    padding: 0 16px 20px;
    .header-page__desc {
      width: 100%;
    }
  }
  .main {
    padding: 0 16px;
    width: 90%;
    .product {
      @include size(266px, 480px);
      margin: 0 0 28px 0;
    }
  }
}
