/* styles responsive video and form  */

.video {
  position: relative;
  @include e(wapper) {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    @include margin(em(20px) 0);
    embed,
    object,
    iframe {
      @include position(absolute, 0px null null 0px);
      @include size(100%);
    }
  }
  &:hover {
    .video__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  @include e(tooltip) {
    @include position(absolute, 40px null null 30%);
    @include transition(all 0.2s ease-in-out);
    @include border-radius(5px);
    background-color: $blue;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    width: 12em;
    z-index: 10;
    color: $white;
    &:after {
    @include position(absolute, null 0 null);
    bottom: -0.9em;
    color: $blue;
    content: "\25BE";
    font-size: 1.4em;
    text-align: center;
  }
  }
}
.reply-controll {
  @include outer-container(100%);
  position: relative;
  border: em(1px) solid $light-gray;
  @include border-radius(5px);
  @include margin(0 0 em(50px));
  @include e(title) {
    @include font-text(em(18px), bold, $black, $font-roboto);
    @include padding(em(20px) em(50px));
  }

  @include e(action) {
    @include margin(em(20px) em(50px));
  }
}
