/* styles responsive video and form  */

.video {
  @include e(wapper) {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    @include margin(em(20px) 0);

    embed,
    object,
    iframe {
      @include position(absolute, 0px null null 0px);
      @include size(100%);
    }
  }
}
.reply-controll {
  @include outer-container(100%);
  border: em(1px) solid $light-gray;
  @include border-radius(5px);
  @include margin(0 0 em(50px));
  @include e(title) {
    @include font-text(em(18px), bold, $black, $font-roboto);
    @include padding(em(20px) em(50px));
  }

  @include e(action) {
    @include margin(em(20px) em(50px));
  }
}
