.ribbon {
  height: 900px;
  background-color: $white;
  overflow: hidden;
  display: block;
  position: relative;
  .page-head-content {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    top: 45%;
    z-index: 9;
    .name-title {
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
      color: #2f363b;
      padding: 20px 0;
    }
    .name-desc {
      vertical-align: middle;
      font-family: "Futura Book";
      font-size: 7px;
      font-weight: 300;
      line-height: 0.95;
      letter-spacing: 0.25em;
      text-align: center;
      text-transform: uppercase;
      color: #2f363b;
    }
  }
}
.site-badge {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  margin: -380px 0 0 -55px;
  @include e(content) {
    @include size(100%);
    -webkit-perspective: 200px;
    perspective: 200px;
  }
  @include e(perspective) {
    @include size(100%);
    webkit-transition: -webkit-transform .5s ease-out;
  }
  .badge-diamond {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 110px;
    background-color: rgba(255,255,255,0);
    background: url(../images/badge-diamond.png);
    background-size: 110px 220px;
  }
  .badge-diamond-bg {
    width: 100%;
    height: 100%;
    background: url(../images/badge-diamond.png);
    background-position: 0 -110px;
    background-size: 110px 220px;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
  }
  .badge-text {
    position: relative;
    z-index: 1;
    font-family: "ff-meta-serif-web-pro";
    font-style: italic;
    text-align: center;
    line-height: 112px;
    color: rgba(0,0,0,.2);
    .badge-back {
      display: block;
      position: absolute;
      top: 51px;
      left: 20px;
      width: 13px;
      height: 9px;
      background-image: url(../images/badge-arrows.png);
      background-repeat: no-repeat;
      opacity: .2;
      -webkit-transition: opacity .3s linear;
    }
    .badge-current {
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      font-family: "Futura Bold";
      font-style: normal;
      font-size: 14px;
    }
  }
}

.down-arrow {
  // visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 44px;
  width: 55px;
  height: 55px;
  margin: 0 0 0 -27px;
  background: url(images/down-diamond.png);
  background-size: 55px 55px;
  .arrow-next {
    position: absolute;
    top: 22px;
    left: 21px;
    width: 13px;
    height: 15px;
    background: url(../images/down-arrow.png);
    background-size: 13px 15px;
  }
}
.ribbon-block {
  position: relative;
  top: 20%;
  display: block;
  -webkit-animation: mymove 5s ease;
  -webkit-animation-delay: 2s;
  animation: mymove 5s ease;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  .ribbon-1 {
    width: 128px;
    height: 66px;
    top: 100px;
    position: absolute;
    left: 0px;
    transform: skew(1deg);
    -webkit-transform: skew(1deg);
    -moz-transform: skew(1deg);
    -o-transform: skew(1deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-2 {
    width: 74px;
    height: 180px;
    top: 100px;
    position: absolute;
    left: 110px;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: red;
  }
  .ribbon-3 {
    width: 70px;
    height: 280px;
    position: absolute;
    left: 220px;
    transform: skew(-28deg);
    -webkit-transform: skew(-28deg);
    -moz-transform: skew(-28deg);
    -o-transform: skew(-28deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-4 {
    width: 70px;
    height: 315px;
    position: absolute;
    left: 336px;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    background: red;
  }
  .ribbon-5 {
    width: 105px;
    height: 84px;
    position: absolute;
    top: 231px;
    left: 460px;
    transform: skew(121deg);
    -webkit-transform: skew(121deg);
    -moz-transform: skew(121deg);
    -o-transform: skew(121deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-6 {
    width: 241px;
    height: 45px;
    position: absolute;
    top: 187px;
    left: 566px;
    transform: skew(121deg);
    -webkit-transform: skew(121deg);
    -moz-transform: skew(121deg);
    -o-transform: skew(121deg);
    background: red;
  }
  .ribbon-7 {
    width: 98px;
    height: 105px;
    position: absolute;
    top: 187px;
    left: 662px;
    transform: skew(121deg);
    -webkit-transform: skew(121deg);
    -moz-transform: skew(121deg);
    -o-transform: skew(121deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-8 {
    width: 210px;
    height: 45px;
    position: absolute;
    top: 292px;
    left: 581px;
    transform: skew(200deg);
    -webkit-transform: skew(200deg);
    -moz-transform: skew(200deg);
    -o-transform: skew(200deg);
    background: red;
  }
  .ribbon-9 {
    width: 62px;
    height: 98px;
    position: absolute;
    top: 292px;
    left: 791px;
    transform: skew(208deg);
    -webkit-transform: skew(208deg);
    -moz-transform: skew(208deg);
    -o-transform: skew(208deg);
    background: red;
  }
  .ribbon-10 {
    width: 63px;
    height: 250px;
    position: absolute;
    top: 140px;
    left: 910px;
    transform: skew(143deg);
    -webkit-transform: skew(143deg);
    -moz-transform: skew(143deg);
    -o-transform: skew(143deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-11 {
    width: 63px;
    height: 250px;
    position: absolute;
    top: 140px;
    left: 984px;
    transform: skew(171deg);
    -webkit-transform: skew(171deg);
    -moz-transform: skew(171deg);
    -o-transform: skew(171deg);
    background: red;
  }
  .ribbon-12 {
    width: 63px;
    height: 150px;
    position: absolute;
    top: 240px;
    left: 1021px;
    transform: skew(143deg);
    -webkit-transform: skew(143deg);
    -moz-transform: skew(143deg);
    -o-transform: skew(143deg);
    background: red;
  }
  .ribbon-13 {
    width: 272px;
    height: 50px;
    position: absolute;
    top: 240px;
    left: 1067px;
    transform: skew(147deg);
    -webkit-transform: skew(147deg);
    -moz-transform: skew(147deg);
    -o-transform: skew(147deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-14 {
    width: 63px;
    height: 250px;
    position: absolute;
    top: 240px;
    left: 1360px;
    transform: skew(207deg);
    -webkit-transform: skew(207deg);
    -moz-transform: skew(207deg);
    -o-transform: skew(207deg);
    background: red;
  }
  .ribbon-15 {
    width: 68px;
    height: 250px;
    position: absolute;
    top: 240px;
    left: 1518px;
    transform: skew(143deg);
    -webkit-transform: skew(143deg);
    -moz-transform: skew(143deg);
    -o-transform: skew(143deg);
    background: red;
    opacity: 0.7;
  }
  .ribbon-16 {
    width: 68px;
    height: 250px;
    position: absolute;
    top: 240px;
    left: 1709px;
    transform: skew(218deg);
    -webkit-transform: skew(218deg);
    -moz-transform: skew(218deg);
    -o-transform: skew(218deg);
    background: red;
    opacity: 0.7;
  }
}
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
