/* styles module parallel line */
.parallel-lines {
  width: em(100px);
  height: em(5px);
  display: inline-block;
  border-top: solid em(1px) $color-parallel;
  border-bottom: solid em(1px) $color-parallel;
}
