.service-offer {
  @include outer-container(50%);
  text-align: center;
  margin-bottom: em(30px);
  @include e(grey-line) {
    width: em(100px);
    height: em(8px);
    display: inline-block;
    border-top: solid em(1px) #e1dddd;
    border-bottom: solid em(1px) #e1dddd;
  }
  @include e(do) {
    @include font-text(em(18px),bold, $black, 'Roboto');
    text-transform: uppercase;
    display: inline-block;
    margin: 0 em(15px);
  }
}
