<div class="container">
	<div class="content-container">
		<nav class="black">
			<div class="nav-group">
				<a class="nav-item js-menu" href="#"><span class="icon-menu"></span></a>
			</div>
			<div class="title-page"> Local Market
				<span class="subtext-page"></span>
			</div>
			<div class="nav-group right">
			</div>
			</nav>
		<menu></menu>
		<div class="content-scrollable">
			<div class="bg-image home">
				<h1 class="title-home">
					<img src="app/images/img/app/logo-local.svg" alt="Local Market"/>
				</h1>
				<span class="hour"><span class="title-callout">Hours</span> Mon–Fri 9-6pm, Sat 10-5pm</span>
				<span class="arrow"></span>
	  		</div>	
			<div class="callout-news">
				<span class="title-callout">
					{{titleNew}}					
				</span>
				{{news}}
			</div>
			<what-see class="item-what-cooking"></what-see>
<!-- 			<h2 class="list-title">Our Favorite Recipes</h2>
			<div class="list-subtitle">Hand-picked by neighborhood chefs</div> -->
			<div class="list-recipes">
				<a href="" *ngFor="#recipe of recipes | convertObjectToArray:4" class="item-recipe">
					<span class="attribution">
						<span class="title-recipe">{{ recipe.object.title }}</span>
						<span class="metadata-recipe">
							<span class="author-recipe">{{ recipe.object.source.name }}</span>
							<span class="bookmarks-recipe">
								<span class="icon-bookmark"></span>
								0
							</span>
						</span>
					</span>
					<img src="app/images/img/recipes/320x350/{{recipe.object.name}}.jpg" alt="">
				</a>
			</div>
			<a href="" (click)="onRecipes()" class="btn-primary">Explore all our recipes</a>
		</div>
	</div>
</div>
