<div class="container">
	<div class="content-container">
		<nav class="black">
			<div class="nav-group">
				<a class="nav-item js-menu" href="#"><span class="icon-menu"></span></a>
			</div>
			<div class="title-page"> Local Market
				<span class="subtext-page"></span>
			</div>
			<div class="nav-group right">
			</div>
			</nav>
		<menu></menu>
		<div class="content-scrollable">
			<div class="bg-image home">
				<h1 class="title-home">
					<img src="app/images/img/app/logo-local.svg" alt="Local Market"/>
				</h1>
				<span class="hour"><span class="title-callout">Hours</span> Mon–Fri 9-6pm, Sat 10-5pm</span>
				<span class="arrow"></span>
	  		</div>	
			<div class="callout-news">
				<span class="title-callout">
					{{titleNew}}					
				</span>
				{{news}}
			</div>
			<what-see class="item-what-cooking"></what-see>
			<div class="list-recipes">
				<a href="" *ngFor="#recipe of recipes" class="item-recipe">
					<span class="title-recipe">{{recipe['source'].name}}</span>
					<span class="attribution">
						<span class="metadata-recipe"></span>
					</span>
					<img src="" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
