doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Example bourbon neat
    link(href='styles/styles.css', rel='stylesheet')
  body
    .container
      //- // part grid
      //- include partials/grid.jade
      //- // part bar top of site
      //- include partials/bar-top.jade
      //- // part menu of site
      //- include partials/menu.jade
      //- // par orbit
      //- include partials/orbit.jade
      //- // part clearing
      //- include partials/clearing.jade
      //- // part alert
      //- include partials/alert.jade
      //- // part tooltip
      //- include partials/tooltip.jade
      //- // part joyride
      //- include partials/joyride.jade
      //- // part accordion
      //- include partials/accordion.jade
      //- // part tab-content
      //- include partials/tab.jade
      //- // part equalizer
      //- include partials/equalizer.jade

      //styles page buy domain
      // part nav bar
      include templates/nav-bar.jade
      // part background based
      include templates/based.jade
      // part exchange
      include templates/exchange.jade
      // part hosting package
      include templates/hosting-package.jade
      // part clients portfolio
      include templates/clients-portfolio.jade
      script(type="text/javascript" src="js/main.js")
