section.blog
  article.ad-block
    a.ad-block__head(href="javascript:void(0)")
      img.ad-block__img(src="images/desktop/cookbooks_blog.jpg" data-at2x="images/desktop/cookbooks_blog.jpg", alt="cookbooks")
      h2.ad-block__title 2012’s Best Summer Cookbooks
    p.ad-block__desc With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection of 10 summer cookbooks.
    p.ad-block__meta
      time(datetime="2012-05-23T02:41-05:00" pubdate="") May 23, 2012
      a(href="javascript:void(0)") Read
  article.ad-block
    a.ad-block__head(href="javascript:void(0)")
      img.ad-block__img(src="images/desktop/SweetPotatoChips.jpg" data-at2x="images/desktop/SweetPotatoChips.jpg", alt="cookbooks")
      h2.ad-block__title How to Make Vegetable Chips
    p.ad-block__desc About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn, and before a very thoughtfully prepared vegan…
    p.ad-block__meta
      time(datetime="2012-05-17T08:35-05:00" pubdate="") May 17, 2012
      a(href="javascript:void(0)") Read
  article.ad-block
    a.ad-block__head(href="javascript:void(0)")
      img.ad-block__img(src="images/desktop/Pinterest_Page_featured.png" data-at2x="images/desktop/Pinterest_Page_featured.png", alt="cookbooks")
      h2.ad-block__title Join us on Pinterest!
    p.ad-block__desc If I could curate a cookbook for you, this would be it.
    p.ad-block__meta
      time(datetime="2012-05-16T09:59-05:00" pubdate="") May 16, 2012
      a(href="javascript:void(0)") Read
  article.ad-block
    a.ad-block__head(href="javascript:void(0)")
      img.ad-block__img(src="images/desktop/Adithi_Dinner_blog.jpg" data-at2x="images/desktop/Adithi_Dinner_blog.jpg", alt="cookbooks")
      h2.ad-block__title Dairy Free Chocolate Ice Cream Torte
    p.ad-block__desc I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Sunday supper - eat them slowly, a little bit at…
    p.ad-block__meta
      time(datetime="2012-05-15T09:42-05:00" pubdate="") May 15, 2012
      a(href="javascript:void(0)") Read
