extends layouts/default
block variables
  - bodyClass = "tastemaker"
block content
  .content
    header.blog-page
      h1.blog__icon Blog 
      p.blog__desc Eat up the latest news, recipe collections, cooking tips, and personal journeys to a plant-based life.
    include templates/blog.jade
