doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title foodsense
    link(rel="shortcut icon", type="image" href="images/favicon.ico")
    link(href='styles/styles.css', rel='stylesheet')
  body
    .container-page
      .wap-content
        include templates/side_bar.jade
        .content
          include templates/slide_show.jade
        //include templates/footer.jade
    script(type="text/javascript" src="js/main.js")
