<ul>
  <li *ngFor="#selected of selectedItems">{{selected.text}}</li>
</ul>
<input type="text" class="form-control ui-select-search" placeholder="Search" [(ngModel)]="filterValue" (click)="isVisible ='true'">
<ul [class.select-open]="openSelect ==='true'">
  <li (click)="!multipleLevel && onSelect(item)" *ngFor="#item of items | movieFilter:filterValue" [value]="item.text"
      [class.hidden]="!item.children || item.children.length == 0">
    {{item.text}}
    <ul *ngIf="item.children">
      <li *ngFor="#child of item.children; #i = index" [value]="child"
        (click)="onSelect(child)"
        >
        ({{i +1}}) {{child.text}}
      </li>
    </ul>
  </li>
</ul>
<style>
  .hidden{
    display: none;
  }
</style>
