.row
  ul.clearing-thumbs.small-block-grid-4(data-clearing='')
    li
      a(href='/images/comet.jpg')
        img(data-caption='caption here...',src='/images/comet-th-sm.jpg')
    li
      a(href='/images/earth.jpg')
        img(src='/images/earth-th-sm.jpg')
    li
      a(href='/images/space.jpg')
        img(src='/images/space-th-sm.jpg')
