.icon-bar.five-up
  a.item
    img(src="/images/icon/fi-home.svg")
    label Home
  a.item
    img(src="/images/icon/fi-bookmark.svg")
    label Book mark
  a.item
    img(src="/images/icon/fi-info.svg")
    label Infor
  a.item
    img(src="/images/icon/fi-like.svg")
    label Like
  a.item
    img(src="/images/icon/fi-mail.svg")
    label Mail
