.off-canvas-wrap(data-offcanvas)
  .inner-wrap
    nav.tab-bar
      section.left-small
        a.left-off-canvas-toggle.menu-icon(aria-expanded='false')
          span
      section.middle.tab-bar-section
        h1.title Foundation
      section.right-small
        a.right-off-canvas-toggle.menu-icon(aria-expanded='false')
          span
    aside.left-off-canvas-menu
      ul.off-canvas-list
        li
          label Foundation left
        li.has-submenu
          a(href='javascript:void(0)') The Psychohistorians
          ul.left-submenu
            li.back
              a(href='javascript:void(0)') Back
            li
              label Level 1
            li
              a(href='javascript:void(0)') Link 1
            li.has-submenu
              a(href='javascript:void(0)') Link 2 w/ submenu
              ul.left-submenu
                li.back
                  a(href='javascript:void(0)') Back
                li
                  label Level 2
                li
                  a(href='javascript:void(0)') Link 1
                li
                  a(href='javascript:void(0)') Link 2
                li
                  a(href='javascript:void(0)') Link 3
                li
                  a(href='javascript:void(0)') Link 4
            li
              a(href='javascript:void(0)') Link 3
            li
              a(href='javascript:void(0)') Link 4
        li
          a(href='javascript:void(0)') The Encyclopedists
        li
          a(href='javascript:void(0)') The Mayors
        li
          a(href='javascript:void(0)') The Traders
        li
          a(href='javascript:void(0)') The Merchant Princes
    aside.right-off-canvas-menu
      ul.off-canvas-list
        li
          label Users right
        li
          a(href='javascript:void(0)') Hari Seldon
        li.has-submenu
          a(href='javascript:void(0)') R. Giskard Reventlov
          ul.right-submenu
            li.back
              a(href='javascript:void(0)') Back
            li
              label Level 1
            li
              a(href='javascript:void(0)') Link 1
            li.has-submenu
              a(href='javascript:void(0)') Link 2 w/ submenu
              ul.right-submenu
                li.back
                  a(href='javascript:void(0)') Back
                li
                  label Level 2
                li
                  a(href='javascript:void(0)') R. Daneel Olivaw
                li
                  a(href='javascript:void(0)') The Mule
                li
                  a(href='javascript:void(0)') Dors Venabili
                li
                  a(href='javascript:void(0)') Yugo Amaryl
                li
                  a(href='javascript:void(0)') The Mule
            li
              a(href='javascript:void(0)') Emperor Cleon I
            li
              a(href='javascript:void(0)') Gaal Dornick
        li
          a(href='javascript:void(0)') Bel Riose
        li
          a(href='javascript:void(0)') Salvor Hardin
        li
          a(href='javascript:void(0)') Bel Riose
    section.main-section
      .row
        .large-12.columns
          br
          h4 The Psychohistorians
          p
            | Set in the year 0 F.E. 
          p
            | Using psychohistory
          p
            | Using psychohistory
          p
            | Using psychohistory
    a.exit-off-canvas
