.row
  ul.tabs.vertical(data-tab='')
    li.tab-title.active
      a(href='#panel11') Tab 1
    li.tab-title
      a(href='#panel21') Tab 2
    li.tab-title
      a(href='#panel31') Tab 3
    li.tab-title
      a(href='#panel41') Tab 4
  .tabs-content
    #panel11.content.active
      p
        | This is the first panel of the basic tab example. You can place all sorts of content here including a grid.
    #panel21.content
      p
        | This is the second panel of the basic tab example. This is the second panel of the basic tab example.
    #panel31.content
      p
        | This is the third panel of the basic tab example. This is the third panel of the basic tab example.
    #panel41.content
      p
        | This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.
