.row
  .small-3.columns
  .small-6.columns
    span(data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!") extended information
  .small-3.columns
