doctype html
html.fsvs(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Soanecapital
    link(href='styles/styles.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .main-container.main-full
      // part header 
      include partials/header.jade
      // part fixed-bottom
      include partials/fixed-bottom.jade
      // part slide index
    include partials/slide.jade
      // part footer
    include partials/footer.jade
    script(type="text/javascript" src="js/main.js")

