doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Parallax Example
		link(href='styles/styles.css', rel='stylesheet')
	body
		header.band(data-0='background-position:0px 0px;', data-500='background-position:0px -250px;')
			.container-fluid
				.columns.sixteen(data-0='opacity: 1', data-180='opacity: 0')
						h1 Meaningless Pap
		//- used parallax.js
		.container-fluid
			.row
				.parallax-window(data-parallax="scroll" data-image-src="/images/stellar-spire-eagle-nebula.jpg")
				.parallax-container(data-parallax="scroll" data-image-src="/images/spiral-galaxy.jpg")
				.parallax-mirror(data-parallax="scroll" data-image-src="/images/helix-nebula.jpg")
					//- used skroll.js
				#intro.skrollable.skrollable-between(data-0="opacity:1;top:50%;transform:rotate(0deg);transform-origin:0 0;", data-500="opacity:0;top:-10%;transform:rotate(-90deg);", style="opacity: 1; top: 3%; transform: rotate(0deg); transform-origin: 0px 0px 0px;")
					h1
						a(href="#") skrollr example
					h2 parallax scrolling for the masses
					p let"s get scrollin"
					p.arrows &#9660;&#160;&#9660;&#160;&#9660;
				#transform.skrollable.skrollable-between(data-500='transform:scale(0) rotate(0deg);', data-1000='transform:scale(1) rotate(1440deg);opacity:1;', data-1600='transform:scale(3) rotate(2400deg)', data-1700='transform:scale(5) rotate(3240deg);opacity:0;', style='transform: scale(7) rotate(3600deg); opacity: 1;')
					h2 transform &#x9;&#x9;
					p scale, skew and rotate the sh** out of any element
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init();
		script(type="text/javascript") skrollr.init({forceHeight: false});
