.section-list-item {
  box-sizing: border-box;
  padding: 0 1pc 8px 0;
  position: relative;
  width: 25%;
  float: left;
  list-style-type: none;
  a {
    background-color: #0079BF;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 8px 9pt;
    position: relative;
    text-decoration: none;
  }
  .board-tile-details {
    display: block;
    min-height: 60px;
    padding-bottom: 20px;
    padding-right: 36px;
    position: relative;
  }
  .board-tile-details-name {
    font-size: 1pc;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    max-height: 40px;
  }
  .board-tile-options {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    .icon-start {
      color: #e6c60d;
      opacity: 1;
      width: 18px;
      color: #fff;
      bottom: 0;
      font-size: 14px;
      width: 0;
      height: 18px;
      opacity: 0;
      padding: 9px;
      right: 0;
      top: 0;
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-property: color,background,opacity,-webkit-transform,width;
      transition-property: color,background,opacity,transform,width;
    }
  }
}