.add-list-member {
  padding-bottom: 8px;
 .form-add-member {
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    margin: 0 9px 0 5px;
  }
  textarea {
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    resize: vertical;
    -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,border-color 85ms ease-in;
    width: 100%;
    border-radius: 3px;
    display: block;
  }
  .create-member {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 8px 4px 0 0;
    border-radius: 3px;
    text-align: center;
  }
}
.list-member {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  z-index: 1;
  min-height: 0;
  overflow-y: overlay;
  margin-right: 2px;
  padding: 0 9px 0 5px;
  a {
    display: block;
  }
  .card-member-item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
  }
  .card-member-title {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
  }
}