.window-sidebar {
  float: right;
  padding: 8px 9pt 9pt 0;
  width: 140px;
  overflow: hidden;
  z-index: 10;
  .window-module {
    clear: both;
    margin-bottom: 20px;
    position: relative;
    display: block;
  }
  .sidebar-module-title {
    font-size: 1pc;
    line-height: 1.25em;
    margin: 0 0 6px;
  }
  .button-link {
    background: -webkit-linear-gradient(top,#fff 0,#f8f9f9 100%);
    background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e2e4e6;
    border-bottom-color: #cdd2d4;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 34px;
    margin-top: 6px;
    max-width: 300px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
    color: #444;
    .fa {
      height: 18px;
      line-height: 18px;
      width: 18px;
      font-size: 14px;
      color: #999;
    }
  }
}