<!-- <div class="boards-page-board-section">
  <div class="board-section-header">

  </div>
</div>
<div class="boards-page-board-section">
  <div class="board-section-header">

  </div>
  <ul class="board-list">
    <li *ngFor="board of boards" class="board-list-item">
      <a href="">
        <span class="board-tile-fade"></span>
        <span class="board-tile-details"></span>
        <span class="board-tile-options">
          <span class="icon-star"></span>
        </span>
      </a>
    </li>
  </ul>
</div>
 -->
<h2> Boadssssssss</h2>
