<form (ngSubmit)="onSave(createForm.value)" #createForm="ngForm">
  <div class="list-cards">
    <div *ngFor="#cardMember of cardMembers" class="list-card-item" [hidden]="cardMember.card_id != cardId">
      <span class="icon-edit"></span>
      <div *ngIf="cardMember.card_id == cardId" class="list-card-details" >
        <a href="javascript:void(0)" class="list-card-title">
          {{cardMember.name}}
        </a>
      </div>
    </div>
    <div class="card-composer" [hidden]="openActive === false">
      <div class="list-card js-composer">
        <div class="list-card-detail u-clearfix">
          <div class="list-card-labels u-clearfix js-list-card-composer-labels"></div>
          <textarea class="list-card-composer-textarea js-card-title" dir="auto" ngControl="name" #name="ngForm" [(ngModel)]="cardMember"></textarea>
          <div class="list-card-members js-list-card-composer-members">
          </div>
        </div>
      </div>
      <div class="cc-controls u-clearfix">
        <div class="cc-controls-section">
          <input class="primary confirm mod-compact js-add-card" type="submit" value="Add">
            <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a>
        </div>
        <div class="cc-controls-section mod-right">
          <a class="icon-lg icon-overflow-menu-horizontal dark-background-hover js-cc-menu" href="#"></a>
        </div>
      </div>
    </div>
  </div>
  <a class="open-card-composer" href="javascript:void(0)" (click)="onAdd()" [class.hide]="openActive === true" >Add a card…</a>
</form>