<div class="board-list-container">
  <div class="list-work-wrapper">
    <div class="list-work-content">
      <div class="list-header">
        <div class="list-header-target"></div>
        <h2 class="list-name-assist"></h2>
        <textarea class="list-header-name" > dddddd</textarea>
      </div>
      <div class="list-cards">
        <div class="list-card-item">
          <span class="icon-edit"></span>
          <div class="list-card-details">
            <a href="#" class="list-card-title">
              Welcome to Trello!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-work-wrapper">
    <form>
      <span class="placeholder"> Add a list ...</span>
      <input class="list-name-input" type="text" name="name" placeholder="Add a list…" autocomplete="off" dir="auto">
      <div class="list-add-controls u-clearfix">
        <input class="primary mod-list-add-button js-save-edit" type="submit" value="Save">
        <a class="icon-lg icon-close dark-hover js-cancel-edit" href="#"></a>
      </div>
    </form>
  </div>
</div>
