<div class="board-wrapper">
  <div class="board-main-content">
    <div class="board-header">
      <a href="#" class="board-header-btn">
        <span class="board-header-btn-text"> {{board}}</span>
      </a>
      <a href="#" class="board-header-btn"></a>
      <a href="#" class="permission-level board-header-btn">
        <span class="icon-private"></span>
        <span class="board-header-btn-text"> Private </span>
      </a>
    </div>
    <div class="board-canvas">
      <board-list></board-list>
    </div>
  </div>
</div>
