<div class="board-list-container">
  <div class="list-work-wrapper">
    <div class="list-work-content">
      <div class="list-header">
        <div class="list-header-target"></div>
        <h2 class="list-name-assist"></h2>
        <textarea class="list-header-name" > dddddd</textarea>
      </div>
      <div class="list-cards">
        <div class="list-card-item">
          <span class="icon-edit"></span>
          <div class="list-card-details">
            <a href="#" class="list-card-title">
              Welcome to Trello!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
