<div class="list-cards">
  <div class="list-card-item">
    <span class="icon-edit"></span>
    <div class="list-card-details">
      <a href="javascript:void(0)" class="list-card-title">
        New member
      </a>
    </div>
  </div>
  <div class="card-composer" [hidden]="openActive === false">
    <div class="list-card js-composer">
      <div class="list-card-details u-clearfix">
        <div class="list-card-labels u-clearfix js-list-card-composer-labels"></div>
        <textarea class="list-card-composer-textarea js-card-title" dir="auto"></textarea>
        <div class="list-card-members js-list-card-composer-members">
        </div>
      </div>
    </div>
    <div class="cc-controls u-clearfix">
      <div class="cc-controls-section">
        <input class="primary confirm mod-compact js-add-card" type="submit" value="Add">
          <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a>
      </div>
      <div class="cc-controls-section mod-right">
        <a class="icon-lg icon-overflow-menu-horizontal dark-background-hover js-cc-menu" href="#"></a>
      </div>
    </div>
  </div>
</div>
<a class="open-card-composer" href="javascript:void(0)" (click)="openActive = !openActive"[class.hide]="openActive === true" >Add a card…</a>
