.list-work-wrapper {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-work-wrapper:first-child {
  margin-left: 10px;
}

.list-work-content {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-work-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}

.list-card {
  overflow-y: overlay;
  margin-right: 2px;
  padding: 0 9px 0 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.list-header-name {
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
  background: 0 0;
  border: none;
  line-height: 30px;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -3px -5px;
  min-height: 18px;
  padding: 3px 5px;
  resize: none;
  outline: none;
}

.list-card-item {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}

.list-header {
  padding-right: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}

.list-cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  overflow-y: overlay;
  margin-right: 2px;
  padding: 0 9px 0 5px;
}

.icon-edit {
  background-color: #edeff0;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: .8;
  padding: 4px;
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
  z-index: 40;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  width: 18px;
  display: inline-block;
  font-family: trellicons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #999;
}

.list-name-assist {
  font-size: 18px;
  margin: 0 0 9px;
  line-height: 22px;
  display: none;
}

.list-card-details {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}

.list-card-title {
  clear: both;
  display: block;
  font-weight: 400;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #4d4d4d;
}

.open-card-composer {
  border-radius: 0 0 3px 3px;
  color: #8c8c8c;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  user-select: none;
}

.hidden {
  display: none;
}
