.board-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.board-main-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  -webkit-transition: margin .1s ease-in;
  transition: margin .1s ease-in;
}

.board-header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  height: auto;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  position: relative;
  -webkit-transition: padding .1s ease-in;
  transition: padding .1s ease-in;
  background-color: rgb(0, 121, 191);
  margin-top: 40px;
}

.board-header-btn {
  cursor: default;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 4px;
  text-decoration: none;

}

.board-header-btn {
  border-radius: 3px;
  color: #f6f6f6;
  cursor: default;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 4px 0 0;
  overflow: hidden;
  padding-left: 30px;
  position: relative;
  text-decoration: none;
}

.board-header-btn-text {
  padding-right: 8px;
  font-size: 16px;
}

.board-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: rgb(0, 121, 191);
}

.active .fa-star-o {
  color: #e6c60d;
  width: 18px;
  opacity: 1;
  text-align: center;
}