<div class="window-overlay">
  <div class="window">
    <div class="window-wrapper">
      <a class="dialog-close-button" href="javascript"></a>
      <div class="card-detail-window u-clearfix">
          <div class="window-header">
              <span class="window-header-icon">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
              </span>
              <div class="window-title">
                <h2 class="card-detail-title-assist js-title-helper" dir="auto"></h2>
                <textarea class="mod-card-back-title js-card-detail-title-input"> Content header </textarea>
              </div>
              <div class="window-header-inline-content"> 
                <p class="window-header-card"> in list
                  <a href="javascript:void(0)">Name Card</a>
                </p>
              </div>
              <div class="window-main-col">
                <div class="card-detail-data">
                  <div class="card-detail-item">
                    <div class="u-bottom">
                      <div class="quiet-button">
                        <span class="icon-sm icon-description quiet-button-icon">
                        </span>
                           Edit the description…
                      </div>
                    </div>
                  </div>
                </div>
                <div class="window-module">
                    <div class="window-module-title">
                        <span class="window-module-title-icon"></span>
                        <h3>Add comment</h3>
                    </div>
                    <div class="new-comment">
                        <div class="member">
                        </div>
                        <form>
                            <div class="comment-frame">
                                <div class="comment-box">
                                    <textarea class="comment-box-input js-new-comment-input" placeholder="Write a comment…" tabindex="1" >
                                    </textarea>
                                </div>
                                <input class="primary confirm mod-no-top-bottom-margin js-add-comment" disabled="" type="submit" value="Send" tabindex="3">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="window-module">
                    <div class="window-module-title">
                        <span class="window-module-title-icon"></span>
                        <h3>Activity</h3>
                    </div>
                    <div class="list-actions">
                        <div class="phenom-creator">
                            <div class="member"></div>
                        </div>
                        <div class="phenom-desc">
                            <div class="inline-member">Tamtamxuan</div>
                            <div class="comment-container">
                                <div class="current-comment">
                                    <p> Content comment current</p>
                                </div>
                                <div class="comment-box">
                                    <textarea class="comment-box-input js-new-comment-input" placeholder="Write a comment…" tabindex="1" > Content comment edit
                                    </textarea>
                                </div>
                            </div>
                            <div class="phenom-meta">
                                <a href="javascript:void(0)" class="date-title"> Date time</a>
                                <a href="javascript:void(0)" class="edit-action"> Edit</a>
                                <a href="javascript:void(0)" class="delete-action">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="window-sidebar">
                <div class="window-module">
                  <h3>Add</h3>
                  <div class="module-wapper">
                    <a href="javascript:void(0)" class="change-card-members">
                      <span class="icon-member"></span>Members
                    </a>
                    <a href="javascript:void(0)" class="">
                      <span class="icon-member"></span>Members
                    </a>
                    <a href="javascript:void(0)" class="">
                      <span class="icon-member"></span>Members
                    </a>
                    <a href="javascript:void(0)" class="">
                      <span class="icon-member"></span>Members
                    </a>
                    <a href="javascript:void(0)" class="">
                      <span class="icon-member"></span>Members
                    </a>  
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
</div>