.window-overlay {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0,0,0,.6);
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.window {
  background-color: #edeff0;
  border-radius: 3px;
  margin: 3pc 0 5pc;
  overflow: hidden;
  position: relative;
  width: 730px;
  z-index: 25;
}

.window-header {
  margin: 4px 40px 4px 38px;
  padding: 9pt 9pt 0;
  position: relative;
  z-index: 1;
}
.window-header-icon {
  left: -28px;
  position: absolute;
  top: 8px;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.card-detail-title-assist {
  display: none;
}

.mod-card-back-title {
  overflow: hidden;
  word-wrap: break-word;
  height: 22px;
  background: 0 0;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  width: 100%;
  font-weight: 700;
  line-height: 22px;
  margin: -4px -6px;
  min-height: 22px;
  padding: 4px 6px;
  resize: none;
  color: #4d4d4d;
  font: 18px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.window-header-inline-content {
  cursor: default;
  display: inline-block;
  margin: 4px 6px 0 0;
  color: #8c8c8c;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 18px;
}

.window-header-card {
  padding: 0;
  margin: 0;
}

.window-main-col {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  min-height: 20px;
  padding: 8px 9pt 9pt;
  position: relative;
  width: 546px;
  z-index: 0;
}