<div class="window-sidebar">
  <div class="window-module">
    <h3>Add</h3>
    <div class="module-wapper">
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-user" aria-hidden="true"></i> Members
      </a>
      <a href="#" class="button-link" data-toggle="modal" data-target="#addLabel">
        <i class="fa fa-pencil" aria-hidden="true"></i> Labels
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Checklist
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Due Date
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-paperclip" aria-hidden="true"></i> Attachments
      </a>  
    </div>
  </div>
  <div class="window-module">
    <h3>Actions</h3>
    <div class="module-wapper">
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-arrow-right" aria-hidden="true"></i> Move
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-credit-card" aria-hidden="true"></i> Copy
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-eye" aria-hidden="true"></i> Subscribe
      </a>
      <a href="javascript:void(0)" class="button-link">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>  Archive
      </a> 
    </div>
  </div>
</div>