html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header {
  border-bottom: 1px solid #ececec;
  height: 100px;
  nav {
    margin: 0;
    padding: 0;
    height: 125px;
    position: relative;
    transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
  }
}

body {
  font-family: "rucrealight";
    font-size: 38px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4a4a4c;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
  margin: 0 0 ;
  font-family: "ff-meta-serif-web-pro", serif;
  font-weight: 500;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {

  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0 0;
}

*, :after, :before {
  box-sizing: border-box;
}

img,
picture {
  margin: 0;
}

input[type="text"],
input[type="search"],
input[type="email"], {
  font-size: 13px;
  border: 1px solid;
  outline: 0;
  border-color: #848484 #c1c1c1 #e1e1e1;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  padding: 2px 3px;
  &:focus {
    -webkit-box-shadow: #4fb7a6 0 0 7px;
    box-shadow: #4fb7a6 0 0 7px;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 1px solid;
  border-color: #ddd #bbb #999;
  border-radius: 4px;
  padding: 3px 10px;
  margin-left: 10px;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -o-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));

  &:focus {
    -webkit-box-shadow: #4fb7a6 0 0 7px;
    box-shadow: #4fb7a6 0 0 7px;
  }
}
