extends layouts/default
block variables
  - bodyClass = "index"
block content
  .awwwards
    a(href="http://www.awwwards.com" target="_blank") Awwwards
  main
    section.intro
      .intro__logo
        .intro__gris
        .intro__naranja
        .intro__grado
      .claim
        .claim__line
        .claim__mascara-claim
          h3 Independent Design Agency
    // section slider
    .wrapp-cases
      .til-section
        h6 Cases
        .line-scroll
      section#cases
        //- .pogoSlider-slide.mediaslider#casoUno
        //-   .pogoSlider-slide-element
        //-     h3.name__title HENRY SAIZ
        //-     .line__enlarge
        //-     a(href="#") Ver caso
        //- .pogoSlider-slide.mediaslider#casoDos
        //-   .pogoSlider-slide-element
        //-     h3.name__title MUGAKO FESTIVAL
        //-     .line__enlarge
        //-     a(href="#") Ver caso
        //- .pogoSlider-slide.mediaslider#casoTres
        //-   .pogoSlider-slide-element
        //-     h3.name__title BLUE DOOR
        //-     .line__enlarge
        //-     a(href="#") Ver caso
    // section cases
    section.latest__works.clearfix
      .til-section
        h6.animated.flipInY.visible.hidden.fadeInUp  Last works
        .line-scroll
      ul.latest__preview
        li.latest__item.latest__nakogu.animatedBorderSprite
          h2.latest__item--name
            span MUGA
            span KO
          .latest__img
            .tilt
              .tilt__back.tilt__muga
              .tilt__front
              .tilt__front
              .tilt__front
          .animatedBorderSprite.animatedBorderSprite-top
          .animatedBorderSprite.animatedBorderSprite-bottom
          .animatedBorderSprite
          .animatedBorderSprite
        li.latest__item.latest__rubencrea.animatedBorderSprite
          h2.latest__item--name
            span RUBEN
            span CREA
          .latest__img
            .tilt
              .tilt__back.tilt__ruben
              .tilt__front
              .tilt__front
              .tilt__front
              .tilt__front
    // service
    section.services.clearfix
      .mascara-trama
      .services__block
      p.services__title
        | We are a
        span multidisciplinary agency
        | that specialises in digital projects with a wide range of creative and design services.
      .til-section
        h6.animated.flipInY.visible.hidden.fadeInUp  Services
        .line-scroll
      // list item services
      ul#services.services__list
  // footer page home
  footer.footer__block
    ul#footerSocial.footer__social

