.col.s12
  .slider
    ul.slides
      li
        img(src="images/nature.png")
        // random image
        .caption.center-align
          h3 This is our big Tagline!
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='http://lorempixel.com/580/250/nature/2')
        // random image
        .caption.left-align
          h3 Left Aligned Caption
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='http://lorempixel.com/580/250/nature/3')
        // random image
        .caption.right-align
          h3 Right Aligned Caption
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='http://lorempixel.com/580/250/nature/4')
        // random image
        .caption.center-align
          h3 This is our big Tagline!
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
