body {
  width: 100%;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

header {
  background: #026aa7;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
  position: relative;
  display: block;
  height: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.content {
  /*-webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  display: block;*/
}

.header-logo {
  height: 30px;
  width: 80px;
  opacity: .5;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -40px;
  top: 5px;
  text-align: center;
  -webkit-transition: opacity ease-in 85ms;
  transition: opacity ease-in 85ms;
  z-index: 2;
}

.header-logo-loading {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/d73159084f5122775d4d2fac6060ddf5/header-loading-logo.gif);
  background-size: 18px 18px;
  display: none;
  height: 18px;
  left: 2px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.header-logo-defaulf {
  background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 5pc 30px;
  right: 0;
  top: 0;
  height: 30px;
  width: 80px;
  position: absolute;
}

.header-btn {
  position: relative;
  text-align: center;
  height: 30px;
  background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  color: #f3f3f3;
  display: block;
  font-weight: 700;
  line-height: 30px;
  margin-right: 8px;
  min-width: 30px;
  padding: 0;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  text-decoration: none;
  float: left;
}
.header-btn-icon {
  font-size: 1pc;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  text-decoration: none;
}

.header-btn-icon:before {

}

.header-btn-text {
  padding: 0 8px;
}

.header-user {
  position: absolute;
  top: 5px;
  right: 0;
}

.member {
  background-color: #d6dadc;
  border-radius: 3px;
  color: #4d4d4d;
  display: block;
  float: left;
  height: 30px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  width: 30px;
  user-select: none;
  z-index: 0;
  margin: 0;
  border-radius: 3px 0 0 3px;
}

.member-initials {
  display: block;
  font-size: 9pt;
  font-weight: 700;
  height: 30px;
  left: 0;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.header-btn-icon {
  font-size: 1pc;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.header-btn-icon:before {

}

.header-boards {
  padding-left: 8px;
}

/*content page  */
.boards-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin: 16px auto;
  padding: 16px;
  max-width: 1250px;
}

.boards-page-board-section {
  margin-bottom: 20px;
}

.board-section-header {
  margin: 0 0 0 38px;
  padding: 0 0 11px;
  position: relative;
}

.title-header-icon {
  left: -38px;
  position: absolute;
  top: 0;
}

.title-header-name {
  display: inline-block;
  line-height: 24px;
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #4d4d4d;
}

.fa-plus-square {
  background-color: rgba(255,255,255,.3);
  color: #FFF;
  font-size: 32px !important;
}
