.header {
  background: #026aa7;
  padding: 5px;
  z-index: 10;
  position: relative;
  height: 30px;
  .header-boards {
    .icon-heard {
      line-height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      text-align: center;
    }
    .header-btn-text {
      padding-left: 28px;
      margin-left: 28px;
      padding: 0 8px;
      color: #f3f3f3;
      display: block;
      font-weight: 700;
      line-height: 30px;
    }
  }
  .btn-header {
    padding-left: 26px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    color: #f3f3f3;
    display: block;
    font-weight: 700;
    line-height: 30px;
    margin-right: 8px;
    min-width: 30px;
    padding: 0;
    height: 30px;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    float: left;
    text-align: center;
  }
  .header-logo {
    height: 30px;
    width: 5pc;
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: 5px;
    text-align: center;
    -webkit-transition: opacity ease-in 85ms;
    transition: opacity ease-in 85ms;
    z-index: 2;
    .logo-trello {
      background-image: url(../images/header-logo.png);
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 5pc 30px;
      right: 0;
      top: 0;
      height: 30px;
      width: 5pc;
      position: absolute;
    }
  }
  .header-user {
    position: absolute;
    top: 5px;
    right: 0;
    .header-member {
      .member {
        margin: 0;
        border-radius: 3px 0 0 3px;
        background-color: #d6dadc;
        color: #4d4d4d;
        display: block;
        float: left;
        height: 30px;
        overflow: hidden;
        position: relative;
        width: 30px;
        user-select: none;
        z-index: 0;
      }
      .member-initials {
        display: block;
        font-size: 9pt;
        font-weight: 700;
        height: 30px;
        left: 0;
        line-height: 30px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
      }
      .member-gold-badge {
        display: none;
        height: 7px;
        top: 1px;
        width: 11px;
        position: absolute;
        right: 1px;
        z-index: 3;
      }
    }
  }
}