section#portfolio.instagram-slide
  .instagram-short
    span.parallel-lines
    h2.instagram-short__title Latest instagram shots
    span.parallel-lines
  .instagram-scroll
    .instagram-scroll__image
      img(src='images/bicycle-old.png' alt='bicycle-old')
    .instagram-scroll__image
      img(src='images/shirt-clamp.png' alt='shirt-clamp')
    .instagram-scroll__image
      img(src='images/car-old.png' alt='car-old')
    .instagram-scroll__image
      img(src='images/power-outlet.png' alt='power-outlet')
  .instagram-link
    a.instagram-link__buttons Instagram page
