header.centered-navigation(role='banner')
  .centered-navigation-wrapper
    a.mobile-logo(href='javascript:void(0)')
      img(src="images/logo.png" alt="logo")
    a#centered-navigation-mobile-menu.centered-navigation-mobile-menu(href='javascript:void(0)') MENU
      nav(role='navigation')
        ul#centered-navigation-menu.centered-navigation-menu.show
          li.nav-link
            a.scroll-on-page-link(href='#homepage') Home
          li.nav-link
            a.scroll-on-page-link(href='#about') About
          li.nav-link
            a.scroll-on-page-link(href='#portfolio') Portfolio
          li.nav-link
            a.scroll-on-page-link(href='#services') Services
          li.nav-link
            a.scroll-on-page-link(href='#journal') Journal
          li.nav-link
            a.scroll-on-page-link(href='#contact') Contact
