doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Example bourbon
    link(href='styles/styles.css', rel='stylesheet')
  body
    // part header
    .container
      h1 Example Bourbon
      .demo
        .box
      .colums Information colums count value width height danger form control width auto wider
      .flex__container
        .flex__item
          .flex__item--contend Hello
        .flex__item
        .flex__item
        .flex__item
        .flex__item
        .flex__item

      .flex-colums
        p fsfdsfdsf ddasd da das  style
        blockquote block flex grid
      .function__grid function grid
      .function__image

