head
  .logo
    a.logo__brand(href="/") Food sense
  nav.side-bar
    ul.item
      li.item__tastemakers
        a(href="javascript:void(0)")
          | Tastemakers
      li.item__blogs
        a(href="javascript:void(0)")
          | Blog
      li.item__vendors
        a(href="javascript:void(0)")
          | The A-List
      li.item__contribute
        a(href="javascript:void(0)")
          | Contribute
      li.item__about
        a(href="javascript:void(0)")
          | About 
  aside.side-social
    section.side-social__twitter
      h1 Latest Tweet
      p
        a.button(href="javascript:void(0)") Join the Conversation
    section.side-social__facebook
      h1 Let's be friends!
      p.side-social__desc For weekly finds, community recommendations, and more, like us on Facebook.
      p
        a.button(href="javascript:void(0)") Join the Community
