div.band .columns {
	padding-top: 2em;
	padding-bottom: 2em;
}
h1, h2, h3 {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	text-align: center;
}
header.band {
	background-image:url(../images/background.jpg);
	background-size: 100%;
	min-height: 400px;
	h1 {
	font-size: 3.25em; /*52 / 16*/
	color: #fff;
	margin-top: 10%;
	}
}

.parallax-window, .parallax-container, .parallax-mirror{
	min-height: 500px;
	background: transparent;
}

.skrollable {
	z-index: 100;
}

#intro {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 1em;
	margin-left: -40%;
	padding: 2em;
	background: #88DC23;
	text-align: center;
	border-radius: 1em;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
}

#transform {
	background: transparent;
	position: absolute;
	z-index: 100;
	width: 70%;
	left: 50%;
	top: 120%;
	margin-left: -35%;
	text-align: center;
	font-size: 150%;
	h2 {
		color: inherit;
		font-size: 1.91em;
		margin: 2em 0 1em 0;
		display: block;
		font-size: 1.5em;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
	}
	h2:first-child {
		margin-top:0;
	}
}
.scrollme {
	overflow: hidden;
	-webkit-perspective: 500px;
	transform-style: preserve-3d;
}
.footer_block {
	padding: 5% 1.5em;
	transform-origin: center bottom;
	background: #606060;
	color: #b0b0b0;
	margin-top: 20%;
}
