.container-content
  .video
    .video__wapper
      iframe(src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen)
    .video__tooltip
      h2 Enter of play video
  .reply-controll
    .reply-controll__title Leave reply infor
    form.reply-controll__action(action="javascript.void(0)" method="POST" autocomplete="off")
      label Name: 
      input(type="text" placeholder="Enter email")
      label Content:
      textarea()
      input(type="Submit" value="Submit")
