/* create  mixin use site*/

// mixin font face

@mixin font-text($font-size, $font-weight, $color, $font-family ) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
} 

// styles mixin of BEM syntax

@mixin e($name) {
  @at-root #{&}__#{$name} {   
    @content
  }
} 
 
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}
