/** styles block awwwards  */
.awwwards {
  @include size(90px, 135px);
  background-image: url(../images/awwwards_sotd_white_right.png);
  position: absolute;
  top: 160px;
  right: 0;
  text-indent: -666em;
  overflow: hidden;
  z-index: 999;
  @include transition(all 1s ease);
  a {
    @include size(90px, 135px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 90px 135px;
  }
}
