.footer {
  &__block {
    @include size(200px, 210px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 400px;
    margin-bottom: 160px;
  }
  &__social {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    li {
      display: inline-block;
      height: 32px;
      overflow: hidden;
      a {
        top: 0;
        position: relative;
        -webkit-transition: all .2s cubic-bezier(0.165,0.84,0.44,1);
        transition: all .2s cubic-bezier(0.165,0.84,0.44,1);
        &:hover {
          top: -34px;
        }
      }
    }
  }
}
