doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Example bourbon neat
    link(href='styles/styles.css', rel='stylesheet')
  body
    .container
      // part based head
      include partials/nav.jade
      include partials/based.jade
      // part introduce page
      include partials/page-title.jade
      // slide instagram
      include partials/instagram-slide.jade
      // part blog post
      include partials/blog-post.jade
      // little about me, services
      include partials/little-about.jade
      // part form control
      include partials/form.jade
      // part modal-footer
      include partials/footer.jade
    script(type="text/javascript" src="js/main.js")

