.subscribe-info
  h4 Food Sense Weekly Newsletter
  p Sign up for our newsletter to receive a handpicked selection of the best stories, recipes, and news, delivered weekly to your inbox.
  form.subscribe__email
    input(type="email" placeholder="Email")
    input.submit(type="submit" value="Subscribe")
