doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Parallax Example
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				section#slide-first.homeSlide(style='height: 980px;')
					.bcg.skrollable.skrollr-body.skrollable-between(data-0-start='background-position: 50% 0px;', data-100-top-bottom='background-position: 50% -100px;', data-anchor-target='#slide-first', style='background-position: 50% 0px;')
						.hsContainer
							.hsContent.skrollable.skrollable-before(data-center='bottom: 200px; opacity: 1', data-top='bottom: 1200px; opacity: 0', data-anchor-target='#slide-first h2', style='bottom: 200px; opacity: 1;')
								h2 Simple parallax scrolling is...
				section#slide-second.homeSlide(style='height: 980px;')
					.bcg.skrollable.skrollr-body.skrollable-between(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 100px;', data-anchor-target='#slide-second', style='background-position: 50% 0px;')
						.hsContainer
							.hsContent.skrollable.skrollable-between(data-center='opacity: 1', data-center-top='opacity: 0', data--100-bottom='opacity: 0;', data-anchor-target='#slide-third', style='opacity: 0.99390243902439;')
								h2 great for story telling websites.
				section#slide-third.homeSlide(style='height: 980px;')
					.bcg.skrollable.skrollr-body.skrollable-between(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 100px;', data-anchor-target='#slide-third', style='background-position: 50% 0px;')
						.hsContainer
							.hsContent.skrollable.skrollable-between(data--50-bottom='opacity: 0;', data--200-bottom='opacity: 1;', data-center='opacity: 1', data-200-top='opacity: 0', data-anchor-target='#slide-third h2', style='opacity: 1;')
								h2 Now go and create your own story
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init();
		script(type="text/javascript") skrollr.init({forceHeight: false});
