doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Parallax Example
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			#slide-first.start-day.skrollable.skrollable-first(data-0="background-position: 0px 0px;" data-300="background-position: 0px -145px;" style="background-position: 0px 0px;")
				.columns.sixteen(data-0='opacity: 1', data-180='opacity: 0')
					h1 Start your day
			#slide-first.start-next-time.skrollable.skrollable-between(data-0="background-position: 0px -500px;" data-300="background-position: 0px -300px;" data-400="background-position: 0px 0px;" style="background-position: 0px 0px;")
			#transform.skrollable.skrollable-between(data-0="transform:scale(0) rotate(0deg);", data-1000="transform:scale(1) rotate(1440deg);opacity:1;", data-1600="transform:scale(3) rotate(2400deg)", data-1700="transform:scale(5) rotate(3240deg);opacity:0;", style="transform: scale(7) rotate(3600deg); opacity: 1;")
				h2 transform
				p scale, skew and rotate
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init();
		script(type="text/javascript") skrollr.init({forceHeight: false});
