@media (min-width: 1080px) {
  .city__better {
    margin-top: 70px;
    letter-spacing: 12px;
  }
  .studio__huge, .city__travel , .best__title {
    font-size: 150px;
  }
  .first-word {
    border-color: #2f363b !important;
    width: 220px;
  }
  .reasons__item-block {
    display: block;
    max-height: 480px;
  }
  .intro, .people, .clients, .awards {
    margin: 0 auto;
    max-width: 940px;
    overflow: visible;
  }
  .intro__content, .people__content, .clients__wapper, .awards__wapper {
    margin-left: 320px;
    padding: 0;
  }
  .intro__content {
    margin-top: 30px;
  }
  .reasons__content {
    position: relative;
  }
  .intro__head, .people__head, .awards__head, .clients__head {
    width: 230px;
    float: left;
    left: 0;
  }
  .reasons__head {
    left: 50%;
    margin-left: -545px;
  }
  .intro__head, .people__head, .awards__head, .outro__head, .clients__head {
  }
  .reasons {
    .stagger {
      flex-flow: column;
    }
    .stagger__item {
      width: 100%;
    }
    .stagger__item--desc-make {
      left: 50%;
      margin-left: 14%;
      padding: 80px 0 0 50px;
      right: 0;
      top: 0;
      position: absolute;
      h3 {
        margin-bottom: 0;
      }
      p {
        max-width: 350px;
      }
    }
    .stagger__item:nth-child(2n) {
      .stagger__item--desc-make {
        right: 50%;
        margin-left: 150px;
        padding: 50px 0 0 50px;
        left: 0;
        top: 0;
      }
      .stagger__item--make {
        left: 50%;
        margin-right: 150px;
        right: 0;
        top: 0;

      }
    }
    .stagger__item--make {
      right: 50%;
      margin-right: -150px;
      left: 0;
      top: 0;
      width: 60%;
      max-height: 480px;
      &:after {
        display: none;
      }
    }
    .stagger__item--number {
      position: relative;
      color: #2f363b;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .stagger__number {
      margin-top: 30px;
    }
  }
  .outro {
    .stagger__item {
      width: 100%;
      position: relative;
    }
    .stagger {
      position: relative;
    }
    .stagger__item--desc-make {
      left: 50%;
      margin-left: 14%;
      padding: 80px 0 0 50px;
      right: 0;
      top: 0;
      position: absolute;
      p {
        max-width: 350px;
      }
    }
    .stagger__item:nth-child(2n) {
      .stagger__item--desc-make {
        right: 50%;
        margin-left: 150px;
        padding: 80px 0 0 50px;
        left: 0;
        top: 0;
      }
      .stagger__item--make {
        left: 50%;
        margin-right: 150px;
        right: 0;
        top: 0;
      }
    }
    .stagger__item--make {
      right: 50%;
      margin-right: -150px;
      left: 0;
      top: 0;
      width: 60%;
      max-height: 480px;
      &:after {
        display: none;
      }
    }
    .stagger__item .stagger__item--build-bg {

    }
    .stagger__item--number {
      position: relative;
      color: #2f363b;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .stagger__number {
      margin-top: 30px;
    }
  }
  .page-section-footer {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .footer-page {
    .footer-content {
      left: 50%;
      position: relative;
      width: 540px;
      margin-left: -150px;
      padding-top: 60px;
      text-align: left;
    }
    .footer-social {
      left: 50%;
      position: relative;
      width: 540px;
      margin-left: -150px;
      padding-bottom: 50px;
      text-align: left;
      .social__facebook {
        margin-left: 0;
      }
    }
  }


  /* styles page city*/
  .iphone__graphic-crosslink {
    .iphone__device {
      margin-left: 0;
      width: 31%;
    }
    .iphone__lines {
      left: 32%;
      top: 0;
    }
    .iphone__aux-content {
      width: 31%;
      left: 1%;
    }
    .graphic-caption-content {
      top: 30%;
      left: 65%;
    }
  }

  .iphone__graphic-deeplink {
    .iphone__device {
      margin-left: 0;
      width: 31%;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 38%;
      }
    }
    .iphone__lines {
      left: 49%;
      top: 0;
    }
    .iphone__tap {
      left: 30%;
    }
    .iphone__arrow {
      left: 56%;
    }
    .graphic-caption-content {
      top: 30%;
    }
  }
  .iphone__block {
    max-width: 840px;
  }

  .caption-box__block {
    .iphone__block {
      max-width: 940px;
    }
    .iphone__video {
      width: 31%;
    }
    .graphic-caption-content {
      top: 30%;
    }
  }
  .a-guide-to-your-travels .iphone__device {
    width: 31%;
  }
  .iphone__lines {
    left: 32%;
    top: -14px;
  }
  .iphone__detail-crop {
    width: 75%;
    left: 133%;
  }
  .graphic-caption-content {
    display: block;
  }
  .numbered-title-list {
    li:nth-child(2) {
    .iphone__device:nth-child(2) {
        top: -14px;
        left: 3%;
      }
    }
    .iphone__lines {
      left: 35%;
    }
    .iphone__arrow {
      top: 27.5%;
      left: 39%;
    }
    .iphone__tap {
      left: 20%;
      top: 50%;
    }
  }
  .caption-box__around {
    .iphone__block {
      max-width: 670px;
    }
  }
  .graphic-caption-content {
    display: block;
    top: 55%;
    left: 65%;
    text-align: left;
    h4 {
      font-size: 18px;
      line-height: 20px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      width: 64%;
    }
  }
  .caption-box__block-mistakes {
    .iphone__device-group {
      margin-top: 0;
    }
    .iphone__device {
      width: 31%;
      margin-left: 6%;
      &:nth-child(2) {
        position: absolute;
        left: 36%;
        top: 0;
      }
    }
    .iphone__lines {
      left: 40%;
    }
    .iphone__tap {
      left: 31%;
    }
    .iphone__arrow {
      left: 44%;
    }
    .graphic-caption-content {
      h4 {
        text-align: left;
      }
      top: 30%;
      left: 70%;
    }
  }
  .caption-box__block-overflow {
    overflow: hidden;
    width: 180%;
    .iphone__block {
      max-width: 1240px;
    }
    .iphone__device {
      top: 0;
    }
    .iphone__lines {
      top: 5px;
      left: 49%;
    }
    .iphone__tap {
      left: 13%;
      top: 56.5%;
    }
    .iphone__tap--itinerary {
       top: 36.5%;
    }
    .iphone__arrow {
      left: 39.6%;
      top: 28.6%;
    }
    .iphone__arrow--itinerary {
      left: 71.5%;
      top: 59%;
    }
  }
}

