/* style of medium device */
@media (min-width: 1080px) {
  .slick-dots li {
    button:before {
      font-size: 40px;
    }
  }
  .studio__content {
    letter-spacing: 0.4em;
    line-height: 1;
    span  {
      font-size: 126px;
    }
  }
  .city__better {
    margin-top: 70px;
    letter-spacing: 12px;
  }
  .studio__huge,
  .city__travel,
  .best__title {
    font-size: 150px;
  }
  .first-word {
    border-color: #2f363b !important;
    width: 220px;
    padding: 64px 0 16px;
  }
  .reasons__item-block {
    display: block;
    max-height: 480px;
  }
  .reasons, .outro {
    padding-top: 180px;
  }
  .intro  {
    padding-top: 140px;
    margin: 0 auto;
    max-width: 940px;
    overflow: visible;
  }
  .people,
  .clients,
  .awards {
    padding-top: 180px;
    margin: 0 auto;
    max-width: 940px;
    // overflow: visible;
  }
  .intro__content,
  .people__content,
  .clients__wapper,
  .awards__wapper {
    margin-left: 320px;
    padding: 0;
  }
  .intro__content {
    margin-bottom: -5px;
    .intro__desc:nth-child(2) {
      padding: 20px 0;
    }
  }
  .intro__desc {
    font-size: 26px;
    line-height: 43px;
  }
  .reasons__content {
    position: relative;
  }
  .intro__head,
  .people__head,
  .awards__head,
  .clients__head {
    padding: 0 0 50px 60px;
    width: 230px;
    float: left;
    left: 0;
    letter-spacing: 0;
    background-position: 0 20px;
    span {
      padding: 64px 0 16px;
      font-size: 18px;
    }
  }

  .reasons__head, .outro__head {
    left: 50%;
    margin-left: -545px;
    position: absolute;
    padding: 0 0 50px 60px;
    span {
      padding: 64px 0 16px;
      font-size: 18px;
    }
  }

  .graphic-caption-content {
    position: absolute;
    h4 {
      text-align: left;
    }
  }

  // style block reasons
  .reasons {
    .stagger {
      flex-flow: column;
    }
    .stagger__item {
      width: 100%;
      max-height: 480px;
      max-width: 1800px;
      margin: auto;
      &:before {
        content: "";
        display: block;
        padding-bottom: 40%;
      }
    }
    .stagger__item--content {
      left: 50%;
      margin-left: 150px;
      padding: 0 40px 0 50px;
      right: 0;
      top: 0;
      position: absolute;
      height: 100%;
      text-align: center;
      white-space: nowrap;
      &:before {
        content: "";
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
        white-space: initial;
      }
    }
    .stagger__item--desc-make {
      display: inline-block;
      vertical-align: middle;
      white-space: initial;
      text-align: left;
      h3 {
        margin-bottom: 0;
      }
      p {
        max-width: 350px;
        font-size: 16px;
        margin-top: 10px;
      }
    }
    .stagger__item:nth-child(2n) {
      .stagger__item--content {
        right: 50%;
        margin-left: 0;
        margin-right: 150px;
        padding: 0 50px 0 40px;
        left: 0;
        top: 0;
      }
      .stagger__item--desc-make {
      }
      .stagger__item--make {
        left: 50%;
        margin-left: -150px;
        margin-right: 0;
        right: 0;
        top: 0;
      }
    }
    .stagger__item--make {
      right: 50%;
      margin-right: -150px;
      left: 0;
      top: 0;
      position: absolute;
      width: auto;
      height: 100%;
      max-height: initial;
      min-height: initial;
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
    .stagger__item--number {
      position: relative;
      color: #2f363b;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .stagger__number {
      margin-top: 40px;
    }
  }

  // styles part outro
  .outro {
    .stagger__item {
      width: 100%;
      position: relative;
      max-height: 480px;
      max-width: 1800px;
      margin: auto;
      &:before {
        content: "";
        display: block;
        padding-bottom: 40%;
      }
    }
    .stagger {
      position: relative;
    }
    .stagger__item--content {
      left: 50%;
      margin-left: 150px;
      padding: 0 40px 0 50px;
      right: 0;
      top: 0;
      position: absolute;
      height: 100%;
      text-align: center;
      &:before {
        content: "";
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
        white-space: initial;
      }
    }
    .stagger__item--desc-make {
      display: inline-block;
      vertical-align: middle;
      white-space: initial;
      text-align: left;
      p {
        max-width: 350px;
        font-size: 16px;
        margin-top: 10px;
      }
    }
    .stagger__item:nth-child(2n) {
      .stagger__item--content {
        right: 50%;
        margin-right: 150px;
        padding: 0 50px 0 40px;
        left: 0;
        top: 0;
        margin-left: 0;
      }
      .stagger__item--desc-make {
      }
      .stagger__item--make {
        left: 50%;
        margin-right: 0;
        margin-left: -150px;
        right: 0;
        top: 0;
      }
    }
    .stagger__item--make {
      right: 50%;
      margin-right: -150px;
      left: 0;
      top: 0;
      position: absolute;
      width: auto;
      height: 100%;
      max-height: initial;
      min-height: initial;
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
    .stagger__item--number {
      position: relative;
      color: #2f363b;
      font-size: 16px;
      margin-bottom: 60px;
    }
    .stagger__number {
      margin-top: 30px;
    }
    .outro__item-bg {
      display: block;
    }
  }
  .page-section-footer {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .footer-page {
    .footer-logo {
      left: 50%;
      margin-left: -482px;
      padding-top: 60px;
    }
    .footer-content {
      left: 50%;
      position: relative;
      width: 540px;
      margin-left: -150px;
      padding-top: 60px;
      text-align: left;
    }
    .footer-social {
      left: 50%;
      position: relative;
      width: 540px;
      margin-left: -150px;
      padding-bottom: 50px;
      text-align: left;
      .social__facebook {
        margin-left: 0;
      }
    }
  }


  /* styles page city*/
  .iphone__graphic-crosslink {
    .iphone__device {
      margin-left: 0;
      width: 31%;
    }
    .iphone__lines {
      left: 32%;
      top: 0;
    }
    .iphone__aux-content {
      width: 31%;
      left: 1%;
    }
  }

  .iphone__graphic-deeplink {
    .iphone__device {
      margin-left: 0;
      width: 31%;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 38%;
      }
    }
    .iphone__lines {
      left: 49%;
      top: 0;
    }
    .iphone__tap {
      left: 30%;
    }
    .iphone__arrow {
      left: 56%;
    }
  }
  .iphone__block {
    max-width: 940px;
  }

  .caption-box__block {
    .iphone__block {
      max-width: 940px;
    }
    .iphone__video {
      width: 31%;
    }
  }
  .a-guide-to-your-travels {
    .iphone__device {
      width: 31%;
    }
  }
  .iphone__lines {
    left: 32%;
    top: -14px;
  }
  .iphone__detail-crop {
    width: 75%;
    left: 133%;
  }

  .mistakes__block {
    .iphone__tap {
      left: 25%;
    }
  }
  .numbered-title-list {
    li:nth-child(2) {
    .iphone__device:nth-child(2) {
      top: 0;
      left: 36%;
      }
    }
    .iphone__lines {
      left: 33%;
    }
    .iphone__arrow {
      top: 27.5%;
      left: 37%;
    }
    .iphone__tap {
      left: 18%;
      top: 52%;
    }
  }
  .caption-box__around {
    .iphone__block {
      max-width: 670px;
    }
  }
  .graphic-caption-content {
    display: none;
    text-align: left;
    h4 {
      font-size: 18px;
      line-height: 20px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      width: 64%;
    }
  }
  .caption-box__block-mistakes {
    .iphone__device-group {
      margin-top: 0;
    }
    .iphone__device {
      width: 31%;
      margin-left: 0%;
      &:nth-child(1) {
        left: 0%;
      }
      &:nth-child(2) {
        position: absolute;
        left: 36%;
        top: 0;
      }
    }
    .iphone__lines {
      left: 35%;
    }
    .iphone__tap {
      left: 27%;
    }
    .iphone__arrow {
      left: 38%;
    }
  }
  .caption-box__slider {
    .caption-box__block-overflow {
      overflow: hidden;
      .iphone__block {
        max-width: 1240px;
      }
      .iphone__device {
        top: 0;
      }
      .iphone__lines {
        top: 5px;
        left: 49%;
      }
      .iphone__tap {
        left: 13%;
        top: 56.5%;
      }
      .iphone__tap--itinerary {
         top: 36.5%;
      }
      .iphone__arrow {
        left: 39.6%;
        top: 28.6%;
      }
      .iphone__arrow--itinerary {
        left: 71.5%;
        top: 59%;
      }
    }
  }
  .snowbird-hero {
    .iphone__device {
      width: 23%;
    }
  }
  .slideshow-placeholder {
    .device__group {
      max-width: 940px;
    }
    .iphone__device {
      width: 31%;
    }
  }
  .graphic-events {
    .device__group {
      max-width: 780px;
    }
  }

  .graphic-cropping {
    .iphone__device {
      top: 5%;
    }
  }
  .slideshow-trials-tribulations {
    .device__group {
      max-width: 670px;
    }
  }
  .hex-sketches {
    max-width: 1280px;
    position: relative;
    overflow: hidden;
    .hex-sketches-1,
    .hex-sketches-2 {
      width: 48%;
      margin: 0;
      float: left;
    }
    .hex-sketches-2 {
      left: 4%;
    }
  }
  .hex-slideshow {
    width: 100%;
    position: relative;
  }
    // part graphic evolving
  .highlight-content {
    width: 100%;
    left: 65%;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    max-width: 220px;
    font: 500 16px/1.5em "ff-meta-serif-web-pro", serif;
    cursor: default;
    margin-right: -23%;
    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      margin-left: -0.25em;
    }
    .caption-optimal {
      display: none;
      vertical-align: middle;
      top: 40%;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      h4 {
        text-align: left;
        max-width: 220px;
        font-size: 18px;
      }
      p {
        max-width: 464px;
        overflow: visible;
        height: auto;
        width: 100%;
        padding-top: 20px;
      }
      .caption-continue {
        display: none;
      }
    }
    .graphic-caption-content {
      position: relative;
      float: left;
      width: 100%;
      margin: 0 auto;
      max-width: initial;
      min-width: initial;
    }
  }
  .find-interesting-things-faster {
    .iphone__graphic-highlight {
      top: 88%;
    }
  }
  .highlight-content {
    .caption-optimal {
      left: 0;
      position: relative;
      p {
        width: 100%;
      }
    }
  }
  .national-parks-hero {
  .device__group {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
  }
  #nationalParks {
    .graphic-evolving-conventions {
      .iphone__tap {
        top: 39%;
      }
      .iphone__arrow {
        top: 20%
      }
      .iphone__tap--itinerary {
        top: 74.5%;
        left: 44%;
      }
    }
    .graphic-evolving-conventions-data {
      .iphone__tap {
        top: 20%;
      }
      .iphone__arrow {
        top: 51%;
        left: 38%;
      }
      .iphone__arrow--itinerary {
        left: 71%;
      }
    }
  }
}
