/* style of medium larger */
@media (min-width: 1200px) {
  .graphic-trials-tribulations-mapkit {
    .device__group {
      max-width: 1200px;
      padding-left: 5%;
      padding-right: 5%;
    }
    .ipad__device {
      width: 61%;
      margin: 0;
    }
  }
  .studio__content {
    span {
      font-size: 144px;
    }
  }
}

@media (min-width: 1260px) {
  .nav-menu-columns-container {
    width: 1142px;
  }
  .nav-menu-column {
    padding: 40px 40px 0 40px;
    h2 {
      font: 700 70px/70px "Futura Bold";
    }
  }
  .reasons {
    .stagger__item {
      &:before {
        padding-bottom: 35%;
      }
    }
  }
  .outro {
    .stagger__item:before {
      padding-bottom: 35%;
    }
  }
}
