/* style medium device */
@media (min-width: 640px) {
  // footer
  .footer-page {
    .footer-logo {
      left: 10%;
    }
  }
  .first-word {
    font-size: 18px;
    padding-bottom: 16px;
    padding-top: 64px;
  }
  .studio__content {
    font-size: 10px;
    span {
      font-size: 75px;
    }
  }
  .intro__head,
  .people__head,
  .awards__head,
  .reasons__head,
  .outro__head,
  .clients__head {
    background-position: 0 40px;
    background-size: 3.5em;
    font-size: 40px;
    left: 10%;
    padding: 25px 0 50px 60px;
    margin-left: -60px;
    width: 270px;
  }
  .intro__desc {
    font-size: 24px;
  }
  #person {
    justify-content: space-between;
    .person__item {
      width: 28%;
      margin-right: 8%;
      padding-bottom: 28%;
      margin-top: 8%;
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
      &:nth-child(2n) {
        margin-right: 8%;
      }
      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }

  // style part
  // .reasons {
  .reasons {
    .stagger__number {
      font-size: 90px;
      margin-top: 30px;
    }
  }
  // styles part clients
  .clients {
    .clients__item {
      width: 28%;
      margin-right: 8%;
      padding-bottom: 28%;
      margin-top: 8%;
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
      &:nth-child(2n) {
        margin-right: 8%;
      }
      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }
  // style part awards
  .awards {
    .awards__item {
      width: 28%;
      margin-right: 8%;
      padding-bottom: 28%;
      margin-top: 8%;
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
      &:nth-child(2n) {
        margin-right: 8%;
      }
      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }
  .stagger__number {
    font-size: 75px;
  }
  .reasons {
    .stagger__item--number {
      font-size: 10px;
    }
    .stagger__item--desc-make {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .awards__item,
  .awards__fwa,
  .awards__w3,
  .awards__webby,
  .awards__awwwards,
  .awards__german,
  .awards__adobe,
  .awards__appstore,
  .awards__apple {
    width: 28%;
    padding-bottom: 29%;
    margin-right: 8%;
    &:nth-child(3n) {
      margin-right: 0 !important;
    }
    &:nth-child(2n) {
      margin-right: 8%;
    }
  }
  .outro .stagger__item--desc-make {
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }

  // styles part footer page
  .footer-page {
    .footer-content {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
    .footer-social {
      .social__facebook {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .numbered-title-list {
   .numbered-title:before,
   .numbered-title--cross:before,
   .numbered-title--deep:before,
   .numbered-title--img:before,
   .numbered-title--canvas:before {
    line-height: 18px;
   }
  }

  // scroll screen image
  .iphone__screenshots {
    overflow: visible !important;
    width: auto;
    height: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      font-size: 50px;
      width: 250%;
      li {
        float: left;
        width: 44%;
        height: 100% !important;
        margin: 0 31px 0 0;
        padding: 0;
        background: #333;
        color: #ddd;
        text-align: center;
        cursor: pointer;
       }
    }
}
}
