/* style of small device */
@media (min-width: 768px) {
  #siteStudio {
    margin: 61px 0 0 0;
  }
  .city__better {
    font-size: 16px;
    margin-top: 42px;
    letter-spacing: 0.75em;
    padding-left: 0.75em;
    word-spacing: 0.25em;
  }
  .studio__content {
    font-size: 12px;
    span {
      font-size: 90px;
    }
  }
  .best__title {
    font-size: 136px;
    padding-top: 20px;
  }
  .city__arrive,
  .city__attribution {
    font-size: 16px;
    letter-spacing: 0.75em;
    padding-left: 0.75em;
    word-spacing: 0.25em;
    padding-top: 20px;
  }
  .city__travel {
    font-size: 119px;
    padding-top: 20px;
    letter-spacing: -0.05em;
  }
  .site-nav {
    height: 61px;
    -webkit-perspective-origin: 50% 60px;
    -moz-perspective-origin: 50% 60px;
    perspective-origin: 50% 60px;
  }

  .reasons {
    .stagger__number {
      font-size: 105px;
      margin-top: 40px;
    }
  }
  .nav-bar {
    height: 61px;
  }
  .nav-link-logo {
    width: 70px;
    height: 61px;
    background-image: url(../images/logo-desktop@2x.png);
    background-position: 19px -1px;
    background-repeat: no-repeat;
    background-size: 34px 122px;
  }
  /* Burger */
  .nav-link-menu {
    right: 0;
    padding: 22px;
  }
  .nav-link-menu-content {
    width: 30px;
    height: 17px;
  }
  .nav-link-menu-inner {
    border-width: 3px 0 0 0;
  }
  .nav-link-menu-outer {
    &:before, &:after {
      border-width: 3px 0 0 0;
    }
  }
  .nav-link-menu-inner {
    top: 7px;
  }
  .nav-link-menu.active .nav-link-menu-outer {
    &:before {
      -webkit-transform: translateY(-2.5px) translateX(-3px) rotate(-45deg);
      -moz-transform: translateY(-2.5px) translateX(-3px) rotate(-45deg);
      transform: translateY(-2.5px) translateX(-3px) rotate(-45deg);
    }
    &:after {
      -webkit-transform: translateY(4.5px) translateX(-3px) rotate(45deg);
      -moz-transform: translateY(4.5px) translateX(-3px) rotate(45deg);
      transform: translateY(4.5px) translateX(-3px) rotate(45deg);
    }
  }
  .nav-link-logo.content-mode {
    background-position: 19px -62px;
  }
  .pagination {
    height: 60px;
    li a {
      width: 26px;
      &:after {
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
        background-size: 10px 20px;
      }
    }
  }
  .site-head .pagination {
    display: block;
    top: auto;
    bottom: 24px;
  }
  .site-nav .pagination li a:after {
    background-position: 0 -10px;
  }

  .site-head .pagination {
    top: auto;
    bottom: 72px;
  }

  .site-head .pagination {
    bottom: 108px;
  }

  .site-head .pagination {
    bottom: 110px;
  }
  #navMenu {
    top: 60px;
    height: 350px;
  }
  #navMenuContent, .nav-menu-content, .nav-menu-base, .nav-menu-base-content, .nav-menu-fold, .nav-menu-fold-content {
    height: 350px;
  }
  #navMenuRight {
    .nav-menu-base {
      width: 721px;
      -webkit-transform: rotateZ(-29deg);
      -moz-transform: rotateZ(-29deg);
      transform: rotateZ(-29deg);
    }
    .nav-menu-base-content {
      -webkit-transform: rotateZ(29deg);
      -moz-transform: rotateZ(29deg);
      transform: rotateZ(29deg);
    }
    .nav-menu-fold {
      width: 721px;
      -webkit-transform: translateY(100%) rotateZ(-29deg) translateY(-1px) rotateX(180deg);
      -moz-transform: translateY(100%) rotateZ(-29deg) translateY(-1px) rotateX(180deg);
      transform: translateY(100%) rotateZ(-29deg) translateY(-1px) rotateX(180deg);
    }
    .nav-menu-fold-content {
      -webkit-transform: translateY(1px) translateY(-100%) rotateZ(29deg);
      -moz-transform: translateY(1px) translateY(-100%) rotateZ(29deg);
      transform: translateY(1px) translateY(-100%) rotateZ(29deg);
    }
  }
  .site-nav.nav-menu-open #navMenuRight .nav-menu-fold {
    -webkit-transform: translateY(100%) rotateZ(-29deg) translateY(-1px);
    -moz-transform: translateY(100%) rotateZ(-29deg) translateY(-1px);
    transform: translateY(100%) rotateZ(-29deg) translateY(-1px);
  }
  .nav-menu-columns-container {
    width: 768px;
    margin: 0 auto;
    color: #fff;
  }
  .nav-menu-column {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 40px 10px 0 10px;
    &:last-child {
      width: 40%;
    }
    h2 {
      font: 700 52px/52px "Futura Bold";
      padding: 0 0 36px 0;
      letter-spacing: -2px;
      text-indent: 10px;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
    }
    li {
      font: 300 12px/3 "Futura Book";
      text-transform: uppercase;
      text-indent: 11px;
      a {
        display: block;
        text-decoration: none;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .slick-dots {
    height: 61px;
    li {
      width: 16px;
      button:before {
        top: 10px;
        font-size: 40px;
      }
    }
  }
  // .slick-dots li button:before
  .guides__block-number {
    font-size: 14px;
    &:before, &:after {
      border-width: 4px 0 0;
      margin-top: -2px;
    }
    span {
      border-width: 0 3px;
      width: 35px;
      height: 23px;
      line-height: 23px;
      &:after, &:before {
        left: -3px;
      }
    }
  }
  .guides__title  {
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-size: 44px;
    p {
      font-size: 13px;
    }
  }

  // style page city page
  .page-section {
    padding-top: 120px;
  }
  .page-section.header {
    padding-top: 60px;
  }
  .guides__desc {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 38px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .travel__icon {
    @include size(150px);
  }
  .numbered-title-list {
    .numbered-title--cross,
    .numbered-title--deep {
      font-size: 24px;
      line-height: 38px;
    }
  }
  .graphic-caption-box h4 {
    font-size: 24px;
    line-height: 38px;
    margin: 80px 0;
  }
  .guides__quote,
  .guides__response {
    em {
      font-size: 24px;
      line-height: 38px;
    }
  }
  .list {
    padding-left: 10%;
    padding-right: 10%;
    li {
      font-size: 21px;
    }
  }
  .guides__caption {
    font-size: 18px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  .block__device-header {
    .iphone__block {
      max-width: 840px;
    }
  }
  .a-guide-to-your-travels .iphone__block {
    margin-top: 50px;
  }
  .footer-page .footer-logo img {
    width: 40px;
    left: 50%;
    margin-left: -482px;
    padding-top: 60px;
  }
  .a-guide-to-your-travels .graphic-caption-content {
    display: none;
    position: absolute;
    top: 32%;
    left: 70%;
    width: 30%;
  }
  .numbered-title-list {
   .numbered-title,
   .numbered-title--cross,
   .numbered-title--deep,
   .numbered-title--img,
   .numbered-title--canvas {
      font-size: 24px;
      &:before {
        line-height: 24px;
      }
   }
  }

  // part graphic evolving
  #national-parks {
    .graphic-evolving-conventions {
      .iphone__tap {
        top: 37%;
        left: 20%;
      }
      .iphone__arrow {
        top: 18%;
        left: 39%;
      }
      .iphone__tap--itinerary {
        top: 72.5%;
        left: 44%;
      }
      .iphone__arrow--itinerary {
        left: 72%;
      }
    }
    .graphic-evolving-conventions-data {
      .iphone__tap {
        top: 18%;
        left: 8%;
      }
      .iphone__arrow {
        top: 49%;
        left: 38%;
      }
      .iphone__arrow--itinerary {
        left: 72%;
      }
    }
  }
  .icon-comparison {
    width: 360px;
    .icon-1,.icon-2 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .graphic-tray {
    .ipad__device {
      width: 85%;
    }
  }
  #person {
    .person__block {
      h5 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .iphone__screenshots {
    width: 112%;
  }
  .highlight-content-block {
    li {
    padding-top: 0;
    }
    top: 0 !important;
    color: white;
    min-width: 240px;
    max-width: 360px;
    margin: 50px auto;
    overflow: hidden;
    .caption-optimal {
      position: relative !important;
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
        height: auto !important;
        font-size: 14px;
      }
    }
  }
  .highlight-content .caption-optimal p {
    max-width: initial;
  }
  .pagination-bar {
    height: 40px;
    max-width: 480px;
  }

  .case-study-icon {
    width: 150px;
    height: 150px;
  }
  .caption__employee {
    font-size: 16px;
  }
  .guides__title {
    p {
      padding-top: 30px;
    }
  }
  .attribution {
    font-size: 24px;
  }
  .circles-rectangles {
    .caption-circle,
    .caption-rectangle,
    .caption-rectangle-circle {
      font-size: 18px;
    }
  }
  .rounded-hexagon {
    .caption-hexagon {
      font-size: 18px;
    }
  }
  .hex-sketches {
    .caption-sketches {
      font-size: 18px;
    }
  }
  .hex-slideshow {
    .caption-hex {
      font-size: 18px;
    }
  }

  .slideshow-caption-content {
    padding: 30px 0 5px 0;
    .caption-optimal {
      max-width: 464px;
      h4 {
        margin: -20px 0 0 0;
        padding: 30px 0 5px 0;
        font: 700 26px "Futura Bold", serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
      }
      p {
        height: auto;
        font-size: 18px;
        color: $white;
      }
      a {
        color: $white;
        margin: 0 3px;
      }
    }
    .caption-continue {
      display: none;
    }
  }
  .pagination-bar {
    .pagination-bar-inner {
      height: 2px;
    }
  }
  .meeting__title {
    font-size: 21px;
  }
}

@media (min-width: 768px) and (min-height: 660px) {
  .site-head a.down-arrow {
    visibility: visible;
    bottom: 24px;
  }
}
