@media (min-width: 960px) {
  .nav-menu-columns-container {
    width: 960px;
  }
  .nav-menu-column {
    padding: 40px 20px 0 20px;
  }
  .studio__content {
    font-size: 14px;
    span {
      font-size: 105px;
    }
  }
  .city__travel {
    font-size: 136px;
  }
  .code-collection,
  .group-device__block {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .ipad__block,
  .iphone__block {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .graphic-cropping {
    .device__group {
      max-width: 940px;
      padding-right: 12.5%;
      padding-left: 12.5%;
    }
  }
  .graphic-events {
    .device__group {
      padding-right: 12.5%;
      padding-left: 12.5%;
    }
  }
  .graphic-dining {
    .device__group {
      padding-right: 12.5%;
      padding-left: 12.5%;
    }
    .iphone__lines {
      left: 50%;
    }
  }
  .nav-menu-left {
    display: block;
  }
  .nav-menu-center {
    left: 279px;
    .nav-menu-content {
      left: -279px;
    }
  }

  .device__block {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .national-parks-hero,
  .slideshow-placeholder {
    .device__group {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
  }
  .guides__quote,
  .guides__response {
    padding-left: 12.5%;
    padding-right: 12.5%;
    em {
    }
  }
  .graphic-tray {
    .device__group {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
  }
}

@media (min-width: 768px) and (min-height: 990px) {
  .site-head a.down-arrow {
    bottom: 44px;
  }
}
