.boxes-container
  .row
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 01
          h4.intro__tille  Money out of Moscow
          p.intro__date - May 2015 -
        img.box-speaks__image(src="/images/moscow-coloured.png" alt="moscow-coloured")
        img.box-speaks__dark(src="/images/moscow-dark.png" alt="moscow-dark")
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 02
          h4.intro__tille A Comparison of Global Property Costs
          p.intro__date - January 2015 -
        img.box-speaks__image(src="/images/costs-coloured.png" alt="costs-coloured")
        img.box-speaks__dark(src="/images/costs-dark.png" alt="costs-dark")
  .row
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 03
          h4.intro__tille  Chinese and Indian Wealth Demographics
          p.intro__date - November 2014 -
        img.box-speaks__image(src="/images/chinese-and-indian-color.png" alt="chinese-and-indian")
        img.box-speaks__dark(src="/images/chinese-and-indian.png" alt="chinese-and-indian")
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 04
          h4.intro__tille Letter from Cairo
          p.intro__date - February 2014 -
        img.box-speaks__image(src="/images/cairo-coloured.png" alt="cairo")
        img.box-speaks__dark(src="/images/cairo-dark.png" alt="cairo dark")
  .row
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 05
          h4.intro__tille From Russia with Love
          p.intro__date - December 2013 -
        img.box-speaks__image(src="/images/russia-coloured.png" alt="russia coloured")
        img.box-speaks__dark(src="/images/russia-dark.png" alt="russia dark")
    .col.s12.m6
      .box-speaks
        a(href="javascript:void(0)")
        .box-speaks__content.center-align
          .cube.box
            .cube__arrow
            .cube__number 06
          h4.intro__tille Made in Chelsea
          p.intro__date - November 2013 -
        img.box-speaks__image(src="/images/chelsea-coloured.png" alt="Chelsea coloured")
        img.box-speaks__dark(src="/images/chelsea-dark.png" alt="Chelsea dark")
