.question.boxes-container
  .question__box.left.white
    p.question__numbers.center-align 01
    h4.question__title What type of project do we consider?
    p.question__answer We exclusively focus on providing funding solutions to luxury residential and branded hospitality property developments, both single and multi-unit. We consider projects ranging in time from 12 weeks to 3 years.
  .question__box.white.right
    p.question__numbers.center-align 02
    h4.question__title What is the typical project size that we target?
    p.question__answer We seek to provide financial solutions to projects between £5m - £100m.
  .question__box.right.white
    p.question__numbers.center-align 03
    h4.question__title Where?
    p.question__answer London and the South East of England with capability overseas.
  .question__box.white.left
    p.question__numbers.center-align 04
    h4.question__title Developer profile?
    p.question__answer We work alongside experienced, profitable and sustainable developers with an extensive track record of creating outstanding, best in class, luxury residences.
  .question__box.white.right
    p.question__numbers.center-align 05
    h4.question__title What are our key USPs?
    ul.question__answer
      li Owner managed so fast decision making from senior, experienced people
      li Detailed local knowledge of our development locations alongside a deep understanding of international buyer habits and tastes
      li Access to hard to find finance and terms
      li Ability to design a financial solution from the ground up to make it seamlessly fit a project
      li A team containing property and financial professionals
  .question__box.left.white
    p.question__numbers.center-align 06
    h4.question__title Soane’s track record?
    p.question__answer Since 2006, members of the Soane Capital team have successfully provided financing solutions for in excess of 20 luxury residential property developments in the UK and overseas.
  .question__box.white.left
    p.question__numbers.center-align 07
    h4.question__title How quickly can we provide a decision to fund?
    p.question__answer Upon receipt of a detailed development appraisal and all required due diligence items, we will usually indicate interest within 48 hours.
  .question__box.white.right
    p.question__numbers.center-align 08
    h4.question__title Any key lending/funding parameters?
    p.question__answer Each project is assessed on its own merits. Recent deals have varied from a 50/50% joint venture basis to 100% funding. We have access to a wide range of funding sources and are not reliant upon one bank, fund or private family. We generally seek a material commitment from a developer.
  .question__box.white.left
    p.question__numbers.center-align 09
    h4.question__title What is the typical legal structure around a project?
    p.question__answer For each property development a company is formed by way of a Special Purpose Vehicle (SPV). The asset sits within this company, of which the investor(s), the developer and typically Soane are shareholders.
