.main-container#fsvs-body
  .slide.slide__first
    .vertical-center.horizontal-center
      .container
        .row
          .col.m12.l10.offset-m0.offset-l1
            h2.big-tille.center-align  We work alongside experienced luxury developers
            p.details-content.center-align With an extensive track record of creating high-end residences within some of the most desirable locations in London and the South East of England.
    img.slide__background-full(src="images/developers.png" alt="developers")
    // part down-arrow
    include down-arrow.jade
  .slide.slide-third
    .vertical-center.horizontal-center
      .container
        .row
          .col.s12.l4
            h2.big-tille.center-align equity
            p.details-content.center-align The core of the business sees us provide developers with equity through our extensive network of private individuals and institutions.
          .col.s12.l4
            h2.big-tille.center-align mezzanine finance
            p.details-content.center-align We have access to funds seeking a 2nd charge security behind the 1st charge lender at competitive interest rates and with flexible loan periods.
          .col.s12.l4
            h2.big-tille.center-align  Senior Debt
          .col.s12.l4
          .col.s12.l4
            p.details-content.center-align We arrange senior and stretched senior finance through our significant network of on and offshore lenders.
    img.slide__background-full(src="images/pattern.png" alt="pattern")
