.main-full
  .fixed-bottom
    .row
      .col.s6
        .pointer.sound
          .sound__volume
            i.material-icons volume_up
            i.material-icons volume_off
          .sound__text Sound
            span ON
            span OFF
      .col.s6
        .right.copyright
          .copyright__text All rights reserved 2015
          .copyright__link Disclaimer
