.main-full
  .fixed-bottom
    .row
      .col.s6
        .pointer.sound
          .sound__volume
            i.material-icons.sound__volume--up volume_up
            i.material-icons.sound__volume--off volume_off
          .sound__text Sound
            span.sound__text--state ON
            span.sound__text--separator OFF
      .col.s6
        .right.copyright
          .copyright__text All rights reserved 2015
          .copyright__link Disclaimer
