nav.row.nav-main
  .col.s3
    .nav-wrapper
      a.logo-header(href="javascript:void(0)")
      a.button-collapse(href="javascript:void(0)" data-activates="mobile-demo")
        i.material-icons menu
  .col.s9
    ul.nav-mobile.right.hide-on-med-and-down
      li
        a(href="about.html") About Soane
      li
        a(href="developers.html") Developers
      li
        a(href="speaks.html") Soane Speaks
      li
        a(href="faq.html") Faq
      li
        a(href="javascript:void(0)") Contact
    // navigation on device mobile
    ul#mobile-demo.side-nav
      li
        a(href="javascript:void(0)") About Soane
      li
        a(href="javascript:void(0)") Developers
      li
        a(href="javascript:void(0)") Soane Speaks
      li
        a(href="javascript:void(0)") Faq
      li
        a(href="javascript:void(0)") Contact
