.main-container#fsvs-body
  .slide.slide__first
    .vertical-center.horizontal-center
      .container
        .row
          .col.m12.l10.offset-m0.offset-l1
            h2.big-tille.center-align Financing solutions for the finest residences
    img.slide__background-full(src="images/living-room.png" alt="living-room")
  .slide.slide-third
    .vertical-center.horizontal-center
      .container
        .row
          .col.l12
            h2.big-tille.center-align 
              span Founded
              | and
              span managed
              |  an experienced team of entrepreneurial property and finance professionals
        .row
          .col.m12.l8.offset-m0.offset-l2
            p.details-content.center-align Soane Capital exists to connect development finance to niche developers creating luxury homes for successful people in the most select, high value locations in London and the South East of England.
    img.slide__background-full(src="images/wood-flowers.png" alt="wood-flowers")
  .slide.slide-three
    .vertical-center.horizontal-center
      .container
        .row
          .col.l10.offset-l1
            h2.big-tille.center-align Our company name is a nod to
              span Sir John Soane (1753 - 1837)
        .row
          .col.l8.offset-l2
            p.details-content.center-align One of the United Kingdom's most revered neo-classical architects, who built the Bank of England amongst many other landmark buildings. We are privileged to have members of the Soane family amongst our partners.
    img.slide__background-full(src="images/fortune-teller.png" alt="living-room")
<h2 class="text-center animated-onslide animated-onslide-1"> </h2>
