.main-container.soane-speaks
  .market-container
    .vertical-center.horizontal-center
        .container
          .row
            .col.m12.l10.offset-m0.offset-l1
              h2.big-tille.center-align.show-text  Market Intelligence
              p.details-content.center-align.show-text We create proprietary research focusing primarily on the economies creating wealth and those influencing the buyers of luxury homes in thefinest enclaves both in London and the South East of England.
              .line
              p.details-content.center-align.show-text Recent papers written by our team can be seen below.
  .container
    include box-speaks.jade
