.container-content
  section.blog-post
    .blog-title
      span.parallel-lines
      h2.title-block From the Journal
      span.parallel-lines
    .journal-post
      h2.journal-post__title Pellentesque  Malesuada Vulputate
      h6.journal-post__day 21.04.2014  /  Photography, Journal
      img.journal-post__image(src='images/wild-mushrooms.png' alt='wild-mushrooms')
      p.journal-post__description Curabitur blandit tempus porttitor. Duis at vollisky inceptos millisector combono luctus erat. Morbi rirus, porta consutetur vestibulum at eros
      a.journal-post__link Continue reading
      span.journal-post__page 35
    .journal-post
      h2.journal-post__title Malesuada Portar Etiam Ligula
      h6.journal-post__day 21.04.2014  /  Photography, Journal
      img.journal-post__image(src='images/cake-tops.png' alt='cake-tops')
      p.journal-post__description Curabitur blandit tempus porttitor. Duis at vollisky inceptos millisector combono luctus erat. Morbi rirus, porta consutetur vestibulum at eros
      a.journal-post__link Continue reading
      span.journal-post__page 27
    .journal-post
      h2.journal-post__title Purus Justo Consectetur Ipsum
      h6.journal-post__day 21.04.2014  /  Photography, Journal
      img.journal-post__image(src='images/rooms-anniversary.png' alt='switch')
      p.journal-post__description Curabitur blandit tempus porttitor. Duis at vollisky inceptos millisector combono luctus erat. Morbi rirus, porta consutetur vestibulum at eros   
      a.journal-post__link Continue reading 
      span.journal-post__page 43
