section.instagram-slide
  .instagram-short
    span.instagram-short__grey-line
    h2.instagram-short__title Latest instagram shots
    span.instagram-short__grey-line
  .instagram-scroll
    img.instagram-scroll__image(src='images/bicycle-old.png' alt='bicycle-old')
    img.instagram-scroll__image(src='images/shirt-clamp.png' alt='shirt-clamp')
    img.instagram-scroll__image(src='images/car-old.png' alt='car-old')
    img.instagram-scroll__image(src='images/power-outlet.png' alt='power-outlet')
  .instagram-link
    a.instagram-link__buttons Instagram page
