.page-title
  h2.page-title__introduce hello! i’m jonathon kubb, a freelance photographer.
  p.page-title__based Based in New York, I specialize in landscape, advertorial and conceptual and photography
