%heading-title {
  display: block;
  margin: 0 0 23px;
  padding: 0;
  text-transform: none;
  text-align: left;
  font-style: normal;
  font-family: $font-opensans;
  font-size: 70px;
  line-height: 82px;
  font-weight: 300;
}
