
.bg-main {
    line-height: 1;

    color: $global-text-color;
    background: $main-bg-color;
}
.todo-wrapper {
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;
}
.add-todo {
    position: relative;

    border-bottom: 1px solid $border-add-bottom-color;
   
    #toggle-all {
        position: absolute;
        text-align: center;
        appearance: none;
            -moz-appearance: none;
                -webkit-appearance: none;
        position: absolute;
        top: 10px;
        width: 60px;
        height: 34px;
        text-align: center;
        border: none; 
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        &:focus {
            outline: none;
            border: none;
        }
    }

    #toggle-all:before {
        content: '>';
        font-size: 22px;
        color: #e6e6e6;
        padding: 10px 27px 10px 27px;
    }

    #toggle-all:checked:before {
        color: #737373;
    }
    .input-todo {
        width: 550px;
        padding: 20px 15px 20px 60px;
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
}
.todo-item {
    display: inline;

    list-style-type: none;
}
.todo-list-wrap {
    max-width: 550px;
}

.todo-list {
    padding: 0px;
    display: inline;
    .todo-item {
        border-bottom: 1px solid $item-border-bottom-color;
        .todo-view {
            position: relative;
            background: $white;
            border-bottom: 1px solid $border-add-bottom-color;
        }
        label {
              margin:20px 0 20px 45px;
        }
        .checkbox {
            position: absolute;
            text-align: center;
            appearance: none;
                -moz-appearance: none;
                    -webkit-appearance: none;
            &:focus {
                outline: none;
                border: none;
            }
        }
        .checkbox:after {
            position: absolute;
            left: 4px;
            top: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            content: '';
            border: 1px solid #efefef;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }
        .checkbox:checked:after {
            border: 1px solid #c7e0db;
            background: url(../image/tick-after.png) no-repeat center center;
            label {
              text-decoration: line-through;
            }
        }
    }
}

.delete {
    font-size: 30px;

    position: absolute;
    top: 0;
    right: 10px;

    display: none;

    width: 40px;
    height: 40px;
    margin: 10px 0;

    cursor: default;
    text-align: center;

    color: $item-delete-button-color;

    a {
        text-decoration: none;
    }
}

.todo-edit {
    display: none;
}



.todo-action {
    font-size: 14px;
    font-weight: 300;

    position: relative;

    overflow: hidden;

    padding: 12px 15px;

    background-color: $white;
    border-bottom: 1px solid $border-add-bottom-color;
    .item-left {
        float: left;
    }
    .list-action {
        position: absolute;
        top: 3px;
        left: 0;

        width: 100%;
        padding: 5px 0;

        text-align: center;
        li {
            display: inline-block;
        }
    }
    .clear-button {
        position: relative;

        color: $filter-button-text-color;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.button {
    line-height: 22px;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 22px;
    padding-right: 10px;
    padding-left: 10px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0;

    color: $filter-button-text-color;
    border: 1px solid $white;
    -webkit-border-radius: $global-radius;
       -moz-border-radius: $global-radius;
            border-radius: $global-radius;
}

.btn-active {
    border: 1px solid $filter-button-border-hover-color;
}

.completed {
    label {
        text-decoration: line-through;

        color: $item-delete-button-color;
    }
}
