%bg-repeat {
	background-repeat: no-repeat;
}

%background-center {
	background-position: center;
}

%relative {
	position: relative;
}

%dislay-block {
	display: block;
}

%display-none {
	display: none;
}
