.row
  selection.exchange.small-block-grid-12
    h3.exchange__title.small-12 Web hosting reliable and cheap using selected server
    .small-12
      .services.small-12.large-4.columns
        img.services__image(src="/images/storage.png")
        h4.services__title Unlitmited storage
        p.services__content we provide unlimited storage for personal  or company needs to use out services, we guarantee your data will be protected and its capacity we have adequate storage
      .services.small-12.large-4.columns
        img.services__image(src="/images/expert.png")
        h4.services__title Expert Support
        p.services__content we provide unlimited storage for personal  or company needs to use out services, we guarantee your data will be protected and its capacity we have adequate storage
      .services.small-12.large-4.columns
        img.services__image(src="/images/highest.png")
        h4.services__title Highest Data Security
        p.services__content we provide unlimited storage for personal  or company needs to use out services, we guarantee your data will be protected and its capacity we have adequate storage
