.row
  .package-hosting.small-block-grid-12
    .package-hosting__title.small-12 Most Popular Hosting Package 
    .small-12
      .package.small-12.large-3.columns
        .package__type
          h2.package__type--title Medium hosting
          span starting from
          h2.package__type--price $15
          span per month
        ul.package__details
          li 10GB Store Space
          li 40GB Bandwith
          li 200 Email Accounts
          li Control panel FTP
          li 24/7 support
        a.button.tiny(href="javascript:void(0)") Order
      .package.small-12.large-3.columns
        .package__type
          h2.package__type--title Premium hosting
          span starting from
          h2.package__type--price $15
          span per month
        ul.package__details
          li 10GB Store Space
          li 80GB Bandwith
          li 500 Email Accounts
          li Control panel FTP
          li 24/7 support
        a.button.tiny(href="javascript:void(0)") Order
      .package.small-12.large-3.columns
        .package__type
          h2.package__type--title Cloud PSV
          span starting from
          h2.package__type--price $15
          span per month
        ul.package__details
          li Unlimited Storage Space
          li 200GB Bandwith
          li 1000 Email Accounts
          li Control panel FTP
          li 24/7 support
        a.button.tiny(href="javascript:void(0)") Order
      .package.small-12.large-3.columns
        .package__type
          h2.package__type--title Dedicated Servers
          span starting from
          h2.package__type--price $15
          span per month
        ul.package__details
          li Unlimited Storage Space
          li 500GB Bandwith
          li 5000 Email Accounts
          li Control panel FTP
          li 24/7 support
        a.button.tiny(href="javascript:void(0)") Order
