@media only screen and (max-width: 1023px) and (min-width: 767px) {
  .container {
    width: 724px;
  }
  .menu {
    .navigation {
      width: 100%;
      li {
        width: 120px;
      }
    }
    .navigation .active {
      background: url(../images/menu_effect.png) no-repeat bottom center;
    }
  }
  .photographer {
    background-attachment: initial;
    .photographer__name {
      font-size: 50px;
      line-height: 65px;
    }
  }
  #exhibitions li:first-child  {
    .exhibitions__content {
      width: 265px;
    }
  }
  #exhibitions li:nth-child(n+1) {
    .exhibitions__content {
      width: 282px;
    }
    .exhibitions__time {
      right: 323px;
    }
  }
  #exhibitions li:nth-child(3n) {
    .exhibitions__time {
      right: 270px;
    }
  }
  .exhibitions__line {
    height: 81%;
  }
  #portfolio {
    justify-content: center;
  }
  #resume li:first-child {
    .resume__content {
      width: 200px;
    }
  }
  #resume li:nth-child(n+1) {
    .resume__content {
      width: 282px;
    }
  }
  #resume li:nth-child(n+1) {
    .resume__time {
      right: 323px;
    }
  }
  #resume {
    .resume__line {
      height: 85%;
    }
    li:nth-child(3n), li:nth-child(5) {
      .resume__time {
        right: 221px;
      }
    }
  }
  .navigation li:hover, {
    .navigation .active {
      background: url(../images/menu_effect.png) no-repeat bottom center;
    }
  }
  .navigation li:hover, .navigation .active {
    background: url(../images/menu_effect.png) no-repeat bottom center;
  }

  .navigation {
    .effect_bock {
      display: none;
    }
  }
  .menu .navigation li:nth-child(6):hover ~ .effect_bock {
    left: 540px;
  }
}
