extends layouts/default
block variables
  - bodyClass = "about"
block content
  .content
    header.header-page
      h1.header-page__title.about__icon  About
      p.header-page__desc Food Sense is a unique resource for thoughtful, food-loving eaters and home cooks who have a palate for plant-based eating - for themselves or their loved ones; three days a week, or every day of the year.
    section.blog-wap
      h2.about__title Food Sense
      p.about__desc Our recipes, stories, and featured vendors are handpicked, thoroughly researched, and well-loved, because our goal is to give you the very best of a plant-based lifestyle.
      p.about__desc
        a(href="javascript:void(0)")
        | Tastemakers is a gallery of home-cooked eye candy – the very best vegetarian and vegan recipes from a community of celebrated food bloggers.
      p.about__desc
        a(href="javascript:void(0)") The A-List 
        | is a carefully curated collection of favorite vendors.
      p.about__desc On the Food Sense 
        a(href="javascript:void(0)") blog 
        | , you’ll find the latest news, recipe collections, tips, and personal journeys to a plant-based life.
      p.about__desc And finally, join the potluck of voices that are defining Food Sense. Visit the 
        a(href="javascript:void(0)") Contribute page 
        | to learn how.
      p.about__desc Thanks so much for stopping by. Whether you’re here to share your Food Sense or start using it - Welcome!
      p.about__desc
        em - Julie
      h2.about__title About Julie
      p.about__desc
        img.about__desc--images(src="../images/desktop/julie-01_252x378.jpg") 
        | JulieI adopted a 100% plant-based diet in 2006 as part of a plan to clear up my chronically congested skin. It started as a shockingly effective, fully natural way to beat a condition that my dermatologists couldn’t fix for years. Now, it has become a passion, and a way of life that I love.
      p.about__desc Going vegan for my skin pushed me to eat more consciously and cook more at home. I started waking up to the quality of my ingredients, the way flavors and textures combine, and the joy of sharing food with others. In short, after years of snacking on cookies and milk, and “cooking” soup from a can -
      p.about__desc I finally got some Food Sense
      p.about__desc It wasn’t easy. I could no longer eat some of my mom’s signature dishes, because they contained dairy. Sometimes, I had to eat at home before going out with my friends - because I knew there wouldn’t be anything for me at the chosen restaurant. I could have gotten a lot more sleep if I stuck to frozen and prepared meals, instead of teaching myself to cook (a seemingly major sacrifice, as I needed all of my energy to teach 5th grade at the time).
      p.about__desc But, more importantly, for me -
      p.about__desc The act of preparing and putting great food into my body relieved stress, cleared my mind, and set the stage for productivity.
      p.about__desc It was empowering to be able to kick illnesses without popping a bunch of pills.
      p.about__desc There was simply nothing that tasted as good, or felt as good, as a home cooked, well executed, and plant-based meal.
      p.about__desc So, five years later, here I am. I love farmer’s markets, recipe blogs, cooking with (let’s be honest) for my husband, connecting with others who love this life, and watching plant-based eating gain traction across the country. I live in Philadelphia, where I could read and write in cafes all day, enjoy trying to plate my everyday dishes like they belong on Top Chef, and can’t get through the week without quesadillas.
    aside.sub-bar
      include templates/contact.jade
      include templates/submit.jade
