<section class="boards-content">
  <div class="boards-page-board-section">
    <div class="board-section-header">
      <div class="title-header-icon"></div>
      <h3 class="title-header-name"> Starred Boards</h3>
    </div>
    <ul class="board-list">
      <li  *ngFor="#selected of selectedItems;" class="board-list-item">
        <a href="#" (click)="onSelect(selected)" class="board-item board-tile">
          <span class="board-tile-fade"></span>
          <span class="board-tile-details">{{selected.name}}</span>
          <span class="board-tile-options" (click)="onSelectStart(selected)">
            <span class="board-tile-options-star-icon"></span>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="boards-page-board-section">
    <div class="board-section-header">
      <div class="title-header-icon"></div>
      <h3 class="title-header-name"> My Boards</h3>
    </div>
    <ul class="board-list">
      <li  *ngFor="#board of boards" [value]="board" class="board-list-item">
        <a href="#" (click)="onSelect(board)" class="board-item board-tile">
          <span class="board-tile-fade"></span>
          <span class="board-tile-details">{{board.name}}</span>
          <span class="board-tile-options" (click)="onSelectStart(board)">
            <span class="board-tile-options-star-icon"></span>
          </span>
        </a>
      </li>
      <li class="board-list-item">
        <a href="#" (click)="createBoard()" class="board-item board-create">
          <span class="board-tile-fade"></span>
          <span class="board-create-details"> Create new board… </span>
        </a>
      </li>
    </ul>
  </div>
</section>
