<section class="boards-content">
  <create-action></create-action>
  <div class="boards-page-board-section">
    <div class="board-section-header">
      <div class="title-header-icon"></div>
      <h3 class="title-header-name"> Starred Boards</h3>
    </div>
    <ul class="board-list">
      <li  *ngFor="#selected of selectedItems;" class="board-list-item">
        <a href="#" (click)="onSelect(selected)" [routerLink]="['BoardsDetail', { id: selected.name }]" class="board-item board-tile">
          <span class="board-tile-fade"></span>
          <span class="board-tile-details">{{selected.name}}</span>
        </a>
        <span class="board-tile-options" (click)="onSelectStart(selected)">
          <span class="board-tile-options-star-icon"></span>
        </span>
      </li>
    </ul>
  </div>
  <div class="boards-page-board-section">
    <div class="board-section-header">
      <div class="title-header-icon"></div>
      <h3 class="title-header-name"> My Boards</h3>
    </div>
    <ul class="board-list">
      <li  *ngFor="#board of boards" [value]="board" class="board-list-item">
        <a (click)="onSelect(board)" [routerLink]="['BoardsDetail', { id: board.name }]" class="board-item board-tile">
          <span class="board-tile-fade"></span>
          <span class="board-tile-details">{{board.name}}</span>
        </a>
        <span class="board-tile-options" (click)="onSelectStart(board)">
          <span class="board-tile-options-star-icon"></span>
        </span>
      </li>
      <li class="board-list-item">
        <a href="#" (click)="createBoard()" data-toggle="modal" data-target="#creatModal" class="board-item board-create">
          <span class="board-tile-fade"></span>
          <span class="board-create-details"> Create new board… </span>
        </a>
      </li>
      <pop-over></pop-over>
    </ul>
  </div>
</section>
