footer.bachground-footer
  .container
    nav.row.nav-contain
      .col.s9
        ul
          li
            a(href="javascript:void(0)") Home
          li
            a(href="javascript:void(0)") About Soane
          li
            a(href="javascript:void(0)") Developers
          li
            a(href="javascript:void(0)") Soane Speaks
          li
            a(href="javascript:void(0)") FAQ
          li
            a(href="javascript:void(0)") Contact
      .col.s3.nav-mobile.hide-on-med-and-down
        ul.right
          li.back-top
            a(href="javascript:void(0)") Back to top
              i.material-icons.icon-up-arrow
    .row.infor
      .col.s12.m3
        p.infor__detail Riverbridge House Guildford Road, Leatherhead Surrey KT22 9AD United Kingdom
        .infor__find-us
          i.material-icons location_on
          a(href="javascript:void(0)") Find us
      .col.s12.m3
        p.infor__detail 50 Grosvenor Hill London W1K 3QT United Kingdom
        .infor__find-us
          i.material-icons location_on
          a(href="javascript:void(0)") Find us
      .col.s12.m3
        a.phone(href="tel:+44(0)1234567891") +44 (0) 1372 365 861
        a.email(href="mailto:askus@soanecapital.com") askus@soanecapital.com
    ul.collapsible(data-collapsible="accordion").control
      li
        .collapsible-header
          .infor__group
            button.infor__direct  Direct Contact
            button.infor__close
              span.icon-close
        .collapsible-body
          form
            .col.s12
              .row
                .col.s6
                  input#contact-name.control__name(type="text" name="contact_name" placeholder="NAME" required="")
                .col.s6
                  input#contact-email.control__name(type="text" name="contact_email" placeholder="EMAIL" required="")              
            .col.s12
              textarea#contact-message.control__message(name="contact_message" cols="40" rows="6" placeholder="MESSAGE" required="")
            .col.s12
              input#contact-submitclass.btn.button__send.z-depth-1.right(type="submit" value="Send")
      li
        .collapsible-header 
        .collapsible-body
          #map

