
body {
  margin: 0;
  padding: 20px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
  font-size: 15px;
  color: @color;
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

h1 {
    font-size: 36px;
    color: @primary;
}
