<ul>
  <li *ngFor="#selected of selectedItems">{{selected.text}}</li>
</ul>
<input type="text" class="form-control ui-select-search" placeholder="Search" #listFilter (keyup)="0" (click)="isVisible ='true'">
<ul [class.select-open]="openSelect ==='true'">
  <li (click)="!multipleLevel && onSelect(item)" *ngFor="#item of items | movieFilter:listFilter.value" [value]="item.text"
      >
    {{item.text}}
    <ul *ngIf="multipleLevel && item.children">
      <li *ngFor="#child of item.children | movieFilter:listFilter.value" [value]="child"
        (click)="onSelect(child)"
        >
        {{child.text}}
      </li>
    </ul>
  </li>
</ul>
