# Build webpack
########################
out/
node_modules/
typings/
coverage/
dist/

#temp files
#########################
*.*~
*.log
*.js
!webpack.config.js
!karma.conf.js
!protractor.conf.js
*.map
.vagrant
.sass-cache
npm-debug.log
