/* Medium Devices, Desktop */

@media only screen and (min-width : 1024px) {
	
	.basket-ball {
		@include e(iphone) {
			height: rem(410px);
			margin-top: 2.2rem;
		}
	}
	// To do: styles part sparks insiders
	.sparks-insiders {
		height: rem(490px);
		@include e(phone) {
			@include m(whites) {
				top: -18rem;
				left: rem(30px);
			}
		}
	}
}
