/* Extra Small Devices, Phones */

@media (min-width : 320px) {

// styles of part header
	.bg-pitch-basket {
		background: url('../images/mobile-image/bg-pitch.png') center no-repeat;
		height: rem(217px);
	}
	
	.basket-ball {
		width: 40%;
		float: left;	
	}
	
	.basket-ball__iphone {
		@include bg-responsive("iphone-fail.png");
		background-repeat: no-repeat;
		position: relative;
		height: rem(217px);
		left: 8%;
		top: rem(59px);
	}

	.inventing-chain {
		width: 20%;
		float: left;

		@include e(segment-long) {
			height: rem(80px);
		}

		@include e(radio) {
			height: rem(21px);
		}

		@include e(segment-short) {
			height: rem(14px);
		}

		@include e(globes) {
			height: rem(26px);
		}

		@include e(cloud) {
			height: rem(38px);
		}
	}
	
	.exchange-info {
		margin-top: rem(80px);
		@include e(forums) {
			margin-top: rem(14px);
		}

		@include e(sparks) {
			margin-top: rem(17px);
		}
	}
	// Styles of sparks inssiders
	.sparks-insiders {
		height: rem(500px);
		@include e(content) {
			margin: 5rem 10% 3rem;
			@include m(what) {
				@include font-text(rem(14px), bold, $black, $font-roboto);
				line-height: rem(20px);
			}

			 @include m(fan) {
				@include font-text(rem(12px), lighter, $black, $font-roboto);
				line-height: rem(20px);
			}

			@include m(app) {
				padding-left: 0;

				li:before {
					content: "";
					display: block;
					background: url('../images/desktop-image/icon-spark.png') no-repeat;
					margin-top: rem(5px);
					float: left;
					width: rem(15px);
					height: rem(15px);
					margin-right: rem(-5px);
				}
				li {
					@include font-text(rem(11px), lighter, $black, $font-roboto);
					list-style: none;
					margin-bottom: rem(10px);
					line-height: rem(16px);
					margin: rem(0 0 2px 0);
					display: inline-block;
				}
			}

			@include m(channels) {
				@include font-text(rem(12px), lighter, $black, $font-roboto);
			}
	}
	}

	.sparks-insiders {
		@include e(phone) {
			@include m(blacks) {
				height: rem(165px);
				left: 20%;
				top: rem(20px);			
			}

			@include m(whites) {
				height: rem(144px);
				left: 25%;
				top: -8rem;
			}
		}
	}

	// Styles part influence new digital medium
	.influence-digital {
		height: rem(850px);
		@include e(drive-group) {
			position: relative;
			top: -27rem;
			@include m(drive) {

			}
		}

		@include e(benefit) {
			text-align: center;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				@include font-text(rem(13px), lighter, $white, $font-roboto);
			}

			li:last-child {
				@include font-text(rem(10px), lighter, $white, $font-roboto);
				margin-top: rem(10px);
			}
		}

		@include e(posting) {
			margin-left: 10%;
			span {
				@include font-text(rem(14px), lighter, $white, $font-roboto);
				margin: rem(20px 0 5px);
				display: inline-block;
			}

			p {
				@include font-text(rem(10px), lighter, $white, $font-roboto);
				display: inline;
			}
		}

		@include e(posting-topic) {
			margin-left: 10%;
			span {
				@include font-text(rem(14px), lighter, $white, $font-roboto);
				margin: rem(20px 0 5px);
				display: inline-block;
			}

			p {
				@include font-text(rem(10px), lighter, $white, $font-roboto);
				display: inline;
			}
		}

		@include e(drive) {
			position: relative;
			// display: none;
			left: 27%;
			background-color: $white;
			border-radius: rem(20px);
			height: rem(70px);
			text-align: center;
			width: 45%;
			z-index: 1;
			h4 {
				@include font-text(rem(16px), lighter, $drive-text, $font-roboto);
				line-height: rem(20px);
			}
			span {
				@include font-text(rem(12px), lighter, $drive-text, $font-roboto);
			}
		}

		.bg-arrow__left, .bg-arrow__right {
			background-repeat: no-repeat;
			position: relative;
			// display: none;
			z-index: 2;
			left: 48%;
		}
		.bg-arrow {
			@include e(left) {
				@include bg-responsive('arrow-left.png');
				// display: none;
				height: rem(50px);
				width: rem(30px);
				top: -11rem;
			}
		
			@include e(right) {
				@include bg-responsive('arrow-right.png');
				height: rem(50px);
				width: rem(30px);
				top: -7rem;
			}
		}

		.tweet-wall {
			height: rem(620px);
			@include e(profile) {
				margin-top: rem(10px);
				height: rem(110px);
			}
			@include e(cluster) {
				margin-top: rem(10px);
				height: rem(120px);
			}
			@include e(recent) {
				margin-top: rem(10px);
				height: rem(100px);
			}
			@include e(expanded) {
				margin-top: rem(80px);
				height: rem(205px);
			}
		}

		.screenshot {
			height: rem(530px);
			@include e(expanded) {
				@include m(detail) {
					background-position: center;
					// display: none;
					height: rem(142px);
					width: 	100%;
				}
	
			@include m(put) {
				position: relative;
				// display: none;
				height: rem(287px);
				left: 18%;
				top: -5rem;
				img {
					position: relative;
					// width: rem(176px);
					left: rem(12px);
					top: rem(25px);
					height: rem(236px);
				}
			}
		}
		@include e(arrow) {
			height: rem(60px);
			width: rem(30px);
			left: 45%;
			z-index: 1;
			top: -2rem;
			}
		}
	}

	// To do: styles part screenshot silver
	.screenshot-silver {
		height: rem(530px);
	}
	
	// Styles part footer
	.bg-ball__learn {
		background: url('../images/mobile-image/bg-fooball.png') center no-repeat;
		height: rem(218px);
	}
	.learn-more {
		text-align: center;
		.learn-more__title{
			@include font-text(rem(16px), lighter, $white, $font-roboto);
			padding-top: rem(40px);
		}

		.learn-more__button {
			@include border-radius(rem(60px));
			@include font-text(rem(15px), lighter, $white, $font-roboto);
			background: url('../images/desktop-image/bg-spark-buttons.png') no-repeat;
			background-position: center;
			background-size: 100% 100%;
			height: rem(40px);
			width: rem(100px);
			line-height: rem(40px);
			text-decoration: none;
			margin: rem(20px 0 70px);
			&:hover {
				background-color: $bg-hover-buttons;
				text-decoration: none;
			}
		}

		.learn-more__address-spark {
			@include font-text(rem(10px), lighter, $white, $font-roboto);
		}
	}
}

@media (min-width: 390px ) {
	.screenshot-silver {
		.screenshot__expanded--put {
			left: 12%;
		}
	}
}
