doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title User manager
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				.nav.navbar.navbar-default.navbar-fixed-top
					.container
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
								span.sr-only Toggle navigation
								span.icon-bar
						#navbar.navbar-collapse.collapse
							ul.nav.navbar-nav
								li.active
									a(href='#') User Manager
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href='#') Dashboard
								li.active
									a(href='#') Setting
								li.active
									a(href='#') Help
		.container-fluid
			.row
				.col-xs-3.col-md-2.sidebar
					ul
						li
							a(href='#') User Manager
						li
							a(href='#') New User
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					h1 Dashboard
					img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='200x200', src='images/user.jpg', data-holder-rendered='true')
					h3 Administrator
					h2.text-center User Manager
					.row
						.col-md-8.table-responsive
							table.table.table-striped
								thead
									tr
										th ID
										th Name
										th Address
										th Email
										th Exit
										th Delete
						.col-md-4
							forn(method= 'post')
							