doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title User manager
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				.nav.navbar.navbar-default.navbar-fixed-top
					.container
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
								span.sr-only Toggle navigation
								span.icon-bar
						#navbar.navbar-collapse.collapse
							ul.nav.navbar-nav
								li.active
									a(href='#') User Manager
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href='#') Dashboard
								li.active
									a(href='#') Setting
								li.active
									a(href='#') Help
		.container-fluid
			.row				
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					h1 Dashboard
					img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='200x200', src='images/user.jpg', data-holder-rendered='true')
					.row
						.col-md-8.table-responsive
							form(action='#' id="searchform")
								.form-group
									label Search 
									input(id="keysearch" type="text" placeholder="Enter input search" class="form-control")
							table.table.table-striped
								thead
									tr
										th ID
										th Name
										th Address
										th Email
										th Exit
										th Delete
								tbody(id="view-all-user")
						form.col-md-4(method= 'post')
							.form-group
								label User ID
								input(id="userId" type="text" placeholder="UserId" disabled="" class="form-control")
							.form-group
								label User name
								input(id="userName" type="text" placeholder="User Name" class="form-control" required)
							.form-group
								label Address
								input(id="userAddress" type="text" placeholder="Address" class="form-control" required)
							.form-group
								label Email
								input(id="userEmail" type="email" placeholder="Enter Email" class="form-control" required)
							button.btn.btn-default(id="add-user" type="Add user") Add User
							button.btn.btn-default(id="edit-user" type="Update") Update
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
