section.blog-wap
  article.blog-post
    a(href="javascipt:void(0)").blog-post__title 2012’s Best Summer Cookbooks
    .blog-post__group
      .blog-post__imges
        img(src="../images/desktop/cookbooks_blog.jpg")
      p.blog-post__desc With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection of 10 summer cookbooks.
      p.blog-post__link
        a(href="javascipt:void(0)") Continue reading »
    ul.blog-post__footer
      li.blog-post__footer--date
        span 2012
        em May 23
      li.blog-post__footer--comment
        a(href="javascipt:void(0)") Leave a comment
      li.blog-post__footer--tags
        a(href="javascipt:void(0)") Cook
  article.blog-post
    a(href="javascipt:void(0)").blog-post__title How to Make Vegetable Chips
    .blog-post__group
      .blog-post__imges
        img(src="../images/desktop/SweetPotatoChips.jpg")
      p.blog-post__desc About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn, and before a very thoughtfully prepared vegan dinner, she put out these kale chips from her local co-op.
      p.blog-post__link
        a(href="javascipt:void(0)") Continue reading »
    ul.blog-post__footer
      li.blog-post__footer--date
        span 2012
        em May 17
      li.blog-post__footer--comment
        a(href="javascipt:void(0)") Leave a comment
      li.blog-post__footer--tags
        a(href="javascipt:void(0)") Cook 
  article.blog-post
    a(href="javascipt:void(0)").blog-post__title Join us on Pinterest!
    .blog-post__group
      .blog-post__imges
        img(src="../images/desktop/Pinterest_Page_featured.png")
      p.blog-post__desc If I could curate a cookbook for you, this would be it.
      p.blog-post__link
        a(href="javascipt:void(0)") Continue reading »
    ul.blog-post__footer
      li.blog-post__footer--date
        span 2012
        em May 23
      li.blog-post__footer--comment
        a(href="javascipt:void(0)") Leave a comment
      li.blog-post__footer--tags
        a(href="javascipt:void(0)") Cook 
  article.blog-post
    a(href="javascipt:void(0)").blog-post__title Recipes from a Sunday Supper
    .blog-post__group
      .blog-post__imges
        img(src="../images/desktop/Adithi_Dinner_blog.jpg")
      p.blog-post__desc I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Sunday supper - eat them slowly, a little bit at a time, and make them last as long as possible? Or, eat them all up, a snack full of love, as soon as it was tea time on Monday afternoon…?
      p.blog-post__link
        a(href="javascipt:void(0)") Continue reading »
    ul.blog-post__footer
      li.blog-post__footer--date
        span 2012
        em May 23
      li.blog-post__footer--comment
        a(href="javascipt:void(0)") Leave a comment
      li.blog-post__footer--tags
        a(href="javascipt:void(0)") Cook 
