section.featured
  .slide
    section.slide__item.active#slide-1
      picture
        source(srcset="/images/mobile/Hero-Tastemakers-mobile.jpg", media="(max-width: 768px)")
        img(srcset="/images/desktop/Hero-Tastemakers.jpg", alt="hero tastemakers", data-no-retina)
      a(href="tastemakers.html")
        h1 What's Cooking?
        h2 Browse our gallery for dependably delicious recipes.
    section.slide__item#slide-2
      picture
        source(srcset="/images/mobile/Hero-Blog-mobile.jpg", media="(max-width: 768px)")
        img(srcset="/images/desktop/Hero-Blog.jpg", alt="hero block", data-no-retina)
      a(href="blog.html")
        h1 Read, Learn, Share
        h2 Get daily how-tos, stories & updates with the latest news. 
    section.slide__item#slide-3
      picture
        source(srcset="/images/mobile/Hero-The-A-List-mobile.jpg", media="(max-width: 768px)")
        img(srcset="/images/desktop/Hero-The-A-List.jpg", alt="hero the a list", data-no-retina)
      a(href="the-a-list.html")
        h1 Shop for the Best
        h2 With our carefully curated vendor list, you'll know what to buy.
    section.slide__item#slide-4
      picture
        source(srcset="/images/mobile/Hero-Contribute-mobile.jpg", media="(max-width: 768px)")
        img(srcset="/images/desktop/Hero-Contribute.jpg", alt="hero contribute", data-no-retina)
      a(href="contribute.html")
        h1 Share your Food Sense
        h2 Submit your favorite recipes, become a contributor, or get interviewed.
ul.navigation
  li.navigation__item.active
    a(href="#slide-1")
      h3 Tastemakers
      p Feast your eyes & get recipes!
  li.navigation__item
    a(href="#slide-2") 
      h3 Blog
      p News, how-tos, stories, and more
  li.navigation__item
    a(href="#slide-3")
      h3 The-a-list
      p Handpicked, absolute favorites
  li.navigation__item
    a(href="#slide-4")
      h3 Contribute
      p We want to hear from you!
