header.wap
  h1 tastemakers icon
  p A curated gallery of home-cooked eye candy - the very best vegetarian and vegan recipes from a community of celebrated food bloggers. If you’re looking for some fresh inspiration, or a new approach to an old favorite, you’ll find a dependably delicious recipe here.
section.main
  article.product
  a.product__head(href="javascript:void(0)")
    img.product__img(src="images/desktop/cookbooks_blog.jpg", alt="cookbooks")
  h2.product__title
    a(href="javascript:void(0)") 2012’s Best Summer Cookbooks
  p.product__desc With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection of 10 summer cookbooks.
  p.product_facebook
  p.product__footer
    a(href="javascript:void(0)") Becky at The Vintage Mixer →
