header.tastemakers
  h1.tastemakers__title tastemakers 
  p.tastemakers__desc A curated gallery of home-cooked eye candy - the very best vegetarian and vegan recipes from a community of celebrated food bloggers. If you’re looking for some fresh inspiration, or a new approach to an old favorite, you’ll find a dependably delicious recipe here.
section.main
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/dairy_free_chocolate_icecream_torte_recipe3-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Dairy Free Chocolate Ice Cream Torte
    p.product__desc Almonds, dates, chocolate, coconut milk, and honey combine to make a perfectly sweet, and sweet for you, dessert.
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") Becky at The Vintage Mixer →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/BloodOrangeCake-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Blood Orange Upside-down Cake with Hazelnuts…
    p.product__desc  Blood oranges combine with hazelnuts, polenta, maple syrup, and olive oil for a heart-healthy treat that tastes like it’s covered in…
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") The Recipe Renovator →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/LentilDahl-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Simple Lentil Dal
    p.product__desc A hearty, flavorful, and protein-packed lentil stew.
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") Sonnet, For The Love of Food →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/squarefrittata-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Mexican Tofu Frittata
    p.product__desc The perfect Cinco de Mayo brunch, a Mexican Tofu Frittata!
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") Jackie @ Vegan Yack Attack →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/margaritasorbet350-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Margarita sorbet
    p.product__desc Just in time for Cinco de Mayo—margarita sorbet with sweet and spicy lime-infused sea salt
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") The Recipe Renovator →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/TahiniBroccoli-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Tahini Broccoli Salad with Cashews
    p.product__desc  Fresh, crisp broccoli tossed with garlic tahini, cashews, and red onions. Comes together in 5 minutes, as a side dish or light lunch.
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") Sonnet, For The Love of Food →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/everything_cookies_05-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Sweet+Nutty Everything Cookies
    p.product__desc   Full of nuts, dried fruits, oats and chocolate chips, these cookies are sublime. Gluten and dairy free.
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") Tasty Plan →
  article.product
    a.product__head(href="javascript:void(0)")
      img.product__img(src="images/tastemakers/cranberry_lime_cocktail-tablet.jpg", alt="chocolate")
    h2.product__title
      a(href="javascript:void(0)") Cranberry Lime Cocktail
    p.product__desc   An easy, crowd pleasing cocktail, using ingredients you have on hand.
    .fb-like
    p.product__footer
      a(href="javascript:void(0)") The Vintage Mixer →
  //- #fb-root
  //-   //- script (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=310415958997534"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
  //-   script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
  #fb-root
  script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
