section.about-me.section(data-section='2')
  .container
    .about__content
      h2
        | About me
    .about__block
      .about__biography
        h4 Biography
        p
          | Morbi rutrum, elit ac fermentum egestas, tortor ante vestibulum est, eget scelerisque nisl velit eget tellus. Fusce porta facilisis luctus. Integer neque dolor, rhoncus nec euismod eget, pharetra et tortor. Nulla id pulvinar nunc. Vestibulum auctor nisl vel lectus ullamcorper sed pellentesque dolor eleifend. Praesent lobortis magna vel diam mattis sagittis.
        p
          | Mauris porta odio eu risus scelerisque id facilisis ipsum dictum vitae volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar neque eu purus sollicitudin et sollicitudin dui ultricies. Maecenas cursus auctor tellus sit amet blandit. Maecenas a erat ac nibh molestie interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lorem enim, ultricies sed sodales id, convallis molestie ipsum. Morbi eget dolor ligula. Vivamus accumsan rutrum nisi nec elementum. Pellentesque at nunc risus. Phasellus ullamcorper bibendum varius. Quisque quis ligula sit amet felis ornare porta. Aenean viverra lacus et mi elementum mollis. Praesent eu justo elit.
      .about__contact
        h4 Personal Info
        ul.about__infor
          li.about__infor--phone
            | (+1)2455462252
          li.about__infor--address
            | 3301 Lorem Ipsum,Dolor Sit St
          li.about__infor--mail
            a(herf="javascript:void(0)") support@lorem.com
          li.about__infor--site
            a(herf="javascript:void(0)") www.lorem.com
        h4 My Recent Tweets
          P loading tweets...

