section.photographer
  .container
    .photographer__block
      h4.photographer__slogan My name is
      h2.photographer__name Raymond Donovan
      h4.photographer__des Professional Photographer
      button.buttonNext
