section.photographer.section(data-section ='1')
  .container
    .photographer__block
      h4.photographer__slogan My name is
      h2.photographer__name Raymond Donovan
      h4.photographer__des Professional Photographer
      button.buttonNext(data-section ='2')
  .menu.f-about-subnav
    .container
      ul.navigation
        li.itemAbout(data-section='2') About Me
        li.itemServices(data-section='3') Services
        li.itemExhibitions(data-section='4') Exhibitions
        li.itemResume(data-section='5') Resume
        li.itemPortfolio(data-section='6') Portfolio
        li.itemContact(data-section='7') Contact
        .effect_bock

