footer.site-footer
  #contact.container-wrapper
    .contact
      h2.contact__title Get in touch
      p.contact__content Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum. porta sem malesuada magna
      address.contact__address Moonshine Street No: 14/05 Light City, Jupiter
      strong 02475416587
      a(href="mailto:mail@example.com") support@longware.com
    .contact
      h2.contact__title Twitter
      .contact__content
        li Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posiere velit aliquet
        li Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.
        li Vestibulum id ligula porta euismod semper. Maecenas faucibus mollis
    .contact
      h2.contact__title Popular post
      .contact__content
        li Vivamus sagittis lacus vel qugue laorret rutrum dolor auctor 14 Nov, 2012
        li Scelerisque nisl consectetur et 22 May, 2012
        li Pellentesque ornare sem lacinia quam venenatis vestibulum 15 July, 2012
    .contact
      h2.contact__title About us
      .contact__content 
        li Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nex elit
        li Cum sociis natoque penatibus et magnis dis parturient montes, nascestur ridiculus mus curabitur blandit tempus
.footer-bottom
  p.copyright-site © 2014 Kubb. All rights reserved. Theme by elemis.
