.board-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.board-list-item {
  box-sizing: border-box;
  padding: 0 16px 8px 0;
  position: relative;
  width: 25%;
  list-style-type: none;
}

.board-item {
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  color: #fff;
  display: block;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 8px 9pt;
  position: relative;
  text-decoration: none;
  outline: none;
}

.board-tile {
  background-color: #0079BF;
}
.board-create {
  background-color: #e2e4e6;
}

.board-tile-fade {
  background-color: rgba(0,0,0,.15);
  border-radius: 3px;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.board-tile-details {
  min-height: 60px;
  padding-bottom: 20px;
  display: block;
  padding-right: 36px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}
.board-create-details {
  background-color: #e2e4e6;
  color: #8c8c8c;
  display: table-cell;
  height: 66px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  width: inherit;
  margin-bottom: 8px;
  padding: 8px 9pt;
}

.board-tile-options {
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 3;
}

.board-tile-options-star-icon {
  color: #fff;
  bottom: 0;
  font-size: 14px;
  width: 0;
  height: 18px;
  opacity: 0;
  padding: 9px;
  right: 0;
  top: 0;
  text-align: center;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: color,background,opacity,-webkit-transform,width;
  transition-property: color,background,opacity,transform,width;
}

.fa-star-o {
  color: #fff;
  bottom: 0;
  font-size: 14px;
  width: 0;
  height: 18px;
  opacity: 0;
  padding: 9px;
  right: 0;
  top: 0;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: color,background,opacity,-webkit-transform,width;
  transition-property: color,background,opacity,transform,width;
}

.fa-star-o:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.active .fa-star-o {
  color: #e6c60d;
  width: 18px;
  opacity: 1;
  text-align: center;
}

.board-list-item:hover .fa-star-o {
  width: 18px;
  opacity: 0.8;
}
