/* Container all page */
.container {
  width: 1000px;
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

p {
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #929292;
}
