.row(data-equalizer='' data-equalizer-mq="large-up")
  .medium-6.colums.panel(data-equalizer-watch)
    p Informatoin panel contend first
  .medium-6.colums.panel(data-equalizer-watch)
    p Before slipt contend to both container
.row(data-equalizer='')
  .large-6.columns
    ul.pricing-table(data-equalizer-watch='')
      li.title Standar
      li.price Details
      li.cta-button
        a.button(href='javascript:void(0)') Buy Now
  .large-6.columns
    ul.pricing-table(data-equalizer-watch='')
      li.title Basic
      li.price Details
      li.cta-button
        a.button(href='javascript:void(0)') Buy Now
