/* styles part mixin */
// create mixin font face
@mixin font-text($font-size, $font-weight, $color, $font-family ) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  font-family: $font-family;
}

// mixin font-face
$asset-pipeline: false !default;

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
      $font-family,
      $file-path,
      $asset-pipeline,
      $file-formats,
      $font-url-prefix
    );
  }
}

/* styles mixin of BEM syntax */
// use of element
@mixin e($name) {
  @at-root #{&}__#{$name} {   
    @content
  }
} 

// use of modify
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

/* mixin size*/
@mixin size($width, $height:$width) {
  width: $width;
  height: $height; 
}

/* mixin perspective*/
@mixin perspective($val) {
  -webkit-perspective: $val; 
  -moz-perspective: $val; 
  -ms-perspective: $val; 
  perspective: $val;
}
