<!-- Modal -->
<div id="addLabel" class="modal-label fade add-label" role="dialog" [style.display]="getPopup()">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <a href="javascript:void(0)" class="close" data-dismiss="modal-label" (click)="activePopup = !activePopup" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <h4 class="modal-title"> Labels</h4>
          <div class="pop-over-container">
            <div class="pop-over-content">
              <input class="js-autofocus js-label-search" type="text" placeholder="Search labels…" value="" autocomplete="off">
              <ul class="edit-labels-pop-over">
                <li *ngFor="#labelComment of memberCardLabelComments?.labelComments">
                  <a href="javascript:void(0)" class="edit-label">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a href="javascript:void(0)" class="card-label-edit-button" (click)="selecLabel(labelComment)">
                    <span class="card-label" [style.background] ="labelComment.labelColor">
                      <i class="fa fa-check" aria-hidden="true" [class.hidden]="labelComment.active == false"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
