/* style part footer*/
.site-footer {
  background-color: #373737;
  @include padding(em(80px) 0);
  .container-wrapper {
     @include outer-container(75%);
  }
}

.contact {
  @include span-columns(3);
  @include e(title) {
    text-transform: uppercase;
    @include font-text(em(16px), bold, $white, $font-roboto);
  }

  @include e(content) {
    @include font-text(em(14px), normal, $white, $font-roboto);
    @include margin(em(20px) 0);
  }

  @include e(address) {
    @include font-text(em(14px), normal, $white, $font-roboto);

    &:before {
      @include background-image(url('/images/icons/icon-market.png'));
      background-repeat: no-repeat;
      content: "";
      width: em(15px);
      height: em(15px);
      margin-right: em(10px);
      display: inline-block;
    }
  }
  
  strong {
    @include font-text(em(14px), normal, $white, $font-roboto);
    @include margin(em(10px) 0);
    display: block;
    &:before {
      @include background-image(url('/images/icons/icon-phone.png'));
      background-repeat: no-repeat;
      content: "";
      width: em(15px);
      height: em(15px);
      margin-right: em(10px);
      display: inline-block;
    }
  }

  a {
    @include font-text(em(14px), normal, $white, $font-roboto);
    text-decoration: none;
    &:before {
      @include background-image(url('/images/icons/icon-later.png'));
      background-repeat: no-repeat;
      content: "";
      width: em(15px);
      height: em(10px);
      margin-right: em(10px);
      display: inline-block;
    }
  }

  li {
    @include font-text(em(14px), normal, $white, $font-roboto);
    margin-bottom: em(25px);
    list-style-type: none;
  } 
}

.footer-bottom {
  background-color: #333333;
  .copyright-site {
    @include outer-container(75%);
    @include padding(em(30px) 0);
    @include font-text(em(14px), normal, $white, $font-roboto);
    margin-bottom: 0;
  }
}
