/* styles part exchange */
.exchange-info {
	width: 40%;
	float: left;
	display: block;
	@include e(radio) {
		@include font-text(rem(11px), normal, $white, $font-roboto);
	}

	@include e(forums) {
		@include font-text(rem(11px), normal, $white, $font-roboto);
	}

	@include e(sparks) {
		@include font-text(rem(14px), normal, $white, $font-roboto);
	}

	@include e(discuss) {
		@include font-text(rem(9px), normal, $white, $font-roboto);
	}
}
