/* Styles part footer */
.slide-football-pitch {
	width: 100%;
	height: 480px;

	.football-pitch {
		background-image: url('../images/football-pitch.png');
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
