/* Styles part footer */
.slide-football-pitch {
	width: 100%;
	height: rem(474px);

	.football-pitch {
		background-image: url('../images/football-pitch.png');
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		text-align: center;
		display: block;
		.title {
			font-family: $font-roboto;
			@include font-text(rem(40px), normal, $white);
			padding-top: rem(105px);
		}

		address {
			font-family: $font-roboto;
			@include font-text(rem(14px), bold, $white)
		}
	}
}

@media (max-width: 480px) {
	.slide-football-pitch {
		height: rem(474px);
		.football-pitch {
			background-size: 100% 100%;
			position: relative;
			background-position: center center;
			height: rem(474px);
			width: 100%;
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	.slide-football-pitch {
		.football-pitch {
			background-size: 100% 100%;
			position: relative;
			background-position: center center;
			height: rem(474px);
			width: 100%;
		}
	}
}
