/* Styles part footer */
.learn-more {
	width: 100%;
	height: rem(474px);

	.football-pitch-background {
		background: url('../images/bg-football-pitch.png') no-repeat center center fixed;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
		text-align: center;
		display: block;
		.learn-more_title {
			font-family: $font-roboto;
			@include font-text(rem(40px), normal, $white);
			padding-top: rem(105px);
		}

		.button-spark {
			background: url('../images/bg-spark-buttons.png') no-repeat;
			@include border-radius(rem(60px));
			font-family: $font-roboto;
			@include font-text(rem(22px), lighter, $white);
			margin: rem(20px 0 180px);
			line-height: rem(70px);
			&:hover {
				background-color: #b7a4f7;
				text-decoration: none;
			}
		}

		.address-spark {
			font-family: $font-roboto;
			@include font-text(rem(14px), bold, $white)
		}
	}
}
