
.slide-basket-pitch {
	width: 100%;
	height: 700px;

	.basket-background {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 1;
		margin: 0 auto;
	}

	.basket-iphone {
		background-image: url('../images/iPhone-5S-Black.png');
		@extend .basket-background;
		background-size: 100% 100%;
		height: rem(610px);
		// width: rem(370px);
		top: rem(90px);
		margin: 0 auto;
		position: relative;
	}

	.active {
		margin: 0 auto;

		.basket-line-long {
			background-image: url('../images/line-long.png');
			@extend .basket-background;
			height: rem(243px);
			width: rem(4px);
		}

		.basket-line-short {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(36px);
			width: rem(4px);
			margin-top: rem(20px);
		}

		.basket-line-short-last {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(36px);
			width: rem(4px);
			margin-top: rem(20px);

		}

		.basket-radio {
			background-image: url('../images/radio.png');
			@extend .basket-background;
			height: rem(36px);
			width: rem(33px);
			margin-top: rem(20px);
		}

		.basket-globes {
			background-image: url('../images/globes.png');
			@extend .basket-background;
			height: rem(48px);
			width: rem(48px);
			margin-top: rem(20px);
		}

		.basket-cloud {
			background-image: url('../images/images-end.png');
			@extend .basket-background;
			height: rem(103px);
			width: rem(103px);
			margin-top: rem(20px);
		}
	}

	.background-basket {
		background-image: url('../images/basket-pitch.png');
		@extend .basket-background;
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.txt-wapper {
		position: absolute;
		top: rem(272px);
		z-index: 100;
}

.radio-text {
	font-family: $font-roboto;
	@include font-text(rem(22px), normal, $white);
}

.forums-text {
	margin-top: rem(80px);
	font-family: $font-roboto;
	@include font-text(rem(22px), normal, $white);
}

.sparks-text {
	margin-top: rem(75px);
	font-family: $font-roboto;
	@include font-text(rem(45px), bold, $white);
}

.discuss-text {
	@include font-text(rem(20px), normal, $white);
}

@media screen and (max-width: 480px) {
	.slide-basket-pitch {
		height: rem(270px);
		.basket-iphone {
			height: rem(215px);
			z-index: 1;
			top: rem(55px);
		}
		.background-basket {
			background-size: 145% 100%;
			background-position: center center;
			height: 100%;
			width: 100%;
		}
		.active {
			.basket-line-long {
				background-position: center 0;
				height: rem(120px);
			}

			.basket-line-short {
				background-position: center 0;
				height: rem(18px);
				margin-top: rem(5px);
			}

			.basket-line-short-last {
				background-position: center 0;
				height: rem(18px);
				margin-top: rem(5px);
			}

			.basket-radio {
				height: rem(20px);
				margin-top: rem(10px);
				margin-top: rem(5px);
			}

			.basket-globes {
				height: rem(20px);
				margin-top: rem(5px);
			}
		
			.basket-cloud {
				height: rem(40px);
				width: rem(50px);
				margin-top: rem(5px);
			}
		}
	}
	.txt-wapper {
		position: absolute;
		top: rem(128px);
		.radio-text {
			font-family: $font-roboto;
			@include font-text(rem(11px), normal, $white);
		}

		.forums-text {
			margin-top: rem(30px);
			font-family: $font-roboto;
			@include font-text(rem(11px), normal, $white);
		}

		.sparks-text {
			margin-top: rem(30px);
			font-family: $font-roboto;
			@include font-text(rem(16px), normal, $white);
		}

		.discuss-text {
			font-family: $font-roboto;
			@include font-text(rem(10px), normal, $white);
		}
	}
}


@media screen and (max-width: 768px) and (min-width: 481px){
	.slide-basket-pitch {
		width: 100%;
		height: 700px;
		.background-basket {
			background-position: center center;
			height: rem(530px);
			width: 100%;
		}

		.basket-iphone {
			height: rem(424px);
			top: rem(106px);
		}
	
		.active {
			.basket-line-long {
				height: rem(220px);
			}

			.basket-radio {
				height: rem(28px);
				margin-top: rem(10px);
			}

			.basket-line-short {
				height: rem(35px);
			}
			
			.basket-line-short-last {
				height: rem(35px);
				margin-top: rem(10px);			
			}

			.basket-globes {
				height: rem(45px);
				margin-top: rem(10px);
			}

			.basket-cloud {
				height: rem(70px);
				width: rem(70px);
				margin-top: rem(10px);
			}
		}
		.txt-wapper {
			position: absolute;
			top: rem(235px);
			.radio-text {
				font-family: $font-roboto;
				@include font-text(rem(16px), normal, $white);
			}

			.forums-text {
				margin-top: rem(70px);
				font-family: $font-roboto;
				@include font-text(rem(18px), normal, $white);
			}

			.sparks-text {
				margin-top: rem(66px);
				font-family: $font-roboto;
				@include font-text(rem(24px), bold, $white);
			}

			.discuss-text {
				margin-right: rem(45px);
				font-family: $font-roboto;
				@include font-text(rem(14px), normal, $white);
			}
		}
	}
}
