.background-basket {
	background: url('../images/bg-basket-pitch.png')no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.basket-pitch-slide {
	width: 100%;
	height: 700px;

	.basket-background {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 1;
		margin: 0 auto;
	}

	.basket-iphone {
		background: url('../images/phone-fail-black.png')no-repeat; 
		@extend .basket-background;
		background-size: 100% 100%;
		height: rem(610px);
		top: rem(90px);
		margin: 0 auto;
		position: relative;
	}

	.active {
		margin: 0 auto;

		.line-long {
			background-image: url('../images/line-long.png');
			@extend .basket-background;
			height: rem(205px);
			width: rem(4px);
		}

		.line-short {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(36px);
			width: rem(4px);
			margin-top: rem(20px);
		}

		.line-short-last {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(36px);
			width: rem(4px);
			margin-top: rem(20px);

		}

		.radio-airwaves {
			background-image: url('../images/radio.png');
			@extend .basket-background;
			height: rem(33px);
			width: rem(36px);
			margin-top: rem(20px);
		}

		.globes-online {
			background-image: url('../images/globes.png');
			@extend .basket-background;
			height: rem(48px);
			width: rem(48px);
			margin-top: rem(20px);
		}

		.sparks-cloud {
			background: url('../images/cloud.png') no-repeat;
			background-size: cover;
			@extend .basket-background;
			height: rem(103px);
			width: rem(103px);
			margin-top: rem(20px);
		}
	}
}

.exchange-info {
		position: absolute;
		top: rem(235px);
		z-index: 100;
}

.radio-text {
	font-family: $font-roboto;
	@include font-text(rem(22px), normal, $white);
}

.forums-text {
	margin-top: rem(80px);
	font-family: $font-roboto;
	@include font-text(rem(22px), normal, $white);
}

.sparks-text {
	margin-top: rem(75px);
	font-family: $font-roboto;
	@include font-text(rem(35px), bold, $white);
}

.discuss-text {
	@include font-text(rem(18px), normal, $white);
}
