
.slide-basket-pitch {
	width: 100%;
	height: 700px;

	.basket-background {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.basket-iphone {
		background-image: url('../images/iPhone-5S-Black.png');
		@extend .basket-background;
		background-size: 100% 100%;
		height: rem(600px);
		width: 35%;
		top: rem(100px);
		left: 8%;
	}

	.active {

		.basket-line-long {
			background-image: url('../images/line-long.png');
			@extend .basket-background;
			height: rem(280px);
			width: 0.6%;
			left: 49%;
		}

		.basket-line-short {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(40px);
			width: 0.6%;
			top: rem(355px);
			left: 49%;
		}

		.basket-line-short-last {
			background-image: url('../images/line-short.png');
			@extend .basket-background;
			height: rem(40px);
			width: 0.6%;
			top: rem(460px);
			left: 49%;
		}

		.basket-radio {
			background-image: url('../images/radio.png');
			@extend .basket-background;
			height: rem(50px);
			width: 7%;
			top: rem(290px);
			left: 45.5%;
		}

		.basket-globes {
			background-image: url('../images/globes.png');
			@extend .basket-background;
			height: rem(35px);
			width: 10%;
			top: rem(410px);
			left: 44.3%;
		}

		.basket-cloud {
			background-image: url('../images/images-end.png');
			@extend .basket-background;
			height: rem(110px);
			width: 15%;
			top: rem(520px);
			left: 42%;
		}
	}

	.background-basket {
		background-image: url('../images/basket-pitch.png');
		@extend .basket-background;
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.text-default {
	color: $white;
}
.txt-wapper {
		position: absolute;
		top: rem(302px);
		left: 60%;
		z-index: 100;
		@extend .text-default;

}

.radio-text {
	font-size: rem(22px);
	@extend .text-default;
}

.forums-text {
	margin-top: rem(80px);
	font-size: rem(26px);
	@extend .text-default;
}

.sparks-text {
	margin-top: rem(75px);
	font-size: rem(50px);
	@extend .text-default;
}

.discuss-text {
	font-size: rem(20px);
	@extend .text-default;
}

@media screen and (max-width: 480px) {
	.slide-basket-pitch {
		height: rem(270px);
		.basket-iphone {
			height: rem(215px);
			width: 30%;
			z-index: 1;
			top: rem(55px);
			left: 13%;
		}
		.background-basket {
			background-size: 145% 100%;
			background-position: center center;
			height: 100%;
			width: 100%;
		}
		.active {
			.basket-line-long {
				background-position: center 0;
				height: rem(125px);
				width: 0.5%;
				left: 49%
			}

			.basket-line-short {
				background-position: center 0;
				height: rem(18px);
				top: rem(147px);
				width: 0.5%;
				left: 49%;
			}

			.basket-line-short-last {
				background-position: center 0;
				height: rem(18px);
				top: rem(192px);
				width: 0.5%;
				left: 49%;
			}

			.basket-radio {
				height: rem(20px);
				top: rem(124px);
				left: 46.5%;
				width: 5%;
			}

			.basket-globes {
				height: rem(20px);
				top: rem(168px);
				width: 7%;
				left: 45.5%;
			}
		
			.basket-cloud {
				height: rem(35px);
				top: rem(214px);
				width: 9%;
				left: 45%;
			}
		}
	}
	.txt-wapper {
		position: absolute;
		top: rem(128px);
		left: 60%;
		.radio-text {
			font-size: rem(11px);
		}

		.forums-text {
			margin-top: rem(30px);
			font-size: rem(12px);
		}

		.sparks-text {
			margin-top: rem(30px);
			font-size: rem(16px);
		}

		.discuss-text {
			font-size: rem(10px); 
		}
	}
}


@media screen and (max-width: 768px) and (min-width: 481px){
	.slide-basket-pitch {
		width: 100%;
		height: 700px;
		.background-basket {
			background-position: center center;
			height: rem(530px);
			width: 100%;
		}

		.basket-iphone {
			height: rem(424px);
			width: 33%;
			top: rem(106px);
			left: 10%;
		}
	
		.active {
			.basket-line-long {
				width: 0.5%;
				height: rem(240px);
				left: 49%;
			}

			.basket-radio {
				height: rem(28px);
				width: 6%;
				top: rem(244px);
				left: 46.2%;
			}

			.basket-line-short {
				height: rem(35px);
				width: 0.5%;
				left: 49%;
				top: rem(275px);
			}
			
			.basket-line-short-last {
				height: rem(35px);
				width: 0.5%;
				left: 49%;
				top: rem(365px);
			}

			.basket-globes {
				height: rem(45px);
				width: 6.5%;
				top: rem(315px);
				left: 46%;
			}

			.basket-cloud {
				height: rem(70px);
				width: 10%;
				top: rem(410px);
				left: 44%;
			}
		}
		.txt-wapper {
			position: absolute;
			top: rem(252px);
			left: 60%;
			.radio-text {
				font-size: rem(16px);
			}

			.forums-text {
				margin-top: rem(45px);
				font-size: rem(18px);
			}

			.sparks-text {
				margin-top: rem(66px);
				font-size: rem(28px);
			}

			.discuss-text {
				font-size: rem(14px);
				margin-right: rem(45px);
			}
		}
	}
}
