// Todo extend 

//Extend of background inventing chain
%background-inventing__chain {
	background-repeat: no-repeat;
	background-position: center;
}

// Extend of background tweet wall
%background-tweet__wall {
	background-repeat: no-repeat;
	background-position: center center;
}
