extends layouts/default
block variables
  - bodyClass = "index"
block content
  include templates/photographer.jade
  include templates/about.jade
  include templates/services.jade
  include templates/exhibitions.jade
  include templates/portfolio.jade
  include templates/contact.jade
