/* Variable all file */
$white: #FFF;
$black: 000;
// Color text
$color-link: #6f6f6f;
$color-link-hover: #f14833;
$color-base: #929292;
$color-scarlet: #f14833;
// border color
$color-border: #e0e0e0;
$color-border-title: #393939;
