.main-container#fsvs-body
  .slide
    .vertical-center.horizontal-center
      .container
        .row
          .col.m12.l10.offset-m0.offset-l1
            h2.big-tille.center-align  We provide experienced luxury developers with bespoke equity, mezzanine and senior debt solutions
            p.details-content.center-align
    img.slide__background-full(src="images/about-book.png" alt="room book")
    // part down-arrow
    include down-arrow.jade
  .slide.grey.lighten-5.brown-text.text-lighten-4
    .vertical-center.horizontal-center
      .container
        .row
          .col.l10.offset-l1
            .we-container
              .we__image
                .we__bar
                .we__bar-bottom
        .row
          .col.l12
            h2.big-tille.center-align.brown-text.text-lighten-1 aim to mitigate many of the risks typical in property development
        .row
          .col.m12.l8.offset-m0.offset-l2
            p.details-content.center-align.grey-text.text-darken-2 Whilst securing a potential return on capital well ahead of most competing asset classes.
  .slide
    .vertical-center.horizontal-center
      .container
        .row
          .col.l10.offset-l1
            h2.big-tille.center-align  Each transaction is far more than just a spreadsheet exercise to us
        .row
          .col.l8.offset-l2
            p.details-content.center-align  The plot, the planned elevations and the floor plans, the internal specification, the location, the target market and even the prevailing wind direction are just as important as the projected figures.
    img.slide__background-full(src="images/about-light.png" alt="room light")
  .slide.slide__three
    ul.carousel__outer
      li.carousel__wrapper
        img.carousel__image(src="/images/member-sam-large.png" alt="member sam")
        .vertical-center.carousel__describe
          h4.white-text Sam Pountney
          p.brown-text.text-lighten-1 Project Finance
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
      li.carousel__wrapper
        img.carousel__image(src="/images/member-steffen-large.png" alt="member steffen")
        .vertical-center.carousel__describe
          h4.white-text Steffen Priller
          p.brown-text.text-lighten-1 Head of Project Finance
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
      li.carousel__wrapper
        img.carousel__image(src="/images/member-harry-large.png" alt="member harry")
        .vertical-center.carousel__describe
          h4.white-text Harry Turnbulls
          p.brown-text.text-lighten-1 Managing Director
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
      li.carousel__wrapper
        img.carousel__image(src="/images/member-simon-large.png" alt="member simon")
        .vertical-center.carousel__describe
          h4.white-text Simon Davies
          p.brown-text.text-lighten-1 Director
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
      li.carousel__wrapper
        img.carousel__image(src="/images/member-nick-large.png" alt="member nick")
        .vertical-center.carousel__describe
          h4.white-text Nick Hall
          p.brown-text.text-lighten-1 Head of London Developments
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
      li.carousel__wrapper
        img.carousel__image(src="/images/member-claudia-large.png" alt="member claudia")
        .vertical-center.carousel__describe
          h4.white-text Claudia Barba
          p.brown-text.text-lighten-1 Personal Assistant to Simon Davies
          .box-speaks.carousel__box
            .cube.box
              .cube__arrow
