.container
  .ribbon
    .site-badge
      .site-badge__content
        .site-badge__perspective
          .badge-diamond
            .badge-diamond-bg
          .badge-text
            span.badge-back
            span.badge-current 1
    .badge-links
      a.slick-prev(href="#")
      a.slick-next(href="#")
    a.down-arrow(href="#snowbird")
      span.arrow-next Down
    .page-head-content
      h1.name-title Snowbird
      p.name-desc World Class Ski Resort
    .ribbon-block
      .ribbon-1
      .ribbon-2
      .ribbon-3
      .ribbon-4
      .ribbon-5
      .ribbon-6
      .ribbon-7
      .ribbon-8
      .ribbon-9
      .ribbon-10
      .ribbon-11
      .ribbon-12
      .ribbon-13
      .ribbon-14
      .ribbon-15
      .ribbon-16
    .ribbon-block
      .ribbon-1
      .ribbon-2
      .ribbon-3
      .ribbon-4
      .ribbon-5
      .ribbon-6
      .ribbon-7
      .ribbon-8
      .ribbon-9
      .ribbon-10
      .ribbon-11
      .ribbon-12
      .ribbon-13
      .ribbon-14
      .ribbon-15
      .ribbon-16
