#site_Body
  section.studio
    .header
      .studio__head
        img(src='../images/header-bg.jpg')
        h1.studio__content
          span.studio__huge The Studio
          | Headquarters in Salt Lake City
  section.intro
    h2.intro__head
      span.first-word One
      | Vision That Drives Us
    .intro__content
      p.intro__desc
        | We are a small team of creative technology thinkers and makers, dedicated to the pursuit of bringing remarkable digital products to the world. Our manifesto wasn’t written by an agency copywriter – it doesn’t explain why we are different or better than anyone else. It’s just three words that we live by every day.
      p.intro__desc
        span Let’s Go Rally.
      p.intro__desc
        | It signals go time; foot on the gas, already moving.
        em Let’s Go Rally.
        | It’s our process, but it’s just as relevant on powder-covered mountain tops or in ancient red rock canyons. If the blood, sweat, and tears hardly seem worth it, it’ll guide us through.
        em Let’s Go Rally.
        | When the product ships, we’ll think back and be glad we said these three words.
  section.people
    h2.people__head
      span.first-word Six
      | People on Our Team
    .people__content
      #person
  section.reasons
    .reasons__content
      h2.reasons__head
        span.first-word Four
        | Reasons to Work With Us
      .reasons__item-block
        .reasons__item-bg
    .stagger
      .stagger__item
        .stagger__item--make
          .stagger__item--make-bg
        .stagger__item--desc-make
          span.stagger__item--number
            | Item No.
            span.stagger__number 01
          h3
            | We Make Forward-Thinking Products.
          p
            | Web, iOS, and the next generation of connected devices. We design and develop software for today’s users and tomorrow’s platforms.
      .stagger__item
        .stagger__item--make
          .stagger__item--build-bg
        .stagger__item--desc-make
          span.stagger__item--number
            | Item No.
            span.stagger__number 02
          h3
            | We’re Passionate About the Things We Build.
          p
            | Apps with purpose and websites with substance, designed to delight and flawlessly executed. We obsess over every detail in what we do.
      .stagger__item
        .stagger__item--make
          .stagger__item--result-bg
        .stagger__item--desc-make
          span.stagger__item--number
            | Item No.
            span.stagger__number 03
          h3
            | We’ve Proven Our Work Gets Results.
          p
            | Industry awards, exponential product sales, and long term relationships with key clients.  Caring about quality doesn’t cost, it pays.
      .stagger__item
        .stagger__item--make
          .stagger__item--outdoors-bg
        .stagger__item--desc-make
          span.stagger__item--number
            | Item No.
            span.stagger__number 04
          h3
            | We’re Inspired by the Outdoors.
          p
            | Skiing, snowboarding, cycling, exploring, running, motorcycling, and generally seeking inspiration for the next product we want to make.
  section.clients
    .clients__content
      h2.clients__head
        span.first-word Nine
        | Direct Clients
      .clients__wapper
        .clients__item
          .clients__item--natgeo
            span National Geographic
        .clients__item
          .clients__item--snowbird
        .clients__item
          .clients__item--espn
        .clients__item
          .clients__item--google
        .clients__item
          .clients__item--utahdotcom
        .clients__item
          .clients__item--nokia
        .clients__item
          .clients__item--here
        .clients__item
          .clients__item--bwin
        .clients__item
          .clients__item--paypal
  section.awards
    .awards__content
      h2.awards__head
        span.first-word Eight
        | Notable Features
      .awards__wapper
        .awards__fwa
          .awards__item-content
            span.awards__count 6
            span.awards__name FWA Awards
        .awards__w3
          .awards__item-content
            span.awards__count 1
            span.awards__name W3 Best In Show
        .awards__webby
          .awards__item-content
            span.awards__count 1
            span.awards__name Webby Award Nominee
        .awards__awwwards
          .awards__item-content
            span.awards__count 2
            span.awards__name Awwwards
        .awards__german
          .awards__item-content
            span.awards__count 1
            span.awards__name German Design Award Nominee
        .awards__adobe
          .awards__item-content
            span.awards__count 1
            span.awards__name FWA/Adobe Cutting Edge Award
        .awards__appstore
          .awards__item-content
            span.awards__count 1
            span.awards__name App Store Best Apps Of The Year
        .awards__apple
          .awards__item-content
            span.awards__count 2
            span.awards__name Apple Design Award
  section.outro
    .outro__content
      h2.outro__head
        span.first-word One
        | Place We Call Home
      .outro__item-block
        .outro__item-bg
    .stagger
      .stagger__item
        .stagger__item--make
          .stagger__item--make-bg
        .stagger__item--desc-make
          h3
            | Headquartered in SLC, UT
          p
            | Please direct new business to
            a(href="mailto:letsgorally@rallyinteractive.com?subject=new business") letsgorally@rallyinteractive.com
      .stagger__item
        .stagger__item--make
          .stagger__item--build-bg
        .stagger__item--desc-make
          h3
            span Career
            | Opportunities
          p
            | We are always looking for talented individuals. Please send a link to your work to
            a(href="mailto:jobs@rallyinteractive.com?subject=career opportunities") jobs@rallyinteractive.com
  footer.footer-page
    .footer-logo
      img(src="../images/logo.png" alt='logo')
    .footer-content
      h4 Address
      p
        | 244 W 300 N #101
        span.foot-first  Salt Lake City, UT 84101
      h4 New Business
      p
        a(href="mailto:info@rallyinteractive.com?subject=new business") info@rallyinteractive.com
      h4 Say Hello to the Studio
      p
        a(href="mailto:hello@rallyinteractive.com") hello@rallyinteractive.com
    .footer-social
      a.social__facebook(href="https://www.facebook.com/letsgorally") Facebook
      a.social__twitter(href="https://twitter.com/letsgorally") Twitter
      a.social__dribbble(href="https://dribbble.com/rally") Dribbble

