#slide-basket-pitch {
	width: 100%;
	height: 700px;
	.basket-pitch {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.basket-iphone {
		background-position: 25% 25%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.active {
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;

		.basket-line-long {
			background-position: center 2%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.basket-line-short {
			background-position: center 35%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.basket-line-short-last {
			background-position: center 47%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.basket-radio {
			background-position: center 30%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.basket-globes {
			background-position: center 41%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}

		.basket-cloud {
			background-position: center 57%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}
}

	.background-basket {
		background-image: url('../images/basket-pitch.png');
		background-repeat: no-repeat;
		height: 700px;
		width: 100%;
	}
}

.txt-wapper {
		position: absolute;
		top: 30%;
		left: 60%;
		z-index: 100;
		color: #fff;
}

.radio-text {
	font-size: 22px;
	color: #fff;
}

.forums-text {
	margin-top: 60px;
	font-size: 26px;
	color: #fff;
}

.sparks-text {
	margin-top: 75px;
	font-size: 50px;
	color: #fff;
}

.discuss-text {
	font-size: 20px;
	color: #fff;
}

#slide-what-spark {
	width: 100%;
	height: 750px;
	background: #fff;

	.sparks-iphone-4 {
		background-position: 60% 0;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
		display: block;
		background-image: url('../images/iPhone-5S.png');
		position: absolute;
		background-repeat: no-repeat;
	}

	.sparks-iphone-5 {
		background-position: 85% 55%;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
		display: block;
		background-image: url('../images/iPhone-4S.png');
		position: absolute;
		background-repeat: no-repeat;
	}
}

#slide-drive {
	background-color: #242424;
	width: 100%;
	height: 1000px;
	position: inherit;

	.comment-visual {
		background-color: #FFF;
		border-radius: 10px;
		width: 200px;
		height: 100px;
		position: absolute;
		top: 200%;
		left: 35%;
		p {
			text-align: center;
			font-size: 20px;
			color: #ca0000;
		}
	}

	.arrow-left {
		background-position: 33% 40%;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
		background-image: url('../images/arrow-left.png');
		background-repeat: no-repeat;
		position: absolute;
	}

	.arrow-right {
		background-image: url('../images/arrow-right.png');
		height: 100%;
		width: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: 60% 40%;
		position: absolute;
	}

	.background-tweet-wall {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 100;

		.tweet-wall {
			background-image: url('../images/tweet-wall.png');	
			background-repeat: no-repeat;
			height: 30%;
		}

		.content-comment {
			background-image: url('../images/content-comment.png');
			background-repeat: no-repeat;
			height: 30%;
		}

		.comment-list {
			background-image: url('../images/comment-list.png');
			background-repeat: no-repeat;
			height: 30%;
		}

	}

	.content-user {
		background-image: url('http://localhost:9000/images/content-user.png');
		background-repeat: no-repeat;
		background-position: 60% 20%;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 10%;
		left: 30%;
	}
}

#slide-ipad {
	background-color: #FFF;
	width: 100%;
	height: 750px;
	position: absolute;
	z-index: 100;

	.topic-tweet {
		background-image: url('../images/topic-tweet.png');
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 20%;
	}

	.background-ipad {
		background-image: url('../images/ipad.png');
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 50%
	}

	.arrow-horizontal {
		background-image: url('../images/arrow-horizontal.png');
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 50%;
		z-index: 100;
	}
}
