.how-does {
	background-color: #242424;
	width: 100%;
	height: rem(1350px);
	position: inherit;

	.background-slide-drive {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: absolute;
	}
	
	.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				font-size: rem(24px);
				margin-top: rem(80px);
			}

			li:last-child {
				font-size: rem(18px);
				margin-top: rem(10px);
			}
		}

	.inside {
		max-width: 950px;
		margin: 0 auto;
		position: relative;
		.comment-visual {
			background-color: $white;
			@include border-radius(30px);
			width: rem(220px);
			height: rem(105px);
			position: absolute;
			left: rem(230px);
			top: rem(740px);
			z-index: 150;
			text-align: center;
			h4 {
				font-family: $font-roboto;
				@include font-text(rem(20px), bold, $drive-text);
			}
			span {
				font-family: $font-roboto;
				@include font-text(rem(16px), normal, $drive-text);
			}
		}

		.grow-content {
			position: absolute;
			margin-left: 550px;
			width: rem(250px);
			h3 {
				font-family: $font-roboto;
				@include font-text(rem(24px), normal, $white);
			}

			p {
				font-family: $font-roboto;
				@include font-text(rem(14px), normal, $white);
			}
		}

		.topic-content {
			position: absolute;
			top: 1110px;
			width: rem(250px);
			h3 {
				font-family: $font-roboto;
				@include font-text(rem(24px), normal, $white);
			}

			p {
				font-family: $font-roboto;
				@include font-text(rem(14px), normal, $white);
			}
		}
		.arrow-left {
			background-image: url('../images/arrow-left.png');
			@extend .background-slide-drive;
			z-index: 152;
			width: rem(77px);
			height: rem(83px);
			top: rem(680px);
			left: rem(190px);
		}

		.arrow-right {
			background: url('../images/arrow-right.png');
		  background-size: cover;
			@extend .background-slide-drive;
			z-index: 152;
			width: rem(175px);
			height: rem(34px);
			top: rem(740px);
			left: rem(420px);
		}

		.background-tweet-wall {
			position: absolute;
			height: rem(282px);
			width: 100%;
			z-index: 100;

			.tweet-wall {
				background-image: url('../images/tweet-wall.png');	
				@extend .background-slide-drive;
				height: rem(292px);
				width: rem(522px);
			}

			.content-comment {
				background-image: url('../images/content-comment.png');
				@extend .background-slide-drive;
				height: rem(320px);
				width: rem(522px);
				top: rem(310px);
			}

			.comment-list {
				background-image: url('../images/comment-list.png');
				@extend .background-slide-drive;
				height: rem(278px);
				width: rem(522px);
				top: rem(650px);
				opacity: 0.5;
			}

		}
		.content-user {
			background-image: url('../images/content-user.png');
			@extend .background-slide-drive;
			height: rem(641px);
			width: rem(504px);
			margin-top: rem(100px);
			margin-left: rem(440px);
		}
	}
}
