.how-does {
	background-color: #242424;
	width: 100%;
	height: rem(1350px);
	position: inherit;

	.background-slide-drive {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: absolute;
	}
	
	.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				font-size: rem(24px);
				margin-top: rem(80px);
			}

			li:last-child {
				font-size: rem(18px);
				margin-top: rem(10px);
			}
		}

	.inside {
		max-width: 950px;
		margin: 0 auto;
		position: relative;
		.comment-visual {
			background-color: $white;
			@include border-radius(30px);
			width: rem(220px);
			height: rem(105px);
			position: absolute;
			left: rem(230px);
			top: rem(740px);
			z-index: 150;
			text-align: center;
			h4 {
				font-family: $font-roboto;
				@include font-text(rem(20px), bold, $drive-text);
			}
			span {
				font-family: $font-roboto;
				@include font-text(rem(16px), normal, $drive-text);
			}
		}

		.grow-content {
			position: absolute;
			margin-left: 550px;
			width: rem(250px);
			h3 {
				font-family: $font-roboto;
				@include font-text(rem(24px), normal, $white);
			}

			p {
				font-family: $font-roboto;
				@include font-text(rem(14px), normal, $white);
			}
		}

		.topic-content {
			position: absolute;
			top: 1110px;
			width: rem(250px);
			h3 {
				font-family: $font-roboto;
				@include font-text(rem(24px), normal, $white);
			}

			p {
				font-family: $font-roboto;
				@include font-text(rem(14px), normal, $white);
			}
		}
		.arrow-left {
			background-image: url('../images/arrow-left.png');
			@extend .background-slide-drive;
			z-index: 152;
			width: rem(77px);
			height: rem(83px);
			top: rem(680px);
			left: rem(190px);
		}

		.arrow-right {
			background: url('../images/arrow-right.png');
		  background-size: cover;
			@extend .background-slide-drive;
			z-index: 152;
			width: rem(175px);
			height: rem(34px);
			top: rem(740px);
			left: rem(420px);
		}

		.background-tweet-wall {
			position: absolute;
			height: rem(282px);
			width: 100%;
			z-index: 100;

			.tweet-wall {
				background-image: url('../images/tweet-wall.png');	
				@extend .background-slide-drive;
				height: rem(292px);
				width: rem(522px);
			}

			.content-comment {
				background-image: url('../images/content-comment.png');
				@extend .background-slide-drive;
				height: rem(320px);
				width: rem(522px);
				top: rem(310px);
			}

			.comment-list {
				background-image: url('../images/comment-list.png');
				@extend .background-slide-drive;
				height: rem(278px);
				width: rem(522px);
				top: rem(650px);
				opacity: 0.5;
			}

		}
		.content-user {
			background-image: url('../images/content-user.png');
			@extend .background-slide-drive;
			height: rem(641px);
			width: rem(504px);
			margin-top: rem(100px);
			margin-left: rem(440px);
		}
	}
}

@media (max-width: 480px) {
	.how-does {
		height: 660px;
		.benefit-content {
			text-align: center;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				font-family: $font-roboto;
				@include font-text(rem(13px), lighter, $white);
				margin-top: rem(40px);
			}

			li:last-child {
				font-family: $font-roboto;
				@include font-text(rem(10px), lighter, $white);
				margin-top: rem(10px);
			}
		}
		.inside {
			.comment-visual {
				background-color: $white;
				border-radius: rem(20px);
				width: 30%;
				height: rem(90px);
				position: absolute;
				left: 24%;
				top: rem(350px);
				z-index: 150;
				text-align: center;
				h4 {
					font-family: $font-roboto;
					@include font-text(rem(18px), lighter, $drive-text);
				}
				span {
					font-family: $font-roboto;
					@include font-text(rem(13px), lighter, $drive-text);
				}
			}

			.grow-content {
				position: absolute;
				left: 58%;
				width: 30%;
				margin-left: 0;
				top: rem(80px);
				h1 {
					font-size: rem(12px);
				}

				p {
					font-size: rem(8px);
				}
			}
			
			.topic-content {
				position: absolute;
				left: 5%;
				top: rem(525px);
				width: 90%;
				h1 {
					font-size: rem(12px);
				}	
				
				p {
					font-size: rem(8px);
					margin-right: rem(250px);
				}
			}

			.arrow-left {
				background-size: 100% 100%;
				top: rem(330px);
				left: 15%;
				height: rem(35px);
				width: 12%;
			}

			.arrow-right {
				background-size: 100% 100%;
				top: rem(360px);
				left: 50%;
				height: rem(12px);
				width: 12%;
			}
			.background-tweet-wall {
				height: 700px;
				.background-tweet {
					background-size: 100% 100%;
					left: 5%;
					width: 50%;
					z-index: 1;
				}

				.tweet-wall {
					@extend .background-tweet;
					height: rem(120px);
					position: absolute;
					left: 5%;
				}

				.content-comment {
					@extend .background-tweet;
					top: rem(130px);
					height: rem(140px);
				}

				.comment-list {
					@extend .background-tweet;
					top: rem(280px);
					height: rem(140px);
					opacity: 0.5;
				}

				.content-user {
					background-size: 100% 100%;
					width: 50%;
					margin-top: 40px;
					left: 47%;
					position: absolute;
					margin-left: 0;
					z-index: 1;
					height: rem(300px);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	.how-does {
		height: rem(860px);
		.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;

			li:first-child{
				font-family: $font-roboto;
				@include font-text(rem(24px), lighter, $white);
			}

			li:last-child {
				font-family: $font-roboto;
				@include font-text(rem(16px), lighter, $white);
				margin-top: rem(10px);
			}
		}

		.inside {
			.comment-visual {
				@include border-radius(rem(5px));
				background-color: $white;
				border-radius: rem(20px);
				width: 26%;
				height: rem(80px);
				position: absolute;
				text-align: center;
				top: rem(450px);
				z-index: 150;
				left: 22%;

				h4 {
					font-family: $font-roboto;
					@include font-text(rem(18px), bold, $drive-text);
				}

				span {
					font-family: $font-roboto;
					@include font-text(rem(13px), normal, $drive-text);
				}
			}

			.grow-content {
				left: 58%;
				margin-left: 0px;
				h3 {
					font-family: $font-roboto;
					@include font-text(rem(18px), normal, $white);
					line-height: 0px;
				}

				p {
					font-family: $font-roboto;
					@include font-text(rem(14px), normal, $white);
				}
			}
			
			.topic-content {
				left: 5%;
				top: rem(670px);
				width: 30%;
				h3 {
					font-family: $font-roboto;
					@include font-text(rem(18px), normal, $white);
					line-height: 0px;
				}	
				
				p {
					font-family: $font-roboto;
					@include font-text(rem(14px), normal, $white);
				}
			}

			.arrow-left {
				top: rem(440px);
				left: 15%;
				height: 20%;
				width: 10%;
			}

			.arrow-right {
				top: rem(466px);
				left: 45%;
				height: 15px;
				width: 15%;
				height: rem(15px);
			}
			.background-tweet-wall {
				height: 700px;
				.background-tweets {
					background-size: 100% 100%;
					left: 5%;
					width: 50%;
					z-index: 1;
				}

				.tweet-wall {
					@extend .background-tweets;
					height: rem(160px);
				}

				.content-comment {
					@extend .background-tweets;
					top: rem(170px);
					height: rem(160px);
				}

				.comment-list {
					@extend .background-tweets;
					top: rem(340px);
					height: rem(160px);
					opacity: 0.5;
				}

				.content-user {
					background-size: 100% 100%;
					left: 48%;
					width: 50%;
					top: rem(60px);
					z-index: 1;
					height: rem(400px);
					margin: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.how-does {
		height: rem(1150px);
		.inside {
			max-width: 700px;
			margin: 0 auto;
			position: relative;
			.comment-visual {
				background-color: $white;
				@include border-radius(30px);
				width: rem(170px);
				height: rem(105px);
				position: absolute;
				left: rem(180px);
				top: rem(600px);
				z-index: 150;
				text-align: center;
				h4 {
					font-family: $font-roboto;
					@include font-text(rem(20px), bold, $drive-text);
				}
				span {
					font-family: $font-roboto;
					@include font-text(rem(16px), normal, $drive-text);
				}
			}
			.grow-content {
				position: absolute;
				margin-left: rem(435px);
				width: rem(250px);
				h3 {
					font-family: $font-roboto;
					@include font-text(rem(24px), normal, $white);
				}

				p {
					font-family: $font-roboto;
					@include font-text(rem(14px), normal, $white);
				}
			}
			.topic-content {
				position: absolute;
				top: rem(904px);
				width: rem(250px);
				h3 {
					font-family: $font-roboto;
					@include font-text(rem(24px), normal, $white);
				}

				p {
					font-family: $font-roboto;
					@include font-text(rem(14px), normal, $white);
				}
			}
			.arrow-left {
				width: rem(77px);
				height: rem(83px);
				top: rem(550px);
				left: rem(130px);
			}
			.arrow-right {

				width: rem(175px);
				height: rem(34px);
				top: rem(610px);

				left: rem(330px);
			}
			.background-tweet-wall {
				.tweet-wall {
					background-size: 75% 80%;
				}

				.content-comment {
					top: rem(240px);
					background-size: 75% 80%;
				}

				.comment-list {
					top: rem(505px);
					background-size: 75% 80%;
					opacity: 0.5;
				}

				.content-user {
					width: rem(400px);
					height: rem(500px);
					margin-left: rem(330px);
				}
			}
		}
	}
}
