.screenshot {
	background-color: $white;
	height: 725px;
	z-index: 100;

	.background-slide-ipad {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;
	}
	
	.inside {
		max-width: 950px;
		margin: 0 auto;
		position: relative;
		.topic-tweet {
			background-image: url('../images/topic-tweet.png');
			@extend .background-slide-ipad;
			height: rem(414px);
			width: rem(320px);
			top: rem(-100px);
		}

		.background-ipad {
			background-image: url('../images/ipad-backgound.png');
			@extend .background-slide-ipad;
			text-align: center;
			height: rem(752px);
			width: rem(632px);
			top: rem(-680px);
			left: rem(340px);
			padding-top: rem(60px);
		}
		
		.content-ipad {
			height: rem(605px);
			top: rem(65px);
			left: rem(43px);
			width: rem(587px);
			overflow: hidden;
				.images-scrolling {
					@extend .background-slide-ipad;
					top: rem(65px);
					left: rem(43px);
					background-image: url('../images/content-ipad.png');
					height: rem(665px);
					width: rem(590px);
				}
		}
		.arrow-horizontal {
			background-image: url('../images/arrow-horizontal.png');
			z-index: 100;
			@extend .background-slide-ipad;
			height: rem(51px);
			width: rem(146px);
			left: rem(280px);
			top: rem(-350px);
		}
	}
}
