.slide-ipad {
	background-color: $white;
	height: 650px;
	z-index: 100;

	.background-slide-ipad {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: absolute;
	}

	.topic-tweet {
		background-image: url('../images/topic-tweet.png');
		@extend .background-slide-ipad;
		height: rem(414px);
		width: 25%;
		left: 15%;
		top: rem(2600px);
	}

	.background-ipad {
		background-image: url('../images/ipad.png');
		@extend .background-slide-ipad;
		height: rem(752px);
		width: 42%;
		left: 42%;
		top: rem(2500px);
	}

	.arrow-horizontal {
		background-image: url('../images/arrow-horizontal.png');
		z-index: 100;
		@extend .background-slide-ipad;
		height: rem(51px);
		width: 10%;
		left: 38%;
		top: rem(2800px);
	}
}

@media (max-width: 480px) {
	.slide-ipad {
		height: rem(310px);
		background-color: $white;
		.topic-tweet {
			position: absolute;
			top: rem(1140px);
			left: 5%;
			height: rem(180px);
			width: 35%;
		}

		.background-ipad {
			position: absolute;
			top: rem(1100px);
			height: rem(300px);
			width: 50%;
			left: 45%;
		}

		.arrow-horizontal {
			position: absolute;
			top: rem(1230px);
			left: 35%;
			height: 4%;
			width: 20%;
			height: rem(20px);
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	.slide-ipad {
		height: rem(410px);
		background-color: $white;
		.topic-tweet {
			top: rem(1850px);
			left: 5%;
			width: 40%;
			height: rem(310px);
    	position: absolute;
		}

		.background-ipad {
			top: rem(1780px);
			left: 45%;
			width: 54%;
			height: rem(500px);
			position: absolute;
		}

		.arrow-horizontal {
			top: rem(1960px);
			left: 42%;
			height: rem(30px);
			width: 10%;
			position: absolute;
		}
	}
}
