/**
 * Styles of section what spark
 */
.slide-what-sparks {
	width: 100%;
	height: rem(680px);
	background: #FFF;

	.sparks-background {
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.sparks-iphone-4 {
		background-position: 60% 0;
		background-image: url('../images/iPhone-5S.png');
		@extend .sparks-background;
	}

	.sparks-iphone-5 {
		background-image: url('../images/iPhone-4S.png');
		background-position: 85% 55%;
		@extend .sparks-background;
	}
	.wapper-content {
		position: absolute;

		.sparks-what-text {
			font-size: rem(20px);
		}

		.fan-iphone {
			font-size: rem(24px);
		}

		.app-iphone {
			li:before {
				content: "";
				display: block;
				background: url('../images/spark.png') no-repeat;
				width: rem(20px);
				height: rem(20px);
				float: left;
				// margin: 0 6px 0 0;
			}
			li {
				font-size: rem(24px);
				list-style: none;
				display: inline-block;
			}
		}

		.channels-text {
			font-size: rem(24px);
		}

		.icon-flash {
			background-image: url('../images/spark.png');
			width: rem(12px);
			height: rem(16px);
			background-repeat: no-repeat;
			display: inline-block;
		}
	}
}

/**
 * Styles with mobile 
 * max-width: 480px
 */
@media (max-width: 480px) {

	.slide-what-sparks {
		.wapper-content {
			position: absolute;
			top: 40%;
			left: 8%;
			margin-right: rem(190px);
			.sparks-what-text {
				font-size: rem(10px);
			}

			.fan-iphone {
				font-size: rem(12px);
			}

			.app-iphone {
				padding-left: 0;

				li:before {
					width: rem(15px);
					height: rem(15px);
					background-size: 50%;
					margin-right: rem(-5px);
					margin-top: rem(5px);
				}
				li {
					font-size: rem(12px);
					list-style: none;
					display: inline-block;
				}
			}

			.channels-text {
				font-size: rem(12px);
			}
		}

		.sparks-iphone-4 {
			background-size: 37%;
			top: 37%;
			left: 10%;
		}

		.sparks-iphone-5 {
			background-size: 50%;
			top: 18%;
			left: 6%;
		}
	}
}
