.slide-drive {
	background-color: #242424;
	width: 100%;
	height: rem(1350px);
	position: inherit;

	.background-slide-drive {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: absolute;
	}
	
	.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				font-size: rem(24px);
				margin-top: rem(80px);
			}

			li:last-child {
				font-size: rem(18px);
				margin-top: rem(10px);
			}
		}

		.comment-visual {
			background-color: $white;
			@include border-radius(30px);
			width: rem(185px);
			height: rem(105px);
			position: absolute;
			left: 30%;
			top: rem(2120px);
			z-index: 150;
			text-align: center;
			h4 {
				font-size: rem(20px);
				color: #ca0000;
			}
			span {
				font-size: rem(16px);
				color: #ca0000;
			}
		}

	.grow-content {
		position: absolute;
		left: 51%;
		width: 20%;
		color: $white;
		h1 {
				font-size: rem(24px);
		}

		p {
			font-size: rem(14px);
		}
	}

	.topic-content {
			position: absolute;
			color: $white;
			left: 15%;
			top: rem(2500px);
			h1 {
				font-size: rem(24px);
			}

			p {
				font-size: rem(14px);
			}
		}
	.arrow-left {
		background-image: url('../images/arrow-left.png');
		@extend .background-slide-drive;
		z-index: 152;
		width: 10%;
		height: rem(83px);
		top: rem(2060px);
		left: 22%;
	}

	.arrow-right {
		background-image: url('../images/arrow-right.png');
		@extend .background-slide-drive;
		z-index: 152;
		width: 10%;
		height: rem(34px);
		top: rem(2120px);
		left: 41%;
	}

	.background-tweet-wall {
		position: absolute;
		height: rem(282px);
		width: 100%;
		z-index: 100;

		.tweet-wall {
			background-image: url('../images/tweet-wall.png');	
			@extend .background-slide-drive;
			height: rem(292px);
			width: 35%;
			left: 15%;
		}

		.content-comment {
			background-image: url('../images/content-comment.png');
			@extend .background-slide-drive;
			height: rem(320px);
			width: 35%;
			left: 15%;
			top: rem(310px);
		}

		.comment-list {
			background-image: url('../images/comment-list.png');
			@extend .background-slide-drive;
			height: rem(278px);
			width: 35%;
			left: 15%;
			top: rem(650px);
			opacity: 0.5;
		}

	}
	.content-user {
		background-image: url('../images/content-user.png');
		@extend .background-slide-drive;
		height: rem(641px);
		width: 35%;
		left: 46%;
		top: rem(120px)
	}
}

@media (max-width: 480px) {
	.slide-drive {
		height: 660px;
		.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;
			padding-top: rem(20px);
			li:first-child{
				font-size: rem(13px);
				margin-top: rem(40px);
			}

			li:last-child {
				font-size: rem(10px);
				margin-top: rem(10px);
			}
		}

		.comment-visual {
			background-color: $white;
			border-radius: rem(20px);
			width: rem(100px);
			height: rem(50px);
			position: absolute;
			left: 26%;
			top: rem(910px);
			z-index: 150;
			text-align: center;
			h4 {
				font-size: rem(10px);
				color: #ca0000;
			}
			span {
				font-size: rem(8px);
				color: #ca0000;
			}
		}

		.grow-content {
			position: absolute;
			left: 58%;
			top: rem(640px);
			h1 {
				font-size: rem(12px);
			}

			p {
				font-size: rem(8px);
			}
		}
		
		.topic-content {
			position: absolute;
			left: 5%;
			top: rem(1060px);
			h1 {
				font-size: rem(12px);
			}	
			
			p {
				font-size: rem(8px);
				margin-right: rem(250px);
			}
		}

		.arrow-left {
			background-size: 100% 100%;
			top: rem(895px);
			left: 17%;
			height: rem(35px);
			width: 12%;
		}

		.arrow-right {
			background-size: 100% 100%;
			top: rem(920px);
			left: 45%;
			height: rem(12px);
			width: 12%;
		}
		.background-tweet-wall {
			height: 700px;
			.background-tweet {
				background-size: 100% 100%;
				left: 5%;
				width: 50%;
				z-index: 1;
			}

			.tweet-wall {
				@extend .background-tweet;
				height: rem(120px);
			}

			.content-comment {
				@extend .background-tweet;
				top: rem(130px);
				height: rem(140px);
			}

			.comment-list {
				@extend .background-tweet;
				top: rem(280px);
				height: rem(140px);
				opacity: 0.5;
			}

			.content-user {
				background-size: 100% 100%;
				left: 48%;
				width: 50%;
				top: rem(50px);
				z-index: 1;
				height: rem(300px);
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	.slide-drive {
		height: rem(860px);
		.benefit-content {
			text-align: center;
			color: $white;
			list-style: none;

			li:first-child{
				font-size: rem(24px);
				padding-top: rem(60px);
			}

			li:last-child {
				font-size: rem(16px);
				margin-top: rem(10px);
			}
		}

		.comment-visual {
			@include border-radius(rem(5px));
			background-color: $white;
			border-radius: rem(20px);
			width: rem(140px);
			height: rem(80px);
			position: absolute;
			text-align: center;
			top: rem(1460px);
			z-index: 150;
			h4 {
				font-size: rem(18px);
				color: #ca0000;
			}

			span {
				font-size: rem(14px);
				color: #ca0000;
			}
		}

		.grow-content {
			left: 58%;
			h3 {
				font-size: rem(18px);
			}

			p {
				font-size: rem(14px);
			}
		}
		
		.topic-content {
			left: 5%;
			top: rem(1680px);
			width: 30%;
			h3 {
				font-size: rem(18px);
			}	
			
			p {
				font-size: rem(14px);
			}
		}

		.arrow-left {
			top: rem(1440px);
			left: 22%;
			height: 7%;
			width: 10%;
		}

		.arrow-right {
			top: rem(1470px);
			left: 46%;
			height: 3%;
			width: 10%;
		}
		.background-tweet-wall {
			height: 700px;
			.background-tweets {
				background-size: 100% 100%;
				left: 5%;
				width: 50%;
				z-index: 1;
			}

			.tweet-wall {
				@extend .background-tweets;
				height: rem(160px);
			}

			.content-comment {
				@extend .background-tweets;
				top: rem(170px);
				height: rem(160px);
			}

			.comment-list {
				@extend .background-tweets;
				top: rem(340px);
				height: rem(160px);
				opacity: 0.5;
			}

			.content-user {
				background-size: 100% 100%;
				left: 48%;
				width: 50%;
				top: rem(50px);
				z-index: 1;
				height: rem(400px);
			}
		}
	}
}
