.slide-ipad {
	background-color: #FFF;
	height: 650px;
	z-index: 100;

	.background-slide-ipad {
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}

	.topic-tweet {
		background-image: url('../images/topic-tweet.png');
		@extend .background-slide-ipad;
	}


	.background-ipad {
		background-image: url('../images/ipad.png');
		@extend .background-slide-ipad;
	}

	.arrow-horizontal {
		background-image: url('../images/arrow-horizontal.png');
		z-index: 100;
		@extend .background-slide-ipad;
	}
}

@media (max-width: 480px) {
	.slide-ipad {
		.topic-tweet {
			top: 142%;
			left: 5%;
			height: 25%;
			background-size: 32%;
		}

		.background-ipad {
			top: 135%;
			left: 42%;
			height: 40%;
			background-size: 50%;
		}

		.arrow-horizontal {
			top: 150%;
			left: 34%;
			height: 4%;
			background-size: 16%;
		}
	}
}
