/**
 * Styles of section what spark
 */
.slide-what-sparks {
	width: 100%;
	height: rem(680px);
	background: $white;

	.sparks-background {
		background-repeat: no-repeat;
		position: absolute;
	}
	.sparks-iphone-black {
		background-image: url('../images/phone-black.png');
		@extend .sparks-background;
		width: rem(358px);
		height: rem(630px);
	}

	.sparks-iphone-white {
		background-image: url('../images/phone-white.png');
		@extend .sparks-background;
		width: rem(525px);
		height: rem(523px);
		top: rem(240px);
		left: rem(40px);
		z-index: 1;
	}
	.content-sparks {
		position: absolute;
		left: 20%;
		top: rem(50px);
		.sparks-what-text {
			font-family: $font-roboto;
			@include font-text(rem(50px), lighter, $black);
		}

		.fan-iphone {
			font-family: $font-roboto;
			@include font-text(rem(18px), bold, $black);
		}

		.app-iphone {
			li:before {
				content: "";
				display: block;
				background: url('../images/icon-spark.png') no-repeat;
				width: rem(20px);
				height: rem(20px);
				margin-top: rem(5px);
				float: left;
			}
			li {
				font-family: $font-roboto;
				@include font-text(rem(20px), lighter, $black);
				margin-bottom: rem(10px);
				list-style: none;
				display: inline-block;
			}
		}

		.channels-text {
			font-family: $font-roboto;
			@include font-text(rem(18px), lighter, $black);
		}

		.icon-flash {
			background-image: url('../images/spark.png') no-repeat;
			width: rem(12px);
			height: rem(16px);
			display: inline-block;
		}
	}
}
