header.bg-pitch-basket
	.contain-ball
		.basket-ball
			.basket-ball_iphone
		.inventing-chain
			.inventing-chain_line-long
			.inventing-chain_radio
			.inventing-chain_line-short 
			.inventing-chain_.globes-online
			.inventing-chain_line-short-last
			.inventing-chain_cloud
		.exchange-info
			.exchange-info_radio Talk radio on the airwaves
			.exchange-info_forums Online forums on the web 
			.exchange-info_sparks Sparks on mobile
			.exchange-info_discuss We’re inventing a new way  to discuss what you’re into.
