header.bg-pitch-basket
	.contain-ball
		.basket-ball
			.basket-ball__iphone
		.inventing-chain
			.inventing-chain__line--long
			.inventing-chain__radio
			.inventing-chain__line--short 
			.inventing-chain__globes--online
			.inventing-chain__line--short-last
			.inventing-chain__cloud
		.exchange-info
			.exchange-info__radio Talk radio on the airwaves
			.exchange-info__forums Online forums on the web 
			.exchange-info__sparks Sparks on mobile
			.exchange-info__discuss We’re inventing a new way  to discuss what you’re into.
