header.basket-pitch-slide
	.background-basket
		.container
			.row
				.col-md-4.col-xs-5
					.row
						.basket-iphone
				.col-md-4.col-xs-2
					.row
						.active
							.line-long
							.radio-airwaves
							.line-short 
							.globes-online 
							.line-short-last
							.sparks-cloud
				.col-md-4.col-xs-5
					.row
						.exchange-info
							.radio-text-description Talk radio on the airwaves
							.forums-text-description Online forums on the web 
							.sparks-text-description Sparks on mobile
							.discuss-text-description We’re inventing a new way  to discuss what you’re into.
