section.how-does
	.inside
		ul.benefit-content
			li How does it benefit Influencers?
			li Stand out amongst your peers by embracing a new digital medium
		.grow-content
			h3 1
			p Grow your audience by posting visual  content to Twitter and Facebook
		.comment-visual
			h4 Drive 120%
			span more engagement  through visual posts*
		.arrow-left
		.arrow-right
		.background-tweet-wall
			.tweet-wall
			.content-comment
			.comment-list
			.content-user
		.topic-content
			h3 2
			p Engage with your audience around  specific topics.
