section.influence-digital
	.influence-digital-visual
		ul.influence-digital_benefit
			li How does it benefit Influencers?
			li Stand out amongst your peers by embracing a new digital medium
		.influence-digital_posting
			h3 1
			p Grow your audience by posting visual content to Twitter and Facebook
		.influence-digital_drive
			h4 Drive 120%
			span more engagement  through visual posts*
		.bg-arrow_left
		.bg-arrow_right
		.bg-tweet_wall
			.tweet_wall-profile
			.tweet_wall-cluster
			.tweet_wall-recent
			.tweet_wall-expanded
		.influence-digital_specific-topics
			h3 2
			p Engage with your audience around specific topics.
