section.influence-digital
	.container
		.influence-digital__visual
			ul.influence-digital__benefit
				li How does it benefit Influencers?
				li Stand out amongst your peers by embracing a new digital medium
			.influence-digital__posting
				h3 1
				p Grow your audience by posting visual content to Twitter and Facebook
			.bg-tweet__wall
				.tweet-wall__profile
				.tweet-wall__cluster
				.tweet-wall__recent
				.tweet-wall__expanded
				.influence-digital__drive-group
					.influence-digital__drive
						h4 Drive 120%
						span more engagement  through visual posts*
					.bg-arrow__left
					.bg-arrow__right
		.influence-digital__specific-topics
			h3 2
			p Engage with your audience around specific topics.
		.screenshot__expanded--details
		.screenshot__arrow--horizontal
		.screenshot__expanded--put
			.screenshot__expanded--in
