section.sparks-insiders
	.container
		.sparks-insiders__content
			p.sparks-insiders__content--what What is Sparks?
			p.sparks-insiders__content--fan An iPhone app for fans to:
			ul.sparks-insiders__content--app
				li
					span Participate in the discussion with visual sparks that they create in seconds
				li 
					span Follow the latest pregame breakdown, game threads postgame recaps
				li
					span Discover and engage with influencers and pernalities
			p.sparks-insiders__content--channels Launching first with NBA, MLB and  World Cup channels in early 2014
		.sparks-insiders__phone
			.sparks-insiders__phone--blacks
			.sparks-insiders__phone--whites
