section.sparks-insiders
	.sparks-insiders_content
		p.sparks-insiders_content-what What is Sparks?
		p.sparks-insiders_content-fan An iPhone app for fans to:
		ul.sparks-insiders_content-app
			li Participate in the discussion with visual sparks that they create in seconds
			li Follow the latest pregame breakdown, game threads postgame recaps
			li Discover and engage with influencers and pernalities
		p.sparks-insiders_content-channels Launching first with NBA, MLB and  World Cup channels in early 2014
		.sparks-insiders_phone
			.sparks-insiders_phone-black
			.sparks-insiders_phone-white
