section.what-sparks.container
	.row
		.col-xs-5.col-md-6
			.content-sparks
				p.sparks-what-text What is Sparks?
				p.fan-iphone An iPhone app for fans to:
				ul.app-iphone
					li Participate in the discussion with visual sparks that they create in seconds
					li Follow the latest pregame breakdown, game threads postgame recaps
					li Discover and engage with influencers and pernalities
				p.channels-text Launching first with NBA, MLB and  World Cup channels in early 2014
		.col-xs-7.col-md-6
			.row
				.background-sparks
					.sparks-iphone_black.img-responsive
					.sparks-iphone_white.img-responsive
