
html.fsvs {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	#fsvs-body {
		-webkit-backface-visibility: hidden;
		@include perspective(1000);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
    @include size(100%);
		> * {
      @include size(100%);
			overflow: hidden;
			-webkit-backface-visibility: hidden;
			@include perspective(1000);
		}
	}
	#fsvs-pagination {
		margin: 0;
		padding: em(8px) em(4px);
		position: fixed;
    @include size(em(32px), auto);
		right: -100px;
		top: 10%;
		z-index: 999;
		li {
			height: em(10px);
			span {
				border: em(1px) solid white;
				display: block;
			}
			&.active {
				> span {
					border: 1px dashed white;
					> span {
						background: white;
					}
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
}

.show-text {
  opacity: 1 !important;
  @include animation-name(bounceInUp 5s);
}

@include keyframes(bounceInUp) {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
