@charset "UTF-8";
/*******************variables*****************/
.todo-title {
  font-size: 100px;
  text-align: center;
  color: #ead7d7;
}

.bg-main {
  line-height: 1;
  color: #4d4d4d;
  background: #f1f1f1;
}

.todo-wrapper {
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.add-todo {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.add-todo #toggle-all {
  position: absolute;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  text-align: center;
  top: 10px;
  border: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.add-todo #toggle-all:focus {
  outline: none;
  border: none;
}
.add-todo #toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 15px;
}
.add-todo #toggle-all:checked:before {
  color: #737373;
}
.add-todo .input-todo {
  padding: 20px 15px 20px 60px;
  border: none;
}
.add-todo .input-todo:focus {
  outline: none;
  border: none;
}

.todo-item {
  display: inline;
  list-style-type: none;
}

.todo-list-wrap {
  max-width: 550px;
}

.todo-list {
  padding: 0px;
  display: inline;
}
.todo-list .todo-item {
  border-bottom: 1px solid #ededed;
}
.todo-list .todo-item .todo-view {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 60px;
}
.todo-list .todo-item label {
  position: absolute;
  top: 20px;
  left: 50px;
}
.todo-list .todo-item .checkbox {
  position: absolute;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.todo-list .todo-item .checkbox:focus {
  outline: none;
  border: none;
}
.todo-list .todo-item .checkbox:after {
  position: absolute;
  left: 4px;
  top: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '';
  border: 1px solid #efefef;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.todo-list .todo-item .checkbox:checked:after {
  border: 1px solid #c7e0db;
  background: url(../image/tick-after.png) no-repeat center center;
}
.todo-list .todo-item .checkbox:checked:after label {
  text-decoration: line-through;
}

.delete {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  cursor: default;
  text-align: center;
  color: #cc9a9a;
}
.delete a {
  text-decoration: none;
}

.todo-edit {
  display: none;
}

.todo-action {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.todo-action .item-left {
  float: left;
}
.todo-action .list-action {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  text-align: center;
}
.todo-action .list-action li {
  display: inline-block;
}
.todo-action .clear-button {
  position: relative;
  color: #777;
}
.todo-action .clear-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  line-height: 22px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0;
  color: #777;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-active {
  border: 1px solid #efd5d5;
}

.completed label {
  text-decoration: line-through;
  color: #cc9a9a;
}

footer {
  padding: 20px 0;
  font-size: 10px;
  color: #bfbfbf;
  text-align: center;
  margin: 36px 0 0 0;
}
footer p {
  margin: 10px 0;
}

/*# sourceMappingURL=main.css.map */
