doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 22ยบ - Independent Design Agency
    link(rel="shortcut icon", type="image" href="images/favicon-16x16.png")
    link(href='styles/main.css', rel='stylesheet')
  - var bodyClass;
  block variables
  body(class=bodyClass)
    .container.clearfix
      include header.jade
      block content
    // include ../footer.jade
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/jquery_lazyload/jquery.lazyload.js')
    script(src='../bower_components/handlebars/handlebars.js')
    script(src='../bower_components/picturefill/dist/picturefill.js')
    script(src='../bower_components/retina.js/dist/retina.js')
    script(src='../bower_components/jquery.easing/js/jquery.easing.js')
    script(src='../bower_components/pogo-slider/jquery.pogo-slider.min.js')
    script(src='../bower_components/animsition/src/js/animsition.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

