header.nav
  nav.cl-effect-5
    ul
      li
        a.link-home.animsition-link(href='index.html').select
         span(data-hover='Home') Home
      li
        a.link-work.animsition-link(href='works.html')
          span(data-hover='works') works
      li
        a.link-agency.animsition-link(href='agency.html')
          span(data-hover='Agency') Agency
      li
        a.open-contact
          span(data-hover='Contact') Contact
    ul.lenguaje
      li
        span.line ES
      li
        span.line
        | EN
  .show
  .menu-icon
    span.line-menu.colocar
    span.line-menu.colocar
    span.line-menu.colocar
// loader page
.loader
  img(src='../images/loading.png' alt="grados")
  p A moment please..
include ../templates/modules/contact.jade
