header.nav
  nav.cl-effect-5
    ul
      li
        a.animsition-link(href="index.html")
          span(data-hover="Agency") Home
      li
        a.animsition-link(href="works.html")
          span(data-hover="Works") Works
      li
        a.animsition-link(href="#")
          span(data-hover="Agency") Agency
      li
        a.open-contact
    //- h1
    //-   img(src='../images/icon-22-grados.png' alt="grados")
.loader
  img(src='../images/loading.png' alt="grados")
  p A moment please..

