doctype html
html(lang='en',xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(charset="utf-8")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		!= getBlock("styles").add(site.styles).toHTML()
	body
		.container-fluid.bg-main
			//-header
			!= partial('header')

			//- content
			!= partial('content')
			
			//-footer
			!= partial('footer')

		//- !=	scripts.toHTML()
		script(type='text/javascript', src='scripts/help.js')
		script(type='text/javascript', src='scripts/dom.js')
		script(type='text/javascript', src='scripts/event.js')
		//- script(type='text/javascript', src='scripts/todoHelper.js')
		script(type='text/javascript', src='scripts/to-do-list.js')
		script(type='text/javascript', src='scripts/main.js')