<div>
	<form action="">
		<input type="radio" [(ngModel)]="model.sex"  name="sex" value="1">One<br>
		<input type="radio" [(ngModel)]="model.sex"  name="sex" value="2">True<br>
		<input type="radio" [(ngModel)]="model.sex"  name="sex" value="3">Three
	</form>

	<input type="button" value="select one" (click)="model.sex='one'">
	<input type="button" value="select two" (click)="model.sex='two'">
	 <input type="button" value="select three" (click)="model.sex='three'">
	<div>Selected Radio: {{model.sex}}</div>
</div>