.container-content
  .reply-controll
    .reply-controll__title Leave reply infor
    form.reply-controll__action(action="javascript.void(0)" method="POST" autocomplete="off")
      label Name: 
      input(type="text")
      label Content:
      textarea()
      input(type="Submit" value="Submit")
