extends ../layouts/default
block variables
  - bodyClass = "works"
block content
  main
    // section works
    section.intro__works
      h2.heading__works
        ul.heading__rotate
          li.heading__rotating.active
            span.front creativity
            span.black design
          li.heading__rotating
            span.front excellence
            span.black trend
          li.heading__rotating
            span.front inspiration
            span.black elegance
          li.heading__rotating
            span.front simplicity
            span.black design
      .claim__works
        h3.claim__block
          | Our aspirations lead us to seek
          span excellence
          | with
          span innovative
          | , state-of-the-art projects that are consistent with the latest trends
    .wrapp-works
      // section web
      section.web__block
        .til-section
          h6 Web
          .line-scroll
        ul.web__preview
          a.animsition-link(href="#")
            li.web__list--mugaku
              .web__name.showhide
                h2.showhide Mugako
                .web__name--largue
          a.animsition-link(href="#")
            li.web__list--henry
              .web__name.showhide
                h2.showhide Henry saiz
                .web__name--largue
          a.animsition-link(href="#")
            li.web__list--crea
              .web__name.showhide
                h2.showhide Ruben crea
                .web__name--largue
          a.animsition-link(href="#")
            li.web__list--room
              .web__name.showhide
                h2.showhide Blue room
                .web__name--largue
      // section landing
      section.landing
        .til-section
          h6 Landing
        ul.landing__block
          li.landing__race
            .landing__line
            h3 RACE UNLIMITED
            .image__block
              .landing__image(data-image="../images/landing-race.jpg")
          li.landing__optimus
            .landing__line
            h3 LG OPTIMUS
            .image__block
              .landing__image(data-image="../images/landing-lg.jpg")
          li.landing__sony
            .landing__line
            h3 LG OPTIMUS
            .image__block
              .landing__image(data-image="../images/landing-sony.jpg")
          li.landing__mahou
            .landing__line
            h3 Cañin de Mahou
            .image__block
              .landing__image(data-image="../images/landing-mahou.jpg")
          li.landing__consejero
            .landing__line
            h3 El Consejero
            .image__block
              .landing__image(data-image="../images/landing-consejero.jpg")
          li.landing__teresa
            .landing__line
            h3 Santa Teresa
            .image__block
              .landing__image(data-image="../images/landing-santa-teresa.jpg")
      // section branding
      section.branding
        .til-section
          h6 Branding
        article.branding__mugako
          .logos
            img(src="../images/branding-logo-mugako.jpg")
            img(src="../images/branding-mugako-sello.jpg")
        .carteles
          ul.cover-slider
            li.cover-slider__slide
            li.cover-slider__slide
            li.cover-slider__slide
        .foto-cartel
          img(src="../images/branding-mugako-cartel-medium.jpg")
      // section pages
      section.pages
        .til-section
          h6 Advertising
        ul.pages__block
          li.pages__wikilson
            .pages__image(data-image="../images/grafica-wikilson.jpg")
          li.pages__idealista
            .pages__image(data-image="../images/grafica-idealista.jpg")
          li.pages__suzuki
            .pages__image(data-image="../images/grafica-suzuki-dos.jpg")
          li.pages__correos
            .pages__image(data-image="../images/grafica-correos.jpg")
          li.pages__la-rioja
            .pages__image(data-image="../images/grafica-la-rioja.jpg")
          li.pages__chupachups
            .pages__image(data-image="../images/grafica-chupachups.jpg")
          li.pages__groove
            .pages__image(data-image="../images/grafica-groove.jpg")
          li.pages__creatividad
            .pages__image(data-image="../images/grafica-creatividad.jpg")
          li.pages__suzuki-uno
            .pages__image(data-image="../images/grafica-suzuki-uno.jpg")
      // part footer
      .footer__back.cl-effect-5
        ul
          li
            a(href='#web')
              span(data-hover='') Web
          li
            a(href='#landing')
              span(data-hover='') Landing
          li
            a(href='#branding')
              span(data-hover='') Branding
          li
            a(href='#pages')
              span(data-hover='') Advertising
