extends ../layouts/default
block variables
  - bodyClass = "works"
block content
  main
    // section works
    section.intro__works
      h2#heading.heading__works
        span.rotate.heading__rotating creativity, design, excellence, trend, inspiration, elegance, simplicity
      .claim__works
        h3.claim__block
          | Our aspirations lead us to seek
          span excellence
          | with
          span innovative
          | , state-of-the-art projects that are consistent with the latest trends
    .wrapp-works
      // section web
      section.web__block
        .til-section
          h6 Web
          .line-scroll
        ul#webItem.web__preview
      // section landing
      section.landing
        .til-section
          h6 Landing
        ul#lanDing.landing__block
      // section branding
      section.branding
        .til-section
          h6 Branding
        article.branding__mugako
          .logos
            img(src="../images/work/branding-logo-mugako.jpg")
            img(src="../images/work/branding-mugako-sello.jpg")
        .carteles
          ul.cover-slider
            li.cover-slider__slide
            li.cover-slider__slide
            li.cover-slider__slide
        .foto-cartel
          img(src="../images/work/branding-mugako-cartel-medium.jpg")
      // section pages
      section.pages
        .til-section
          h6 Advertising
        ul#pages.pages__block
      // part footer
      .footer__back.cl-effect-5
        ul
          li
            a(href='#web')
              span(data-hover='') Web
          li
            a(href='#landing')
              span(data-hover='') Landing
          li
            a(href='#branding')
              span(data-hover='') Branding
          li
            a(href='#pages')
              span(data-hover='') Advertising
