extends ../layouts/default
block variables
  - bodyClass = "works"
block content
  main.animsition
    .intro__works
      h2.heading__works
        ul.heading__rotate
          li.heading__rotating
            span.front creativity
            span.black design
          li.heading__rotating
            span.front excellence
            span.black trend
          li.heading__rotating
            span.front inspiration
            span.black elegance
          li.heading__rotating
            span.front simplicity
