/* Variable all file */
$white: #FFF;
$black: #000;
// Color text
$color-link: #6f6f6f;
$color-link-hover: #f14833;
$color-base: #2f363b;
$color-footer: #9b9b9b;
$color-scarlet: #f14833;
$color-title: #b8b8b8;
$color-gray: #343434;
$color-guides: #d9cdf6;
// border color
$color-border: #e0e0e0;
$color-border-title: #e0e0e0;
$color-border-gray: #3b3b3b;
// background
$color-guides-bg: #3e384f;
$color-footer-bg: #343434;
