.row
  section.background-based.small-block-grid-12
    .based
      .based__headline Get domain and hosting with Great Prices
      .based__ground
        a.button.small(href="javascript:void(0)") Order
        a.button.small(href="javascript:void(0)") Register
