.row
  .clients-portfolio.small-block-grid-12
    h3.clients-portfolio__title.small-12 This is our client portfolio hosting
    .portfolio.small-12.large-4.columns
      img.portfolio__image(src="/images/took-agency.png")
      h4.portfolio__title Took Agency
      p.portfolio__content Lorem Ipsum is simply dummy text of the  printing and typesetting industry
    .portfolio.small-12.large-4.columns
      img.portfolio__image(src="/images/took-agency.png")
      h4.portfolio__title Snap Web Development
      p.portfolio__content Lorem Ipsum is simply dummy text of the  printing and typesetting industry
    .portfolio.small-12.large-4.columns
      img.portfolio__image(src="/images/took-agency.png")
      h4.portfolio__title Snap Player
      p.portfolio__content Lorem Ipsum is simply dummy text of the  printing and typesetting industry
