/* styles part title about me and my service */

.little-about {
  @include outer-container(75%);
  @include padding(0 0 em(50px));
  @include e(content) {
    @include span-columns(6);
  }
}

.about-description {
  @include margin(null em(15px) em(25px) null);
}

/* styles part title about me */
.about-description {
  @include e(image) {
    @include span-columns(5);
  }

  @include e(detail) {
    @include span-columns(7);
    @include m(lead) {
      @include font-text(em(15px), normal, $black, $font-roboto);
      margin-bottom: em(10px);
    }

    @include m(more) {
      @include font-text(em(14px), normal, $black, $font-roboto);
    }
  }
}

/* styles part title my service */
.services-about {
  @include e(image) {
    @include span-columns(1);
    float: left;
  }

  @include e(description) {
    @include span-columns(11);
    @include m(title) {
      @include font-text(em(17px), bold, $black, $font-roboto);
      text-transform: capitalize;
      margin-bottom: em(10px);
    }

    @include m(detail) {
      @include font-text(em(14px), lighter, $black, $font-roboto);
      margin-bottom: em(30px);
    }
  }
}
