.background-based
  .header-top
    .logo
      img(src="images/logo.png" alt="logo")
    ul.nav
      li
        a(href="javascript:void(0)").nav__item home
      li
        a(href="javascript:void(0)").nav__item about
      li
        a(href="javascript:void(0)").nav__item portfolio
      li
        a(href="javascript:void(0)").nav__item services
      li
        a(href="javascript:void(0)").nav__item journal
      li
        a(href="javascript:void(0)").nav__item contact
  .based
    h2.based__headline Jonathon Kubb
    h3.based__headphoto Photography
    span.based__headbased Based in New York since 2001
