section.little-about
  .little-about__content
    .about-description
      h2.title-block a little about me
      span.parallel-lines
    img.about-description__image(src="images/author.png" alt="author")
    .about-description__detail
      p.about-description__detail--lead Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donect malesuada ullamcorper odio
      p.about-description__detail--more Curabitur blandit tempus porttitor. Vollisky inceptos mollisest commodo luctus. Curabitur blandit tempus porttitor. Morbi leo risus. porta ac consectetur ac, vestibulum at eros. ventibulum id ligulas semper. Cum soccis natoque penatibus et magnis maecenas. Donecullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac egestas eget quam.
  .little-about__content
    .about-description
      h2.title-block my services
      span.parallel-lines
    .services-about
      img.services-about__image(src="images/photography.png" alt="photography")
      .services-about__description
        p.services-about__description--title photography
        p.services-about__description--detail Curabitur blandit tempus porttitor. Duis at vollisky inceptos mollisestor commodo luctus erat. Morbi risus,  porta consestetur vestibulum at eros
    .services-about
      img.services-about__image(src="images/motion.png" alt="motion")
      .services-about__description
        p.services-about__description--title photography
        p.services-about__description--detail Curabitur blandit tempus porttitor. Duis at vollisky inceptos mollisestor commodo luctus erat. Morbi risus,  porta consestetur vestibulum at eros
    .services-about
      img.services-about__image(src="images/retouching.png" alt="retouching")
      .services-about__description
        p.services-about__description--title photography
        p.services-about__description--detail Curabitur blandit tempus porttitor. Duis at vollisky inceptos mollisestor commodo luctus erat. Morbi risus,  porta consestetur vestibulum at eros
