/* styles background of head */

.background-based {
  background-image: url("/images/background-based.png");
  background-position: center top, center;
  background-repeat: no-repeat;
  height: em(700px);
  position: relative;
}
.based {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 30%;
  @include e(headline) {
    @include font-text(em(50px), bold, $white, $font-roboto);
  }

  @include e(headphoto) {
    @include font-text(em(40px), lighter, $white, $font-roboto);
    margin-top: em(5px);
    letter-spacing: em(4px);
  }

  @include e(headbased) {
    @include font-text(em(14px), lighter, $white, $font-roboto);
    margin-top: em(10px);
    text-transform: capitalize;
    display: inline-block;
  }
}

.device {
  display: none;
  position: relative;
  top: em(210px);

  @include media(em(990px)) {
    @include transform(
      perspective(800px) 
      translateX(0px) 
      translateY(-100px) 
      translateZ(50px) 
      rotateX(0deg) 
      rotateY(-20deg) 
      rotateZ(-0deg));
    background: darken(gray, 40%);
    border-radius: em(32px);
    box-shadow: 
      1px 0px lighten(darken(darken(gray, 40%), 10%), 20%), 
      4px 0px lighten(darken(darken(gray, 40%), 10%), 2%),
      7px 0px darken(darken(gray, 40%), 10%),
      10px 0px darken(darken(gray, 40%), 10%),
      13px 0px darken(darken(gray, 40%), 10%);
    display: block;
    float: right;
    margin-bottom: -12em;
    margin-right: em(80px);
    padding: em(80px) 0;
    width: em(224px) + (2 * em(6px));
    z-index: 99999;

    .screen {
      @include size(em(224px) em(400px));
      background-image: url('../images/screen-phone.png');
      background-size: cover;
      border-radius: em(3px);
      box-shadow: inset 0 1px 8px transparentize(black, 0.5);
      margin: auto;
    }
  }
}

