/*******************variables*****************/
$white: #fff;
$whiteSmoke: #f5f5f5;

$global-radius: 3px;
$global-text-color: #4d4d4d;
$main-bg-color: #f1f1f1;
$title-text-color: #ead7d7;

$border-add-bottom-color: #e6e6e6;
$toggle-add-all-color: #e6e6e6;
$item-border-bottom-color: #ededed;
$item-delete-button-color: #cc9a9a;
$filter-button-text-color: #777;
$filter-button-border-hover-color: #efd5d5;

$footer-text-color: #bfbfbf;