.header-page {
  width: 100%;
  margin: 0 0 30px;
  padding: 20px 0 28px;
  border-bottom: 2px solid $border-color;
  @include e(title) {
    margin-bottom: 0;
    padding: 10px 0 14px;
    line-height: 1.25em;
    font-size: 2.25em;
    color: #111;
    padding-left: 58px;
    text-transform: capitalize;
  }
  @include e(desc) {
    width: 69%;
    line-height: 1.6em;
    font-style: italic;
  }
}
.tastemakers {
  @extend .header-page;
  .tastemakers__title {
    @extend .header-page__title;
    background: url("/images/icons/page-tastemakers.png") 0 -99px no-repeat;
  }
  .tastemakers__desc {
    @extend .header-page__desc;
  }
}
.main {
  width: 100%;
  min-height: 550px;
  overflow: hidden;
}

.product {
  overflow: visible;
  position: relative;
  float: left;
  width: 184px;
  height: 430px;
  margin: 0 24px 28px 0;
  padding: 10px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  // @include box-shadow(1px 2px 3px #F5F5F5);
  @include box-shadow();
  @include e(head) {
   
  }
  @include e(img) {
    max-width: 100%;
    height: auto;
  }

  @include e(title) {
    width: 100%;
    margin-bottom: 9px;
    padding: 8px 0 10px;
    line-height: 1.3em;
    border-bottom: 1px dotted #E5E5E5;
  }
  @include e(desc) {
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 0.75em;
  }
  @include e(facebook) {
    position: absolute;
    bottom: 55px;
  }
  @include e(footer) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-top: 1px dotted #E5E5E5;
    line-height: 1.5em;
    font-size: 0.75em;
    a {
      display: block;
      padding: 5px 10px 1px 34px;
      font-size: .875em;
      background: url(/images/icons/icon-author-girl.png) no-repeat 10px bottom;
      border: none;
    }
  }

  .fb-like {
    position: absolute;
    bottom: 50px;
  }
}
.product:nth-child(4n) {
  margin: 0 0 24px 0;
}
