<h2 class="list-title">What's Cooking</h2>
<div class="list-subtitle">See what the community is cooking</div>
<div class="list-activities">
	<a href="#">
		<span class="attribution">
			<span class="avatar">
				<img src="https://avatars3.githubusercontent.com/u/204768?v=2&s=400" alt="image-avatar" class="image-avatar">
			</span>
			<span class="meta"> 
				<span class="author">
					Matt
				</span> made 
				<span class="recipe"> Apricots Honey Panna Cotta 
				</span>
					I substituted strawberries for apricots - incredible!
				<span class="location">SoMA, San Francisco</span>
			</span>
		</span>
		<div class="bg-image" style="background-image: url('/app/images/img/activity/activity-placeholder-strawberry-640x640.jpg');"></div>
	</a>
	<a href="" (click)="onSee()" class="btn-primary">See what's cooking</a>
	<h2 class="list-title">Our Favorite Recipes</h2>
	<div class="list-subtitle">Hand-picked by neighborhood chefs</div>
	<div class="list-recipes">
	</div>
	<a href="" (click)="onRecipes()" class="btn-primary">Explore all our recipes</a>
</div>