.contribute__title {
  background: url("/images/icons/page-contribute.png") 0 -99px no-repeat;
}
.header-page {
  .contribute__connect {
    line-height: 1.5em;
    font-weight: bold;
    margin-top: 20px;
  }
}
.contribute {
  @include e(content) {
    margin-bottom: 20px;
    line-height: 1.5em;
    a {
      border-bottom: 1px dashed $border-color;
    }
    small {
      font-size: .75em
    }
    em {
      font-style: italic;
    }
  }
  strong {
    font-weight: bold;
  }
  @include e(header) {
    margin-bottom: 20px;
    line-height: 1.3em;
    font-size: 1.125em;
    font-weight: bold;
  }
}
