.blog__icon {
  background: url("/images/icons/page-blog.png") 0 -99px no-repeat;
}

.blog-wap {
  width: 69%;
  float: left;
  margin-bottom: 40px;
  // min-width: 590px;
}
.blog-post {
  clear: left;
  float: left;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 8px;
  border-bottom: 2px dashed $border-color;
  @include e(title) {
    margin-bottom: 20px;
    line-height: 1.25em;
    font-size: 1.5em;
    display: block;
  }
  @include e(group) {
    clear: both;
    margin-bottom: 30px;
  }
  @include e(desc) {
    margin-bottom: 20px;
    line-height: 1.5em;
  }
  @include e(imges) {
    float: right;
    width: 252px;
    margin: 0 0 10px 20px;
    img {
      width: 232px;
      padding: 9px;
      background: $white;
      border: 1px solid $border-color;
      -webkit-box-shadow: 1px 2px 3px $border-showdow;
      -moz-box-shadow: 1px 1px 3px $border-showdow;
      box-shadow: 1px 1px 3px $border-showdow;
    }
  }
  @include e(link) {
    margin-bottom: 20px;
    line-height: 1.5em;
    a {
      border-bottom: 1px dashed $border-color;
      &:hover {
        background: $back-ground;
      }
    }
  }

  @include e(footer) {
    margin-bottom: 30px;
    line-height: 1.5em;
    display: flex;
    li {
      float: left;
      margin-bottom: 10px;
      line-height: 1.4em;
      font-size: .75em;
    }
    @include m(date) {
      height: 40px;
      padding: 5px 5% 5px 0;
      border-right: 2px solid $border-color;
      span {
        font-size: .875em;
        color: #BBB;
        display: block;
        margin-bottom: 5px;
      }
      em {
        display: block;
        font-size: 1.3125em;
      }
    }
    @include m(comment) {
      border-right: 2px solid $border-color;
      height: 23px;
      margin: 0 0 10px 5%;
      padding: 27px 5% 0 0;
      background: url(../images/icons/icon-blog-comments.png) no-repeat left -40px;
    }
    @include m(tags) {
      height: 23px;
      margin: 0 5% 10px 5%;
      padding: 27px 5% 0 0;
      background: url(../images/icons/icon-blog-tag.png) no-repeat left -40px;
    }
  }
}

.pagination {
  clear: left;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 12px;
  a:hover {
    background-color: $back-ground;
    border-color: $border-greend;
    color: #EC6635;
  }
  .button__older {
    padding: 10px 20px;
    background: $white;
    border-radius: 5px;
    border: 1px solid $border-color;
    position: absolute;
    right: 0;
  }
}

.sub-bar {
  float: right;
  @include flexbox();
  flex-direction: column;
  width: 26%;
  margin-bottom: 40px;
  color: #888;
  a:hover {
    background-color: #EFF8F7;
  }
  .subscribe {
    margin-bottom: 30px;
    font-size: .875em;
    @include e(rss) {
      padding-left: 22px;
      background: url(../images/icons/icon-aside-rss.png) no-repeat left -48px;
    }
    @include e(question) {
      margin-left: 7px;
      padding: 0 7px;
      background: #F1F1F1;
      border-radius: 15px;
      font-size: .85em;
      opacity: .8;
    }

  }

  h4 {
    clear: left;
    margin-bottom: 9px;
    padding-bottom: 5px;
    line-height: 1.3em;
    border-bottom: 1px dashed $border-color;
    font-style: italic;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.7em;
    font-size: .75em;
  }

  .nav_categories {
    margin-bottom: 30px;
    li {
      font-size: .875em;
      line-height: 1.45em;
    }
  }
  .search {
    margin-bottom: 30px;
  }
}
.subscribe-info {
  h4 {
    clear: left;
    margin-bottom: 9px;
    padding-bottom: 5px;
    line-height: 1.3em;
    border-bottom: 1px dashed $border-color;
    font-style: italic;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.7em;
    font-size: .75em;
  }
  .subscribe__email {
    .submit {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}

.contact-info {
  .contact-info__title {
    clear: left;
    margin-bottom: 9px;
    padding-bottom: 5px;
    line-height: 1.3em;
    border-bottom: 1px dashed $border-color;
    font-style: italic;
  }
  .contact-info__desc {
    margin-bottom: 10px;
    line-height: 1.7em;
    font-size: .75em;
    @include m(link) {
      display: inline-block;
    }
    a {
      margin: 0 3px;
      border-bottom: 1px dashed $border-color;
      &:hover {
        background: #EFF8F7;
      }
    }
  }
}
