@media screen and (max-width: 1920px) and (min-width: 1600px) {
  //***********************************//
  //********* style page index ********//
  .pace-done {
    header {
      border-bottom: 1px solid #b5b5b3;
      height: 70px;
    }
  }
  header {
    height: 70px;
    nav {
      height: 70px;
      li {
        font-size: 10px;
        margin-top: 32px;
        letter-spacing: 2px;
      }
    }
    h1 {
      width: 50px;
      padding-top: 20px;
      margin-right: 10px;
    }
  }
  .nav {
    a.select {
      height: 38px;
    }
  }
  .cl-effect-5 a {
    &:hover {
      span {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
        &:before {
          position: absolute;
          top: 100%;
          content: attr(data-hover);
          font-family: 'rucreabold';
          -webkit-transform: translate3d(0,0,0);
          -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          color: #FF6C49;
        }
      }
    }
  }
  .nav.open {
    margin-top: 420px!important;
  }
  .contacto.open {
    height: 420px;
  }
  .contacto {
     h4 {
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -2.5px;
      width: 50%;
    }
  }
  .clientes {
    float: left;
  }
  .colaboradores {
    float: right;
  }
  .loader {
    margin-bottom: -160px;
  }
  .intro {
    margin-top: 180px;
    max-width: 780px;
    height: 390px;
  }
  .services {
    max-width: 1310px;
    top: 580px;
    &__item {
      width: 436px;
      height: 436px;
       &:nth-child(2) {
        border-top: solid 1px;
        border-right: none;
        border-left: none;
      }
      &:nth-child(5) {
        border-left: none;
        border-right: none;
      }
      &:nth-child(3) {
        border-top: solid 1px;
      }
    }
    h3 {
      font-size: 11px;
      top: 390px;
    }
  }
  .claim {
    top: -30px;
    height: 80px;
    padding-top: 35px;
  }
  .latest {
    &__works {
      position: relative;
      top: 450px;
      height: 600px;
    }
    &__item {
      height: 370px;
      &--name {
        font-size: 48px;
        letter-spacing: 16px;
      }

      &:nth-child(2) {
        border-left: none;
        .latest__item--name {
          top: 330px;
          left: 398px;
          padding-left: 30px;
        }
      }
    }
    &__preview {
      max-width: 1310px;
    }
  }
  .wrapp-cases {
    width: 100%;
    left: 0;
    height: 490px;
  }
  .pace-done .wrapp-cases {
    transform: matrix(1,0.00,0.00,1,0,160);
    -webkit-transform: matrix(1,0.00,0.00,1,0,160);
    opacity: 1;
  }
  #cases {
    top: 120px;
    height: 710px;
    max-width: 1600px;
    margin-left: -800px;
    left: 50%;
    padding-bottom: 30%;
    .mediaslider {
      max-width: 1310px;
      margin-left: -655px;
    }
  }
  .pogoSlider-dir-btn--prev {
    left: 35px;
    background-color: #000;
    border: none;
  }
  .pogoSlider-dir-btn--next {
    right: 35px;
    background-color: #000;
    border: none;
  }
  .pogoSlider-progressBar {
    bottom: 279px;
  }
  .pogoSlider-slide-element {
    top: 280px!important;
  }
  /**********************************************/
  /*************** page works *******************/
  .intro__works {
    max-width: 1400px;
    height: 160px;
  }
  .pace-done {
    .intro__works {
      margin-top: 450px;
    }
    .wrapp-works {
      transform: matrix(1,0.00,0.00,1,0,130);
      -webkit-transform: matrix(1,0.00,0.00,1,0,130);
    }
  }
  .wrapp-works {
    max-width: 1380px;
    left: 50%;
    margin-left: -690px;
  }
  .web {
    &__block {
      height: 776px;
      padding: 80px;
      .til-section {
        top: -25px;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        h6 {
          width: 250px;
        }
      }
    }
    &__name {
      h2.showhide {
        top: 50px;
        transition-delay: .2s;
        opacity: 0
      }
    }
    .web__name.show {
      height: 270px;
      padding-top: 220px;
      top: 15%;
      opacity: 1
    }

    .web__name.showhide {
      opacity: 0;
      -webkit-transition: all .5s cubic-bezier(0.165,0.84,0.44,1);
      transition: all .5s cubic-bezier(0.165,0.84,0.44,1);
      transition-delay: .2s;
      height: 270px;
      padding-top: 120px
    }
    &__list {
      &--mugaku {
        left: 0;
      }
      &--henry {
        right: 0;
      }
      &--crea {
        bottom: 0;
      }
      &--room {
        bottom: 0;
        right: 0;
      }
    }
    &__preview {
      a:nth-child(1) {
        .web__list {
          left: 0;
        }
      }
      a:nth-child(2) {
        .web__list {
          right: 0;
        }
      }
      a:nth-child(3) {
        .web__list {
          bottom: 0;
        }
      }
      a:nth-child(4) {
        .web__list {
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .landing {
    .til-section h6 {
      padding-top: 0;
    }
    li {
      .landing__image {
        &:hover {
          opacity: 0;
        }
      }
      background-size: 78.2%;
      &:nth-child(1) {
        .landing__image {
          height: 1031px;
        }
      }
      &:nth-child(2) {
        .landing__image {
          height: 705px;
        }
      }
      &:nth-child(3) {
        .landing__image {
          height: 425px;
        }
      }
      &:nth-child(4) {
        .landing__image {
          height: 476px;
        }
      }
      &:nth-child(5) {
        top: -327px;
        .landing__image {
          height: 747px;
        }
      }
      &:nth-child(6) {
        top: -607px;
        .landing__image {
          height: 1035px;
        }
      }
    }
  }
  .branding {
    top: -180px;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 70px;
    .til-section {
      margin-bottom: 0;
      top: -245px;
    }
  }
  .pages {
    top: -40px;
    .til-section {
      margin-bottom: 0;
      top: 50px;
    }
    li {
      height: 605px;
    }
    &__image {
      height: 603px;
      &:hover {
        opacity: 0;
      }
    }
  }
  /**********************************************/
  /*************** page agency *******************/
  .cab {
    min-height: 990px;
    &__description {
      font-size: 24px;
      line-height: 28px;
      margin-top: 11px;
    }
    article {
      max-width: 1080px;
      margin-left: -540px;
      height: 300px;
      margin-top: -70px;
    }
    &__razones {
      opacity: 1;
      top: 80px;
    }
  }
  .about {
    &__services {
      max-width: 1380px;
      .til-section {
        top: 50px;
        h6 {
          border: 1px solid;
          background-color: transparent;
        }
      }
      .line-scroll {
        margin-top: -244px;
        height: 240px;
      }
      .bloque {
        margin-top: -420px;
      }
      .about__off {
        left: 46%;
      }
    }
    &__largue {
      top: -30px;
    }
  }

  .wrapp {
    background-size: 453px 453px;
    margin-top: 160px;
    &__info {
      top: -100px;
      height: 2240px;
    }
    &__preguntas {
      max-width: 1380px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 190px;
      li {
        height: 540px;
        padding: 40px;
        padding-left: 70px
      }
      li.metodo {
        top: 540px;
      }
      li.ventajas {
        top: 540px;
      }
      li.mision {
        top: 1080px;
      }
    }
    .agencia {
      &__title {
        font-size: 140px;
        height: 270px;
        span {
          top: 120px;
        }
      }
      &__heading {
        font-size: 18px;
      }
      &__desc {
        top: 25px;
        line-height: 21px;
        font-size: 16px;
        width: 90%;
      }
    }
    .icon-mision {
      left: -65%;
      top: 50%;
    }
    .icon-metodo {
      left: -65%;
      top: 50%;
    }
  }

  .contact-agency {
    h4 {
      font-size: 120px;
      line-height: 110px;
    }
    .forms {
      margin-top: 120px;
      width: 90%;
    }
    .contact-clientes {
      float: left;
      width: 450px;
    }
    .contact-colaboradores {
      float: right;
      width: 450px;
    }
    .email {

    }
  }
}
