/*** style on device small ***/
@media screen and (max-width: 767px) {
  //***********************************//
  //********* style page index ********//
  header {
    height: 100%;
    position: fixed;
    top: -100%;
  }
  .intro {
    margin-top: 99px;
    transition-delay: 3.3s;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    background-image: none;
    height: 280px;
    &__logo {
      width: 220px;
      height: 190px;
    }
    &__gris {
      width: 160px;
      height: 180px;
    }
    &__naranja {
      width: 180px;
      height: 180px;
    }
    &__grado {
      width: 40px;
      height: 40px;
      left: 150px;
    }
  }
  .claim {
    top: -40px;
    height: 50px;
    padding-top: 30px;
    &__mascara-claim {
      height: 60px;
      top: 10px;
      h3 {
        font-size: 10px;
        letter-spacing: 2px;
        position: relative;
        top: -16px;
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .wrapp-cases {
    width: 100%;
    height: 300px;
    left: 0;
    margin-top: 10px;
    .til-section {
      top: -230px;
      width: 200px;
      height: 45px;
      font-size: 10px;
      padding-top: 17px;
      h6 {
        width: 200px;
        height: 45px;
        padding-top: 17px;
        font-size: 10px;
        letter-spacing: 3px;
      }
    }
  }
  /* style part slider page home*/
  #cases {
    padding-bottom: 30%;
    height: 100%;
    max-width: 768px;
    margin-left: -50%;
    left: 50%;
    top: 50%;
    margin-top: -237px;
  }
  .mediaslider {
    max-width: 768px;
    margin-left: -50%;
    background-position: -160px;
  }
  .arrow__next {
    right: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  .arrow__pre {
    width: 50px;
    height: 50px;
    background-size: cover;
    left: 0;
  }

  // part latest works
  .latest__works {
    top: 120px;
    height: 480px;
  }
  .til-section {
    width: 200px;
    height: 45px;
    font-size: 10px;
    padding-top: 17px;
    top: -75px;
    h6 {
      width: 200px;
      height: 45px;
      padding-top: 17px;
      font-size: 10px;
      letter-spacing: 3px;
    }
  }
  .line-scroll {
    top: 61px;
    height: 40px;
    margin-left: -1px;
    left: 50.1%;
  }
  .latest {
    &__preview {
      max-width: 100%;
      margin-right: 10%;
      margin-left: 10%;
      top: -180px;
    }
    &__item {
      height: 200px;
      width: 100%;
      max-width: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 24px;
      background-position: center top;

      &--name {
        font-size: 28px;
        height: 85px;
        letter-spacing: 10px;
        width: 70%;
        top: 102px;
        padding: 10px;
        left: 10px;
        span {
          top: 31px;
        }
      }
    }
    &__img {
      position: absolute;
      height: 100%;
      padding-bottom: 0;
      overflow: hidden;
      top: 0;
      width: 100%;
      left: 0;
    }
    &__nakogu {
      background-image: url(../images/small/preview-home-mugako-gris.jpg);
    }
    &__rubencrea {
      background-image: url(../images/small/preview-home-rubencrea.jpg);
    }
  }

  /** style section services */
  .services {
    width: 90%;
    top: 220px;
    &__title {
      font-size: 17px;
      margin-top: 60px;
    }
    &__list {
      margin-top: 30px;
    }
    &__item {
      width: 100%;
      height: 273px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      h3 {
        font-size: 11px;
        top: 243px;
      }
    }
    &__web {
      background-image: url(../images/small/service-web.jpg);
    }
  }
  /* footer page **/
  .footer {
    &__block {
      top: -20px;
      height: 90px;
      margin-bottom: 10px;
    }
  }
}
