/*** style on device small ***/
@media screen and (max-width: 767px) {
  //***********************************//
  //********* style page index ********//
  header {
    height: 100%;
    position: fixed;
    top: -100%;
  }
  .loader {
    margin-bottom: -260px;
  }
  .intro {
    margin-top: 120px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    background-image: none;
    height: 280px;
    &__logo {
      width: 220px;
      height: 190px;
    }
    &__gris {
      width: 160px;
      height: 180px;
    }
    &__naranja {
      width: 195px;
      height: 160px;
      top: 5px;
      left: -27px;
    }
    &__grado {
      width: 40px;
      height: 40px;
      left: 150px;
      top: -50px;
    }
  }
  .pace-done {
    .intro {
      margin-top: 100px;
      transition-delay: 3.3s;
      &__naranja {
        width: 180px;
        height: 180px;
      }
    }
    .wrapp-cases {
      margin-top: 10px;
    }
  }
  .claim {
    top: -40px;
    height: 50px;
    padding-top: 30px;
    &__mascara-claim {
      height: 60px;
      top: 10px;
      h3 {
        font-size: 10px;
        letter-spacing: 2px;
        position: relative;
        top: -16px;
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .wrapp-cases {
    width: 100%;
    height: 300px;
    left: 0;
    .til-section {
      top: -230px;
      width: 200px;
      height: 45px;
      font-size: 10px;
      padding-top: 17px;
      h6 {
        width: 200px;
        height: 45px;
        padding-top: 17px;
        font-size: 10px;
        letter-spacing: 3px;
        border: solid 1px;
      }
      .line-scroll {
        display: none;
      }
    }
  }
  /* style part slider page home*/
  #cases {
    padding-bottom: 30%;
    height: 100%;
    max-width: 768px;
    margin-left: -50%;
    left: 50%;
    top: 50%;
    margin-top: -237px;
  }
  .mediaslider {
    max-width: 768px;
    margin-left: -50%;
    background-position: -160px;
  }
  .pogoSlider-dir-btn {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  .pogoSlider-dir-btn--next {
    right: 0;
  }
  .pogoSlider-dir-btn--prev {
    left: 0;
  }

  .pogoSlider-progressBar {
    bottom: 125px;
    width: 200px;
    margin-left: -100px;
    height: 1px
  }
  .pogoSlider-slide-element {
    border: none !important;
    top: 50%!important;
    margin-top: -75px!important;
    .name__title {
      top: 40px;
    }
    a {
      top: 100px;
    }
  }
  // part latest works
  .latest__works {
    top: 120px;
    height: 480px;
  }
  .til-section {
    width: 200px;
    height: 45px;
    font-size: 10px;
    padding-top: 17px;
    top: -75px;
    h6 {
      width: 200px;
      height: 45px;
      padding-top: 17px;
      font-size: 10px;
      letter-spacing: 3px;
    }
  }
  .line-scroll {
    top: 61px;
    height: 40px;
    margin-left: -1px;
    left: 50.1%;
  }
  .latest {
    &__preview {
      max-width: 100%;
      margin-right: 10%;
      margin-left: 10%;
      top: -180px;
    }
    &__item {
      height: 200px;
      width: 100%;
      max-width: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 24px;
      background-position: center top;

      &--name {
        font-size: 28px;
        height: 85px;
        letter-spacing: 10px;
        width: 70%;
        top: 102px;
        padding: 10px;
        left: 10px;
        span {
          top: 31px;
        }
      }
    }
    &__img {
      position: absolute;
      height: 100%;
      padding-bottom: 0;
      overflow: hidden;
      top: 0;
      width: 100%;
      left: 0;
    }
    &__nakogu {
      background-image: url(../images/small/preview-home-mugako-gris.jpg);
    }
    &__rubencrea {
      background-image: url(../images/small/preview-home-rubencrea.jpg);
    }
  }

  /** style section services */
  .services {
    width: 90%;
    top: 220px;
    &__title {
      font-size: 17px;
      margin-top: 60px;
    }
    &__list {
      margin-top: 30px;
    }
    &__item {
      width: 100%;
      height: 273px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      h3 {
        font-size: 11px;
        top: 243px;
      }
    }
    &__web {
      background-image: url(../images/small/service-web.jpg);
    }
  }
  /* footer page **/
  .footer {
    &__block {
      top: -20px;
      height: 90px;
      margin-bottom: 10px;
    }
  }

  /**********************************************/
  /*************** page works *******************/
  .wrapp-works {
    width: 90%;
    margin-left: -45%;
    left: 50%;
    max-width: 600px;
  }
  .pace-done .wrapp-works {
    top: 50%;
  }
  .intro__works {
    margin-top: 170px;
    max-width: 90%;
    top: 50%;
    left: 5%;
    margin-left: 0;
  }
  .pace-done {
    .intro__works {
      margin-top: 150px;
    }
  }
  .heading {
    &__works {
      font-size: 42px;
      width: 100%;
      left: 50%;
      margin-left: -138px;
      top: -70px;
      height: 62px;
      letter-spacing: 1px;
      max-width: 300px;
    }
  }
  .claim {
    &__works {
      position: relative;
      top: -20px;
      height: 130px;
      padding-top: 0;
      z-index: 10;
      margin-right: auto;
      margin-left: auto;
      margin-top: 70px;
      overflow: hidden;
    }
    &__block {
      text-align: center;
      line-height: 14px;
      top: 0px;
      font-size: 12px;
      letter-spacing: 3px;
      position: relative;
      max-width: 320px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .web {
    &__block {
      height: 550px;
      padding: 20px;
      padding-top: 0;
      border: none;
      .til-section {
        margin-left: -100px;
        top: -90px;
      }
    }
    &__preview {
      position: relative;
      width: 100%;
      height: 100%;
      li {
        width: 100%;
        height: 112px;
        position: relative;
        float: left;
        margin-top: 20px;
      }
    }
    &__name {
      height: 90px;
      bottom: 9%;
      opacity: 1;
      h2 {
        font-size: 18px;
        left: 0;
        top: 70px;
      }
      &--largue {
        height: 180px;
        top: -150px;
      }
    }
  }
  .landing {
    margin-top: 130px;
    h6 {
      border: solid 1px;
    }
    .line-scroll {
      display: none;
    }
     &__block {
      margin-top: -40px;
    }
    li {
      background-size: contain;
      width: 100%;
      margin-top: 70px;
      background-position: center top;
      border: none;
      overflow: visible;
      h3 {
        font-size: 13px;
        top: -80px;
        width: 110%;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 4px;
        padding: 0;
      }
    }
    &__line {
      height: 51px;
      top: -5px;
    }
    &__image {
      height: 700px;
    }
  }
  .branding {
    top: 80px;
    border: none;
    padding: 0;
    .til-section {
      margin-bottom: 50px;
      top: -10px;
    }
    h6 {
      border: solid 1px;
    }
    &__mugako {
      .logos {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  // block slider cover
  .carteles {
    height: 420px;
    .cover-slider__slide:nth-child(3) {
      background-image: url(../images/branding-mugako-cuadro-ko.png);
    }
  }

  // styles section pages
  .pages {
    top: 250px;
    .til-section {
      h6 {
        border: 1px solid;
      }
    }
    &__block {
      width: 90%;
      max-width: 768px;
      margin-top: -20px;
    }
    &__image {
      height: 480px;
      background-image: none!important;
    }
    li {
      height: 400px;
      width: 100%;
      margin-bottom: 100px;
      background-position: center;
      border: none;
      position: relative;
      background-size: contain;
    }
    &__wikilson {
      background-image: url(../images/small/grafica-wikilson.jpg);
    }
    &__idealista {
      background-image: url(../images/small/grafica-idealista.jpg);
    }
    &__suzuki {
      background-image: url(../images/small/grafica-suzuki-dos.jpg);
    }
    &__correos {
      background-image: url(../images/small/grafica-correos.jpg);
    }
    &__la-rioja {
      background-image: url(../images/small/grafica-la-rioja.jpg);
    }
    &__chupachups {
      background-image: url(../images/small/grafica-chupachups.jpg);
    }
    &__groove {
      background-image: url(../images/small/grafica-groove.jpg);
    }
    &__creatividad {
      background-image: url(../images/small/grafica-creatividad.jpg);
    }
    &__suzuki-uno {
      background-image: url(../images/small/grafica-suzuki-uno.jpg);
    }
  }
  .footer__back {
    width: 90%;
    margin-bottom: 330px;
    height: 200px;
    ul {
      width: 300px;
      top: 210px;
      padding-left: 15px;
      left: 50%;
      margin: -150px;
    }
    li {
      font-size: 10px;
      margin-left: 0;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
}
