/*** style on device small ***/
@media screen and (max-width: 767px) {
  //***********************************//
  //********* style page index ********//
  // part header
  .pace-done {
    header {
      height: 100%;
      border-bottom: 1px solid #b5b5b3;
    }
  }
  header {
    top: -100%;
    nav {
      height: 100%;
      ul {
        top: 70px;
        position: relative;
      }
      li {
        font-size: 14px;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        margin-left: 0;
      }
      a.select {
        height: 50px;
        position: relative;
        border: none;
        background-color: #FF6C49;
        color: #fff;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .nav {
    .cl-effect-5 a {
      display: inline-block;
      height: 38px;
      border: solid 1px;
      width: 75%;
      padding-bottom: 32px;
      font-size: 10px;
      padding-top: 20px;
    }
  }
  .nav.open {
    margin-top: 620px!important;
  }
  .lenguaje {
    float: left;
    margin-right: 0;
    top: 30px;
    width: 100px;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -50px;
  }
  .menu-icon {
    position: fixed;
    top: 10px;
    border: solid 1px #47474A;
    height: 40px;
    width: 40px;
    right: 10px;
    z-index: 2001;
    border-radius: 2px;
    -webkit-transition: all .4s cubic-bezier(0.93,-0.01,0,1.02);
    -moz-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
    -o-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
    transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
    background-color: #fff;
    .line-menu {
      height: 1px;
      background-color: #FE5337;
      width: 20px;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      top: 12px;
      -webkit-transition: all .4s cubic-bezier(0.93,-0.01,0,1.02);
      -moz-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
      -o-transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
      transition: all .4s cubic-bezier(0.26,0,0.09,0.99);
      &:nth-child(2){
        top: 18px;
      }
      &:nth-child(3){
        top: 24px;
      }
    }
  }
  // part contact to
  .contacto {
    h4 {
      font-size: 28px;
      line-height: 25px;
      width: 100%;
      letter-spacing: -1px;
      margin-top: -45px;
    }
    p {
      font-size: 10px;
      width: 100%;
      max-width: 768px;
    }
    .forms {
      width: 100%;
      position: relative;
      float: right;
      margin-top: 0;
      top: 40px;
      margin-right: 0;
      h5 {
        width: 100%;
        display: block;
        float: left;
        margin-right: 0;
        font-size: 14px;
      }
      h6 {
        display: block;
        float: left;
        position: relative;
        border-bottom: none;
        border-top: none;
        width: 100%;
        padding-left: 0;
        top: -25px;
        left: 0;
        height: 70px;
        font-size: 10px;
      }
    }
    h3 {
      font-size: 12px;
      letter-spacing: 3px;
      position: relative;
      padding-bottom: 5px;
      border-bottom: solid 3px #FF6C49;
      width: 139px;
      top: -7px;
      left: 0;
      line-height: 8px;
    }
    .clientes.form {
      margin-bottom: 0;
      width: 100%;
      padding: 0;
      height: 75px;
      display: block;
      position: relative;
      margin-top: 20px;
      float: left;
      margin-left: 0;
    }
    .raya {
      background-color: #4A4A4C;
      top: -10px;
      width: 36px;
      height: 3px;
      height: 2px;
    }
  }
  .contacto.open {
    height: 530px;
    top: 10px;
    padding: 20px;
    z-index: 2100;
  }
  .cerrar {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border: solid 1px;
    cursor: pointer;
    right: -10px;
    background-color: #fff;
    z-index: 1000;
    display: block;
    top: -20px;
    .aspa1 {
      top: 20px;
      left: 12px;
    }
    .aspa2 {
      top: 20px;
      left: 12px;
    }
  }
  .mascara-contact {
    width: 100%;
    right: 0;
    top: -10px;
  }
  .colaboradores {
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    height: 75px;
    display: block;
    position: relative;
    margin-top: 20px;
    float: left;
    margin-left: 0;
  }
  // part loader
  .loader {
    margin-bottom: -260px;
  }
  .intro {
    margin-top: 120px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    background-image: none;
    height: 280px;
    &__logo {
      width: 220px;
      height: 190px;
    }
    &__gris {
      width: 160px;
      height: 180px;
    }
    &__naranja {
      width: 195px;
      height: 160px;
      top: 5px;
      left: -27px;
    }
    &__grado {
      width: 40px;
      height: 40px;
      left: 150px;
      top: -50px;
    }
  }
  .pace-done {
    .intro {
      margin-top: 100px;
      transition-delay: 3.3s;
      &__naranja {
        width: 180px;
        height: 180px;
      }
    }
    .wrapp-cases {
      margin-top: 10px;
    }
  }
  .claim {
    top: -40px;
    height: 50px;
    padding-top: 30px;
    &__mascara-claim {
      height: 60px;
      top: 10px;
      h3 {
        font-size: 10px;
        letter-spacing: 2px;
        position: relative;
        top: -16px;
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .wrapp-cases {
    width: 100%;
    height: 300px;
    left: 0;
    .til-section {
      top: -230px;
      width: 200px;
      height: 45px;
      font-size: 10px;
      padding-top: 17px;
      h6 {
        width: 200px;
        height: 45px;
        padding-top: 17px;
        font-size: 10px;
        letter-spacing: 3px;
        // border: solid 1px;
      }
      // .line-scroll {
      //   display: none;
      // }
    }
  }
  /* style part slider page home*/
  #cases {
    padding-bottom: 30%;
    height: 100%;
    max-width: 768px;
    margin-left: -50%;
    left: 50%;
    top: 50%;
    margin-top: -237px;
  }
  .mediaslider {
    max-width: 768px;
    margin-left: -50%;
    background-position: -160px;
  }
  .pogoSlider-dir-btn {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  .pogoSlider-dir-btn--next {
    right: 0;
  }
  .pogoSlider-dir-btn--prev {
    left: 0;
  }

  .pogoSlider-progressBar {
    bottom: 125px;
    width: 200px;
    margin-left: -100px;
    height: 1px
  }
  .pogoSlider-progressBar .pogoSlider-progressBar-duration {
      opacity: 1;
  }
  .pogoSlider-slide-element {
    border: none !important;
    top: 50%!important;
    margin-top: -75px!important;
    .name__title {
      top: 40px;
    }
    a {
      top: 100px;
    }
  }
  // part latest works
  .latest__works {
    top: 120px;
    height: 480px;
  }
  .til-section {
    width: 200px;
    height: 45px;
    font-size: 10px;
    padding-top: 17px;
    top: -75px;
    h6 {
      width: 200px;
      height: 45px;
      padding-top: 17px;
      font-size: 10px;
      letter-spacing: 3px;
    }
  }
  .line-scroll {
    top: 61px;
    height: 40px;
    margin-left: -1px;
    left: 50.1%;
  }
  .latest {
    &__preview {
      max-width: 100%;
      margin-right: 10%;
      margin-left: 10%;
      top: -180px;
    }
    &__item {
      height: 200px;
      width: 100%;
      max-width: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 24px;
      background-position: center top;

      &--name {
        font-size: 28px;
        height: 85px;
        letter-spacing: 10px;
        width: 70%;
        top: 102px;
        padding: 10px;
        left: 10px;
        span {
          top: 31px;
        }
      }
    }
    &__img {
      position: absolute;
      height: 100%;
      padding-bottom: 0;
      overflow: hidden;
      top: 0;
      width: 100%;
      left: 0;
    }
    &__nakogu {
      background-image: url(../images/small/preview-home-mugako-gris.jpg);
    }
    &__rubencrea {
      background-image: url(../images/small/preview-home-rubencrea.jpg);
    }
  }

  /** style section services */
  .services {
    width: 90%;
    top: 220px;
    &__title {
      font-size: 17px;
      margin-top: 60px;
    }
    &__list {
      margin-top: 30px;
    }
    &__item {
      width: 100%;
      height: 273px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      h3 {
        font-size: 11px;
        top: 243px;
      }
    }
    &__web {
      background-image: url(../images/small/service-web.jpg);
    }
  }
  /* footer page **/
  .footer {
    &__block {
      top: -20px;
      height: 90px;
      margin-bottom: 10px;
    }
  }

  /**********************************************/
  /*************** page works *******************/
  .wrapp-works {
    width: 90%;
    margin-left: -45%;
    left: 50%;
    max-width: 600px;
  }
  .pace-done .wrapp-works {
    top: 50%;
  }
  .intro__works {
    margin-top: 170px;
    max-width: 90%;
    top: 50%;
    left: 5%;
    margin-left: 0;
  }
  .pace-done {
    .intro__works {
      margin-top: 150px;
    }
  }
  .heading {
    &__works {
      font-size: 42px;
      width: 100%;
      left: 50%;
      margin-left: -138px;
      top: -70px;
      height: 62px;
      letter-spacing: 1px;
      max-width: 300px;
    }
  }
  .claim {
    &__works {
      position: relative;
      top: -20px;
      height: 130px;
      padding-top: 0;
      z-index: 10;
      margin-right: auto;
      margin-left: auto;
      margin-top: 70px;
      overflow: hidden;
    }
    &__block {
      text-align: center;
      line-height: 14px;
      top: 0px;
      font-size: 12px;
      letter-spacing: 3px;
      position: relative;
      max-width: 320px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .web {
    &__block {
      height: 550px;
      padding: 20px;
      padding-top: 0;
      border: none;
      .til-section {
        margin-left: -100px;
        top: -90px;
        h6 {
          border: 1px solid;
        }
      }
      .line-scroll {
        display: none;
      }
    }
    &__preview {
      position: relative;
      width: 100%;
      height: 100%;
      li {
        width: 100%;
        height: 112px;
        position: relative;
        float: left;
        margin-top: 20px;
      }
    }
    &__name {
      height: 90px;
      bottom: 9%;
      opacity: 1;
      h2 {
        font-size: 18px;
        left: 0;
        top: 70px;
      }
      &--largue {
        height: 180px;
        top: -150px;
      }
    }
  }
  .landing {
    margin-top: 130px;
    h6 {
      border: solid 1px;
    }
    .line-scroll {
      display: none;
    }
     &__block {
      margin-top: -40px;
    }
    li {
      background-size: contain;
      width: 100%;
      margin-top: 70px;
      background-position: center top;
      border: none;
      overflow: visible;
      h3 {
        font-size: 13px;
        top: -80px;
        width: 110%;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 4px;
        padding: 0;
      }
    }
    &__line {
      height: 51px;
      top: -5px;
    }
    &__race {
      .landing__image {
        background-image: none;
        height: 700px;
      }
    }
    &__optimus {
      .landing__image {
        background-image: none;
        height: 500px;
      }
    }
    &__sony {
      .landing__image {
        background-image: none;
        height: 250px;
      }
    }
    &__mahou {
      .landing__image {
        background-image: none;
        height: 280px;
      }
    }
    &__consejero {
      .landing__image {
        background-image: none;
        height: 500px;
      }
    }
    &__teresa {
      .landing__image {
        background-image: none;
        height: 670px;
      }
    }
  }
  .branding {
    top: 80px;
    border: none;
    padding: 0;
    .til-section {
      margin-bottom: 50px;
      top: -10px;
    }
    h6 {
      border: solid 1px;
    }
    &__mugako {
      .logos {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  // block slider cover
  .carteles {
    height: 420px;
    .cover-slider__slide:nth-child(3) {
      background-image: url(../images/branding-mugako-cuadro-ko.png);
    }
  }

  // styles section pages
  .pages {
    top: 250px;
    .til-section {
      h6 {
        border: 1px solid;
      }
    }
    &__block {
      width: 90%;
      max-width: 768px;
      margin-top: -20px;
    }
    &__image {
      height: 480px;
      background-image: none!important;
    }
    li {
      height: 400px;
      width: 100%;
      margin-bottom: 100px;
      background-position: center;
      border: none;
      position: relative;
      background-size: contain;
    }
    &__wikilson {
      background-image: url(../images/small/grafica-wikilson.jpg);
    }
    &__idealista {
      background-image: url(../images/small/grafica-idealista.jpg);
    }
    &__suzuki {
      background-image: url(../images/small/grafica-suzuki-dos.jpg);
    }
    &__correos {
      background-image: url(../images/small/grafica-correos.jpg);
    }
    &__la-rioja {
      background-image: url(../images/small/grafica-la-rioja.jpg);
    }
    &__chupachups {
      background-image: url(../images/small/grafica-chupachups.jpg);
    }
    &__groove {
      background-image: url(../images/small/grafica-groove.jpg);
    }
    &__creatividad {
      background-image: url(../images/small/grafica-creatividad.jpg);
    }
    &__suzuki-uno {
      background-image: url(../images/small/grafica-suzuki-uno.jpg);
    }
  }
  .footer__back {
    width: 90%;
    margin-bottom: 330px;
    height: 200px;
    ul {
      width: 300px;
      top: 210px;
      padding-left: 15px;
      left: 50%;
      margin: -150px;
    }
    li {
      font-size: 10px;
      margin-left: 0;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
  /**********************************************/
  /*************** page agency *******************/
  .cab {
    min-height: 480px;
    &__foto {
      position: absolute!important;
      background-image: url(../images/agencia_1.png);
    }
    &__agencia {
      height: 100%;
      background-image: url(../images/agencia_1.png);
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      background-attachment: scroll;
    }
    &__animation {
      height: 400px;
      top: 10%;
      margin-top: 10px;
      max-width: 90%;
      left: 5%;
      margin-left: 0;
    }
    &__description {
      font-size: 14px;
      line-height: 18px
    }
    &__razones {
      font-size: 10px;
      width: 90%;
      top: 80px;
      letter-spacing: 3px;
    }
    article {
      height: 400px;
      top: 10%;
      margin-top: 10px;
      max-width: 90%;
      left: 5%;
      margin-left: 0;
    }
  }
  .wrapper-about {
    max-width: 100%;
    top: 100%;
    margin-left: 0;
    left: 0;
  }
  .img__agencia {
    height: 1340px;
    background-image: url(../images/agencia_1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    background-attachment: scroll;
  }
  .about {
    &__services {
      width: 90%;
      min-height: 800px;
      .til-section {
        top: 50px;
        h6 {
          border: 1px solid;
          background-color: transparent;
        }
      }
      .line-scroll {
        display: none;
      }
      .bloque {
        height: 310px;
        margin-top: -320px;
        width: 100%;
      }
      h2 {
        font-size: 118px;
        letter-spacing: 15px;
      }
      .about__off {
        left: 0;
        top: 800px;
      }
    }
    &__largue {
      width: 80%;
      padding-top: 20px;
      float: left;
      border-top: none;
      border-top: solid 3px #FF6C49;
      padding-bottom: 17px;
      left: 30px!important;
      top: 0;
      li {
        top: 0;
        opacity: 1;
        font-size: 11px;
        margin-top: 9px;
        text-align: left;
        letter-spacing: 4px;
        text-align: center;
      }
    }
  }
  .wrapp {
    margin-top: 145px;
    &__info {
      height: 1880px;
      top: 0;
    }
    &__preguntas {
      margin-top: -17px;
      li {
        height: 450px;
        padding: 20px;
        padding-left: 30px;
        width: 100%;
        margin-top: 18px;
        border: none;
      }
    }
    .icon-agencia,
    .icon-mision,
    .icon-ventajas,
    .icon-metodo {
      position: absolute;
      top: 50%;
      width: 90px;
      height: 40px;
      margin-top: -225px;
      left: 65%;
    }
    .agencia {
      &__title {
        font-size: 64px;
        height: 170px;
        margin-top: -40px;
        letter-spacing: -2px;
        span {
          top: 55px;
        }
      }
      &__heading {
        width: 100%;
      }
      &__desc {
        top: 25px;
        line-height: 18px;
        font-size: 14px;
        width: 90%;
      }
    }
  }
  .contact-agency {
    h4 {
      font-size: 54px;
      line-height: 50px;
      width: 100%;
    }
    .forms {
      margin-top: 50px;
    }
    .contact-clientes {
      float: left;
      width: 100%;
    }
    .contact-colaboradores {
      float: right;
      width: 100%;
      margin-top: 40px;
    }
    .email {

    }
  }
  .cosasquenosinspiran {
    display: none;
  }
}
