doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Parallax Sparks
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				header.slide-basket-pitch.skrollable.skrollr-body.skrollable-between
					.background-basket
					.basket-iphone
					.active
						.basket-line-long
						.basket-radio
						.basket-line-short
						.basket-globes
						.basket-line-short-last
						.basket-cloud
					.txt-wapper
						.skrollable.radio-text Talk radio on the airwaves
						.skrollable.forums-text Online forums on the web 
						.skrollable.sparks-text Sparks on mobile
						.skrollable.discuss-text We’re inventing a new way  to discuss what you’re into.
		.container-fluid
			.row
				section.slide-what-sparks.skrollable.skrollr-body.skrollable-between
					.wapper-content
						p.skrollable.sparks-what-text What is Sparks?
						p.skrollable.fan-iphone An iPhone app for fans to:
						ul.app-iphone
							li.skrollable Participate in the discussion with visual sparks that they create in seconds
							li.skrollable Follow the latest pregame breakdown, game threads postgame recaps
							li.skrollable Discover and engage with influencers and pernalities
						p.skrollable.channels-text Launching first with NBA, MLB and  World Cup channels in early 2014
					.background-sparks.skrollable.skrollr-body.skrollable-between
						.skrollable.sparks-iphone-4
						.skrollable.sparks-iphone-5
				section.slide-drive.skrollable.skrollr-body.skrollable-between
					ul.benefit-content
						li How does it benefit Influencers?
						li Stand out amongst your peers by embracing a new digital medium
					.grow-content
						h3 1
						p Grow your audience by posting visual  content to Twitter and Facebook
					.comment-visual
						h4 Drive 120%
						span more engagement  through visual posts*
					.arrow-left
					.arrow-right
					.background-tweet-wall
						.tweet-wall
						.content-comment
						.comment-list
						.content-user
					.topic-content
						h3 2
						p Engage with your audience around  specific topics.
				section.slide-ipad.skrollable.skrollr-body.skrollable-between
					.topic-tweet
					.arrow-horizontal
					.background-ipad
		.container-fluid
			.row
				footer.slide-football-pitch.skrollable.skrollr-body.skrollable-between
					.football-pitch
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init();
		script(type="text/javascript") skrollr.init({forceHeight: false});
