doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Parallax Sparks
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				include partials/header.jade
			.row
				include partials/what-sparks.jade
			.row
				include partials/how-does.jade
				include partials/screenshot.jade
			.row
				include partials/footer.jade
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
