doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Parallax Sparks
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				header.slide-basket-pitch.skrollable.skrollr-body.skrollable-between
					.background-basket.skrollable.skrollr-body.skrollable-between(data-0-start='background-position: 50% 0px;', data-100-top-bottom='background-position: 50% -100px;', data-anchor-target='.background-basket')
					.basket-iphone(data-0-start='opacity:1; background-position: 0% 0px;',data-100-top-bottom='opacity:1; background-position: 50% -100px;')
					.active
						.basket-line-long(data-0-start='opacity:0;',data-10='opacity:1;')
						.basket-radio(data-20-start='opacity:0;',data-40='opacity:1;')
						.basket-line-short(data-40-start='opacity:0;',data-60='opacity:1;')
						.basket-globes(data-60-start='opacity:0;',data-80='opacity:1;')
						.basket-line-short-last(data-80-start='opacity:0;',data-100='opacity:1;')
						.basket-cloud(data-100-start='opacity:0;',data-120='opacity:1;')
					.txt-wapper
						.skrollable.radio-text(data-20-start='opacity:0;',data-40='opacity:1;') Talk radio on the airwaves
						.skrollable.forums-text(data-60-start='opacity:0;',data-80='opacity:1;') Online forums on the web 
						.skrollable.sparks-text(data-100-start='opacity:0;',data-120='opacity:1;') Sparks on mobile
						.skrollable.discuss-text(data-100-start='opacity:0;',data-120='opacity:1;') We’re inventing a new way  to discuss what you’re into.
		.container-fluid
			.row
				section.slide-what-sparks.skrollable.skrollr-body.skrollable-between(data-100-start='background-position: 50% 0px;', data-200-top-bottom='background-position: 50% -100px;', data-anchor-target='.slide-what-sparks')
					.wapper-content
						p.skrollable.sparks-what-text(data-200-start='opacity:0;',data-220-top-bottom='opacity:1;') What is Sparks?
						p.skrollable.fan-iphone(data-220-start='opacity:0;',data-240-top-bottom='opacity:1;') An iPhone app for fans to:
						ul.app-iphone
							li.skrollable(data-250-start='opacity:0;',data-280-top-bottom='opacity:1;') Participate in the discussion with visual sparks that they create in seconds
							li.skrollable(data-250-start='opacity:0;',data-280-top-bottom='opacity:1;') Follow the latest pregame breakdown, game threads postgame recaps
							li.skrollable(data-250-start='opacity:0;',data-280-top-bottom='opacity:1;') Discover and engage with influencers and pernalities
						p.skrollable.channels-text(data-270-start='opacity:0;',data-290-top-bottom='opacity:1;') Launching first with NBA, MLB and  World Cup channels in early 2014
					.background-sparks.skrollable.skrollr-body.skrollable-between
						.skrollable.sparks-iphone-4(data-200-start='opacity:0;',data-300-top-bottom='opacity:1;')
						.skrollable.sparks-iphone-5(data-250-start='opacity:0;',data-320-top-bottom='opacity:1;')
				section.slide-drive.skrollable.skrollr-body.skrollable-between
					ul.benefit-content
						li How does it benefit Influencers?
						li Stand out amongst your peers by embracing a new digital medium
					.grow-content
						h3 1
						p Grow your audience by posting visual  content to Twitter and Facebook
					.comment-visual(data-1300='opacity:0;',data-1400='opacity:1;')
						h4 Drive 120%
						span more engagement  through visual posts*
					.arrow-left(data-1400='opacity:0;',data-1450='opacity:1;')
					.arrow-right(data-1650='opacity:0;',data-1700='opacity:1;')
					.background-tweet-wall
						.tweet-wall(data-1500='opacity:0;',data-1600='opacity:1;')
						.content-comment(data-1500='opacity:0;',data-1600='opacity:1;')
						.comment-list(data-1500='opacity:0;',data-1600='opacity:1;')
						.content-user(data-1750='opacity:0;',data-1800='opacity:1;')
					.topic-content(data-1800='opacity:0;',data-1850='opacity:1;')
						h3 2
						p Engage with your audience around  specific topics.
				section.slide-ipad.skrollable.skrollr-body.skrollable-between
					.topic-tweet(data-1850='opacity:0;',data-1900='opacity:1;')
					.arrow-horizontal(data-2000='opacity:0;',data-2050='opacity:1;')
					.background-ipad(data-2100='opacity:0;',data-2150='opacity:1;')
		.container-fluid
			.row
				footer.slide-football-pitch.skrollable.skrollr-body.skrollable-between
					.football-pitch
						h2.title Learn More?
						a.spark-button(href="mailto:insiders@sparkslabs.co") Email Us
						address Crafted in San Francisco. © 2014 Sparks Inc.
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init(); skrollr.init({forceHeight: false});
