doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Parallax Example
		link(href='styles/styles.css', rel='stylesheet')
	body
		.container-fluid
			.row
				header.slide-basket-pitch.skrollable.skrollr-body.skrollable-between
					.background-basket(data-0-start='background-position: 50% 0px;', data-100-top-bottom='background-position: 50% -100px;', data-anchor-target='.slide-basket-pitch', style='background-position: 50% 0px; cursor: inherit;')
					.basket-iphone(data-0='opacity:1;',data-100='opacity:1;background-position: 22% 8%;',data-800='opacity:0;',data-anchor-target='.slide-basket-pitch')
					.active
						.basket-line-long(data-0-start='opacity:1;',data-10='opacity:1;',data-400='opacity:1;')
						.basket-radio(data-50='opacity:1;',data-60='opacity:1;',data-400='opacity:0;')
						.basket-line-short(data-70='opacity:1;',data-100='opacity:1;',data-400='opacity:0;')
						.basket-globes(data-110='opacity:1;',data-120='opacity:1;',data-400='opacity:0;')
						.basket-line-short-last(data-130='opacity:1;',data-140='opacity:1;',data-400='opacity:0;')
						.basket-cloud(data-150='opacity:1;',data-160='opacity:1;',data-400='opacity:0;')
					.txt-wapper
						.skrollable.radio-text(data-50='opacity:1;', data-100='opacity:1;', data-300='opacity: 0;') Talk radio on the airwaves
						.skrollable.forums-text(data-50='opacity:1;', data-200='opacity:1;', data-400='opacity: 0;')  Online forums on the web 
						.skrollable.sparks-text(data-50='opacity:1;', data-300='opacity:1;', data-500='opacity: 0;') Sparks on mobile
						.skrollable.discuss-text(data-50='opacity:1;', data-400='opacity:1;', data-500='opacity: 0;') We’re inventing a new way  to discuss what you’re into.
		.container-fluid
			.row
				section.slide-what-sparks.skrollable.skrollr-body.skrollable-between
					.wapper-content
						p.skrollable.sparks-what-text(data-50='opacity:1;', data-300='opacity:1;', data-1000='opacity: 0;') What is Sparks?
						p.skrollable.fan-iphone(data-50='opacity:1;', data-350='opacity:1;', data-1100='opacity: 0;') An iPhone app for fans to:
						ul.app-iphone
							li.skrollable(data-50='opacity:1;', data-400='opacity:1;', data-1200='opacity: 0;') Participate in the discussion with visual sparks that they create in seconds
							li.skrollable(data-50='opacity:1;', data-450='opacity:1;', data-1250='opacity: 0;') Follow the latest pregame breakdown, game threads postgame recaps
							li.skrollable(data-50='opacity:1;', data-500='opacity:1;', data-1300='opacity: 0;') Discover and engage with influencers and pernalities
						p.skrollable.channels-text(data-50='opacity:1;', data-550='opacity:1;', data-1350='opacity: 0;') Launching first with NBA, MLB and  World Cup channels in early 2014
					.background-sparks.skrollable.skrollr-body.skrollable-between
						.skrollable.sparks-iphone-4(data-500='opacity:1;', data-800='opacity:1;', data-1200='opacity: 0;')
						.skrollable.sparks-iphone-5(data-500='opacity:1;', data-900='opacity:1;', data-1300='opacity: 0;')
				section.slide-drive.skrollable.skrollr-body.skrollable-between
					ul.benefit-content
						li How does it benefit Influencers?
						li Stand out amongst your peers by embracing a new digital medium
					.grow-content
						h1 1
						p Grow your audience by posting visual  content to Twitter and Facebook
					.comment-visual(data-900='opacity:1;', data-1400='opacity:1;', data-2000='opacity: 0;') 
						p Drive 120%  more engagement  through visual posts*
					.arrow-left(data-1300='opacity:1;', data-1500='opacity:1;', data-2000='opacity: 0;')
					.arrow-right(data-1500='opacity:1;', data-1800='opacity:1;', data-2000='opacity: 0;')
					.background-tweet-wall
						.tweet-wall(data-1300='opacity:1;', data-1700='opacity:1;', data-2000='opacity: 0;')
						.content-comment(data-1300='opacity:1;', data-1700='opacity:1;', data-2000='opacity: 0;')
						.comment-list(data-1300='opacity:1;', data-1700='opacity:0.5;', data-2000='opacity: 0;')
						.content-user(data-1600='opacity:1;', data-1900='opacity:1;', data-2000='opacity: 0;')
					.topic-content
						h1 2
						p Engage with your audience around  specific topics.
				section.slide-ipad.skrollable.skrollr-body.skrollable-between
					.topic-tweet(data-2000='opacity:1;', data-2100='opacity:1;')
					.arrow-horizontal(data-2100='opacity:1;', data-2200='opacity:1;')
					.background-ipad(data-2200='opacity:1;', data-2300='opacity:1;')
		.container-fluid
			.row
				footer.slide-football-pitch.skrollable.skrollr-body.skrollable-between
					.football-pitch
		script(type="text/javascript" src="js/library.js")
		script(type="text/javascript" src="js/main.js")
		script(type="text/javascript") var s = skrollr.init();
		script(type="text/javascript") skrollr.init({forceHeight: false});
