section.contact.section(data-section ='7')
  .container
    .contact__block
      h2 Contact
    .contact__client
      img.contact__client--bground(src="../images/foto_bg.png")
      img.contact__client--photo(src="../images/foto.jpg")
    .contact__desc
      h5
        | Raymond Donovan ( Photographer )
      p
        | Nullam aliquam, mauris sit amet convallis condimentum, massa tortor pretium magna, vitae rutrum libero nibh vitae nisl. Sed imperdiet dictum sapien. Mauris tortor massa, euismod eu rhoncus dignissim, ultrices at leo. Donec gravida, lorem ac sollicitudin
    .contact__socials
      a.contact__socials--mail(href="javascript:void(0);")
      a.contact__socials--skype(href="javascript:void(0);")
      a.contact__socials--face(href="javascript:void(0);")
      a.contact__socials--twitter(href="javascript:void(0);")
